<% set_meta_tags noindex: true,
				title: "集金管理ページ"
%>


<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>

	<div class="users-index-item">

	<h1 class="collection_title"><%= Time.parse(@collection.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@collection.day).wday]})") %></h1>


	<div class="collection_form">

		<%= form_for ([@user, @collection]), url: "/users/#{@user.id}/collections/#{@collection.id}", method: :put do |f| %>

			<p>1人あたりの参加費</p>
    		<div class="cp_iptxt">
				<div class="item_content">
				    <%= f.text_field :price, class: '',  placeholder: "500" %>
				   	<i class="fa fa-rmb fa-lg fa-fw" aria-hidden="true"></i>
				   	<span class="price">円</span>
		   		</div>
		   </div>


			 <input type="submit" name="commit" value="設定" data-disable-with="設定">

		<% end %>

	</div>




		<div class="collection_form">	
	      <%= form_for ([@user, @collection, @item]), url: "/users/#{@user.id}/collections/#{@collection.id}/items" do |f| %>
	    		
	    		<p>メンバーの追加</p>
	    		<div class="cp_iptxt">
					<div class="item_content item_name">
					    <%= f.text_field :name, class: '', placeholder: "スズキさん" %> 
						<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
					</div>
				</div>

				<div class="cp_iptxt">
					<div class="item_content">
					    <%= f.text_field :money, class: '', value: @collection.price, placeholder: "500" %>
					   	<i class="fa fa-rmb fa-lg fa-fw" aria-hidden="true"></i>
					   	<span class="price">円</span>	
				   	</div>	
			   </div>    

	            <input type="submit" name="commit" value="追加" data-disable-with="追加">

	      <% end %>
	  	</div>


			<div class="sum_people">
				<span class="sum_border">人数　<%= @sum_money.count %>人／<span class="sum_s"><%= @collection.items.count %>人</span></span>
			</div>

			<div class="sum_money">
				<span class="sum_border">金額　<%= @sum_money.sum(:money) %>円／<span class="sum_s"><%= @collection.items.sum(:money) %>円</span></span>
			</div>

			<% if @items.present? %>

				<div class="collection_table">
					<table>

					    <% @items.each do |item| %> 

					    	<% if item.money.present? %>
								<tr>

									<td class="text_c w10">
									    <%= link_to("/users/#{@user.id}/collections/#{@collection.id}/items/#{item.id}", method: :delete, data: {confirm: "削除しますか？"}) do %>
											<i class="fa fa-trash "></i> 									    
										<% end %>
									</td>

									<td class="text_c w50"><%= item.name %></td>

									<td class="text_r w20"><% if item.money.present? %><%= item.money %>円<% end %></td>

									<td class="text_c w20">	
										<% if item.check == "check" %>
											<%=link_to "/users/#{@user.id}/collections/#{@collection.id}/items/#{item.id}?check=", method: :put do %>
												<span class="checked"><i class="fa fa-check-square-o "></i></span>
											<% end %>

										<% else item.check == "" %>
											<%=link_to "/users/#{@user.id}/collections/#{@collection.id}/items/#{item.id}?check=check", method: :put do %>
												<span class="check"><i class="fa fa-square-o "></i></span>
											<% end %>
							          	<% end %>
							        </td>

						        </tr>
					        <% end %>

					    <% end %>

				    </table>
				</div>

			<% end %>


	
		</div>

  </div>
</div>

