<% set_meta_tags title: "#{@user.name}の質問コーナ",

				og: { 
					title: "登録不要！匿名で「#{@user.name}」に質問ができます！",
					description: "", 
					image: image_url('/images/qa_top.jpg')
				},

				twitter: { card: 'summary_large_image'} 
%>

<div class="main users-index">
  <div class="container bg_white">
  	    <%= render "/layouts/breadcrumb" %>


    <h1 class="users-heading">質問コーナー</h1>



	<div class="qa_wrap">

			<div class="qa_profile_wrap">

			<%= render "/questions/profile" %>
			
			</div>

			
			<div class="qa_answer_form">
				<%= form_for ([@user, @question]) do |f| %>

					<%= f.text_area :content, class: 'form-control form-note', placeholder: "質問を書いてください！" %> 
	
					<div class="submit_btn">
						<input type="submit" name="commit" value="質問する" data-disable-with="質問する">
					</div>

					<div class="reset"></div>

				<% end %>
		 	 </div>



			<div class="qa_tw_share">
				<div class="share_btn_tw">
				    <%= link_to("https://twitter.com/share?url=#{request.url}&text=質問を募集中です！%0a%0a%23質問コーナー%20%23サークルブック%0a", target: '_blank') do %>
				      <i class="fa fa-twitter"></i>質問をTwitterで募集する！
				    <% end %>
				</div>
			</div>


	</div>


	<% if @questions.any? %>
		<div class="qa_card_warp">
			<ul>
				<% @questions.each do |question| %>
				<li>
					<%= link_to "/users/#{@user.id}/questions/#{question.id}" do %>
 						<img src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= question.content %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg" alt="<%= question.content %>">
 						<div class="qa_judge">
							<% if question.answer.nil? %>
								<i class="fa fa-commenting-o "></i>未回答
							<% else %>
								<i class="fa fa-bullhorn "></i>回答済み
							<% end %>
 						</div>
					<% end %>		
				</li>
				<% end %>
			</ul>
		</div>

	<% else %>
		<div class="qa_card_warp">
			<ul>
				<li>
					<%= link_to "/users/#{@user.id}/question" do %>
 						<img src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= @question_sample %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg" alt="<%= @question_sample %>">
					<% end %>		
				</li>
			</ul>
		</div>		

	<% end %>


  </div>
</div>