<% set_meta_tags title: "質問コーナー" %>
<div class="main users-index">
  <div class="container">

    <h1 class="users-heading">質問コーナー</h1>


      <%= form_for ([@user, @question]) do |f| %>
    
        <%= f.text_area :content, class: 'form-control form-note', placeholder: "質問を書いてください！" %> 

        <input type="submit" name="commit" value="質問する" data-disable-with="質問する">

        <div class="reset"></div>

      <% end %>



	<% if @user.questions.any? %>
		<ul>
			<% @user.questions.each do |question| %>
			<li>
				<%= link_to "/users/#{@user.id}/questions/#{question.id}" do %>
					<%= question.id %>
					<%= question.content %>
				<% end %>		
			</li>
			<% end %>
		</ul>
	<% end %>



  </div>
</div>