<% set_meta_tags title: "#{@question_sample}｜#{@user.name}の質問コーナー",
  og: {
    title: "#{@user.name}の質問コーナーです！",
    description: "",
    image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:#{@question_sample},y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"
  },
  twitter: { card: 'summary_large_image'} 
%>


<div class="user_main users-index">
  <div class="container bg_white">

	<%= link_to user_questions_path(@user) do %>
	    <h1 class="users-heading">質問コーナー</h1>
	<% end %>

	<div class="ribbon-wrapper qa_card_img">
		<div class="ribbon-content">
			<% if @question.answer.nil? %>
			  <span class="ribbon red">未回答</span>
			<% else %>
		  		<span class="ribbon green">回答済み</span>
			<% end %>						
		</div>

		<img src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= @question_sample %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg" alt="<%= @question_sample %>">	
	</div>


	<div class="qa_wrap">

			<div class="qa_profile_wrap">

      <%= render "/users/parts/user_name", user: @user %>


				<div class="reset"></div>


			<% if admin_user_signed_in?  %>
				<% if @user.admin_user_id == current_admin_user.id %>


					<div class="qa_answer_form">

						<%= form_for ([@user, @question]) do |f| %>

						    <%= f.hidden_field :content, :value => @question_sample %>

							<%= f.text_area :answer, class: 'form-control form-note', placeholder: "回答を書いてください！" %> 
			
							<div class="submit_btn">
								<input type="submit" name="commit" value="回答する" data-disable-with="回答する">
							</div>

							<div class="reset"></div>

						<% end %>

					</div>

				<% end %>
			<% end %>


				<div class="qa_tw_share">
					<div class="share_btn_tw">
					    <%= link_to("https://twitter.com/share?url=#{request.url}&text=#{@question.answer}%0a%0a%23質問コーナー%20%23サークルブック%0a", target: '_blank') do %>
					      <i class="fa fa-twitter"></i>回答をTwitterでシェアする！
					    <% end %>
					</div>
				</div>

			</div>

	</div>


	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>


  </div>
</div>