- set_meta_tags title: "#{@question.content}｜#{@user.name}の質問コーナー",og: {title: "#{@user.name}の質問コーナー｜#{@question.content}",description: "",image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:#{@question.content},y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"},twitter: { card: 'summary_large_image'}
.user_main.users-index
  .container.bg_white
    = link_to user_questions_path(@user) do
      %h1.users-heading 質問コーナー
    .ribbon-wrapper.qa_card_img
      .ribbon-content
        - if @question.answer.nil?
          %span.ribbon.red 未回答
        - else
          %span.ribbon.green 回答済み
      .qa_large
        .user_slide_qa
          .user_slide_qa_wrap
            .user_slide_qa_content_wrap
              %h1= @question.content
    .qa_wrap
      .qa_profile_wrap
        = render "/users/parts/user_name", user: @user
        .reset
        .qa_answer.speech_bubble_a
          - if @question.answer.present?
            = raw Rinku.auto_link(simple_format @question.answer)
          - else
            未回答の質問です。
            %br/
            回答するまで、しばらくお待ちください。
        - if admin_user_signed_in?
          - if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1
            .q_delete
              = link_to(user_question_path, method: :delete, data: {confirm: "質問を削除しますか？"}) do
                %i.fa.fa-trash-o>
                質問を削除する
              - if @question.ip_address.present?
                %span.ml-10
                  - if AccountBlock.find_by(ip_address: @question.ip_address)
                    %i.fa.fa-ban>
                    このアカウントは通報済みです
                  - else
                    = link_to("/users/#{@user.id}/questions/#{@question.id}/block", method: :update, data: {confirm: "質問者を通報しますか？"}) do
                      %i.fa.fa-ban>
                      質問者を通報する
            .qa_answer_form
              = form_for ([@user,@question]) do |f|
                = f.text_area :answer, class: 'form-control form-note change_question' ,placeholder: "回答を書いてください！"
                - if @question.answer.present?
                  %input.submit_btn{"data-disable-with" => "編集する", :name => "commit", :type => "submit", :value => "編集する"}/
                - else
                  %input.submit_btn{"data-disable-with" => "回答する", :name => "commit", :type => "submit", :value => "回答する"}/
                .reset
        - if admin_user_signed_in?
          - if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1
            .qa_tw_share
              = link_to("https://twitter.com/share?url=#{request.url}&text=#{@question.answer}%0a%0a%23質問コーナー%20%23サークルブック%0a", target: '_blank') do
                .share_btn_tw
                  %i.fa.fa-twitter>
                  回答をTwitterでシェアする！
        - else
          - if @user.switch == "募集中"
            - if AccountBlock.find_by(ip_address: request.remote_ip)
            - else
              .post_cta.profile_cta
                = link_to user_questions_path(@user) do
                  .contact-button.qa_btn.qa
                    %i.fa.fa-comments
                    このサークルに質問する！
              .post_cta
                .contact_link
                  = link_to new_user_user_contact_path(@user, entry: "3") do
                    .btn.btn_c.btn_green.btn_cubic
                      %i.fa.fa-envelope>
                      このサークルに直接質問する！
    = render "/layouts/ad_square"
    .ad_space
    .qa_card_warp
      - if @questions.each.count > 1
        .qa_card_txt
          ▼ #{@user.name}さんに寄せられた他の質問です！
      %ul
        - @questions.each do |question|
          - if question.content != @question.content
            %li.ribbon-wrapper
              .ribbon-content
                - if question.answer.nil?
                  %span.ribbon.red 未回答
                - else
                  %span.ribbon.green 回答済み
              = link_to "/users/#{@user.id}/questions/#{question.id}" do
                .qa_large
                  .user_slide_qa
                    .user_slide_qa_wrap
                      .user_slide_qa_content_wrap
                        %h2= question.content
    = paginate @questions
/ 半角 => 全角　変換
:javascript
  $(function(){
      $(".change_question").change(function(){
          var str = $(this).val();
          str = str.replace( /[!-~]/g, function(s) {
              return String.fromCharCode(input.charCodeAt(0)+0xFEE0);
          });
          $(this).val(str);
      }).change();
  });
