<% set_meta_tags title: "#{@question.content}｜#{@user.name}の質問コーナー",
  og: {
    title: "#{@user.name}の質問コーナーです！",
    description: "",
    image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:#{@question.content},y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"
  },
  twitter: { card: 'summary_large_image'} 
%>


<div class="user_main users-index">
  <div class="container bg_white">

	<%= link_to user_questions_path(@user) do %>
	    <h1 class="users-heading">質問コーナー</h1>
	<% end %>

	<div class="ribbon-wrapper qa_card_img">
		<div class="ribbon-content">
			<% if @question.answer.nil? %>
			  <span class="ribbon red">未回答</span>
			<% else %>
		  		<span class="ribbon green">回答済み</span>
			<% end %>
		</div>

		<img data-src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= @question.content %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg" alt="<%= @question.content %>" class="lazyload">	
	</div>


	<div class="qa_wrap">


			<div class="qa_profile_wrap">

      <%= render "/users/parts/user_name", user: @user %>


				<div class="reset"></div>

				<div class="qa_answer speech_bubble_a">
					<% if @question.answer.present? %>

						<%= raw Rinku.auto_link(simple_format @question.answer) %>

					<% else %>

						未回答の質問です。<br>
						回答するまで、しばらくお待ちください。

					<% end %>
				</div>



				<% if admin_user_signed_in?  %>
					<% if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1 %>

						<div class="q_delete">
						    <%= link_to(user_question_path, method: :delete, data: {confirm: "質問を削除しますか？"}) do %>
								<i class="fa fa-trash-o "></i>この質問を削除する 									    
							<% end %>
						</div>


						<div class="qa_answer_form">
						      <%= form_for ([@user,@question]) do |f| %>
						    
						        <%= f.text_area :answer, class: 'form-control form-note', id: 'change_question' ,placeholder: "回答を書いてください！" %> 

									<% if @question.answer.present? %>
								        <input type="submit" name="commit" value="編集する" data-disable-with="編集する" class="submit_btn">
									<% else %>
										<input type="submit" name="commit" value="回答する" data-disable-with="回答する" class="submit_btn">
									<% end %>

						        <div class="reset"></div>

						      <% end %>
						</div>

					<% end %>
				<% end %>


				<% if admin_user_signed_in?  %>
					<% if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1 %>

						<div class="qa_tw_share">
              <%= link_to("https://twitter.com/share?url=#{request.url}&text=#{@question.answer}%0a%0a%23質問コーナー%20%23サークルブック%0a", target: '_blank') do %>
              <div class="share_btn_tw">
                    <i class="fa fa-twitter"></i>回答をTwitterでシェアする！
              </div>
              <% end %>
						</div>

					<% end %>

				<% else %>
					
					<% if @user.switch == "募集中" %>

						<div class="post_cta profile_cta">
							<%= link_to user_questions_path(@user) do %>
								<div class="contact-button qa_btn qa">
									<i class="fa fa-comments "></i> このサークルに質問する！
								</div>
							<% end %>
						</div>

            <div class="post_cta">
              <div class="contact_link">
                <%= link_to new_user_user_contact_path(@user, entry: "3") do %>
                  <div class="btn btn_c btn_green btn_cubic">
                    <i class="fa fa-envelope"></i>このサークルに直接質問する！
                  </div>
                <% end %>
              </div>
            </div>

					<% end %>

				<% end %>

			</div>

	</div>


	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>


	<div class="qa_card_warp">

	<%if @questions.each.count > 1 %>
		<div class="qa_card_txt">
			▼ <%= @user.name %>さんに寄せられた他の質問です！
		</div>
	<% end %>

		<ul>
			<% @questions.each do |question| %>
				<% if question.content != @question.content %>

					<li class="ribbon-wrapper">
						<div class="ribbon-content">
							<% if question.answer.nil? %>
							  <span class="ribbon red">未回答</span>
							<% else %>
						  		<span class="ribbon green">回答済み</span>
							<% end %>
						</div>

						<%= link_to "/users/#{@user.id}/questions/#{question.id}" do %>
								<img data-src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= question.content %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg" alt="<%= question.content %>" class="lazyload">
								<div class="qa_judge">
								</div>
						<% end %>	
					</li>

				<% end %>
			<% end %>
		</ul>

	</div>



  </div>
</div>


<!-- 半角 => 全角　変換 -->
<script>
  $(function(){
      $("#change_question").change(function(){
          var str = $(this).val();
          str = str.replace(  /["#$%&'()=<>,.?_\[\]{}@^~\\]/g, function(s) {
              return String.fromCharCode(s.charCodeAt(0) + 65248);
          });
          $(this).val(str);
      }).change();
  });
</script>