- set_meta_tags title: "#{@event.name}の質問コーナー",og: {title: "#{@event.name}の質問コーナー！",description: "登録不要！匿名で#{@event.name}に関する質問ができます！",image: image_url('/images/qa_top.jpg')},twitter: { card: 'summary_large_image'}
.main.users-index
  .container.bg_white
    = render "/layouts/breadcrumb"
    .e_header_wrap
      %img.lazyload{:alt => "#{@event.name}", "data-src" => "/images/events/#{@event.ruby}.jpg"}/
      .link_txt
        %h1.e_header_title
          = @event.name
          の
          %br>/
          質問コーナー
    .search_qa
      = search_form_for @search, :url => { :controller => :event_questions, :action => :index }  do |f|
        = f.search_field :question_cont, placeholder: "質問を検索する（1単語のみ）", class: "event_search"
        .search_icon
          = button_tag type: 'submit' do
            %i.fa.fa-search
    .qa_wrap
      .qa_answer_form.event_qa_form
        = form_for ([@event, @event_question]), :url => { :controller => :event_questions, :action => :index }  do |f|
          = f.text_area :question, class: 'form-control form-note', placeholder: "匿名、登録なしで質問できます！（80文字以内）"
          %p ※絵文字や顔文字は使用できません
          %input.submit_btn{"data-disable-with" => "質問する！", :name => "commit", :type => "submit", :value => "質問する！"}/
          .reset
    - if @search_questions.any?
      .qa_card_warp
        %ul
          - @search_questions.each do |search_question|
            %li.ribbon-wrapper
              .ribbon-content
                - if search_question.event_answers.count > 0
                  %span.ribbon.green 回答済み
                - else
                  %span.ribbon.red 未回答
              = link_to "/#{@event.ruby}/qa/#{search_question.id}" do
                .qa_large
                  .user_slide_qa
                    .user_slide_qa_wrap
                      .user_slide_qa_content_wrap
                        %h2= search_question.question
    - if @search_questions.nil?
      .qa_card_warp
        %ul
          - @event_questions.each do |event_question|
            %li.ribbon-wrapper
              .ribbon-content
                - if event_question.event_answers.count > 0
                  %span.ribbon.green 回答済み
                - else
                  %span.ribbon.red 未回答
              = link_to "/#{@event.ruby}/qa/#{event_question.id}" do
                .qa_large
                  .user_slide_qa
                    .user_slide_qa_wrap
                      .user_slide_qa_content_wrap
                        %h2= event_question.question
    = render "/layouts/ad_square"
    = paginate @search_questions
