<% set_meta_tags title: "質問コーナ" %>

<div class="main users-index">
  <div class="container bg_white">
  	    <!-- <%= render "/layouts/breadcrumb" %> -->

	    <h1 class="users-heading">質問コーナー</h1>

<% if member_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <h2> 現在 <%= current_member.name %> さんがログインしています </h2> <!-- ここを追加します -->
  <h4> メールアドレス： <%= current_member.email %> </h4>
  <%= link_to "ログアウト", destroy_member_session_path, method: :delete %> <!-- ログアウトをする -->
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_member_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_member_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>




	<div class="qa_wrap">
			
			<div class="qa_answer_form">
				<%= form_for ([@event, @event_question]), :url => { :controller => :event_questions, :action => :index }  do |f| %>

					<%= f.text_area :question, class: 'form-control form-note', placeholder: "質問を書いてください！（80文字以内）" %> 
	
						<input type="submit" name="commit" value="質問する！" data-disable-with="質問する！" class="submit_btn">

					<div class="reset"></div>

				<% end %>
		 	 </div>


		 	 <% @event_questions.each do |event_question| %>
				
				<%= link_to "/#{@event.ruby}/qa/#{event_question.id}" do %>
					
					<%= event_question.question %>

				<% end %>

		 	 <% end %>


	</div>
	

  </div>
</div>