<% set_meta_tags title: "#{@event.name}の質問コーナー",

				og: { 
					title: "登録不要！匿名で#{@event.name}に関する質問ができます！",
					description: "", 
					image: image_url('/images/qa_top.jpg')
				},

				twitter: { card: 'summary_large_image'} 
%>



<div class="main users-index">
  <div class="container bg_white">
  	   <%= render "/layouts/breadcrumb" %>

		<div class="e_header_wrap">
			<img src="/images/events/e_icon_<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
			<div class="link_txt">
				<h1 class="e_header_title"><%= @event.name %>の<br>質問コーナー</h1>
			</div>
		</div>


	<div class="search_qa">	 

			<%= search_form_for @search, :url => { :controller => :event_questions, :action => :index }  do |f| %>
			  			
			    <%= f.search_field :question_cont, placeholder: "質問を検索する（1単語のみ）", class: "event_search" %>

				<div class="search_icon">
				  	<%= button_tag type: 'submit' do %>
				  		<i class="fa fa-search "></i>
				  	<% end %>
			  	</div>
			
			<% end %>

	</div>




	<div class="qa_wrap">
			
			<div class="qa_answer_form">

				<p>登録不要！匿名で<%= @event.name %>に関する質問ができます！</p>

				<%= form_for ([@event, @event_question]), :url => { :controller => :event_questions, :action => :index }  do |f| %>

					<%= f.text_area :question, class: 'form-control form-note', placeholder: "質問を書いてください！（80文字以内）" %> 
					<p>※絵文字や顔文字は使用できません</p>
	
						<input type="submit" name="commit" value="質問する！" data-disable-with="質問する！" class="submit_btn">

					<div class="reset"></div>

				<% end %>
		 	 </div>

	</div>




	<% if @search_questions.any? %>
		<div class="qa_card_warp">
			<ul>
				<% @search_questions.each do |search_question| %>
				
						<li class="ribbon-wrapper">

							<div class="ribbon-content">
								<% if search_question.event_answers.count > 0 %>
							  		<span class="ribbon green">回答済み</span>
								<% else %>
									<span class="ribbon red">未回答</span>
								<% end %>
							</div>


							<%= link_to "/#{@event.ruby}/qa/#{search_question.id}" do %>
									<img src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= search_question.question %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg" alt="<%= search_question.question %>">
									<div class="qa_judge">
									</div>
							<% end %>	
						</li>

				<% end %>
			</ul>
		</div>
	<% end %>

	<% if @search_questions.nil? %>

		<div class="qa_card_warp">
			<ul>
				<% @event_questions.each do |event_question| %>
				
						<li class="ribbon-wrapper">

							<div class="ribbon-content">
								<% if event_question.event_answers.count > 0 %>
							  		<span class="ribbon green">回答済み</span>
								<% else %>
									<span class="ribbon red">未回答</span>
								<% end %>
							</div>

							<%= link_to "/#{@event.ruby}/qa/#{event_question.id}" do %>
									<img src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= event_question.question %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg" alt="<%= event_question.question %>">
									<div class="qa_judge">
									</div>
							<% end %>	
						</li>

				<% end %>
			</ul>
		</div>

	<% end %>
	

  </div>
</div>