<% set_meta_tags title: "#{@event_question.question}｜#{@event.name}の質問コーナー",

				og: { 
					title: "#{@event.name}の質問コーナーです！",
					description: "", 
					image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:#{@event_question.question},y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"
				},

				twitter: { card: 'summary_large_image'} 
%>


<div class="main users-index">
  <div class="container bg_white">
  	    <%= render "/layouts/breadcrumb" %> 

		<%= link_to "/#{@event.ruby}/qa/" do %>
		    <h1 class="users-heading"><%= @event.name %>の質問コーナー</h1>
		<% end %>

	<div class="ribbon-wrapper qa_card_img">
		<img src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= @event_question.question %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg" alt="<%= @event_question.question %>">	
	</div>



	<div class="qa_wrap">

		<% if member_signed_in? %> 

			<% if current_member.id == 1 %>
				<div class="post_delete">
				    <%= link_to("/#{@event.ruby}/qa/#{@event_question.id}", method: :delete, data: {confirm: "質問を削除しますか？"}) do %>質問を削除する									    
				    <% end %>
				</div>
			<% end %>


			<div class="qa_answer_form event_qa_answer_form">
				<%= form_for ([@event_question, @event_answer]), :url => { :controller => :event_answers, :action => :create }  do |f| %>

					<%= f.hidden_field :member_id, :value => current_member.id %> 

					<%= f.text_area :answer, class: 'form-control form-note', placeholder: "回答を書いてください！" %>

						<input type="submit" name="commit" value="回答する！" data-disable-with="回答する！" class="submit_btn">

					<div class="reset"></div>

				<% end %>
		 	 </div>	


		<% else %>



			<div class="qa_answer_form event_qa_answer_form">
				<%= form_for ([@event_question, @event_answer]), :url => { :controller => :event_answers, :action => :create }  do |f| %>

					<%= f.hidden_field :member_id, :value => 0 %> 

					<%= f.text_area :answer, class: 'form-control form-note', placeholder: "登録なしで回答することができます！" %>

					<div class="profile_answer">
                        <div id="img_field_icon" onClick="$('#file_icon').click()" >
                            <% if @event_answer.icon.present? %>
                              <%= image_tag(@event_answer.icon.url) %>
                            <% else %>
                              <i class="fa fa-image"></i>
                            <% end %>
                        </div>
                        <%= f.file_field :icon, class: "image", style: "display:none;", id: "file_icon"%>

                        <%= f.text_field :nickname, class: 'form-control answer_nickname', placeholder: "アイコン＆ニックネーム" %> 				
					</div>

					<div class="reset"></div>

						<input type="submit" name="commit" value="回答する！" data-disable-with="回答する！" class="submit_btn">

					<div class="reset"></div>

				<% end %>
		 	 </div>	


			  <%= link_to "メンバー登録する", new_member_registration_path, class: 'member_add_btn' %>
			  <div class="center">投稿時のアイコン＆ニックネーム入力が省けます！</div>

		<% end %>

	</div>



	 	 <% @event_question.event_answers.reverse.each do |event_answer| %>

			<% if event_answer.answer.present? %>

				<% if event_answer.member_id != 0 %>


					 <% @members.each do |member| %>

					 	<% if member.id == event_answer.member_id %>


							<div class="event_anser_card">


							    <div class="user-content">
									<% if member.image_profile.present? %>
							        	<%= image_tag member.image_profile.url , class:'image_icon' %>
									<% else %>
										<img class="image_icon" src="/images/default.png">
							        <% end %>
								
							      <div class="list_wrapper contact_name_wrap">
							        <div class="list_01">
										<% if member.nickname.present? %>
								        	<h2 class="user_name"><%= member.nickname %></h2>
										<% else %>
											<h2 class="user_name">ニックネームなし</h2>
								        <% end %>
							        </div>
							      </div>

							    </div> 



								<%= raw Rinku.auto_link(simple_format event_answer.answer) %>

								<% if member_signed_in? %> 
									<% if current_member.id == 1 %>
										<div class="post_delete">
										    <%= link_to("/#{@event.ruby}/qa/#{@event_question.id}/#{event_answer.id}", method: :delete, data: {confirm: "回答を削除しますか？"}) do %>回答を削除する									    
										    <% end %>
										</div>
									<% end %>
								<% end %>


							</div>

					 	<% end %>

					 <% end %>

				<!-- メンバー登録なし -->
				<% else %>	 

							<div class="event_anser_card">


							    <div class="user-content">
								        <% if event_answer.icon.present? %>
								        	<%= image_tag event_answer.icon.url , class:'image_icon' %>
										<% else %>
											<img class="image_icon" src="/images/default.png">
										<% end %>
								
							      <div class="list_wrapper contact_name_wrap">
							        <div class="list_01">
									    <% if event_answer.nickname.present? %>
									        <h2 class="user_name"><%= event_answer.nickname %></h2>	
									    <% else %>
											<h2 class="user_name">名前なし</h2>

										<% end %>
							        </div>
							      </div>

							    </div> 

								<%= raw Rinku.auto_link(simple_format event_answer.answer) %>

								<% if member_signed_in? %> 
									<% if current_member.id == 1 %>
										<div class="post_delete">
										    <%= link_to("/#{@event.ruby}/qa/#{@event_question.id}/#{event_answer.id}", method: :delete, data: {confirm: "回答を削除しますか？"}) do %>回答を削除する									    
										    <% end %>
										</div>
									<% end %>
								<% end %>

							</div>

				<% end %>


	 	 	<% end %>

		<% end %>

	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>


	<% if @event_questions.count > 1 %>

		<div class="qa_card_warp">

			<h2 class="others-user">▼他の<%= @event.name %>に関する質問の一覧</h2>
			<ul>
				<% @event_questions.each do |event_question| %>

					<% if event_question.id != @event_question.id %>
				
						<li class="ribbon-wrapper">

							<div class="ribbon-content">
								<% if event_question.event_answers.count > 0 %>
							  		<span class="ribbon green">回答済み</span>
								<% else %>
									<span class="ribbon red">未回答</span>
								<% end %>
							</div>

							<%= link_to "/#{@event.ruby}/qa/#{event_question.id}" do %>

                <div class="qa_large">
                  <div class="user_slide_qa">
                    <div class="user_slide_qa_wrap">
                      <div class="user_slide_qa_content_wrap">
                        <h2><%= event_question.question %></h2>
                      </div>
                    </div>
                  </div>
                </div>

							<% end %>	
						</li>

					<% end %>

				<% end %>
			</ul>
		</div>

	<% end %>



  </div>
</div>