- set_meta_tags title: "#{@event_question.question}｜#{@event.name}の質問コーナー",og: {title: "#{@event.name}の質問コーナーです！",description: "",image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:#{@event_question.question},y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"},twitter: { card: 'summary_large_image'}
.main.users-index
  .container.bg_white
    = render "/layouts/breadcrumb"
    = link_to "/#{@event.ruby}/qa/" do
      %h1.users-heading
        = @event.name
        の質問コーナー
    .ribbon-wrapper.qa_card_img
      %img{:alt => "#{@event_question.question}", :src => "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:#{@event_question.question},y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"}/
    .qa_wrap
      - if member_signed_in?
        - if current_member.id == 1
          .post_delete
            = link_to("/#{@event.ruby}/qa/#{@event_question.id}", method: :delete, data: {confirm: "質問を削除しますか？"}) do
              質問を削除する
        .qa_answer_form.event_qa_answer_form
          = form_for ([@event_question, @event_answer]), :url => { :controller => :event_answers, :action => :create }  do |f|
            = f.hidden_field :member_id, :value => current_member.id
            = f.text_area :answer, class: 'form-control form-note', placeholder: "回答を書いてください！"
            %input.submit_btn{"data-disable-with" => "回答する！", :name => "commit", :type => "submit", :value => "回答する！"}/
            .reset
      - else
        .qa_answer_form.event_qa_answer_form
          = form_for ([@event_question, @event_answer]), :url => { :controller => :event_answers, :action => :create }  do |f|
            = f.hidden_field :member_id, :value => 0
            = f.text_area :answer, class: 'form-control form-note', placeholder: "登録なしで回答することができます！"
            .profile_answer
              #img_field_icon{:onclick => "$('#file_icon').click()"}
                - if @event_answer.icon.present?
                  = image_tag(@event_answer.icon.url)
                - else
                  %i.fa.fa-image
              = f.file_field :icon, class: "image", style: "display:none;", id: "file_icon"
              = f.text_field :nickname, class: 'form-control answer_nickname', placeholder: "アイコン＆ニックネーム"
            .reset
            %input.submit_btn{"data-disable-with" => "回答する！", :name => "commit", :type => "submit", :value => "回答する！"}/
            .reset
        = link_to "メンバー登録する", new_member_registration_path, class: 'member_add_btn'
        .center 投稿時のアイコン＆ニックネーム入力が省けます！
    - @event_question.event_answers.reverse.each do |event_answer|
      - if event_answer.answer.present?
        - if event_answer.member_id != 0
          - @members.each do |member|
            - if member.id == event_answer.member_id
              .event_anser_card
                .user-content
                  - if member.image_profile.present?
                    = image_tag member.image_profile.url , class:'image_icon'
                  - else
                    %img.image_icon{:src => "/images/default.png"}/
                  .list_wrapper.contact_name_wrap
                    .list_01
                      - if member.nickname.present?
                        %h2.user_name= member.nickname
                      - else
                        %h2.user_name ニックネームなし
                = raw Rinku.auto_link(simple_format event_answer.answer)
                - if member_signed_in?
                  - if current_member.id == 1
                    .post_delete
                      = link_to("/#{@event.ruby}/qa/#{@event_question.id}/#{event_answer.id}", method: :delete, data: {confirm: "回答を削除しますか？"}) do
                        回答を削除する
          / メンバー登録なし
        - else
          .event_anser_card
            .user-content
              - if event_answer.icon.present?
                = image_tag event_answer.icon.url , class:'image_icon'
              - else
                %img.image_icon{:src => "/images/default.png"}/
              .list_wrapper.contact_name_wrap
                .list_01
                  - if event_answer.nickname.present?
                    %h2.user_name= event_answer.nickname
                  - else
                    %h2.user_name 名前なし
            = raw Rinku.auto_link(simple_format event_answer.answer)
            - if member_signed_in?
              - if current_member.id == 1
                .post_delete
                  = link_to("/#{@event.ruby}/qa/#{@event_question.id}/#{event_answer.id}", method: :delete, data: {confirm: "回答を削除しますか？"}) do
                    回答を削除する
    = render "/layouts/ad_square"
    .ad_space
    - if @event_questions.count > 1
      .qa_card_warp
        %h2.others-user
          ▼他の#{@event.name}に関する質問の一覧
        %ul
          - @event_questions.each do |event_question|
            - if event_question.id != @event_question.id
              %li.ribbon-wrapper
                .ribbon-content
                  - if event_question.event_answers.count > 0
                    %span.ribbon.green 回答済み
                  - else
                    %span.ribbon.red 未回答
                = link_to "/#{@event.ruby}/qa/#{event_question.id}" do
                  .qa_large
                    .user_slide_qa
                      .user_slide_qa_wrap
                        .user_slide_qa_content_wrap
                          %h2= event_question.question
