<%= form_for @blog do |f| %>
            <p>タイトル<span class="must_red">(必須)</span></p>
            <%= f.text_field :title, class: 'form-control', placeholder: "日々の活動記録や次回の開催予告など！" %> 
  
            <p>画像１</p>
            <%= f.file_field :image_01 %>

            <p>画像２</p>
            <%= f.file_field :image_02 %>

            <p>画像３</p>
            <%= f.file_field :image_03 %>  
            
            <p>画像４</p>
            <%= f.file_field :image_04 %>          

            <p>本文</p>
            <%= f.text_area :content, class: 'form-control', placeholder: "○月○日に△△で、サークルブックの活動をしましたー！！今回はこんなことをしました！"  %>       

            <%= f.submit @blog_button %>
      <% end %>