<div class="search_wrap">

  <div class="search_select">

    <% if @path.is('blogs#index') %>
      <select name="event_select" onChange="location.href=value;">
        <option value="#">サークル・団体</option>
          <% @events.each do |event| %>
          <option value="/blog/<%= event.ruby %>"><%= event.name %></option>
        <% end %>
      </select>

      <select name="prefecture_select" onChange="location.href=value;">
        <option value="#">都道府県</option>
          <% @prefectures.each do |prefecture| %>
          <% if prefecture.id != 50 %>
            <option value="/blog/prefectures/<%= prefecture.kana %>"><%= prefecture.name %></option>
          <% end %>
        <% end %>
      </select>

      <div class="search_icon"><i class="fa fa-search "></i></div>


    <% elsif @path.is('blogs#event_prefecture') %>
      <select name="event_select" onChange="location.href=value;">
        <option value="#"><%= @event.name %></option>
        <% @events.each do |event| %>
          <% if event.ruby != @event.ruby %>
            <option value="/blog/<%= event.ruby %>/<%= @prefecture.kana %>"><%= event.name %></option>
          <% end %>
        <% end %>
      </select>

      <select name="prefecture_select" onChange="location.href=value;">
        <option value="#"><%= @prefecture.name %></option>
          <% @prefectures.each do |prefecture| %>
          <% if prefecture.id != 50 %>
            <% if prefecture.kana != @prefecture.kana %>
              <option value="/blog/<%= @event.ruby %>/<%= prefecture.kana %>"><%= prefecture.name %></option>
            <% end %>
          <% end %>
        <% end %>
      </select>

      <div class="search_icon"><i class="fa fa-search "></i></div>

    <% elsif @path.is('blogs#event') %>
      <select name="event_select" onChange="location.href=value;">
        <option value="#"><%= @event.name %></option>
        <% @events.each do |event| %>
          <% if event.ruby != @event.ruby %>
            <option value="/blog/<%= event.ruby %>"><%= event.name %></option>
          <% end %>
        <% end %>
      </select>

      <select name="prefecture_select" onChange="location.href=value;">
        <option value="#">都道府県</option>
          <% @prefectures.each do |prefecture| %>
          <% if prefecture.id != 50 %>
            <option value="/blog/<%= @event.ruby %>/<%= prefecture.kana %>"><%= prefecture.name %></option>
          <% end %>
        <% end %>
      </select>

      <div class="search_icon"><i class="fa fa-search "></i></div>

    <% elsif @path.is('blogs#prefecture') %>
      <select name="event_select" onChange="location.href=value;">
        <option value="#">サークル・団体</option>
        <% @events.each do |event| %>
          <option value="/blog/<%= event.ruby %>/<%= @prefecture.kana %>"><%= event.name %></option>
        <% end %>
      </select>

      <select name="prefecture_select" onChange="location.href=value;">
        <option value="#"><%= @prefecture.name %></option>
          <% @prefectures.each do |prefecture| %>
          <% if prefecture.id != 50 %>
            <% if prefecture.kana != @prefecture.kana %>
              <option value="/blog/prefectures/<%= prefecture.kana %>"><%= prefecture.name %></option>
            <% end %>
          <% end %>
        <% end %>
      </select>

      <div class="search_icon"><i class="fa fa-search "></i></div>

    <% else %>
    <% end %>


  </div>

</div>