<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】#{@prefecture.name}の#{@event.txt}の活動ブログ" %>
<div class="main users-index">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>

    <div class="e_header_wrap">
      <img src="/images/events/e_icon_<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
      <div class="link_txt">
        <h1 class="e_header_title">
	    	<%= @prefecture.name %>で活動している<br>
	    	<%= @event.txt %>の<br>
        活動ブログ  
        </h1>
      </div>
    </div>

    <%= render "/blogs/blogs_list" %>

  </div>
</div>