<div class="user_main user-show">
  <div class="container">

    <div class="photogallery">
      <% @blogs.each do |blog| %>
        <% if blog.image_01.present? %>
          <div class="photo">
            <div class="inner">
              <%= lazysizes_image_tag blog.image_01.url %>
            </div>
          </div>
        <% end %>

        <% if blog.image_02.present? %>
          <div class="photo">
            <div class="inner">
              <%= lazysizes_image_tag blog.image_02.url %>
            </div>
          </div>
        <% end %>

        <% if blog.image_03.present? %>
          <div class="photo">
            <div class="inner">
              <%= lazysizes_image_tag blog.image_03.url %>
            </div>
          </div>
        <% end %>

        <% if blog.image_04.present? %>
          <div class="photo">
            <div class="inner">
              <%= lazysizes_image_tag blog.image_04.url %>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>

    <%= render "/layouts/ad_square" %>
    <div class="ad_space"></div>


  </div>
</div>






