<div class="user_main user-show">
  <div class="container">

    <div class="photogallery">
      <% @blogs.each do |blog| %>
        <div class="photo">
          <div class="inner">
            <%= image_tag blog.image_01.url if blog.image_01.present? %>
          </div>
        </div>

        <div class="photo">
          <div class="inner">
            <%= image_tag blog.image_02.url if blog.image_02.present? %>
          </div>
        </div>

        <div class="photo">
          <div class="inner">
            <%= image_tag blog.image_03.url if blog.image_03.present? %>
          </div>
        </div>

        <div class="photo">
          <div class="inner">
            <%= image_tag blog.image_04.url if blog.image_04.present? %>
          </div>
        </div>

      <% end %>
    </div>

    <%= render "/layouts/ad_square" %>
    <div class="ad_space"></div>


  </div>
</div>






