<div class="user_main user-show">
  <div class="container">

    <div class="photogallery">
      <ul class="modal_trigger">
        <% @blogs.each do |blog| %>
          <% if blog.image_01.present? %>
            <li class="modal_btn"><%= lazysizes_image_tag blog.image_01.url %></li>
          <% end %>
          <% if blog.image_02.present? %>
            <li class="modal_btn"><%= lazysizes_image_tag blog.image_02.url %></li>
          <% end %>
          <% if blog.image_03.present? %>
            <li class="modal_btn"><%= lazysizes_image_tag blog.image_03.url %></li>
          <% end %>
          <% if blog.image_04.present? %>
            <li class="modal_btn"><%= lazysizes_image_tag blog.image_04.url %></li>
          <% end %>
        <% end %>
      <ul>

      <div class="modal_area">
        <% @blogs.each do |blog| %>
          <% if blog.image_01.present? %>
              <div class="modal_box">
                <div class="modal_bg"></div>
                <div class="modal_inner">
                  <div class="modal_block">
                    <%= lazysizes_image_tag blog.image_01.url %>
                  </div>
                  <div class="modal_close">×</div>
                </div>
              </div>
          <% end %>
          <% if blog.image_02.present? %>
              <div class="modal_box">
                <div class="modal_bg"></div>
                <div class="modal_inner">
                  <div class="modal_block">
                    <%= lazysizes_image_tag blog.image_02.url %>
                  </div>
                  <div class="modal_close">×</div>
                </div>
              </div>
          <% end %>
          <% if blog.image_03.present? %>
              <div class="modal_box">
                <div class="modal_bg"></div>
                <div class="modal_inner">
                  <div class="modal_block">
                    <%= lazysizes_image_tag blog.image_03.url %>
                  </div>
                  <div class="modal_close">×</div>
                </div>
              </div>
          <% end %>
          <% if blog.image_04.present? %>
              <div class="modal_box">
                <div class="modal_bg"></div>
                <div class="modal_inner">
                  <div class="modal_block">
                    <%= lazysizes_image_tag blog.image_04.url %>
                  </div>
                  <div class="modal_close">×</div>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>

    </div>

    <%= render "/layouts/ad_square" %>
    <div class="ad_space"></div>


  </div>
</div>

<script>
$(function () {
  // モーダルのボタンをクリックした時
  $('.modal_trigger .modal_btn').on('click', function() {
    var btnIndex = $(this).index(); // 何番目のモーダルボタンかを取得
    $('.modal_area .modal_box').eq(btnIndex).fadeIn(); // クリックしたモーダルボタンと同じ番目のモーダルを表示する
  });

  // ×やモーダルの背景をクリックした時
  $('.modal_close , .modal_bg').click(function(){
    $('.modal_box').fadeOut(); // モーダルを非表示にする
  });
});
</script>




