<% set_meta_tags title: "投稿一覧" %>
<div class="main users-index">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>
    <h1 class="users-heading">活動ブログ</h1>


  <% @blogs.each do |blog| %>
    <%= link_to(blog_path(blog.id)) do %>
      <div class="form users-form">
          <div class="form-body">
            <div class="header-post">
            <%= image_tag blog.user.pic_profile.url , class:'content_icon' %>     
            <div class="post-user">
              <div class="post-top"><%= blog.user.name %></div>              
              <div class="post-bottom"><%= blog.created_at.strftime("%Y/%m/%d %H:%M") %></div>
            </div>
          </div>
          <div class="post-body">   

              <div class="swiper-container">
                <div class="swiper-wrapper">

                  <% if blog.image_01.present? %><div class="swiper-slide"><%= image_tag blog.image_01.url , class:'content_image' %></div><% end %>
                  <% if blog.image_02.present? %><div class="swiper-slide"><%= image_tag blog.image_02.url , class:'content_image' %></div><% end %>
                  <% if blog.image_03.present? %><div class="swiper-slide"><%= image_tag blog.image_03.url , class:'content_image' %></div><% end %>
                  <% if blog.image_04.present? %><div class="swiper-slide"><%= image_tag blog.image_04.url , class:'content_image' %></div><% end %>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>



            <h3 class="blog_title"><%= blog.title.truncate(36) %></h3>
              <%= simple_format blog.content.truncate(140) %>      
          </div>
        
          </div>
      </div>
    <% end %>
  <% end %> 

    <%= paginate @blogs %>



  </div>
</div>