<div class="main users-new">
  <div class="container">
    <div class="form users-form">
      <div class="form-body cont-body">
      	<% if @blog.errors.any? %>
	          <div class="form-error">
	            対応していないファイル形式です
	          </div>
		<% end %>

      <div class="p_t">ブログの投稿</div>

      <% if admin_user_signed_in?  %>
        <% if @user.admin_user_id == current_admin_user.id %>
            <% if @admin_user.users.count > 1 %>
              <div class="user_select_wrap">
                    現在のアカウント：     
                  <select name="user_select" onChange="location.href=value;">
                    <option value="#"><%= @user.name %>（<%= @user.event.name %>）</option>
                      <% @admin_user.users.each do |user| %>
                        <% if @user.id != user.id %>
                        <option value="/users/<%= user.id %>/blogs/new"><%= user.name %>（<%= @user.event.name %>）</option>
                        <% end %>
                    <% end %>
                  </select> 
              </div>
            <% end %>
        <% end %>
      <% end %>     

      <%= render "form_blog.html.erb"%>


      </div>
    </div>
  </div>
</div>