<% if @user.event_id.present? && @user.prefecture_id.present? && @user.event_id != 0 && @user.prefecture_id != 0 %>

  <% if @blog.image_01.present? %>
    <% set_meta_tags title: "#{@blog.title}｜#{@user.name}｜#{@user.prefecture.name}の#{@user.event.txt}｜サークルブック",
      description: @blog.content,
      og: { image: @blog.image_01.url }
    %>

  <% else %>
    <% set_meta_tags title: "#{@blog.title}｜#{@user.name}｜#{@user.prefecture.name}の#{@user.event.txt}｜サークルブック",
      description: @blog.content,
      og: { image: @user.pic_profile.url },
      twitter: { card: 'summary_large_image'}
    %>

  <% end %>

<% else %>
  <% set_meta_tags title: @blog.title,
    description: @blog.content,
    og: { image: image_url('/images/default.png') },
    twitter: { card: 'summary_large_image'}
  %>

<% end %>



<div class="user_main user-show">
  <div class="container">

			<div class="form users-form">

				<div class="post_share blog_share">
					<div class="share_btn_tw">
							<%= render "blogs/share_tw.html.erb" %>
					</div>
				
					<% if admin_user_signed_in?  %>
						<% if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1 %>



						<div class="post_edit">
						    <%= link_to(edit_user_blog_path) do %>
								<i class="fa fa-pencil-square-o "></i> 
							<% end %>
						</div>

						<div class="post_delete">
						    <%= link_to(user_blog_path, method: :delete, data: {confirm: "投稿を削除しますか？"}) do %>
								<i class="fa fa-trash "></i>
							<% end %>
						</div>

						<% end %>
					<% end %>

					<% if admin_user_signed_in?  %>
						<% if current_admin_user.id == 1 %>
							<div class="analytics_blog">閲覧数：<%= @blog.impressionist_count %>人</div>
						<% end %>
					<% end %>

				</div>



			    <div class="form-body blog_show">


				    <div class="header-post cont-width">
						<%= link_to(user_path(@user.id)) do %>
					    	<%= lazysizes_image_tag @user.pic_profile.url , class:'content_icon' %>    
							<div class="post-user_wrap">
								<div class="post-user">
									<div class="post-top"><%= @user.name.truncate(40) %></div>

									<div class="post-bottom"><%= @blog.created_at.strftime("%Y年%-m月%-d日 %-H:%M") %></div>
								</div>
							</div>


						<% end %>

					</div>

					<div class="post-body">	


					<% if @blog.image_01.present? %>

						<% if @blog.image_02.blank? && @blog.image_03.blank? && @blog.image_04.blank? %>

							<%= lazysizes_image_tag @blog.image_01.url , class:'content_image_one' %>

						<% else %>

						  <div class="swiper-container">
						    <div class="swiper-wrapper">

						      <% if @blog.image_01.present? %><div class="swiper-slide"><%= image_tag @blog.image_01.url , class:'content_image' %></div><% end %>
						      <% if @blog.image_02.present? %><div class="swiper-slide"><%= image_tag @blog.image_02.url , class:'content_image' %></div><% end %>
						      <% if @blog.image_03.present? %><div class="swiper-slide"><%= image_tag @blog.image_03.url , class:'content_image' %></div><% end %>
						      <% if @blog.image_04.present? %><div class="swiper-slide"><%= image_tag @blog.image_04.url , class:'content_image' %></div><% end %>

						    </div>

                                <!-- Add Pagination -->
                                <div class="pagination-wrap">
                                  <div class="swiper-pagination"></div>
                                </div>

						  </div>
					  

						<% end %>

					<% end %>

						<div class="cont-width">
							<h1 class="blog_title"><%= @blog.title %></h1>
							<%= raw Rinku.auto_link(simple_format @blog.content) %>
						</div>

					</div>


			    </div>


				<div class="post_cta">
					<% if @user.switch == "募集中" %>
						<%= render "/users/contact_btn" %>
					<% end %>
				</div>


				<% if @user.switch.present? %>
					<div class="border"></div>

					<div class="users-index-item ribbon-wrapper"> 

						<%= link_to("/#{@user.event.ruby}", class: "tag_btn") do %>
			              <i class="fa fa-tags tag-color"></i><%= @user.event.name %>
			            <% end %>

			            <%= link_to("/#{@user.event.ruby}/#{@user.prefecture.kana}", class: "tag_btn") do %>
			              <i class="fa fa-tags tag-color"></i><%= @user.prefecture.name %>
			            <% end %>


                        <% if @user.prefecture_sub_id.present? %>
                          <% @prefectures.each do |sub_prefecture| %>
                            <% if @user.prefecture_sub_id == sub_prefecture.id %>  

                              <%= link_to("/#{@user.event.ruby}/#{sub_prefecture.kana}", class: "tag_btn") do %>
                              <i class="fa fa-tags tag-color"></i><%= sub_prefecture.name %>
                              <% end %>

                            <% end %>
                          <% end %>
                        <% end %> 


			            <%= link_to(user_path(@user.id)) do %>  
			            <div class="user-content">
			              <%= lazysizes_image_tag @user.pic_profile.url , class:'image_icon' %>

			              <div class="list_wrapper">
			                <div class="list_01">
			                  <h2 class="user_name"><%= @user.name %></h2>
			                </div>

			              </div>


			              <div class="list_cnts">

			                <div class="list_02">
			                    <span class="user_schedule">
			                      <i class="fa fa-calendar icon_c"></i><%= @user.schedule %>
			                    </span>
			                </div>

			                <div class="list_03">
			                    <span class="user_area">
			                      <i class="fa fa-map-marker icon_c"></i><%= @user.prefecture.name %><%= "：" if @user.area.present? %><%= @user.area %>
			                    </span>
			                </div>              

			                <div class="list_04">
			                  <span class="user_recruitment"><%= @user.recruitment.truncate(110) %></span>
			                </div>

			              </div>
			   
			            </div>
			            <% end %>
					</div>
				<% end %>

			</div>


<%= render "/layouts/ad_square" %>
<div class="ad_space"></div>			


	<% if @blogs.count >= 1 %>

		<div class="blog-list-wrap">
			<h2 class="others-blog"><%= @user.name %>のブログ一覧</h2>
            <% @blogs.first(5).each do |blog| %> 
             
              <% if blog.title.present? %>

	            	<div class="blog_list">

		                <%= link_to(user_blog_path(blog.user_id, blog.id)) do %>
		                  <div class="blog_link">
		                    <div class="catch_image"><%= lazysizes_image_tag blog.image_01.url , class:'post_image' %></div>
							<div class="post-bottom"><%= blog.created_at.strftime("%Y年%-m月%-d日 %-H:%M") %></div>	                    
							<h3 class="post_title"><%= blog.title.truncate(36) %></h3>
		                  </div>

		                  <div class="blog_user">
					    	<%= lazysizes_image_tag @user.pic_profile.url , class:'icon_s' %>    
							<div class="blog_user_name"><%= @user.name.truncate(16) %></div>
		                  </div>
		                <% end %> 

	            	</div>

              <% end %> 
                      
            <% end %>

            <% if @blogs.count > 5 %>
            	<div class="more_link">
            		<%= link_to "/users/#{@user.id}/blogs" do %>
            			>> ブログをもっと見る
            		<% end %>
            	</div>
            <% end %>

         </div>

		<div class="ad_space"></div>

		<% if @blogs.count >= 3 %>
			<%= render "/layouts/ad_square" %>
			<div class="ad_space"></div>
		<% end %>

     <% end %>

			<div class="space_btm"></div>

  </div>
</div>






