<% if @user.event_id.present? && @user.prefecture_id.present? && @user.event_id != 0 && @user.prefecture_id != 0 %>

		<% if @blog.image_01.present? %>

			<% set_meta_tags title: "#{@blog.title}｜#{@user.prefecture.name}／#{@user.event.name}",
							 description: @blog.content, 
							og: { image: @blog.image_01.url }
			%>

		<% else %>

			<% set_meta_tags title: "#{@blog.title}｜#{@user.prefecture.name}／#{@user.event.name}",
							 description: @blog.content, 
							og: { image: image_url('/images/default.png') },
							twitter: { card: 'summary'}  
			%>

		<% end %>

<% else %>

			<% set_meta_tags title: @blog.title,
							 description: @blog.content, 
							og: { image: image_url('/images/default.png') },
							twitter: { card: 'summary'}  
			%>

<% end %>



<div class="main user-show">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>


			<div class="form users-form">
			    <div class="form-body">

					<%= link_to(user_path(@user.id)) do %>
				    	<div class="header-post">
				    	<%= image_tag @user.pic_profile.url , class:'content_icon' %>    
						<div class="post-user">
							<div class="post-top"><%= @user.name %></div>
							<div class="post-bottom"><%= @blog.created_at.strftime("%Y/%m/%d %H:%M") %></div>
						</div>
					<% end %>
						
					<div class="post-share">
						<%= render "blogs/share" %>
					</div>
						
						
						<% if admin_user_signed_in?  %>
							<% if @user.id == current_admin_user.id || current_admin_user.id == 1 %>
							
							<div class="post-edit">
								<div class="post-edit_btn">
									<%= link_to( "編集", edit_blog_path) %>／
									<%= link_to( "削除", blog_path, method: :delete, data: {confirm: "投稿を削除しますか？"}) %>
										
								</div>
							</div>

							<% end %>
						<% end %>
					</div>

					<div class="post-body">	


					<% if @blog.image_01.present? %>

						<% if @blog.image_02.blank? && @blog.image_03.blank? && @blog.image_04.blank? %>

							<%= image_tag @blog.image_01.url , class:'content_image_one' %>

						<% else %>

						  <div class="swiper-container">
						    <div class="swiper-wrapper">

						      <% if @blog.image_01.present? %><div class="swiper-slide"><%= image_tag @blog.image_01.url , class:'content_image' %></div><% end %>
						      <% if @blog.image_02.present? %><div class="swiper-slide"><%= image_tag @blog.image_02.url , class:'content_image' %></div><% end %>
						      <% if @blog.image_03.present? %><div class="swiper-slide"><%= image_tag @blog.image_03.url , class:'content_image' %></div><% end %>
						      <% if @blog.image_04.present? %><div class="swiper-slide"><%= image_tag @blog.image_04.url , class:'content_image' %></div><% end %>

						    </div>
						    <!-- Add Pagination -->
						    <div class="swiper-pagination"></div>
						    <!-- Add Arrows -->
						    <div class="swiper-button-next"></div>
						    <div class="swiper-button-prev"></div>
						  </div>

						<% end %>

					<% end %>


						<h3 class="blog_title"><%= @blog.title %></h3>
						<%= raw Rinku.auto_link(simple_format @blog.content) %>
					</div>

			    </div>


				<div class="post_cta">
					<% if @user.switch == "募集中" %>
						<% if @user.line_id != "" %>
							<div class="contact-button line"><a href="<%= @user.line_id %>">LINEで連絡する</a></div>
						<% else %>
							<div class="contact-button mail"><a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">メールで連絡する</a></div>
						<% end %>
					<% end %>
				</div>


				<% if @user.switch.present? %>
					<div class="border"></div>

					<div class="users-index-item ribbon-wrapper"> 

			            <%= link_to("##{@user.event.name}", "/#{@user.event.ruby}", class: "tag_btn") %>　
			            <%= link_to("##{@user.prefecture.name}", "/prefectures/#{@user.prefecture.kana}", class: "tag_btn") %>

			            <%= link_to(user_path(@user.id)) do %>  
			            <div class="user-content">
			              <%= image_tag @user.pic_profile.url , class:'image_icon' %>

			              <div class="list_wrapper">
			                <div class="list_01">
			                  <h2 class="user_name"><%= @user.name %></h2>
			                </div>

			                <div class="list_02">
			                  <span class="user_schedule">
			                    <i class="fa fa-calendar "></i><%= @user.schedule %>
			                  </span>
			                </div>

			                <div class="list_03">
			                  <span class="user_area">
			                    <i class="fa fa-map-marker "></i><%= @user.area %>
			                  </span>
			                </div>
			              </div>

			              <div class="list_04">
			                <span class="user_recruitment"><%= @user.recruitment %></span>
			              </div>
			   
			            </div>
			            <% end %>
					</div>
				<% end %>



			</div>


            <% @blogs.each do |blog| %> 
             
              <% if blog.title.present? %>

              	<% if blog.id != @blog.id %>

            	<div class="blog_list">

	                <%= link_to(blog_path(blog.id)) do %>
	                  <div class="blog_link">
	                    <div class="catch_image"><%= image_tag blog.image_01.url , class:'post_image' %></div>
	                    <div class="post_time"><%= blog.created_at.strftime("%Y/%m/%d %H:%M") %> </div>
	                    <h3 class="post_title"><%= blog.title.truncate(18) %></h3>
	                  </div>
	                <% end %> 

            	</div>

            	<% end %>

              <% end %>            
                      
            <% end %>

			<% if @user.switch == "募集中" %>
				<div class="space_btm"></div>
			<% end %>

  </div>
</div>






