
<div class="user_main user-show">
  <div class="container">
    <div class="users-index-item">
      <h1 class="top_title">活動ブログ</h1>
      <%= render "/users/parts/user_switching", user: @user, url_path: "blogs" %>
      <%= render "/users/parts/user_profile", user: @user %>
    </div>

		<div class="blog-list-wrap">
			<h2 class="others-blog"><%= @user.name %>のブログ一覧</h2>
            <% @blogs.each do |blog| %> 
             
              <% if blog.title.present? %>
	            	<div class="blog_list">

		                <%= link_to(user_blog_path(blog.user_id, blog.id)) do %>
		                  <div class="blog_link">
		                    <div class="catch_image"><%= lazysizes_image_tag blog.image_01.url , class:'post_image' %></div>
							<div class="post-bottom"><%= blog.created_at.strftime("%Y年%-m月%-d日 %-H:%M") %></div>	                    
							<h3 class="post_title"><%= blog.title.truncate(36) %></h3>
		                  </div>

		                <% end %> 

	            	</div>

              <% end %> 
                      
            <% end %>


         </div>

		<div class="ad_space"></div>


		<%= render "/layouts/ad_square" %>
		<div class="ad_space"></div>


	<%= paginate @blogs %>


  </div>
</div>






