<div class="main users-new">
  <div class="container">

  <%= render "/layouts/breadcrumb" %>

    <h1 class="form-heading">ログイン情報の変更</h1>
    <div class="form users-form">
      <div class="form-body cont-body">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>


        <div class="field">
          <%= f.label :メールアドレスの変更 %>（変更しない場合はそのまま）<br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: @current_admin_user.email %>
        </div>

        <div class="field">
          <%= f.label :現在のパスワード %>※
          <em>(6文字以上)</em>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :パスワードの変更 %>（変更しない場合は空白のまま）<br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :パスワードの再確認 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>


        <div class="actions">
          <%= f.submit "変更する" %>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>
