- set_meta_tags title: "【#{@time.strftime("%Y")}年版】サークルやチームの活動ブログ"
- breadcrumb :blog_index

.main.users-index
  .container
    .breadcrumbs_wrapper.text_slide
      .breadcrumbs
        = breadcrumbs separator: "&rsaquo;"

    .e_header_wrap
      %img{:src => "/images/top.png"}/
      .link_txt
        %h1.e_header_title
          = "サークルやチームの"
          %br
          = "活動ブログ"

    = render "/blogs/commons/search_form", categories: @categories, prefectures: @prefectures, path: @path
    = render "/blogs/commons/blogs_list", blogs: @blogs
