- set_meta_tags noindex: true
.main.users-index
  .container
    .table_list
      %table
        %tr
          %th No.
          %th create
          %th Controller
          %th 01
          %th 02
          %th 03
        - @db_validation_errors.each.with_index(1) do |db_validation_error, i|
          %tr
            %td= i
            %td= db_validation_error.created_at.strftime("%-m/%-d %-H:%M")
            %td= db_validation_error.name
            %td= db_validation_error.content_01
            %td= db_validation_error.content_02
            %td= db_validation_error.content_03
= paginate @db_validation_errors
