<% set_meta_tags noindex: true %>

<div class="main users-index">
  <div class="container">

  <div class="table_list">
    <table>
      <tr><th>No.</th><th>create</th><th>Controller</th><th>01</th><th>02</th><th>03</th></tr>
      <% @db_validation_errors.each.with_index(1) do |db_validation_error, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= db_validation_error.created_at.strftime("%-m/%-d %-H:%M") %></td>
          <td><%= db_validation_error.name %></td>
          <td><%= db_validation_error.content_01 %></td>
          <td><%= db_validation_error.content_02 %></td>
          <td><%= db_validation_error.content_03 %></td>
        </tr>
      <% end %>
    </table>

  </div>



  </div>
</div>

<%= paginate @db_validation_errors %>