<% set_meta_tags title: "30秒以内に「#{@difference.dummy}」を見つけられたら天才",

				og: { 
					title: "30秒以内に「#{@difference.dummy}」を見つけられたらRT",
					description: "自分で問題が作れる間違い探しメーカー", 
					image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_40:#{@difference.combine},co_rgb:ffffff,w_1100,c_fit/v1590044851/content_yrwckx.png"
				},

				twitter: { card: 'summary_large_image'} 
%>


<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>

		<div class="difference_top">
	    	<div class="p_t">間違い探しメーカー</div>
		</div>
		<div class="difference_txt">
			▼ 30秒以内に「<%= @difference.dummy %>」を見つけられたら天才 ▼
		</div>


	<div class="difference_image">
		<img src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_40:<%= @difference.combine %>,co_rgb:ffffff,w_1100,c_fit/v1590044851/content_yrwckx.png" alt="30秒以内に「#{@difference.dummy}」を見つけられるか！？">	
	</div>  	

		<div class="users-index-item">


			<div class="post_cta profile_cta difference_cta">

					<div class="blob_cta_2">
						<div class="contact-button tw">
							<%= link_to("https://twitter.com/share?url=#{request.url}&text=30秒以内に「#{@difference.dummy}」を見つけられたらRT%20%23間違い探しメーカー%0a", target: '_blank') do %>
						      <i class="fa fa-twitter"></i> ツイートする
						    <% end %>
						</div>
						<div class="contact-button line">
						    <%= link_to("http://line.me/R/msg/text/?#{request.url}", target: '_blank') do %>
						      LINEでシェアする
						    <% end %>
						</div>

					</div>



					<div class="difference_new">
						<span class="difference_subtitle">新しい問題を作る！</span>

					      	<% if @difference.errors.any? %>
						          <div class="form-error">
					              以下の項目でエラーが発生いたしました。<br>
						          </div>
							<% end %>
					 
					        <% @difference.errors.full_messages.each do |message| %>
					            <div class="form-error_message">
					              ・<%= message %>
					            </div>
					        <% end %>

					      <%= form_for @difference_new, :url => { :controller => :differences, :action => :create }  do |f| %>

							<div class="difference_sample">
								<img src="/images/differences/difference_sample.png">
								※この画像はサンプルです
							</div>

						   
						    <p>文字（1文字）</p>
						    <%= f.text_field :letter, class: 'form-control form-smart', id: 'change_letter', placeholder: "田" %>

						    <p>偽文字（1文字）</p>
						    <%= f.text_field :dummy, class: 'form-control form-smart', id: 'change_dummy', placeholder: "囲" %>

						    <p>偽文字の配置場所<br>1〜308までの数字を記入</p>
						    <%= f.text_field :order, class: 'form-control form-smart', id: 'change_order', placeholder: "123" %>


					        <%= f.submit "作成する" %>

					      <% end %>

					</div>



			</div>


			<%= render "/layouts/ad_square" %>

		</div>



			<div class="qa_card_warp">
				<ul>
					<% @differences.shuffle.first(5).each do |difference| %>
						<% if difference.id != @difference.id %>
							<li class="ribbon-wrapper">

								<%= link_to "/contents/differences/#{difference.id}" do %>
			 							<img src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_40:<%= difference.combine %>,co_rgb:ffffff,w_1100,c_fit/v1590044851/content_yrwckx.png" alt="30秒以内に「#{difference.dummy}」を見つけられるか！？">	

			 						<div class="qa_judge">
			 						</div>
								<% end %>	
							</li>	
						<% end %>
					<% end %>
				</ul>
			</div>	


  </div>
</div>

