<% if @schedules.present? %>
  <tbody>
    <!-- ▼日程の行 表示▼ -->
    <% @schedules.each.with_index(1) do |schedule, i| %>
      <tr>
        <td class="day fixed">
          <%= link_to("/schedules/#{@user.unique_id}/#{schedule.id}") do %>
            <div class="schedule_day_link" >
              <%= Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>
              <% if schedule.time_s.present? %>
                <br><%= schedule.time_s.strftime('%H:%M') %>-<%= schedule.time_e.strftime('%H:%M') if schedule.time_e.present? %>
              <% end %>
            </div>

            <% if schedule.recruitment_numbers.present? %>
              <div class="recruitment_numbers_wrap">
                <% if schedule.recruitment_numbers >= 1 %>
                  <%= schedule.name_schedules.where(answer: 1).count %><span class="small_font">／<%= schedule.recruitment_numbers %>名</span>
                <% else %>
                  <%= schedule.name_schedules.where(answer: 1).count %>名
                <% end %>
              </div>
            <% else %>
              <div class="recruitment_numbers_wrap">
                <%= schedule.name_schedules.where(answer: 1).count %>名
              </div>
            <% end %>
          <% end %>
        </td>

        <td class="status">
          <% if params[:archive] != "1" %>

            <% if schedule.recruitment == "募集終了" %>
              <span class="set mark_red">満員御礼</span>
            <% elsif schedule.recruitment == "中止" %>
              <span class="set mark_yellow">中止</span>
            <% else %>

              <% if schedule.recruitment_numbers == 0 || schedule.recruitment_numbers.blank? %>
                <span class="set mark_green">募集中</span>
              <% elsif schedule.name_schedules.where(answer: 1).count >= schedule.recruitment_numbers %>
                <span class="set mark_red">満員御礼</span>
              <% else %>
                <span class="set mark_green">募集中</span>
              <% end %>

            <% end %>

          <% else %>
            <span class="set mark_gray">開催終了</span>
          <% end %>

        </td><!-- ▲日程の行 表示▼ -->

        <!-- ▼名前＋ステータス 表示▼ -->
        <% @names.each do |name| %>
          <% if name.name_schedules.find_by(schedule_id: schedule.id).present? %>
              <% if name.name_schedules.find_by(schedule_id: schedule.id).answer == 1 %>
              <td>
                <div class="answer_content">
                  <div class="answer1"></div>
                  <% if name.name_schedules.find_by(schedule_id: schedule.id).comment.present? %>
                    <div class="attendance_comment">
                      <div class="attendance_comment_scroll">
                        <%= name.name_schedules.find_by(schedule_id: schedule.id).comment %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </td>
              <% elsif name.name_schedules.find_by(schedule_id: schedule.id).answer == 0 %>
              <td>
                <div class="answer_content">
                  <div class="answer0"></div>
                  <% if name.name_schedules.find_by(schedule_id: schedule.id).comment.present? %>
                    <div class="attendance_comment">
                      <div class="attendance_comment_scroll">
                        <%= name.name_schedules.find_by(schedule_id: schedule.id).comment %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </td>
              <% else %>
                <td></td>
              <% end %>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
        <!-- ▲名前＋ステータス 表示▲ -->



      </tr>

    <% end %>
  </tbody>
<% end %>