<% if @schedules.present? %>
  <tbody>
    <% @schedules.each.with_index(1) do |schedule, i| %>
      <tr>
        <td class="day fixed">
          <%= link_to("/schedules/#{@user.unique_id}/#{schedule.id}") do %>
            <%= Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>
            <% if schedule.time_s.present? %>
              <br><%= schedule.time_s.strftime('%H:%M') %>-<%= schedule.time_e.strftime('%H:%M') if schedule.time_e.present? %>
            <% end %>

            <% if schedule.recruitment_numbers.present? %>
              <div class="recruitment_numbers_wrap">
                <% if schedule.recruitment_numbers >= 1 %>
                  <%= schedule.name_schedules.where(answer: 1).count %>人<span class="small_font">／<%= schedule.recruitment_numbers %>人</span>
                <% else %>
                  <%= schedule.name_schedules.where(answer: 1).count %>人
                <% end %>
              </div>
            <% else %>
              <div class="recruitment_numbers_wrap">
                <%= schedule.name_schedules.where(answer: 1).count %>人
              </div>
            <% end %>
          <% end %>
        </td>
        <td class="status">
          <% if schedule.recruitment == "募集終了" %>
            <span class="set mark_red">満員御礼</span>
          <% elsif schedule.recruitment == "中止" %>
            <span class="set mark_yellow">中止</span>
          <% else %>

            <% if schedule.recruitment_numbers == 0 || schedule.recruitment_numbers.blank? %>
              <div class="set mark_green">募集中</div>
            <% elsif schedule.name_schedules.where(answer: 1).count >= schedule.recruitment_numbers %>
              <div class="set mark_red">満員御礼</div>
            <% else %>
              <div class="set mark_green">募集中</div>
            <% end %>

          <% end %>
        </td>

        <% @names.each do |name| %>
          <% if name.name_schedules.find_by(schedule_id: schedule.id).present? %>
              <% if name.name_schedules.find_by(schedule_id: schedule.id).answer == 1 %>
              <td class="answer1">
                <div class="attendance_comment">
                  <%= name.name_schedules.find_by(schedule_id: schedule.id).comment %>
                </div>
              </td>
              <% elsif name.name_schedules.find_by(schedule_id: schedule.id).answer == 0 %>
              <td  class="answer0">
                <div class="attendance_comment">
                  <%= name.name_schedules.find_by(schedule_id: schedule.id).comment %>
                </div>
              </td>
              <% else %>
                <td></td>
              <% end %>
          <% else %>
            <td></td>
          <% end %>
        <% end %>



      </tr>

    <% end %>
  </tbody>
<% end %>