<% @names.each.with_index(1) do |name, i| %>
  <th>
    <div class="attendances_modal">
      <a class="js-modal-open" href="" data-target="attendance_edit_<%= i %>"><%= name.name %></a>
    </div>
  </th>

  <div class="attendances_modal">
    <div id="attendance_edit_<%= i %>" class="modal js-modal">
      <div class="modal_bg js-modal-close"></div>

      <div class="modal_content">

        <div class="form-body cont-body form">
          <%= form_for(name, url: "/schedules/#{@user.unique_id}/#{name.id}", html: {method: 'patch'}) do |f| %>
            <div class="label_item">名前</div><br>
            <%= f.text_field :name, class: 'form-control', placeholder: "ヤマダ" %>


            <% @schedules.each do |schedule| %>
              <% if name.name_schedules.find_by(schedule_id: schedule.id).blank? %>

                <%= f.fields_for :name_schedules, schedule.name_schedules.build do |name_schedule| %>
                  <div class="label_item">
                    <%= Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>
                  </div><br>
                  <%= name_schedule.select :answer, [ ['◯ 参加', 1], ['× 不参加', 0]],
                      :prompt => "選択してください"  %>
                  <%= name_schedule.text_field :comment, class: 'form-control', placeholder: "コメント" %>
                  <%= name_schedule.hidden_field :schedule_id, value: schedule.id %>
                <% end %>

              <% end %>
            <% end %>


            <%= f.fields_for :name_schedules do |name_schedule| %>

              <div class="label_item">
                <%= Time.parse(name_schedule.object.schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(name_schedule.object.schedule.day).wday]})") %>
              </div>
              <br>

              <%= name_schedule.select :answer, [ ['◯ 参加', 1], ['× 不参加', 0]],
                  :prompt => "選択してください"  %>
              <%= name_schedule.text_field :comment, class: 'form-control', placeholder: "コメント" %>

            <% end %>

            <%= f.submit "更新する", data: { disable_with: '更新中...' } %>
          <% end %>
        </div>

        <br><a class="js-modal-close" href="">閉じる</a>
      </div>
    </div>
  </div>
<% end %>