<% @names.each.with_index(1) do |name, i| %>
  <th>

    <% if params[:archive] != "1" %>
      <% if name.gender == 1 %>
        <span class="blue"><%= link_to name.name, "/schedules/#{@user.unique_id}/edit/#{name.id}" %></span>
      <% elsif name.gender == 2 %>
        <span class="pink"><%= link_to name.name, "/schedules/#{@user.unique_id}/edit/#{name.id}" %></span>
      <% else %>
        <span class="purple"><%= link_to name.name, "/schedules/#{@user.unique_id}/edit/#{name.id}" %></span>
      <% end %>
    <% else %>
      <% if name.gender == 1 %>
        <span class="blue"><%= name.name %></span>
      <% elsif name.gender == 2 %>
        <span class="pink"><%= name.name %></span>
      <% else %>
        <span class="purple"><%= name.name %></span>
      <% end %>
    <% end %>

  </th>

<% end %>

