<% @names.each.with_index(1) do |name, i| %>
  <th>
    <div class="attendances_modal">
        <% if name.gender == 1 %>
          <span class="blue"><a class="js-modal-open" href="" data-target="attendance_edit_<%= i %>"><%= name.name %></a></span>
        <% elsif name.gender == 2 %>
          <span class="pink"><a class="js-modal-open" href="" data-target="attendance_edit_<%= i %>"><%= name.name %></a></span>
        <% else %>
          <span class="purple"><a class="js-modal-open" href="" data-target="attendance_edit_<%= i %>"><%= name.name %></a></span>
        <% end %>
    </div>
  </th>

  <div class="attendances_modal">
    <div id="attendance_edit_<%= i %>" class="modal js-modal">
      <div class="modal_bg js-modal-close"></div>

      <div class="modal_content">

        <div class="form-body cont-body form">
          <%= form_for(name, url: "/schedules/#{@user.unique_id}/#{name.id}", html: {method: 'patch'}) do |f| %>
            <div class="label_item"><span class="label label_danger">必須</span>名前</div><br>
            <%= f.text_field :name, class: 'form-control', placeholder: "ヤマダ" %>

            <div class="label_item"></span>性別</div><br>
            <div class="radio_btn">
              <%= f.radio_button :gender, 1 %>
              <%= f.label :gender, "男性", {value: 1} %>
              <%= f.radio_button :gender, 2 %>
              <%= f.label :gender, "女性", {value: 2} %>
              <%= f.radio_button :gender, 0 %>
              <%= f.label :gender, "その他", {value: 0} %>
            </div>
            <br>

            <% @schedules.each do |schedule| %>
              <% if name.name_schedules.find_by(schedule_id: schedule.id).blank? %>
                <% if schedule.recruitment_numbers.present? %>

                  <% if schedule.name_schedules.where(answer: 1).count >= schedule.recruitment_numbers %>
                  <% else %>
                    <%= f.fields_for :name_schedules, schedule.name_schedules.build do |name_schedule| %>
                      <%= render "/schedules/attendances/label_day", schedule: schedule %>
                      <%= name_schedule.select :answer, [ ['◯ 参加', 1], ['× 不参加', 0]],
                          :prompt => "選択してください"  %>
                      <%= name_schedule.text_field :comment, class: 'form-control', placeholder: "コメント" %>
                      <%= name_schedule.hidden_field :schedule_id, value: schedule.id %>
                    <% end %>
                  <% end %>

                <% else %>
                  <%= f.fields_for :name_schedules, schedule.name_schedules.build do |name_schedule| %>
                    <%= render "/schedules/attendances/label_day", schedule: schedule %>
                    <%= name_schedule.select :answer, [ ['◯ 参加', 1], ['× 不参加', 0]],
                        :prompt => "選択してください"  %>
                    <%= name_schedule.text_field :comment, class: 'form-control', placeholder: "コメント" %>
                    <%= name_schedule.hidden_field :schedule_id, value: schedule.id %>
                  <% end %>

                <% end %>

              <% end %>
            <% end %>


            <%= f.fields_for :name_schedules do |name_schedule| %>

              <% if name_schedule.object.schedule.recruitment_numbers.present? %>
                  <% if name_schedule.object.answer == 1 %>
                    <%= render "/schedules/attendances/label_day", schedule: name_schedule.object.schedule %>
                    <%= name_schedule.select :answer, [ ['◯ 参加', 1], ['× 不参加', 0]],
                        :prompt => "選択してください"  %>
                    <%= name_schedule.text_field :comment, class: 'form-control', placeholder: "コメント" %>
                  <% elsif name_schedule.object.schedule.name_schedules.where(answer: 1).count >= name_schedule.object.schedule.recruitment_numbers %>

                  <% else %>
                    <%= render "/schedules/attendances/label_day", schedule: name_schedule.object.schedule %>
                    <%= name_schedule.select :answer, [ ['◯ 参加', 1], ['× 不参加', 0]],
                        :prompt => "選択してください"  %>
                    <%= name_schedule.text_field :comment, class: 'form-control', placeholder: "コメント" %>
                  <% end %>
              <% else %>
                <%= render "/schedules/attendances/label_day", schedule: name_schedule.object.schedule %>
                <%= name_schedule.select :answer, [ ['◯ 参加', 1], ['× 不参加', 0]],
                    :prompt => "選択してください"  %>
                <%= name_schedule.text_field :comment, class: 'form-control', placeholder: "コメント" %>
              <% end %>

            <% end %>

            <%= f.submit "更新する", data: { disable_with: '更新中...' } %>
          <% end %>
        </div>

        <br><a class="js-modal-close" href="">閉じる</a>
      </div>
    </div>
  </div>
<% end %>