  <div class="attendances_modal">
    <div id="modal_<%= i %>" class="modal js-modal">
      <div class="modal_bg js-modal-close"></div>

      <div class="modal_content">

        <div class="form-body cont-body form">
          <%= form_for ([@user, schedule, @attendance]) do |f| %>

            <div class="label_item"><span class="label label_danger">必須</span>新規メンバーの募集</div><br>
            <%= f.select :answer, [ ['◯',1], ['×',0] ],
            :prompt => "選択してください" %>

            <div class="label_item">コメント</div><br>
            <%= f.text_field :comment, class: 'form-control', placeholder: "30分ほど遅れて参加します" %>

            <%= f.submit "更新する", data: { disable_with: '更新中...' } %>
          <% end %>
        </div>

        <br><a class="js-modal-close" href="">閉じる</a>
      </div>
    </div>
  </div>