<div class="main user-show">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>
  <% if @user_cities.present? %>
    <%= render "/users/breadcrumb_city" %>
  <% end %>
  <div class="user-profile">
    <div class="header-wrapper ribbon-wrapper">
      <div class="ribbon-content">
        <% if @user.switch == "募集中" %>
          <span class="ribbon green"><%= @user.switch %></span>
        <% else %>
          <span class="ribbon red"><%= @user.switch %></span>
        <% end %>
      </div>

      <div class="open_header">
        <amp-img alt="ヘッダー<%= @user.name %>"
          src="<%= @user.pic_header.url %>"
          class="header_imege"
          width="450"
          height="150"
          layout="responsive"
          object-fit="cover">
        </amp-img>
      </div>

      <div class="open_profile">
        <amp-img alt="プロフィール｜<%= @user.name %>"
          src="<%= @user.pic_profile.url %>"
          class="profile_imege"
          width="100"
          height="100"
          object-fit="cover">>
        </amp-img>
      </div>
 
      <div class="data-box slide_content">
        <% if @user.event_id.present? %>
          <span class="data-r"><%= @user.event.name if @user.event_id? %></span>
        <% end %>
        <% if @user.prefecture_id.present? %>
          <span class="data-l"><%= @user.prefecture.name if @user.prefecture_id? %></span>
        <% end %>
        <% if @user.prefecture_sub_id.present? %>
          <span class="data-l"><%= @sub_prefecture.name %></span>
        <% end %>
      </div>

      <div class="contact_area">
        <div class="share_btn_tw btn_tw_space">
          <% if @user.name.present? && @user.event.name.present? && @user.prefecture.name.present? %>
              <%= link_to("https://twitter.com/share?url=#{request.url.gsub('.amp', '')}&text=#{@user.name}%0a%0a%23#{@user.event.name}%20%23#{@user.prefecture.name}%20%23サークルブック%0a", target: '_blank') do %>
                <i class="fa fa-twitter"></i>ツイート
              <% end %>
          <% end %>
        </div>
        <% if @user.switch == "募集中" %>
          <%= render "/users/contact_icon" %>
        <% else %>
          <div class="contact-button end">募集終了</div>
        <% end %>
        <%= render 'bookmarks/bookmark_area', user: @user %>
      </div>
    </div>

    <div class="profile-content">
      <% if @user.user_time.present? %>
        <div class="post-bottom u_right">更新日：<%= @user.user_time.to_time.strftime("%Y年%-m月%-d日") %></div>
      <% end %>
      <h1 class="user_name"><%= @user.name %></h1>
      <div class="content_01"></div>
      <div class="content_02">
        <div class="user_schedule slide_content">
          <i class="fa fa-calendar "></i><%= @user.schedule %>
        </div>
        <div class="user_area slide_content">
          <% if @user.prefecture_id.present? %>
            <i class="fa fa-map-marker "></i><%= @user.prefecture.name %><% if @user.prefecture_sub_id.present? %>・<%= @sub_prefecture.name %><% end %><%= "：" if @user.area.present? %><%= @user.area %>
          <% end %>
        </div>
      </div>

      <div class="content_03"><%= @user.recruitment %></div>


<% if @user.gallery_01.present? || @user.gallery_02.present? || @user.gallery_03.present? || @user.gallery_04.present? %>
	<div class="gallery_wrap">

		<% if @count == 1 %>
			<div class="gallery_odd">
		<% else %>
			<div class="gallery_even">
		<% end %>

			<div class="gallery_container">
        <% if @user.gallery_01.present? %>
          <div class="btn-open_01">
            <amp-img alt="ギャラリー｜<%= @user.name %>"
              src="<%= @user.gallery_01.url %>"
              class="gallery_imege"
              width="186"
              height="100"
              object-fit="cover">>
            </amp-img>
          </div>
        <% end %>

        <% if @user.gallery_02.present? %>
          <div class="btn-open_02">
            <amp-img alt="ギャラリー｜<%= @user.name %>"
              src="<%= @user.gallery_02.url %>"
              class="gallery_imege"
              width="186"
              height="100"
              object-fit="cover">>
            </amp-img>
          </div>
        <% end %>

        <% if @user.gallery_03.present? %>
          <div class="btn-open_03">
            <amp-img alt="ギャラリー｜<%= @user.name %>"
              src="<%= @user.gallery_03.url %>"
              class="gallery_imege"
              width="186"
              height="100"
              object-fit="cover">>
            </amp-img>
          </div>
        <% end %>

        <% if @user.gallery_04.present? %>
          <div class="btn-open_04">
            <amp-img alt="ギャラリー｜<%= @user.name %>"
              src="<%= @user.gallery_04.url %>"
              class="gallery_imege"
              width="186"
              height="100"
              object-fit="cover">>
            </amp-img>
          </div>
        <% end %>
			</div>

		</div>
	</div>
<% end %>

      <div class="border"></div>
      <div class="article_item article_padding">
        <table>
          <tbody>
            <tr class="flex_contents">
              <th class="flex_list">メンバー</th>
              <td class="flex_list"><%= @user.member %></td>
            </tr>
            <tr class="flex_contents">
              <th class="flex_list">年齢層</th>
              <% if @user.age_ids.present? %>
                <td class="flex_list">
                  <% @user_ages.sort.each do |user_age| %>
                    <%= user_age.name %>
                  <% end %>
                </td>
              <% else %>
                <td class="flex_list"><%= @user.average_age %></td>
              <% end %>
            </tr>
            <tr class="flex_contents">
              <th class="flex_list">募集中</th>
              <% if @user.group_ids.present? %>
                <td class="flex_list">
                  <% @user_groups.sort.each do |user_group| %>
                    <%= user_group.name %>
                  <% end %>
                </td>
              <% else %>
                <td class="flex_list"><%= @user.grouping %></td>
              <% end %>
            </tr>
            <tr class="flex_contents">
              <th class="flex_list">費用</th>
              <td class="flex_list"><%= @user.cost %></td>
            </tr>
            <tr class="flex_contents">
              <th class="flex_list">目標</th>
              <td class="flex_list"><%= @user.goal %></td>
            </tr>
            <% if @user.match.present? %>
              <% if @user.match.recruit == "募集中" %>
                <tr class="flex_contents">
                  <th class="flex_list">練習試合</th>
                  <td class="flex_list txt_s"><%= link_to ">> 練習試合の募集ページ", match_path(@user.match.id) %></td>
                </tr>
              <% end %>
            <% end %>
            <% if @user.twitter.present? || @user.instagram.present? %>
              <tr class="flex_contents">
                <th class="flex_list">SNS</th>
                <td class="flex_list">
                  <% if @user.twitter.present? %>
                    <a href="https://twitter.com/<%= @user.twitter %>">
                      <span class="sns_link twitter_link"><i class="fa fa-twitter-square "></i> Twitter</span>
                    </a>
                  <% end %>
                  <% if @user.instagram.present? %>
                    <a href="https://www.instagram.com/<%= @user.instagram %>">
                      <span class="sns_link instagram_link"><i class="fa fa-instagram "></i> Instagram</span>
                    </a>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr class="flex_contents">
              <th class="flex_list">口コミ</th>
              <td class="flex_list">
                <div class="star_review">
                  <%= link_to user_reviews_path(@user) do %>
                  <span class="review_stars"><%= render "/layouts/star" %></span>
                  <span class="review_score"><%= sprintf("%.2f", @star_review) %></span>
                  <span class="review_count"><i class="fa fa-commenting "></i>  <span class="review_border"><%= @star_count %>件</span></span>
                  <% end %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <% if @user.web.present? && @user.link.present? %>
        <div class="content_08"><i class="fa fa-chain "></i><a href="<%= @user.web %>"> <%= @user.web %></a></div>
        <% if @user.link.link02_url.present? %>
          <div class="txt_s more_link_txt"><%= link_to ">>リンクをもっと見る", "/link/#{@user.link.unique_id}" %></div>
        <% end %>
        <div class="border"></div>

      <% elsif @user.web.present? %>
        <div class="content_08"><i class="fa fa-chain "></i><a href="<%= @user.web %>"> <%= @user.web %></a></div>
        <div class="border"></div>

      <% elsif @user.link.present? %>
        <% if @user.link.link02_url.present? %>
          <div class="content_08"><i class="fa fa-chain "></i><a href="https://www.circle-book.com/link/<%= @user.link.unique_id %>"> circle-book.com/link/<%= @user.link.unique_id %></a></div>
          <div class="border"></div>
        <% end %>
      <% else %>

      <% end %>

      <% if @schedules.present? %>
        <h2 class="user_sub_title">活動スケジュール</h2>
        <div class="profile_list_p">
        <% @schedules.each do |schedule| %>
            <% if schedule.present? %>
              <%= link_to(user_schedules_path(@user.id)) do %>
                <div class="text_slide">
                  ・<%= Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>
              <% if schedule.time_s.present? %>
                  <%= schedule.time_s.strftime('%H:%M') %>-<%= schedule.time_e.strftime('%H:%M') if schedule.time_e.present? %>
              <% end %>
                  <%= schedule.venue %>
                </div>
              <% end %>
            <% end %>
        <% end %>

          <% if admin_user_signed_in? %>
            <% if @user.id != current_admin_user.id  %>
              <%= link_to(user_schedules_path(@user.id)) do %>
                <div class="schedule_index_btn"><i class="fa fa-calendar "></i> スケジュールの詳細を見る</div>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to(user_schedules_path(@user.id)) do %>
              <div class="schedule_index_btn"><i class="fa fa-calendar "></i> スケジュールの詳細を見る</div>
            <% end %>
          <% end %>
        </div>
        <div class="border"></div>
      <% end %>

      <% if @user.appeal.present? %>
        <div class="profile_list_t p_t_t"></div>
        <div class="profile_list_p profile_list_a"><%= raw Rinku.auto_link(simple_format @user.appeal) %></div>
        <div class="border"></div>
      <% end %>

      <% if @user.switch == "募集中" %>
        <%= render "/users/contact_btn" %>
        <div class="border"></div>
        <% if @user.reviews.any? %>
          <h2 class="user_sub_title">口コミ・評価</h2>
          <%= render "/users/reviews" %>
          <div class="border"></div>
        <% else %>
          <h2 class="user_sub_title">口コミ・評価</h2>
          <div class="review_sub_title">口コミがまだ投稿されていません。</div>
          <div class="new_review_comment">
            このサークルに参加されたことがある方は<br>
            最初の口コミを投稿してみませんか？
          </div>
          <div class="review_link_b"><%= link_to ">>口コミ投稿",user_reviews_path(@user) %></div>
          <div class="border"></div>
        <% end %>

        <% if @questions.any? %>
        <h2 class="user_sub_title">質問コーナー</h2>

          <% if @questions.count > 1 %>
            <ul class="user_slide_qa">
              <% @questions.first(5).each do |question| %>
                <li>
                  <%= link_to "/users/#{@user.id}/questions/#{question.id}" do %>
                    <amp-img alt="<%= question.content %>"
                      src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= question.content %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"
                      width="220"
                      height="115"
                      object-fit="cover">>
                    </amp-img>
                    <div class="qa_judge">
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <ul class="user_single_qa">
              <% @questions.first(1).each do |question| %>
                <li>
                  <%= link_to "/users/#{@user.id}/questions/#{question.id}" do %>
                    <amp-img alt="<%= question.content %>"
                      src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= question.content %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"
                      width="220"
                      height="115"
                      object-fit="cover">>
                    </amp-img>
                    <div class="qa_judge">
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>


        <div class="user_qa_btn">
          <%= link_to  user_questions_path(@user) do %>
            <div class="contact-button qa_btn qa">
              <i class="fa fa-comments "></i> このサークルに質問する
            </div>
          <% end %>
        </div>

        <div class="border"></div>
        <%= render "/users/contact_btn" %>

      <% end %>
    </div>
  </div>

<%= render "/layouts/ad_square" %>
<div class="ad_space"></div>

  <% if @blogs.any? %>
    <% @blogs.first(5).each do |blog| %>
      <%= link_to(user_blog_path(blog.user_id, blog.id)) do %>
        <div class="form users-form">
            <div class="form-body">
              <div class="header-post cont-width">
              <%= lazysizes_image_tag @user.pic_profile.url , class:'content_icon' %>
              <div class="post-user">
                <div class="post-top"><%= @user.name %></div>
                <div class="post-bottom"><%= blog.created_at.strftime("%Y年%-m月%-d日 %H:%M") %></div>
              </div>
            </div>
            <div class="">
              <% if blog.image_01.present? %>
                <% if blog.image_02.blank? && blog.image_03.blank? && blog.image_04.blank? %>
                  <%= lazysizes_image_tag blog.image_01.url , class:'content_image_one' %>
                <% else %>
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <% if blog.image_01.present? %><div class="swiper-slide"><%= image_tag blog.image_01.url , class:'content_image' %></div><% end %>
                      <% if blog.image_02.present? %><div class="swiper-slide"><%= image_tag blog.image_02.url , class:'content_image' %></div><% end %>
                      <% if blog.image_03.present? %><div class="swiper-slide"><%= image_tag blog.image_03.url , class:'content_image' %></div><% end %>
                      <% if blog.image_04.present? %><div class="swiper-slide"><%= image_tag blog.image_04.url , class:'content_image' %></div><% end %>
                    </div>
                    <!-- Add Pagination -->
                    <div class="pagination-wrap">
                      <div class="swiper-pagination"></div>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <div class="cont-width">
                <h3 class="blog_title"><%= blog.title %></h3>
                <%= simple_format blog.content.truncate(140) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>


  <% if @users.count >= 1 %>
    <div class="user-list-wrap">
      <h2 class="others-user">条件が似ている<%= @user.event.name if @user.event_id? %>サークル</h2>
            <% @users.first(5).each do |user| %>
            <%= link_to(user_path(user.id)) do %>
              <div class="user_list">
                <div class="user-content">
                  <div class="user_list_header">
                    <%= lazysizes_image_tag user.pic_profile.url , class:'image_icon' %>
                    <h3 class="user_name"><%= user.name.truncate(20) %></h3>
                  </div>
                    <div class="list_02">
                      <span class="user_schedule">
                        <i class="fa fa-calendar "></i><%= user.schedule %>
                      </span>
                    </div>
                    <div class="list_03">
                      <span class="user_area">
                        <i class="fa fa-map-marker "></i><%= user.area %>
                      </span>
                    </div>
              </div>
              </div>
            <% end %>
      <% end %>
        <% if @users.count > 5 %>
          <div class="more_link">
            <%= link_to "/#{@user.event.ruby}/#{@user.prefecture.kana}" do %>
              >> 他のサークルをもっと見る
            <% end %>
          </div>
        <% end %>
    </div>
  <% end %>

  <% if @blogs.count >= 3 || @users.count >= 3 %>
    <%= render "/layouts/ad_square" %>
    <div class="ad_space"></div>
  <% end %>

  <div class="space_btm"></div>

  </div>
</div>
