<% if admin_user_signed_in? %>
	<% if @user.id == current_admin_user.id || current_admin_user.id == 1 %>


		<div class="analytics_wrap">
				<span class="analytics_title"><i class="fa fa-bar-chart-o "></i> アクセス数</span>
				<div class="analytics_contents">

					<table>
						<tr>
							<th>ページを見た人</th>
							<td><%= @user.impressionist_count %> 人</td>
						</tr>

							<% if @blogs.any? %>
								<% @blogs.each do |blog| %>
									<% @blogs_imp = @blogs_imp + blog.impressions_count %>
								<% end %>

								<% if @blogs_imp > 1 || current_admin_user.id == 1 %>

								<tr>
									<th>ブログを見た人</th>
									<td><%= @blogs_imp %> 人</td>
								</tr>

								<% end %>
							<% end %>

					</table>
					
				</div>
		</div>

		<% if @user.pic_profile.blank? && @user.pic_header.blank? %><!-- プロフィール画像 -->
			<div class="advice_wrap">
			    <span class="box-title">ポイント</span>
			    <p><span class="marker">プロフィール画像</span>があると良いです！<br>
			    	参加者が<span class="marker">どんな雰囲気かイメージしやすく</span><br>
			    	安心してお問い合わせすることができます！
			    </p>			    	
			    	<%= link_to ">>プロフィール画像の設定", edit_user_path(@user) %>
			</div>
		
		<% elsif @user.gallery_01.blank? && @user.gallery_02.blank? && @user.gallery_03.blank? && @user.gallery_04.blank? %><!-- ギャラリー画像 -->
			<div class="advice_wrap">
			    <span class="box-title">ポイント</span>
			    <p><span class="marker">サークル画像(最大4枚)</span>があると良いです！<br>
			    	参加者が<span class="marker">どんな雰囲気かイメージしやすく</span><br>
			    	安心してお問い合わせすることができます！
			    </p>	
			    	<%= link_to ">>サークル画像の設定", edit_user_path(@user) %>
			</div>

		<% elsif @blogs.empty? %>
			<div class="advice_wrap">
			    <span class="box-title">ポイント</span>
			    <p><span class="marker">ブログ投稿</span>があると良いです！<br>
			    	どんな活動をしているのかイメージしやすく<br>
			    	<span class="marker">サークルの掲載順位も上がり</span>ます！
			    </p>
			    	<%= link_to ">>ブログの新規投稿", new_blog_path %>
	
			</div>

		<% else %>

		<% end %>


	<% end %>
<% end %>