<% if admin_user_signed_in? %>
	<% if @user.id == current_admin_user.id || current_admin_user.id == 1 %>


		<div class="analytics_wrap">

			<% if @user.impressionist_count > 20 %>

				<span class="analytics_title"><i class="fa fa-bar-chart-o "></i> アクセス数</span>
				<div class="analytics_contents">
					※測定開始：2020年2月27日〜<br>
					ページを見た人：<%= @user.impressionist_count %>人<br>
					<% if @blogs.any? %>
						<% @blogs.each do |blog| %>
							<% @blogs_imp = @blogs_imp + blog.impressions_count %>
						<% end %>

						<% if @blogs_imp > 30 %>
							ブログを見た人：<%= @blogs_imp %>人
						<% end %>
					<% end %>
					
				</div>

				<% if @user.name.present? && @user.event.name.present? && @user.prefecture.name.present? %>
					<div class="analytics_tw">
					    <%= link_to("https://twitter.com/share?url=#{request.url}&text=#{@user.name}%0a%0a%23#{@user.event.name}%20%23#{@user.prefecture.name}%20%23サークルブック%0a", target: '_blank') do %>
					      <i class="fa fa-twitter"></i> Twitterで告知する
					    <% end %>
				    </div>
				<% end %>

			<% end %>


			<% if current_admin_user.id == 1 %>

										<div class="contact-button">
											<%= link_to action: :redirect, count: "test" do %>
												<img src="/images/icon_mail.png" alt="" class="icon_sns" />
											<% end %>
										</div>

					<br>
					ライン：<%= @user.line_count %>回<br>
					メール：<%= @user.mail_count %>回<br>
			<% end %>


			<span class="analytics_title"><i class="fa fa-cog "></i> 管理設定</span>
			<div class="analytics_contents">

				<div class="analytics_btn">	
					<%= link_to(edit_user_path) do %>
						<i class="fa fa-user "></i> プロフィール編集
					<% end %>
				</div>

				<div class="analytics_btn">	
					<%= link_to(user_schedules_path(@user.id)) do %> 
						<i class="fa fa-calendar "></i> スケジュール編集
					<% end %>
				</div>

				<div class="analytics_btn">	
			        <%= link_to(new_blog_path) do %>
			          <i class="fa fa-pencil "></i> ブログを書く
			        <% end %>
			    </div>


			</div>



		</div>

	<% end %>
<% end %>