<% if admin_user_signed_in? %>
	<% if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1 %>

    <% if @respond_check_count > 0 %>
      <div class="attention_content">
        <span class="attention_count"><%= @respond_check_count %>人</span>の応募者が、
        <%= @user.name %> さんから<br>
        メールの返信がなかったと言っています。

        <div class="analytics_txt">
          <%= link_to "/users/#{@user.id}/contact_list" do %>>> お問い合わせ内容の確認<% end %>
        </div>

      </div>
    <% end %>


  <div class="s_space"></div>

    <% if @user.created_at > Time.now.ago(7.days)  %>

      <% if @user.pic_profile.blank? || @user.pic_header.blank? %><!-- プロフィール画像 -->
        <div class="advice_wrap">
            <span class="box-title">ポイント</span>
            <p>
              <span class="marker"><%= "アイコン画像" if @user.pic_profile.blank? %><%= "と" if @user.pic_profile.blank? && @user.pic_header.blank? %><%= "背景画像" if @user.pic_header.blank? %></span>を設定しよう！<br>
              参加者が<span class="marker">どんな雰囲気かイメージしやすく</span><br>
              安心してお問い合わせすることができます！
            </p>
              <%= link_to edit_user_path(@user), data: {"turbolinks" => false} do %>
              >><%= "アイコン画像" if @user.pic_profile.blank? %><%= "と" if @user.pic_profile.blank? && @user.pic_header.blank? %><%= "背景画像" if @user.pic_header.blank? %>の設定
              <% end %>
        </div>

      <% elsif @user.gallery_01.blank? && @user.gallery_02.blank? && @user.gallery_03.blank? && @user.gallery_04.blank? %><!-- ギャラリー画像 -->
        <div class="advice_wrap">
            <span class="box-title">ポイント</span>
            <p><span class="marker">サークル画像(最大4枚)</span>があると良いです！<br>
              参加者が<span class="marker">どんな雰囲気かイメージしやすく</span><br>
              安心してお問い合わせすることができます！
            </p>
              <%= link_to ">>サークル画像の設定", edit_user_path(@user), data: {"turbolinks" => false} %>
        </div>

      <% elsif @blogs.empty? %>
        <div class="advice_wrap">
            <span class="box-title">ポイント</span>
            <p><span class="marker">ブログ投稿</span>があると良いです！<br>
              どんな活動をしているのかイメージしやすく<br>
              <span class="marker">サークルの掲載順位も上がり</span>ます！
            </p>
              <%= link_to ">>ブログの新規投稿", new_user_blog_path(@user) %>

        </div>

      <% elsif @user.reviews.empty? %>
        <div class="advice_wrap">
            <span class="box-title">ポイント</span>
            <p><span class="marker">口コミ投稿</span>を募集しませんか？<br>
              <span class="marker">新しい参加者が安心して</span><br>
              お問い合わせすることができます！
            </p>
              <%= link_to ">>口コミの募集", user_reviews_path(@user) %>
        </div>

      <% else %>

      <% end %>

    <% end %>



  <% if @user.impressionist_count > 1 %>

		<div class="analytics_wrap">
				<div class="analytics_title"><i class="fa fa-bar-chart-o "></i> アクセス数</div>
				<div class="analytics_contents">
					<table>
						<tr>
							<th>サークルページを見た人</th>
							<td><%= @user.impressionist_count %> 人</td>
						</tr>
						<% if @blogs.any? %>
							<% @blogs.each do |blog| %>
								<% @blogs_imp = @blogs_imp + blog.impressions_count %>
							<% end %>
							<% if @blogs_imp > 1 || current_admin_user.id == 1 %>
							<tr>
								<th>活動ブログを見た人</th>
								<td><%= @blogs_imp %> 人</td>
							</tr>
							<% end %>
						<% end %>

            <% if @user_contacts.count >= 1 %>
              <tr>
                <th>お問い合わせ件数（メール）</th>
                <td><%= @user_contacts.count %> 件</td>
              </tr>
              <tr>
                <th>
                  <div class="analytics_txt">
                    <%= link_to "/users/#{@user.id}/contact_list" do %>>> お問い合わせ管理ページ<% end %>
                  </div>
                </th>
                <td></td>
              </tr>
            <% end %>

					</table>
				</div>
		</div>

  <% end %>




  <% if @user.cb_point > 0 %>

		<div class="analytics_wrap">
				<div class="analytics_title"><i class="fa fa-pinterest "></i> サクブポイント<span class="right">累計：<%= @user.cb_point.to_f.round(1) %> P</span></div>

          <div class="cp_box">
            <input id="cp01" type="checkbox">
            <label for="cp01"></label>
            <div class="cp_container">

              <div class="s_space"></div>
              <div class="analytics_contents">
                <table>
                  <tr>
                    <th></th>
                    <td class="txt_center">1件</td>
                    <td class="txt_center">合計</td>
                  </tr>
                  <tr>
                    <th><%= link_to user_schedules_path(@user) do %>スケジュール登録 <i class="fa fa-external-link "></i><% end %></th>
                    <td>0.1 P</td>
                    <td><%= @schedule_point.to_f.round(1) %> P</td>
                  </tr>

                  <tr>
                    <th><%= link_to new_user_blog_path(@user) do %>ブログ投稿 <i class="fa fa-external-link "></i><% end %></th>
                    <td>0.2 P</td>
                    <td><%= @blog_point.to_f.round(1) %> P</td>
                  </tr>

                  <tr>
                    <th><%= link_to user_questions_path(@user) do %>Ｑ＆Ａの回答 <i class="fa fa-external-link "></i><% end %></th>
                    <td>0.3 P</td>
                    <td><%= @qa_point.to_f.round(1) %> P</td>
                  </tr>

                  <tr>
                    <th><%= link_to user_reviews_path(@user) do %>高評価の口コミ <i class="fa fa-external-link "></i><% end %></th>
                    <td>2.0 P</td>
                    <td><%= @review_point.to_f.round(1) %> P</td>
                  </tr>

                  <% if @contact_point.to_f > 0 %>
                    <tr>
                      <th>お問い合わせ件数</th>
                      <td>0.5 P</td>
                      <td><%= @contact_point.to_f.round(1) %> P</td>
                    </tr>
                  <% end %>

                  <% if @respond_point.to_f > 0 %>
                    <tr>
                      <th><%= link_to "/users/#{@user.id}/contact_list" do %>問い合わせ未返信 <i class="fa fa-external-link "></i><% end %></th>
                      <td>-30.0 P</td>
                      <td>-<%= @respond_point.to_f.round(1) %> P</td>
                    </tr>
                  <% end %>

                </table>
              </div>

              <div class="cp_txt">
                サクブ（サークルブック）ポイントを貯めると<br>
                表示順位が上がりやすくなります！<br>
                <br>
                スケジュール登録やブログ投稿などをすると<br>
                件数によってポイントが付与されます！
              </div>

              <% if @users.count >= 3 %>
                <div class="competitor_wrap">
                  <div>▼ あなたの競合サークル</div>
                  <%= render "/users/users_list_slide", users: @users %>
                </div>
              <% end %>

            </div>
          </div>

		</div>

  <% end %>










	<% end %>
<% end %>