<% if @path.is('users#event_prefecture') %>
  <div class="coat-container">

      <div class="cp_actab">

          <input id="tab-two" type="checkbox" name="tabs">

          <label for="tab-two"><i class="fa fa-search search-list"></i><%= @prefecture.name %>の市区郡から探す</label>

          <div class="cp_actab-content">
            <% @cities.each do |city| %>
              <div class="prefecture_city_list">

                <%= link_to("/#{@event.ruby}/#{@prefecture.kana}/#{city.city_kana}") do %>
                          <%= city.name %>
                        <% end %>

              </div>
            <% end %>
          </div>

      </div>

  </div>  

<% elsif @path.is('users#prefecture') %>

  <div class="coat-container">

      <div class="cp_actab">

          <input id="tab-two" type="checkbox" name="tabs">

          <label for="tab-two"><i class="fa fa-search search-list"></i><%= @prefecture.name %>の市区郡から探す</label>

          <div class="cp_actab-content">
            <% @cities.each do |city| %>
              <div class="prefecture_city_list">

                <%= link_to("/prefectures/#{@prefecture.kana}/#{city.city_kana}") do %>
                          <%= city.name %>
                        <% end %>

              </div>
            <% end %>
          </div>

      </div>

  </div>  

<% else %>

<% end %>

