<div class="events-container">

  <div class="cp_actab">
    <input id="tab-one" type="checkbox" name="tabs">
    <label for="tab-one">
      <i class="fa fa-search search-list"></i>趣味やスポーツ、団体から探す
    </label>
    <div class="cp_actab-content">

      <ul class="events-menus">
        <% @events.each do |event| %>

        <% if @category != event.category %>
          <div class="category-title">▼<%= event.category %></div>
          <% @category = event.category %>
        <% end %>

          <% if @path.is('users#index', 'users#top', 'users#search') %>
              <li>
                <%= link_to("/#{event.ruby}") do %>
                  <div class="e_icon_wrap">
                    <img data-src="/images/events/s_e_icon_<%= event.ruby %>.jpg" alt="<%= event.name %>" class="lazyload">
                    <div class="link_txt"><%= event.name %></div>
                  </div>
                <% end %>
              </li> 

          <% elsif @path.is('users#prefecture_city') %>
              <li>
                <%= link_to("/#{event.ruby}/#{@prefecture.kana}/#{@city.city_kana}") do %>
                  <div class="e_icon_wrap">
                    <img data-src="/images/events/s_e_icon_<%= event.ruby %>.jpg" alt="<%= event.name %>" class="lazyload">
                    <div class="link_txt"><%= event.name %></div>
                  </div>
                <% end %>
              </li> 


          <% else %>
              <li>
                <%= link_to("/#{event.ruby}/#{@prefecture.kana}") do %>
                  <div class="e_icon_wrap">
                    <img data-src="/images/events/s_e_icon_<%= event.ruby %>.jpg" alt="<%= event.name %>" class="lazyload">
                    <div class="link_txt"><%= event.name %></div>
                  </div>
                <% end %>
              </li> 
          <% end %>         
          
        <% end %> 
      </ul> 

    </div>
  </div>

</div>