<% if @user.gallery_01.present? || @user.gallery_02.present? || @user.gallery_03.present? || @user.gallery_04.present? %>

	<div class="gallery_wrap">
		<div class="gallery_container">

    		<% if @user.gallery_01.present? %>
	    		<a href="<%= @user.gallery_01.url %>" class="swipe" rel="gallery" title="">
	    			<img src="<%= @user.gallery_01.url %>" alt="<%= @user.name %>" class="gallery_imege" />
	    		</a>
			<% end %>

    		<% if @user.gallery_02.present? %>
	    		<a href="<%= @user.gallery_02.url %>" class="swipe" rel="gallery" title="">
	    			<img src="<%= @user.gallery_02.url %>" alt="<%= @user.name %>" class="gallery_imege" />
	    		</a>
			<% end %>

    		<% if @user.gallery_03.present? %>
	    		<a href="<%= @user.gallery_03.url %>" class="swipe" rel="gallery" title="">
	    			<img src="<%= @user.gallery_03.url %>" alt="<%= @user.name %>" class="gallery_imege" />
	    		</a>
			<% end %>

    		<% if @user.gallery_04.present? %>
	    		<a href="<%= @user.gallery_04.url %>" class="swipe" rel="gallery" title="">
	    			<img src="<%= @user.gallery_04.url %>" alt="<%= @user.name %>" class="gallery_imege" />
	    		</a>
			<% end %>			

		</div>
	</div>

<% end %>

