<div class="prefectures-container">

  <div class="cp_actab">
    <input id="tab-two" type="checkbox" name="tabs">
    <label for="tab-two">
      <i class="fa fa-search search-list"></i>47都道府県から探す
    </label>
    <div class="cp_actab-content">

      <ul class="prefectures-menus">
        <% @prefectures.each do |prefecture| %>
          <% if prefecture.group != @x %>
            <div class="prefectures-sub-title"><%= prefecture.group %>エリア</div>
            <li>
              <% if @path.is('users#index', 'users#top') %>
                <%= link_to prefecture.name, "/prefectures/#{prefecture.kana}" %>
              <% else %>
                <%= link_to prefecture.name, "/#{@event.ruby}/#{prefecture.kana}" %>
              <% end %>           
            </li> 
            <% @x = prefecture.group %>
            
          <% else %>
            <li>
              <% if @path.is('users#index', 'users#top') %>
                <%= link_to prefecture.name, "/prefectures/#{prefecture.kana}" %>
              <% else %>
                <%= link_to prefecture.name, "/#{@event.ruby}/#{prefecture.kana}" %>
              <% end %>           
            </li> 
          <% end %>
        <% end %> 
      </ul> 

    </div>
  </div>

</div>