<div class="prefectures-container">
  <div onclick="obj=document.getElementById('open_p').style; obj.display=(obj.display=='none')?'block':'none';">
    <a style="cursor:pointer;"><h2 class="prefectures-title">地域から探す</h2></a>
  </div>  

  <div id="open_p" style="display:none;clear:both;">  
    <ul class="prefectures-menus">
      <% @prefectures.each do |prefecture| %>
        <% if prefecture.group != @x %>
          <h3 class="prefectures-sub-title"><%= prefecture.group %>エリア</h3>
          <li>
            <% if @path.is('users#index', 'users#top') %>
              <%= link_to prefecture.name, "/prefectures/#{prefecture.kana}" %>
            <% else %>
              <%= link_to prefecture.name, "/#{@event.ruby}/#{prefecture.kana}" %>
            <% end %>           
          </li> 
          <% @x = prefecture.group %>
          
        <% else %>
          <li>
            <% if @path.is('users#index', 'users#top') %>
              <%= link_to prefecture.name, "/prefectures/#{prefecture.kana}" %>
            <% else %>
              <%= link_to prefecture.name, "/#{@event.ruby}/#{prefecture.kana}" %>
            <% end %>           
          </li> 
        <% end %>
      <% end %> 
    </ul> 
  </div>

</div>




