      <% if @user.pic_header.present? %>
        <img src="<%= @user.pic_header.url %>" alt="プロフィール｜<%= @user.name %>" class="header_imege" />
      <% else %>
        <%= image_tag @user.pic_header.url , class:'header_imege' %>
      <% end %>

      <% if @user.pic_profile.present? %>
        <img src="<%= @user.pic_profile.url %>" alt="プロフィール｜<%= @user.name %>" class="profile_imege" />
      <% else %>
        <%= image_tag @user.pic_profile.url , class:'profile_imege' %>
      <% end %>


      <div class="data-box slide_content">
        <% if @user.event_id.present? %>
          <span class="data-r"><%= @user.event.name if @user.event_id? %></span>
        <% end %>
        <% if @user.prefecture_id.present? %>
          <span class="data-l"><%= @user.prefecture.name if @user.prefecture_id? %></span>
        <% end %>
        <% if @user.prefecture_sub_id.present? %>
          <span class="data-l"><%= @sub_prefecture.name %></span>
        <% end %>        
      </div>