- if @user.pic_header.present?
  .pop-box
    %label{:for => "popup-on_header"}
      %label{:for => "popup-on_header"}
        .btn-open_header
          = lazysizes_image_tag @user.pic_header.url, class:'header_imege', alt: "ヘッダー画像｜#{@user.name}"
      %input#popup-on_header{:type => "checkbox"}/
      .popup
        %label.icon-close_header{:for => "popup-on_header"} ×
        .popup-content
          = lazysizes_image_tag @user.pic_header.url, alt: "ヘッダー画像｜#{@user.name}"
        %label{:for => "popup-on_header"}
          .btn-close_header 閉じる
- else
  = lazysizes_image_tag @user.pic_header.url , class:'header_imege'

- if @user.pic_profile.present?
  .pop-box
    %label{:for => "popup-on_profile"}
      %label{:for => "popup-on_profile"}
        .btn-open_profile
          = lazysizes_image_tag @user.pic_profile.url, class:'profile_imege', alt: "プロフィール画像｜#{@user.name}"
      %input#popup-on_profile{:type => "checkbox"}/
      .popup
        %label.icon-close_profile{:for => "popup-on_profile"} ×
        .popup-content
          = lazysizes_image_tag @user.pic_profile.url, alt: "プロフィール画像｜#{@user.name}"
        %label{:for => "popup-on_profile"}
          .btn-close_profile 閉じる
- else
  = lazysizes_image_tag @user.pic_profile.url , class:'profile_imege'
.data-box.slide_content
  - if @user.event_id.present?
    %span.data-r= @user.event.name if @user.event_id?
  - if @user.prefecture_id.present?
    %span.data-l= @user.prefecture.name if @user.prefecture_id?
  - if @user.prefecture_sub_id.present?
    %span.data-l= @sub_prefecture.name
