<% if @questions.any? %>
<h2 class="user_sub_title"><i class="fa fa-comments "></i> 質問コーナー</h2>

  <% if @questions.count > 1 %>
    <ul class="user_slide_qa">
      <% @questions.first(5).each do |question| %>
        <li>
          <%= link_to "/users/#{@user.id}/questions/#{question.id}" do %>
            <div class="user_slide_qa_wrap">
              <div class="user_slide_qa_content_wrap">
                <h3><%= question.content %></h3>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <ul class="user_slide_qa qa_center">
      <% @questions.first(1).each do |question| %>
        <li>
          <%= link_to "/users/#{@user.id}/questions/#{question.id}" do %>
            <div class="user_slide_qa_wrap">
              <div class="user_slide_qa_content_wrap">
                <h3><%= question.content %></h3>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if AccountBlock.find_by(ip_address: request.remote_ip) %>
<% else %>
  <div class="user_qa_btn">
    <%= link_to  user_questions_path(@user) do %>
      <div class="contact-button qa_btn qa">
        <i class="fa fa-comments "></i> このサークルに質問する
      </div>
    <% end %>
  </div>
<% end %>
