<div class="search_wrap">	 

  <div class="search_select">

        <% if @path.is('users#index', 'users#top', 'users#search', 'tags#index') %>

        <select name="event_select" onChange="location.href=value;">
          <option value="#">サークル・チーム</option>
            <% @events.each do |event| %>
            <option value="/<%= event.ruby %>"><%= event.name %></option>
          <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#">都道府県</option>
            <% @prefectures.each do |prefecture| %>
            <% if prefecture.id != 50 %>
              <option value="/prefectures/<%= prefecture.kana %>"><%= prefecture.name %></option>
            <% end %>
          <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>


        <% elsif @path.is('users#event_prefecture_city', 'tags#event_prefecture_city') %>

          <div class="search_select_3">

        <select name="event_select" onChange="location.href=value;">
          <option value="#"><%= @event.name %></option>
            <% @events.each do |event| %>
              <% if event.ruby != @event.ruby %>
              <option value="/<%= event.ruby %>"><%= event.name %></option>
            <% end %>
          <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#"><%= @prefecture.name %></option>
            <% @prefectures.each do |prefecture| %>
            <% if prefecture.id != 50 %>
                <% if prefecture.kana != @prefecture.kana %>
                <option value="/<%= @event.ruby %>/<%= prefecture.kana %>"><%= prefecture.name %></option>
              <% end %>
            <% end %>
          <% end %>
        </select>

        <select name="city_select" onChange="location.href=value;">
          <option value="#"><%= @city.name %></option>
            <% @cities.each do |city| %>
            <% if city.city_kana != @city.city_kana %>
              <option value="/<%= @event.ruby %>/<%= @prefecture.kana %>/<%= city.city_kana %>"><%= city.name %></option>
            <% end %>
          <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>

      </div>



        <% elsif @path.is('users#event_prefecture', 'tags#event_prefecture') %>

          <div class="search_select_3">

        <select name="event_select" onChange="location.href=value;">
          <option value="#"><%= @event.name %></option>
            <% @events.each do |event| %>
              <% if event.ruby != @event.ruby %>
              <option value="/<%= event.ruby %>"><%= event.name %></option>
            <% end %>
          <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#"><%= @prefecture.name %></option>
            <% @prefectures.each do |prefecture| %>
            <% if prefecture.id != 50 %>
                <% if prefecture.kana != @prefecture.kana %>
                <option value="/<%= @event.ruby %>/<%= prefecture.kana %>"><%= prefecture.name %></option>
              <% end %>
            <% end %>
          <% end %>
        </select>

        <select name="city_select" onChange="location.href=value;">
          <option value="#">市区町村郡</option>
            <% @cities.each do |city| %>
            <option value="/<%= @event.ruby %>/<%= @prefecture.kana %>/<%= city.city_kana %>"><%= city.name %></option>
          <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>

      </div>




        <% elsif  @path.is('users#event', 'tags#event') %>

        <select name="event_select" onChange="location.href=value;">
          <option value="#"><%= @event.name %></option>
            <% @events.each do |event| %>
              <% if event.ruby != @event.ruby %>
              <option value="/<%= event.ruby %>"><%= event.name %></option>
            <% end %>
          <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#">都道府県</option>
            <% @prefectures.each do |prefecture| %>
            <% if prefecture.id != 50 %>
              <option value="/<%= @event.ruby %>/<%= prefecture.kana %>"><%= prefecture.name %></option>
            <% end %>
          <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>



    <% elsif @path.is('users#prefecture_city', 'tags#prefecture_city') %>


          <div class="search_select_3">

        <select name="event_select" onChange="location.href=value;">
          <option value="#">サークル</option>
            <% @events.each do |event| %>
            <option value="/<%= event.ruby %>/<%= @prefecture.kana %>/<%= @city.city_kana %>"><%= event.name %></option>
          <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#"><%= @prefecture.name %></option>
            <% @prefectures.each do |prefecture| %>
              <% if prefecture.id != 50 %>
                <% if prefecture.kana != @prefecture.kana %>
                <option value="/prefectures/<%= prefecture.kana %>"><%= prefecture.name %></option>
              <% end %>
            <% end %>
          <% end %>
        </select>

        <select name="city_select" onChange="location.href=value;">
          <option value="#"><%= @city.name %></option>
            <% @cities.each do |city| %>
            <% if city.city_kana != @city.city_kana %>
              <option value="/prefectures/<%= @prefecture.kana %>/<%= city.city_kana %>"><%= city.name %></option>
            <% end %>
          <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>

      </div>

        <% elsif @path.is('users#prefecture', 'tags#prefecture') %>

          <div class="search_select_3">

        <select name="event_select" onChange="location.href=value;">
          <option value="#">サークル</option>
            <% @events.each do |event| %>
            <option value="/<%= event.ruby %>/<%= @prefecture.kana %>"><%= event.name %></option>
          <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#"><%= @prefecture.name %></option>
            <% @prefectures.each do |prefecture| %>
              <% if prefecture.id != 50 %>
                <% if prefecture.kana != @prefecture.kana %>
                <option value="/prefectures/<%= prefecture.kana %>"><%= prefecture.name %></option>
              <% end %>
            <% end %>
          <% end %>
        </select>

        <select name="city_select" onChange="location.href=value;">
          <option value="#">市区町村郡</option>
            <% @cities.each do |city| %>
            <option value="/prefectures/<%= @prefecture.kana %>/<%= city.city_kana %>"><%= city.name %></option>
          <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>

      </div>

    <% else %>

    <% end %>


    </div>


  <hr>

  <div class="search_word">

    <%= form_tag('/users/search', method: :get, enforce_utf8: false) do %>
        <input id="page_name" name='kw' size="30" type="text" placeholder="<%= @search_word %>" value="<%= params[:kw] %>" class="search_area"/>
          <div class="search_icon">
            <%= submit_tag("検索", :name => nil) %>
        </div>
    <% end %>
    <div class="search_word_announce">※複数の単語はスペースで区切ってください</div>

  </div>


</div>


  <ul class="tag_list">
    <% if @path.is('users#index', 'users#top', 'users#search', 'tags#index') %>
      <% @tags.each do |tag| %>
        <% if tag.id == params[:id].to_i %>
          <li class="click_tag"><span class="hash_tag">＃</span><%= tag.name %></li>
        <% else %>
          <li><a href="/tag/<%= tag.id %>"><span class="hash_tag">＃</span><%= tag.name %></a></li>
        <% end %>
      <% end %>
    <% elsif @path.is('users#event_prefecture_city', 'tags#event_prefecture_city') %>
      <% @tags.each do |tag| %>
        <% if tag.id == params[:id].to_i %>
          <li class="click_tag"><span class="hash_tag">＃</span><%= tag.name %></li>
        <% else %>
          <li><a href="/<%= @event.ruby %>/<%= @prefecture.kana %>/<%= @city.city_kana %>/tag/<%= tag.id %>"><span class="hash_tag">＃</span><%= tag.name %></a></li>
        <% end %>
      <% end %>
    <% elsif @path.is('users#event_prefecture', 'tags#event_prefecture') %>
      <% @tags.each do |tag| %>
        <% if tag.id == params[:id].to_i %>
          <li class="click_tag"><span class="hash_tag">＃</span><%= tag.name %></li>
        <% else %>
          <li><a href="/<%= @event.ruby %>/<%= @prefecture.kana %>/tag/<%= tag.id %>"><span class="hash_tag">＃</span><%= tag.name %></a></li>
        <% end %>
      <% end %>
    <% elsif  @path.is('users#event', 'tags#event') %>
      <% @tags.each do |tag| %>
        <% if tag.id == params[:id].to_i %>
          <li class="click_tag"><span class="hash_tag">＃</span><%= tag.name %></li>
        <% else %>
          <li><a href="/<%= @event.ruby %>/tag/<%= tag.id %>"><span class="hash_tag">＃</span><%= tag.name %></a></li>
        <% end %>
      <% end %>
    <% elsif @path.is('users#prefecture_city', 'tags#prefecture_city') %>
      <% @tags.each do |tag| %>
        <% if tag.id == params[:id].to_i %>
          <li class="click_tag"><span class="hash_tag">＃</span><%= tag.name %></li>
        <% else %>
          <li><a href="/prefectures/<%= @prefecture.kana %>/<%= @city.city_kana %>/tag/<%= tag.id %>"><span class="hash_tag">＃</span><%= tag.name %></a></li>
        <% end %>
      <% end %>
    <% elsif @path.is('users#prefecture', 'tags#prefecture') %>
      <% @tags.each do |tag| %>
        <% if tag.id == params[:id].to_i %>
          <li class="click_tag"><span class="hash_tag">＃</span><%= tag.name %></li>
        <% else %>
          <li><a href="/prefectures/<%= @prefecture.kana %>/tag/<%= tag.id %>"><span class="hash_tag">＃</span><%= tag.name %></a></li>
        <% end %>
      <% end %>
    <% else %>

    <% end %>
  </ul>

<div class="sort_wrap">

  <% if controller.action_name != "search" %>

      <div class="sort_select">
        <% if params[:sort] == "1" || params[:sort] == nil %>
        <span class="sort_btn selected">関連順</span>
          <!-- <a href="<%= request.path %>?sort=2" ><span class="sort_btn">人気順</span></a> -->
          <a href="<%= request.path %>?sort=3" ><span class="sort_btn">新着順</span></a>
        <% elsif params[:sort] == "2" %>
        <a href="<%= request.path %>?sort=1" ><span class="sort_btn">関連順</span></a>
          <span class="sort_btn selected">人気順</span>
        <a href="<%= request.path %>?sort=3" ><span class="sort_btn">新着順</span></a>
        <% else params[:sort] == "3" %>
        <a href="<%= request.path %>?sort=1" ><span class="sort_btn">関連順</span></a>
        <!-- <a href="<%= request.path %>?sort=2" ><span class="sort_btn">人気順</span></a> -->
          <span class="sort_btn selected">新着順</span>
        <% end %>
      </div>

  <% else controller.action_name != "search" %>

      <div class="sort_select">
        <% if params[:sort] == "1" || params[:sort] == nil %>
        <span class="sort_btn selected">関連順</span>
          <!-- <a href="<%= request.path %>?kw=<%= params[:kw] %>&sort=2" ><span class="sort_btn">人気順</span></a> -->
          <a href="<%= request.path %>?kw=<%= params[:kw] %>&sort=3" ><span class="sort_btn">新着順</span></a>
        <% elsif params[:sort] == "2" %>
        <a href="<%= request.path %>?kw=<%= params[:kw] %>&sort=1" ><span class="sort_btn">関連順</span></a>
          <span class="sort_btn selected">人気順</span>
        <a href="<%= request.path %>?kw=<%= params[:kw] %>&sort=3" ><span class="sort_btn">新着順</span></a>
        <% else params[:sort] == "3" %>
        <a href="<%= request.path %>?kw=<%= params[:kw] %>&sort=1" ><span class="sort_btn">関連順</span></a>
        <!-- <a href="<%= request.path %>?kw=<%= params[:kw] %>&sort=2" ><span class="sort_btn">人気順</span></a> -->
          <span class="sort_btn selected">新着順</span>
        <% end %>
      </div>

  <% end %>

</div>



