<div class="search_wrap">
  <div class="search_word">

    <%= form_tag('/users/search', method: :get, enforce_utf8: false) do %>
        <input name='q' size="30" type="text" placeholder="<%= @search_word %>" value="<%= params[:q] %>" class="search_area change_font"/>
          <div class="search_icon">
            <%= submit_tag("検索", :name => nil) %>
        </div>
    <% end %>
    <div class="search_word_announce">※複数の単語はスペースで区切ってください</div>

  </div>

  <hr>


  <div class="search_select">

        <% if @path.is('users#index', 'users#top', 'users#search', 'tags#index') %>

        <select name="event_select" onChange="location.href=value;">
            <option value="#">サークル・チーム</option>
            <% @categories.each do |category| %>
              <optgroup label="<%= category.name %>">
                <% category.events.each do |event| %>
                  <option value="/<%= event.ruby %>"><%= event.name %></option>
                <% end %>
              </optgroup>
            <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#">都道府県</option>
            <% @prefectures.each do |prefecture| %>
              <option value="/prefectures/<%= prefecture.kana %>"><%= prefecture.name %></option>
            <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>


        <% elsif @path.is('users#event_prefecture_city', 'tags#event_prefecture_city') %>

          <div class="search_select_3">

        <select name="event_select" onChange="location.href=value;">
          <option value="#"><%= @event.name %></option>
          <% @categories.each do |category| %>
            <optgroup label="<%= category.name %>">
              <% category.events.each do |event| %>
                <% if event.ruby != @event.ruby %>
                  <option value="/<%= event.ruby %>"><%= event.name %></option>
                <% end %>
              <% end %>
            </optgroup>
          <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#"><%= @prefecture.name %></option>
            <% @prefectures.each do |prefecture| %>
              <% if prefecture.kana != @prefecture.kana %>
              <option value="/<%= @event.ruby %>/<%= prefecture.kana %>"><%= prefecture.name %></option>
            <% end %>
          <% end %>
        </select>

        <select name="city_select" onChange="location.href=value;">
          <option value="#"><%= @city.name %></option>
            <% @cities.each do |city| %>
            <% if city.city_kana != @city.city_kana %>
              <option value="/<%= @event.ruby %>/<%= @prefecture.kana %>/<%= city.city_kana %>"><%= city.name %></option>
            <% end %>
          <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>

      </div>



        <% elsif @path.is('users#event_prefecture', 'tags#event_prefecture') %>

          <div class="search_select_3">

        <select name="event_select" onChange="location.href=value;">
          <option value="#"><%= @event.name %></option>
          <% @categories.each do |category| %>
            <optgroup label="<%= category.name %>">
              <% category.events.each do |event| %>
                <% if event.ruby != @event.ruby %>
                  <option value="/<%= event.ruby %>"><%= event.name %></option>
                <% end %>
              <% end %>
            </optgroup>
          <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#"><%= @prefecture.name %></option>
            <% @prefectures.each do |prefecture| %>
              <% if prefecture.kana != @prefecture.kana %>
              <option value="/<%= @event.ruby %>/<%= prefecture.kana %>"><%= prefecture.name %></option>
            <% end %>
          <% end %>
        </select>

        <select name="city_select" onChange="location.href=value;">
          <option value="#">市区町村郡</option>
            <% @cities.each do |city| %>
            <option value="/<%= @event.ruby %>/<%= @prefecture.kana %>/<%= city.city_kana %>"><%= city.name %></option>
          <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>

      </div>




        <% elsif  @path.is('users#event', 'tags#event') %>

        <select name="event_select" onChange="location.href=value;">
          <option value="#"><%= @event.name %></option>
          <% @categories.each do |category| %>
            <optgroup label="<%= category.name %>">
              <% category.events.each do |event| %>
                <% if event.ruby != @event.ruby %>
                  <option value="/<%= event.ruby %>"><%= event.name %></option>
                <% end %>
              <% end %>
            </optgroup>
          <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#">都道府県</option>
            <% @prefectures.each do |prefecture| %>
              <option value="/<%= @event.ruby %>/<%= prefecture.kana %>"><%= prefecture.name %></option>
            <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>



    <% elsif @path.is('users#prefecture_city', 'tags#prefecture_city') %>


          <div class="search_select_3">

        <select name="event_select" onChange="location.href=value;">
          <option value="#">サークル</option>
          <% @categories.each do |category| %>
            <optgroup label="<%= category.name %>">
              <% category.events.each do |event| %>
                <option value="/<%= event.ruby %>/<%= @prefecture.kana %>/<%= @city.city_kana %>"><%= event.name %></option>
              <% end %>
            </optgroup>
          <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#"><%= @prefecture.name %></option>
            <% @prefectures.each do |prefecture| %>
              <% if prefecture.kana != @prefecture.kana %>
              <option value="/prefectures/<%= prefecture.kana %>"><%= prefecture.name %></option>
            <% end %>
          <% end %>
        </select>

        <select name="city_select" onChange="location.href=value;">
          <option value="#"><%= @city.name %></option>
            <% @cities.each do |city| %>
            <% if city.city_kana != @city.city_kana %>
              <option value="/prefectures/<%= @prefecture.kana %>/<%= city.city_kana %>"><%= city.name %></option>
            <% end %>
          <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>

      </div>

        <% elsif @path.is('users#prefecture', 'tags#prefecture') %>

          <div class="search_select_3">

        <select name="event_select" onChange="location.href=value;">
          <option value="#">サークル</option>
          <% @categories.each do |category| %>
            <optgroup label="<%= category.name %>">
              <% category.events.each do |event| %>
                <option value="/<%= event.ruby %>/<%= @prefecture.kana %>"><%= event.name %></option>
              <% end %>
            </optgroup>
          <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#"><%= @prefecture.name %></option>
            <% @prefectures.each do |prefecture| %>
              <% if prefecture.kana != @prefecture.kana %>
              <option value="/prefectures/<%= prefecture.kana %>"><%= prefecture.name %></option>
            <% end %>
          <% end %>
        </select>

        <select name="city_select" onChange="location.href=value;">
          <option value="#">市区町村郡</option>
            <% @cities.each do |city| %>
            <option value="/prefectures/<%= @prefecture.kana %>/<%= city.city_kana %>"><%= city.name %></option>
          <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>

      </div>

    <% else %>

    <% end %>


    </div>


</div>


<ul class="tab_list">

  <% if controller.action_name != "search" %>

        <% if params[:sort] == "1" || params[:sort] == nil %>
          <li class="list_item selected">標準</li>
          <a href="<%= request.path %>?sort=2" ><li class="list_item">人気順</li></a>
          <a href="<%= request.path %>?sort=3" ><li class="list_item">新着順</li></a>

        <% elsif params[:sort] == "2" %>
          <a href="<%= request.path %>?sort=1" ><li class="list_item">標準</li></a>
          <li class="list_item selected">人気順</li>
          <a href="<%= request.path %>?sort=3" ><li class="list_item">新着順</li></a>

        <% else params[:sort] == "3" %>
          <a href="<%= request.path %>?sort=1" ><li class="list_item">標準</li></a>
          <a href="<%= request.path %>?sort=2" ><li class="list_item">人気順</li></a>
          <li class="list_item selected">新着順</li>
        <% end %>

  <% else controller.action_name == "search" %>

        <% if params[:sort] == "1" || params[:sort] == nil %>
          <li class="list_item selected">標準</li>
          <a href="<%= request.path %>?q=<%= params[:q] %>&sort=2" ><li class="list_item">人気順</li></a>
          <a href="<%= request.path %>?q=<%= params[:q] %>&sort=3" ><li class="list_item">新着順</li></a>

        <% elsif params[:sort] == "2" %>
          <a href="<%= request.path %>?q=<%= params[:q] %>&sort=1" ><li class="list_item">標準</li></a>
          <li class="list_item selected">人気順</li>
          <a href="<%= request.path %>?q=<%= params[:q] %>&sort=3" ><li class="list_item">新着順</li></a>

        <% else params[:sort] == "3" %>
          <a href="<%= request.path %>?q=<%= params[:q] %>&sort=1" ><li class="list_item">標準</li></a>
          <a href="<%= request.path %>?q=<%= params[:q] %>&sort=2" ><li class="list_item">人気順</li></a>
          <li class="list_item selected">新着順</li>
        <% end %>

  <% end %>

</ul>