<% if admin_user_signed_in?  %>
  <div class="post_message">
      <%= link_to(user_path(@user)) do %>
        <%= lazysizes_image_tag @user.pic_profile.url , class:'post_image_icon' %>
      <% end %>

      <%= link_to(new_user_blog_path(@user)) do %>
        <div class="post_link">サークル活動をつぶやく！</div>
      <% end %>
  </div>
<% end %>

<ul>
  <% @users.each.with_index(1) do |user, i| %>

    <li class="user_item_wrap">

      <%= link_to(user_path(user.id)) do %>
        <div class="header_user_list ribbon-wrapper">
          <div class="header_img_wrap">
            <% if user.pic_header.present? %>
              <%= lazysizes_image_tag user.pic_header.url , class:'header_imege_user_list', alt: "プロフィール｜#{user.name}" %>
            <% else %>
              <%= lazysizes_image_tag user.pic_header.url , class:'header_imege_user_list' %>
            <% end %>
          </div>
          <div class="ribbon-content">
            <% if user.switch == "募集中" %>
              <span class="ribbon green"><%= user.switch %></span>
            <% else %>
              <span class="ribbon red"><%= user.switch %></span>
            <% end %>
          </div>
          <div class="tag_btn_list slide_content"></div>
          <%= lazysizes_image_tag user.pic_profile.url , class:'image_icon' %>
          <% if user.user_time.present? %>
            <div class="post-bottom user_updated">更新日：<%= user.user_time.to_time.strftime("%Y年%-m月%-d日") %></div>
          <% end %>
        </div>

        <div class="users-index-item user_list_wrap">

          <div class="user-content">
            <div class="user_list_wrapper">
              <div class="list_01">
                <h2 class="user_name"><%= user.name.truncate(24) %></h2>
                  <% if admin_user_signed_in? %>
                    <% if current_admin_user.id == 1 %>
                      【<%= user.impressionist_count %>】
                    <% end %>
                  <% end %>
              </div>
            </div>

            <div class="list_cnts">
              <div class="list_04 recruitment_txt">
                <span class="user_recruitment"><%= user.recruitment.truncate(110) %></span>
              </div>
              <% if user.reviews.present? %>
                <%= render "layouts/review_score", review_score: user.review_score.to_f, reviews_count: user.reviews.count %>
              <% end %>
              <div class="list_02">
                  <span class="user_schedule">
                    <i class="fa fa-tags icon_c"></i><%= user.event.txt %>
                  </span>
              </div>
              <div class="list_03">
                  <span class="user_area">
                    <i class="fa fa-map-marker icon_c"></i><%= user.prefecture.name %><% if user.prefecture_sub_id.present? %><% @prefectures.each do |sub_prefecture| %><% if user.prefecture_sub_id == sub_prefecture.id %>・<%= sub_prefecture.name %><% end %><% end %><% end %><%= "：" if user.area.present? %><%= user.area %>
                  </span>
              </div>
              <div class="list_02">
                  <span class="user_schedule">
                    <i class="fa fa-calendar icon_c"></i><%= user.schedule %>
                  </span>
                  <% if user.switch == "募集中" %>
                    <% @schedules.each do |schedule| %>
                      <% if schedule.user_id == user.id %>
                        <% if @count < 2 %>
                          <div class="text_slide user_item_schedule">
                            ・<%= Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>
                            <% if schedule.time_s.present? %>
                              <%= schedule.time_s.strftime('%-H:%M') %>-<%= schedule.time_e.strftime('%-H:%M') if schedule.time_e.present? %>
                            <% end %>
                            <%= schedule.venue %>
                          </div>
                        <% @count += 1 %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% @count = 0 %>
              </div>
            </div>

      <% end %>



        </div>
      </div>

      <div class="tag_list_wrap">
        <ul class="tag_list_content">
          <li>
            <%= link_to("/#{user.event.ruby}") do %>
              <%= user.event.name %>
            <% end %>
          </li>
          <li>
            <%= link_to("/#{user.event.ruby}/#{user.prefecture.kana}") do %>
              <%= user.prefecture.name %>
            <% end %>
          </li>
          <% if user.prefecture_sub_id.present? %>
          <li>
            <% @prefectures.each do |sub_prefecture| %>
              <% if user.prefecture_sub_id == sub_prefecture.id %>
                <%= link_to("/#{user.event.ruby}/#{sub_prefecture.kana}") do %>
                  <%= sub_prefecture.name %>
                <% end %>
              <% end %>
            <% end %>
          </li>
          <% end %>

        <ul>
      </div>

    </li>

    <% if i == 5 || i == 10 || i == 15 %>
      <div class="list_ad">
        <%= render "/layouts/ad_square" %>
      </div>
    <% end %>

  <% end %>
</ul>


<%= render "/layouts/ad_square" %>

<%= paginate @users %>

