<% @users.each do |user| %>

        
          <div class="users-index-item ribbon-wrapper">
            <div class="ribbon-content">
              <% if user.switch == "募集中" %>
                <span class="ribbon green"><%= user.switch %></span>
              <% else %>
                <span class="ribbon red"><%= user.switch %></span>
              <% end %>
            </div>

            <%= link_to("##{user.event.name}", "/events/#{user.event.ruby}", class: "tag_btn") %>　
            <%= link_to("##{user.prefecture.name}", "/prefectures/#{user.prefecture.kana}", class: "tag_btn") %>

            <%= link_to(user_path(user.id)) do %>  
            <div class="user-content">
              <%= image_tag user.pic_profile.url , class:'image_icon' %>

              <div class="list_wrapper">
                <div class="list_01">
                  <h2 class="user_name"><%= user.name %></h2>
                </div>

                <div class="list_02">
                  <span class="user_schedule">活動時間：<%= user.schedule %></span>
                </div>

                <div class="list_03">
                  <span class="user_area">活動場所：<%= user.area %></span>
                </div>
              </div>

              <div class="list_04">
                <h3 class="recruitment_title">こんな人を募集中です！</h3>
                <span class="user_recruitment"><%= user.recruitment %></span>
              </div>
   
            </div>
            <% end %>
          </div>
          

    <% end %>
    
    <%= paginate @users %>
