<% @users.each do |user| %>

        <%= link_to(user_path(user.id)) do %>
          <div class="users-index-item ribbon19-wrapper">
            <div class="ribbon19-content">
              <% if user.switch == "募集中" %>
                <span class="ribbon19 green"><%= user.switch %></span>
              <% else %>
                <span class="ribbon19 red"><%= user.switch %></span>
              <% end %>
              
            </div>
            <%= user.item %>／<%= user.prefecture.name if user.prefecture_id? %><br>                  
            <img src="<%= "/user_images/#{user.image_name}" %>" class="image_icon">
            サークル名：<%= user.name %> <br>
            活動時間：<%= user.schedule %> <br>
            活動場所：<%= user.area %> <br>
            こんな人を募集しています：<%= user.recruitment %> <br>
          </div>
        <% end %>

    <% end %>
    
    <%= paginate @users %>
