<ul class="user_slide_wrap">
  <% users.first(5).each do |user| %>
    <%= link_to(user_path(user.id)) do %>
      <li class="user_slide_list">
        <div class="user_list_header">
          <%= lazysizes_image_tag user.pic_profile.url , class:'image_icon' %>
          <h3 class="user_name"><%= user.name.truncate(20) %></h3>
        </div>
        <div class="clear"></div>
        <div class="list_02">
          <span class="user_area">
            <i class="fa fa-users "></i><%= user.event.name %>
          </span>
        </div>
        <div class="list_02">
          <span class="user_schedule">
            <i class="fa fa-calendar "></i><%= user.schedule %>
          </span>
        </div>
        <div class="list_03">
          <span class="user_area">
            <i class="fa fa-map-marker "></i><%= user.area %>
          </span>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>