

<% if admin_user_signed_in?  %>
  <div class="post_message">
      <%= link_to(user_path(current_admin_user)) do %>
        <%= image_tag @user.pic_profile.url , class:'post_image_icon' %>
       <% end %>

      <%= link_to(new_blog_path) do %>      
        <div class="post_link">サークル活動をつぶやく！</div>
      <% end %> 
  </div>
<% end %>


<% @result.each do |user| %>
   
          <div class="users-index-item ribbon-wrapper">
            <div class="ribbon-content">
              <% if user.switch == "募集中" %>
                <span class="ribbon green"><%= user.switch %></span>
              <% else %>
                <span class="ribbon red"><%= user.switch %></span>
              <% end %>
            </div>

            <%= link_to("##{user.event.name}", "/#{user.event.ruby}", class: "tag_btn") %>　
            <%= link_to("##{user.prefecture.name}", "/prefectures/#{user.prefecture.kana}", class: "tag_btn") %>

            <%= link_to(user_path(user.id)) do %>  
            <div class="user-content">
              <%= image_tag user.pic_profile.url , class:'image_icon' %>

              <div class="list_wrapper">
                <div class="list_01">
                  <h2 class="user_name"><%= user.name %></h2>
                </div>

                <div class="list_02">
                  <span class="user_schedule">
                    <i class="fa fa-calendar "></i><%= user.schedule %>
                  </span>
                </div>

                <div class="list_03">
                  <span class="user_area">
                    <i class="fa fa-map-marker "></i><%= user.area %>
                  </span>
                </div>
              </div>

              <div class="list_04">
                <span class="user_recruitment"><%= user.recruitment.truncate(110) %></span>
              </div>


              <% if user.switch == "募集中" %>

                <% @schedules.each do |schedule| %>

                    <% if schedule.user_id == user.id %>
                      <% if @count == 0 %>
                        <h3 class="schedule_t"><i class="fa fa-calendar "></i> 次回の開催予定</h3>
                      <% end %>

                      <% if @count < 2 %>

                        <%= Time.parse(schedule.day).strftime("%-m/%-d(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>
                        <%= schedule.venue %>
                        <br>

                      <% @count += 1 %>

                      <% end %>
                    <% end %>

                <% end %>   

              <% end %> 
              <% @count = 0 %>


            </div>
            <% end %>


            <% user.blogs.last(1).each do |blog| %> 
             
              <% if blog.title.present? %>
                <div class="border"></div>

                <%= link_to(blog_path(blog.id)) do %>
                  <div class="blog_link">
                    <div class="catch_image"><%= image_tag blog.image_01.url , class:'post_image' %></div>   
                    <h3 class="post_title"><%= blog.title.truncate(36) %></h3>
                  </div>
                <% end %> 

              <% end %>            
                      
            <% end %>



          </div>         

<% end %>


<%= render "/layouts/ad_square" %>
    
<%= paginate @users %>
