<% set_meta_tags noindex: true %>

<div class="main users-edit">
  <div class="container">
    <div class="form users-form">

      <div class="form-body cont-body">
      	<% if @user.errors.any? %>
	          <div class="form-error">
              以下の項目でエラーが発生いたしました。<br>
              ※原因不明の場合は空欄でご登録ください
	          </div>
		<% end %>
 
        <% @user.errors.full_messages.each do |message| %>
            <div class="form-error_message">
              ・<%= message %>
            </div>
        <% end %>

      <%= form_for @user do |f| %>

	     <div class="p_t">サークルの新規追加</div>


	    <div class="img_field_profile_wrap">

			<p>プロフィール画像</p>
			<div id="img_field_header" onClick="$('#file_header').click()" >
			    <% if @user.pic_header.present? %>
			      <%= image_tag(@user.pic_header.url) %>
			    <% else %>
			      <i class="fa fa-image"></i>
			    <% end %>
			</div>
			<%= f.file_field :pic_header, class: "image", style: "display:none;", id: "file_header"%>


			<div id="img_field_profile" onClick="$('#file_profile').click()" >
			    <% if @user.pic_profile.present? %>
			      <%= image_tag(@user.pic_profile.url) %>
			    <% else %>
			      <i class="fa fa-image"></i>
			    <% end %>
			</div>
			<%= f.file_field :pic_profile, class: "image", style: "display:none;", id: "file_profile"%>

			<div class="file_size_p">※10MB以下のjpgかpngのみ対応</div>

		</div>

		<div class="img_field_profile_space"></div>

        <p>サークル名<span class="must_red">(必須)</span></p>
        <%= f.text_field :name, class: 'form-control change_font', placeholder: "サークルブック" %>

	    <p>新規メンバーの募集<span class="must_red">(必須)</span></p>
	    <%= f.select :switch, [ ['募集中','募集中'], ['受付終了','受付終了'] ], 
	    :prompt => "選択してください" %>

	    <p>サークル種目<span class="must_red">(必須)</span></p>	    
	    <%= f.collection_select :event_id, Event.all.order(:order => :asc), :id, :name, :prompt => "選択してください" %>

	    <p>メインの活動エリア<span class="must_red">(必須)</span>（例：東京都）</p>
	    <%= f.collection_select :prefecture_id, Prefecture.all.order(:order => :asc), :id, :name, :prompt => "選択してください" %>

	    <p>サブの活動エリア（例：神奈川県）</p>
	    <%= f.collection_select :prefecture_sub_id, Prefecture.all.order(:order => :asc), :id, :name, :include_blank => true %>	

	    <p>活動時間</p>
	    <%= f.text_field :schedule, class: 'form-control', placeholder: "月曜日 18〜20時" %>

	    <p>活動場所</p>
	    <%= f.text_field :area, class: 'form-control', placeholder: "世田谷区周辺" %>

	    <p>こんな人を探しています</p>
	    <%= f.text_field :recruitment, class: 'form-control', placeholder: "初心者・経験者でもOKです！" %>

	    <p>現在の構成メンバー</p>
	    <%= f.text_field :member, class: 'form-control', placeholder: "10名程" %>

		<div class="edit01_warp">
			<span class="edit01_subtitle">年齢層</span>
		    <div class="check_boxes">
		   		<%= f.collection_check_boxes(:age_ids, Age.all, :id, :name) %>
		    </div>
		</div>

		<div class="edit01_warp">
			<span class="edit01_subtitle">募集内容</span>
		    <div class="check_boxes">
		   		<%= f.collection_check_boxes(:group_ids, Group.all.order(:id => :asc), :id, :name) %>
		    </div>
		</div>

	    <p>会費・費用</p>
	    <%= f.text_field :cost, class: 'form-control', placeholder: "500円" %>

	    <p>サークル目標</p>
	    <%= f.text_field :goal, class: 'form-control', placeholder: "ゆくる、楽しく活動をする！" %>

	    <p>LINEビジネス（LINE@）／LINEのURL</p>
	    <a href="/line" target="_blank" class="line_id"> >>30秒で作れるLINEアカウントの追加方法</a>
	    <%= f.text_field :line_id, class: 'form-control', placeholder: "http://nav.cx/3JiS9Im" %>

		<% if @user.line_id.present? %>
		    <p>連絡方法</p>
		    <%= f.select :contact, [ ['メール＆LINE','both'], ['LINEのみ','line'] , ['メールのみ','mail'] ] %>
	    <% end %>

		<div class="edit01_warp">
			<span class="edit01_subtitle">SNS</span>

		<div class="sns_form">
		    <p>Twitter ID</p>
		    <div class="sns_input">
		    	<span class="atmark">@</span><%= f.text_field :twitter, class: 'form-control', placeholder: "circle_book_" %>
		    </div>
		</div>

		<div class="sns_form">
		    <p>Instagram ID</p>
		    <div class="sns_input">
			    <span class="atmark">@</span><%= f.text_field :instagram, class: 'form-control', placeholder: "circlebook47" %>
			</div>
		</div>

		</div>

		<div class="reset"></div>


	    <p>ホームページ</p>
	    <%= f.text_field :web, class: 'form-control', placeholder: "https://www.circle-book.com/" %>

		<div class="edit01_warp">
			<span class="edit01_subtitle">サークル画像（最大4枚）</span>

			<div class="file_upload_wrap">
	        	<span class="file_size">※10MB以下のjpgかpngのみ対応</span>
		       	<div class="img_field_gallery_wrap">

					    <div id="img_field_01" onClick="$('#file_01').click()" >
					        <% if @user.gallery_01.present? %>
					          <%= image_tag(@user.gallery_01.url) %>
					        <% else %>
					          <i class="fa fa-image"></i>
					        <% end %>
					    </div>
					    <%= f.file_field :gallery_01, class: "image", style: "display:none;", id: "file_01"%>


					    <div id="img_field_02" onClick="$('#file_02').click()" >
					        <% if @user.gallery_02.present? %>
					          <%= image_tag(@user.gallery_02.url) %>
					        <% else %>
					          <i class="fa fa-image"></i>
					        <% end %>
					    </div>
					    <%= f.file_field :gallery_02, class: "image", style: "display:none;", id: "file_02"%>


					    <div id="img_field_03" onClick="$('#file_03').click()" >
					        <% if @user.gallery_03.present? %>
					          <%= image_tag(@user.gallery_03.url) %>
					        <% else %>
					          <i class="fa fa-image"></i>
					        <% end %>
					    </div>
					    <%= f.file_field :gallery_03, class: "image", style: "display:none;", id: "file_03"%>


					    <div id="img_field_04" onClick="$('#file_04').click()" >
					        <% if @user.gallery_04.present? %>
					          <%= image_tag(@user.gallery_04.url) %>
					        <% else %>
					          <i class="fa fa-image"></i>
					        <% end %>
					    </div>
					    <%= f.file_field :gallery_04, class: "image", style: "display:none;", id: "file_04"%>

			   	</div>
			</div>
		</div>

	    <p>サークルの詳細情報</p>
	    <%= f.text_area :appeal, class: 'form-control', placeholder: "サークルブックは週１回、都内で活動しています！&#13;&#10;興味がある人は気軽にご連絡ください！".html_safe %>


        <%= f.submit "更新する" %>

      <% end %>


      </div>
    </div>
  </div>
</div>