<% set_meta_tags noindex: true %>
<div class="main">
  <div class="container">
    <amp-img class="imege_title"
      src="/images/top.png"
      width="450px"
      height="130px"
      layout="responsive"
      object-fit="cover">
    </amp-img>
  <h1 class="users-heading">
    <amp-img class="img_logo_title"
      src="/images/logo.png"
      alt="サークルブック"
      width="200"
      height="41"
      object-fit="cover">
    </amp-img>
  </h1>
    <div class="users-txt">
      あなたにピッタリの<br>
      サークルやチーム、団体が見つかる！！
		</div>

	<%
=begin%>
 <%= render "/users/search.html.erb" %>

	<div class="search_area">
    <%= render "events_list.html.erb" %>

    <%= render "prefectures_list.html.erb" %>
	</div>
<%
=end%>

<% if request.format == :amp %>
    <%= render "amp_users_list.html.erb" %>
<% else %>
    <%= render "users_list.html.erb" %>
<% end %>


  </div>
</div>