<% set_meta_tags noindex: true %>
<div class="main">
  <div class="container">
  <img class="imege_title" src="/images/top.png">
  <h1 class="users-heading"><img class="img_logo_title" src="/images/logo.png" alt="サークルブック"></h1>
    <div class="users-txt">
      あなたにピッタリの<br>
      サークルやチーム、団体が見つかる！！
		</div>

	<%
=begin%>
 <%= render "/users/search.html.erb" %>

	<div class="search_area">
    <%= render "events_list.html.erb" %>

    <%= render "prefectures_list.html.erb" %>
	</div>
<%
=end%>

<% if request.format == :amp %>
    <%= render "amp_users_list.html.erb" %>
<% else %>
    <%= render "users_list.html.erb" %>
<% end %>


  </div>
</div>