<div class="main users-index">
  <div class="container">

	  	<div class="users-index-item">

	  		<%= render "/schedules/profile" %>


			<div class="contact_sample_wrap">
				
				<div class="contact_t_wrap"><span class="contact_s_t">件名：</span>お問い合わせ時のサンプル</div>

				<div class="contact_sample">
					<div class="copyTarget">
					<%= @user.name %>さん<br>
					<br>
					はじめまして、サークルブックを見てご連絡しました○○です。<br>
					<br>
					--------------------------------------<br>
					名前： 例）サークルブック<br>
					性別： 例）男<br>
					年代： 例）30代<br>
					経歴： 例）バスケ歴　3年<br>
					--------------------------------------<br>
					<br>
					社会人になってから運動しておらず、久々にバスケがしたいと思い、ご連絡しました！<br>
					よろしくお願いいたします！
					
					</div>
				</div>

			</div>

			<button class="copyBtn"><div class="requirement_copy"><i class="fa fa-copy "></i> テンプレをコピーする</div></button>




				<div class="contact_wrap">

					<% if params[:count] == "line" || params[:count] == "line_b" || params[:count] == "line_s" %>

						<a href="<%= @user.line_id %>">
							<div class="contact-button line">LINEでお問い合わせをする！</div>
						</a>
						

				  	<% elsif params[:count] == "mail" || params[:count] == "mail_b" || params[:count] == "mail_s"%>
						
						<a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">
							<div class="contact-button mail">メールでお問い合わせをする！</div>
						</a>
						
				  	<% else %>


				  	<% end %>

				 </div>

		
	
	  	</div>

	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>	  	

  </div>
</div>