<div class="main users-index">
  <div class="container">

	  	<div class="users-index-item">

	     	<div class="p_t">お問い合わせページ</div>

			<div class="schedule_profile_wrap">

			  <%= link_to(user_path(@user.id)) do %>  
			    <div class="user-content">
			      <%= image_tag @user.pic_profile.url , class:'image_icon' %>

			      <div class="list_wrapper contact_name_wrap">
			        <div class="list_01">
			          <h2 class="user_name"><%= @user.name %></h2>
			        </div>

			      </div>
			    </div>  

			  <% end %>

			  <div class="reset"></div>

			</div>


			<% if admin_user_signed_in? %>
				<% if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1 %>
					<div class="template_wrap">
						<div class="template_title">▼ お問い合わせテンプレの内容修正</div>
					    <%= form_for @user,:url => {controller: "users", action: "update_contact"} do |f| %>

				   			<%= f.text_area :template, class: 'form-control' %>

					        <%= f.submit "更新する" %>

					        <div class="reset"></div>

					    <% end %>
					</div>
				<% end %>
			<% end %>


			<% if @user.switch == "募集中" %>


				<!-- LINE -->
				<% if @user.contact == "line" && @user.line_id.present? %>

						<span class="contact_memo">
							下のテンプレをコピーすると、<br>
							お問い合わせが簡単にできます！
						</span>

						<div class="contact_sample_wrap">
							
							<div class="contact_t_wrap"><span class="contact_s_t">件名：</span>お問い合わせのテンプレ</div>

							<div class="contact_sample">
								<div class="copyTarget">
									<p><%= @user.name %> さん<br></p>

									<p>
									はじめまして。<br>
									サークルブックを見てご連絡しました！<br>
									</p>

									--------------------------------------<br>
									▼ ご回答ください
									<%= simple_format @user.template %>
									--------------------------------------
									
									<p>
									<%= @user.name %>さんの活動に興味があります！<br>
									よろしくお願いします。
									</p>
								
								</div>
							</div>

						</div>

						<button class="copyBtn copy_txt"><div class="requirement_copy"><i class="fa fa-copy "></i> テンプレをコピーする</div></button>


						<div class="cta_wrap contact_space">
							<a href="<%= @user.line_id %>">
								<div class="cta_100 line"><i class="fa fa-comment "></i> LINEでお問い合わせをする！</div>
							</a>
						</div>



				<!-- LINE + mail -->
				<% elsif @user.contact == "both" && @user.line_id.present? %>


					<div class="tab_wrap">

						<div class="tab-wrap">
						    <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">メール</label>
						    <div class="tab-content">

							    <div class="contact_form form">

							        <%= form_for ([@user, @user_contact]) do |f| %>

							        	<div class="field">
									    	<p>メールアドレス<span class="must_red">(必須)</span></p>
									    	<span class="cautions">必ず受信できるアドレスをご記入ください</span>
								    		<%= f.text_field :mail, class: 'form-control', placeholder: "circlebook47@gmail.com" %>
										</div>

							        	<div class="field">
									    <p>お問い合わせ内容</p>
								            <%= f.text_area :message, class: 'form-control form-note', placeholder: "お名前などをご記入ください" %> 
								        </div>
								        <div class="warning_txt">※送信完了に少し時間がかかります</div>

							       		<%= f.submit "送信する", data: { disable_with: '送信中...' } %>

							        	<div class="reset"></div>

							        <% end %>

							    </div>



						    </div>
						    <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">LINE</label>
						    <div class="tab-content">


								<span class="contact_memo">
									下のテンプレをコピーすると、<br>
									お問い合わせが簡単にできます！
								</span>

								<div class="contact_sample_wrap">
									
									<div class="contact_t_wrap"><span class="contact_s_t">件名：</span>お問い合わせのテンプレ</div>

									<div class="contact_sample">
										<div class="copyTarget">
											<p><%= @user.name %> さん<br></p>

											<p>
											はじめまして。<br>
											サークルブックを見てご連絡しました！<br>
											</p>

											--------------------------------------<br>
											▼ ご回答ください
											<%= simple_format @user.template %>
											--------------------------------------
											
											<p>
											<%= @user.name %>さんの活動に興味があります！<br>
											よろしくお願いします。
											</p>
										
										</div>
									</div>

								</div>

								<button class="copyBtn copy_txt"><div class="requirement_copy"><i class="fa fa-copy "></i> テンプレをコピーする</div></button>

									<div class="cta_wrap contact_space">
										<a href="<%= @user.line_id %>">
											<div class="cta_100 line"><i class="fa fa-comment "></i> LINEでお問い合わせをする！</div>
										</a>
									</div>


						    </div>
						</div>

					</div>


				<!-- mail -->
				<% else %>

				    <div class="contact_form form">

				        <%= form_for ([@user, @user_contact]) do |f| %>

				        	<div class="field">
						    	<p>メールアドレス<span class="must_red">(必須)</span></p>
						    	<span class="cautions">必ず受信できるアドレスをご記入ください</span>   	
					    		<%= f.text_field :mail, class: 'form-control', placeholder: "circlebook47@gmail.com" %>
							</div>

				        	<div class="field">
						    <p>お問い合わせ内容</p>
					            <%= f.text_area :message, class: 'form-control form-note', placeholder: "お名前などをご記入ください" %> 
					        </div>
					        <div class="warning_txt">※送信完了に少し時間がかかります</div>

				       		<%= f.submit "送信する", data: { disable_with: '送信中...' } %>

				        	<div class="reset"></div>

				        <% end %>

				    </div>

				<% end %>


			<% else %>
				<div class="stop_match">
					<%= @user.name %>は現在<br>
					新規メンバーの募集を終了しております。
					<%= link_to ">> 他のサークルを探す", users_path, class: "other_match" %>
				</div>
			<% end %>




			<div class="contact_bottom"></div>
	
		</div>

	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>	  	

  </div>
</div>