<div class="main users-index">
  <div class="container">

	  	<div class="users-index-item">

	  		<%= render "/schedules/profile" %>


				<div class="contact_wrap">

					<% if params[:count] == "line" || params[:count] == "line_b" || params[:count] == "line_s" %>

						<a href="<%= @user.line_id %>">
							<div class="contact-button line">LINEで相談する</div>
						</a>
						

				  	<% elsif params[:count] == "mail" || params[:count] == "mail_b" || params[:count] == "mail_s"%>
						
						<a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">
							<div class="contact-button mail">メールで相談する</div>
						</a>
						
				  	<% else %>


				  	<% end %>

				 </div>

		
			

	
	  	</div>

  </div>
</div>