<% set_meta_tags noindex: true %>

<div class="main users-edit">
  <div class="container">
    <div class="form users-form">
      <%= render "users/parts/step_bar" %>

      <div class="form-body cont-body">

        <% if @admin_user.errors.any? %>
          <div class="form-error">
            以下の項目でエラーが発生いたしました。<br>
          </div>
        <% end %>

        <% @admin_user.errors.full_messages.each do |message| %>
          <div class="form-error_message">
            ・<%= message %>
          </div>
        <% end %>

      <div class="member_profile_edit">
        <%= form_for @admin_user,:url => {controller: "users", action: "update3"} do |f| %>

          <div class="label_item">プロフィール公開</div>
          <div class="radio_button">
            <%= f.radio_button :open, 1, {:checked => true} %>公開 <%= f.radio_button :open, 2 %>非公開
          </div>

          <div class="label_item">プロフィール画像</div>
          <br>※10MB以下のjpgかpngのみ対応

          <div id="img_field_profile" onClick="$('#file_profile').click()" >
            <% if @admin_user.image_profile.present? %>
              <%= image_tag(@admin_user.image_profile.url) %>
            <% else %>
              <i class="fa fa-image"></i>
            <% end %>
          </div>

          <%= f.file_field :image_profile, class: "image", style: "display:none;", id: "file_profile"%>

          <div class="label_item"><span class="label label_danger">必須</span>ニックネーム</div>
          <%= f.text_field :nickname, class: 'form-control', placeholder: "サークルブック" %>

          <% if @admin_user.gender.blank? %>
            <div class="label_item">性別</div>
            <br>※登録後、変更はできません
            <div class="radio_button">
              <%= f.radio_button :gender, 1 %>男性 <%= f.radio_button :gender, 2 %>女性 <%= f.radio_button :gender, 0 %>その他
            </div>
          <% end %>

          <div class="label_item">年代</div>
          <%= f.select :age,
            [["10代", "10代"], ["20代", "20代"], ["30代", "30代"], ["40代", "40代"], ["50代", "50代"], ["60代以上", "60代以上"]],
          :prompt => "選択してください" %>


          <div class="label_item">お住まい</div>
          <%= f.collection_select :prefecture_id, Prefecture.where.not(id: 50).order(:order => :asc), :id, :name, :prompt => "選択してください" %>


          <div class="label_item">自己紹介</div>
          <%= f.text_area :profile, class: 'form-control text_area_s', placeholder: "運動をするのが好きです！".html_safe %>

          <%= f.submit "更新する", data: { disable_with: '更新中...' } %>


        <% end %>
      </div>






      </div>
    </div>
  </div>
</div>