<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body cont-body">
      	<% if @user.errors.any? %>
	          <div class="form-error">
              以下の項目でエラーが発生いたしました。<br>
	          </div>
		<% end %>

          <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
              ・<%= message %>
            </div>
          <% end %>


      <%= form_for @user do |f| %>

        <p>サークル名<span class="must_red">(必須)</span></p>
        <%= f.text_field :name, class: 'form-control', placeholder: "サークルブック" %>

        <p>アイコン画像</p>
        <span class="file_size">※10MB以下のjpgかpngのみ対応<br>※iPhoneのheicデータには非対応</span>
	    <%= f.file_field :pic_profile %>
	
        <p>カバー写真／ヘッダー画像</p>
	    <%= f.file_field :pic_header %>

	    <p>LINE@／LINEの"URL"</p>
	    <a href="/line" target="_blank" class="line_id"> >>30秒で作れるLINEアカウントの追加方法</a>
	    <%= f.text_field :line_id, class: 'form-control', placeholder: "http://nav.cx/3JiS9Im" %>
	    
	    <p>募集状況<span class="must_red">(必須)</span></p>
	    <%= f.select :switch, [ ['募集中','募集中'], ['受付終了','受付終了'] ], 
	    :prompt => "選択してください" %>

	    <p>サークル種目<span class="must_red">(必須)</span></p>	    
	    <%= f.collection_select :event_id, Event.all.order(:order => :asc), :id, :name, :prompt => "選択してください" %>

	    <p>都道府県<span class="must_red">(必須)</span></p>	    
	    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, :prompt => "選択してください" %>

	    <p>活動場所</p>
	    <%= f.text_field :area, class: 'form-control', placeholder: "世田谷区周辺" %>

	    <p>活動時間</p>
	    <%= f.text_field :schedule, class: 'form-control', placeholder: "月曜日 18〜20時" %>

	    <p>こんな人を探しています</p>
	    <%= f.text_field :recruitment, class: 'form-control', placeholder: "初心者・経験者でもOKです！一緒にサークルブックを盛り上げていきましょう！" %>

	    <p>構成メンバー</p>
	    <%= f.text_field :member, class: 'form-control', placeholder: "10名程" %>

	    <p>年齢層</p>
	    <div class="check_boxes">
	   		<%= f.collection_check_boxes(:average_age, Age.all, :name, :name, 
	   		checked: @user.average_age,include_hidden: false) %>
	    </div>

	    <p>募集・歓迎</p>
	    <div class="check_boxes">
	   		<%= f.collection_check_boxes(:grouping, Group.all.order(:id => :asc), :name, :name, 
	   		checked: @user.grouping,include_hidden: false) %>
	    </div>

	    <p>会費・費用</p>
	    <%= f.text_field :cost, class: 'form-control', placeholder: "500円" %>

	    <p>サークル目標</p>
	    <%= f.text_field :goal, class: 'form-control', placeholder: "ゆくる、楽しく活動をする！" %>

	    <p>ホームページ／SNS</p>
	    <%= f.text_field :web, class: 'form-control', placeholder: "https://www.circle-book.com/" %>

	    <p>アピール・注意事項</p>
	    <%= f.text_area :appeal, class: 'form-control', placeholder: "サークルブックは週１回、都内で活動しています！興味がある人は気軽にご連絡ください！" %>

		<br>
	    <p>ギャラリー画像の追加（No.1〜4）</p>
        <span class="file_size">※10MB以下のjpgかpngのみ対応<br>※iPhoneのheicデータには非対応</span>
       	<%= f.file_field :gallery_01 %>
	   	<%= f.file_field :gallery_02 %>
	    <%= f.file_field :gallery_03 %>
	   	<%= f.file_field :gallery_04 %>

        <%= f.submit "更新する" %>

      <% end %>


      </div>
    </div>
  </div>
</div>