<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
	      <% @user.errors.full_messages.each do |message| %>
	          <div class="form-error">
	            <%= message %>
	          </div>
	      <% end %>

      <%= form_for @user do |f| %>

        <p>サークル名※</p>
        <%= f.text_field :name, class: 'form-control'%>

        <p>アイコン画像</p>
	    <%= f.file_field :pic_profile %>
	
        <p>ヘッダー画像</p>
	    <%= f.file_field :pic_header %>

	    <p>LINE@／LINE ID</p>
	    <%= f.text_field :line_id, class: 'form-control'%>
	    
	    <p>募集状況※</p>
	    <%= f.select :switch, [ ['募集中','募集中'], ['受付終了','受付終了'] ], 
	    :prompt => "選択してください" %>

	    <p>サークル種目※</p>	    
	    <%= f.collection_select :event_id, Event.all, :id, :name %>

	    <p>都道府県※</p>	    
	    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>

	    <p>活動場所</p>
	    <%= f.text_field :area, class: 'form-control'%>

	    <p>活動時間</p>
	    <%= f.text_field :schedule, class: 'form-control'%>

	    <p>募集年齢</p>
	    <%= f.text_field :age, class: 'form-control'%>

	    <p>こんな人を探しています</p>
	    <%= f.text_field :recruitment, class: 'form-control'%>

	    <p>サークル設立</p>
	    <%= f.text_field :foundation, class: 'form-control'%>

	    <p>構成メンバー</p>
	    <%= f.text_field :member, class: 'form-control'%>

	    <p>平均年齢</p>
	    <div class="check_boxes">
	   		<%= f.collection_check_boxes(:average_age, Age.all, :decade, :name, 
	   		checked: @user.average_age,include_hidden: false) %>

	    </div>

	    <p>会費・費用</p>
	    <%= f.text_field :cost, class: 'form-control'%>

	    <p>サークル目標</p>
	    <%= f.text_field :goal, class: 'form-control'%>

	    <p>ホームページ／SNS</p>
	    <%= f.text_field :web, class: 'form-control'%>

	    <p>アピール・注意事項</p>
	    <%= f.text_area :appeal, class: 'form-control'%>

        <%= f.submit "更新する" %>

      <% end %>


      </div>
    </div>
  </div>
</div>