<% set_meta_tags noindex: true %>

<div class="main users-edit">
  <div class="container">
    <div class="form users-form">

      <div class="form-body cont-body">
        <% if @user.errors.any? %>
          <div class="form-error">
            以下の項目でエラーが発生いたしました。<br>
            ※原因不明の場合は空欄でご登録ください
          </div>
        <% end %>

        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error_message">
            ・<%= message %>
          </div>
        <% end %>

        <%= form_for @user,:url => {controller: "users", action: "update2"} do |f| %>

          <div class="p_t">サークル内容の編集</div>

          <div class="check_boxes_advice_wrap">
            該当項目を選択すると<br>
            検索にヒットする確率がアップします！
          </div>


            <div class="form users-form new_link_form">

              <%= f.fields_for :link do |fin| %>

                <p class="text_s">
                  アカウントID（半角英数字：4文字〜16文字以内）<br>
                  ※記号などは使用できません
                </p>
                <%= fin.text_field :unique_id, class: 'form-control', placeholder: "circlebook" %>
                <p>アカウントIDはURLに使用されます。<br>
                あとで変更はできません。</p>

              <% end %>

            </div>

          <div class="edit02_warp">
            <span class="edit02_subtitle">カテゴリー</span>
            <div class="check_boxes">
              <%= f.collection_check_boxes(:tag_ids, @tags, :id, :name) %>
            </div>
          </div>

          <div class="edit02_warp">
            <span class="edit02_subtitle">活動エリア（<%= @prefecture.name %>）</span>
            <div class="check_boxes">
              <%= f.collection_check_boxes(:city_ids, @cities, :id, :name) %>
            </div>
          </div>

          <% if @user.prefecture_sub_id.present? %>
            <% if @user.prefecture_sub_id != 50 %>
              <div class="edit02_warp">
                <span class="edit02_subtitle">活動エリア（<%= @sub_prefecture.name %>）</span>
                <div class="check_boxes">
                  <%= f.collection_check_boxes(:city_ids, @sub_cities, :id, :name) %>
                </div>
              </div>
            <% end %>
          <% end %>

          <%= f.submit "更新する", data: { disable_with: '更新中...' } %>

        <% end %>


      </div>
    </div>
  </div>
</div>