<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】メンバー募集中の#{@event.name}サークル！",
                  description: "新しいメンバーを募集中の#{@event.name}サークルです！社会人や学生、初心者、経験者でもOKです！応募するのに会員登録は不要！｜サークルブックは、クラブやチームメンバーを募集するSNSです！",

              og: { 
                image: "/images/events/e_ogp_#{@event.ruby}.ogp"
              }
%>


<div class="main users-index">
  <div class="container">
 	<%= render "/layouts/breadcrumb" %>

		<div class="e_header_wrap">
			<img src="/images/events/e_icon_<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
			<div class="link_txt">
				<h1 class="e_header_title"><%= @event.name %>の<br>サークル一覧</h1>
			</div>
		</div>

	<% if @hit != 0 %>
		<div class="search_area">
		    <%= render "prefectures_list.html.erb" %>
		</div>
	<% end %>

	<% if @hit == 0 %>
		<%= render "/users/no_hit.html.erb" %>
		
		<h2 class="users-heading">全国のサークル一覧</h2>
	<% end %>

    <%= render "users_list.html.erb" %>

  </div>
</div>