<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】#{@prefecture.name}の#{@event.name}サークル！メンバー募集中です！",
                  description: "【登録不要・無料で使える！】#{@prefecture.name}で活動している#{@event.name}サークル！メンバー募集中です！社会人や学生、初心者、経験者など、誰でも参加可能！完全無料でサークル参加、メンバーの募集が簡単にできます！",
                 keywords: "#{@event.name},#{@prefecture.name},サークル,チーム,募集",

              og: {
                image:image_url("/images/events/e_ogp_#{@event.ruby}.png")
              }

 %>

<div class="main users-index">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>

    <div class="e_header_wrap">
      <img src="/images/events/e_icon_<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
      <div class="link_txt">
        <h1 class="e_header_title">
          <%= @prefecture.name %>で活動している<br>
          <%= @event.name %>の<br>サークル一覧
        </h1>
      </div>
    </div>

  <% if @users.count != 0 %>
    <div class="search_area">
        <%= render "ages_list.html.erb" %>

        <%= render "groups_list.html.erb" %>
    </div>

        <%= render "/users/users_list.html.erb" %>
  <% else @users.count == 0 %>
    <%= render "/users/no_hit.html.erb" %>
	<% end %>
 
  
  </div>
</div>