<% set_meta_tags title: "#{@prefecture.name}で活動している#{@event.name}のサークル一覧" %>

<div class="main users-index">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>
    <h1 class="users-heading">
    	<%= @prefecture.name %>で活動している<br>
    	<%= @event.name %>のサークル一覧
    </h1>

  <% if @hit != 0 %>
    <div class="search_area">
        <%= render "ages_list.html.erb" %>
    </div>
  <% end %>

	<% if @hit == 0 %>
		<div class="no_hit">該当サークルがありません</div>
		<img class="imege_sorry" src="/images/sorry.png">
		
		<h2 class="users-heading">全国のサークル一覧</h2>
	<% end %>
 
    <%= render "/users/users_list.html.erb" %>
  
  </div>
</div>