<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】#{@prefecture.name}の#{@event.txt}｜メンバー募集サイト",
                   keywords: "#{@event.name},#{@prefecture.name},サークル,チーム",
              og: {
                image:image_url("/images/events/e_ogp_#{@event.ruby}.png")
              }

 %>

<div class="main users-index">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>

    <div class="e_header_wrap">
      <img src="/images/events/e_icon_<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
      <div class="link_txt">
        <h1 class="e_header_title">
          <%= @prefecture.name %>で活動している<br>
          メンバー募集中の<br>
          <%= @event.txt %>の一覧
        </h1>
      </div>
    </div>

  <% if @users.count != 0 %>
    <div class="search_area">

      <%= render "/users/search.html.erb" %>

      <%= render "/users/cities_list.html.erb" %>

    </div>

    <%= render "/users/users_list.html.erb" %>

  <% else @users.count == 0 %>
    <%= render "/users/no_hit.html.erb" %>
	<% end %>
 
  
  </div>
</div>