<% set_meta_tags title: "#{@prefecture.name}で活動している#{@event.name}の#{@group.name}サークル一覧",

              og: {
                image:image_url("/images/events/e_ogp_#{@event.ruby}.ogp")
              }

 %>

<div class="main users-index">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>

    <div class="e_header_wrap">
      <img src="/images/events/e_icon_<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
      <div class="link_txt">
        <h1 class="e_header_title">
          【<%= @group.name %> 歓迎！】<br>
          <%= @prefecture.name %>で活動している<br>
          <%= @event.name %>のサークル一覧
        </h1>
      </div>
    </div>

	<% if @hit == 0 %>
		<%= render "/users/no_hit.html.erb" %>
		
		<h2 class="users-heading">全国のサークル一覧</h2>
	<% end %>
 
    <%= render "/users/users_list.html.erb" %>
  
  </div>
</div>