<% set_meta_tags title: "全国のサークル一覧" %>
<div class="main users-index">
  <div class="container">
     
    <%= render "/layouts/breadcrumb" %>
    <h1 class="users-heading">全国のサークル一覧</h1>


<!-- 追加 -->
	    <%= render "/users/search.html.erb" %>
<!-- 追加 -->


	<div class="search_area">
	    <%= render "events_list.html.erb" %>

	    <%= render "prefectures_list.html.erb" %>
	</div>


<!-- 修正 -->
	<% if @result.count == 0 %>

		<%= render "/users/no_hit.html.erb" %>
		
		<h2 class="users-heading">全国のサークル一覧</h2>
	    <%= render "/users/users_list_all.html.erb" %>

	<% else %>    
		<%= render "users_list.html.erb" %>
	<% end %>	
<!-- 修正 -->



  </div>
</div>