<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】メンバー募集中の全国のサークル一覧" %>
<div class="main users-index">
  <div class="container">
    <img class="imege_title" src="/images/top.png">
    <h1 class="users-heading">サークル検索</h1>
	    <div class="users-txt">
		        <% if admin_user_signed_in?  %>
		        	<%= link_to("活動ブログ", new_blog_path ) %>を投稿すると<br>
		        	サークルの掲載順位が上がります！
		        
		        <% else %>
		    		サークルメンバー募集SNS<br>
		    		LINEやメールで直接連絡ができます！
		        <% end %>
		</div>

	<%= render "/users/search.html.erb" %>

	<div class="search_area">
	    <%= render "events_list.html.erb" %>

	    <%= render "prefectures_list.html.erb" %>
	</div>


	<% if @users.count == 0 %>

		<%= render "/users/no_hit.html.erb" %>
		
		<h2 class="users-heading">全国のサークル一覧</h2>
	    <%= render "/users/users_list_all.html.erb" %>

	<% else %>    
		<%= render "users_list.html.erb" %>
	<% end %>	



  </div>
</div>