<% set_meta_tags title: "全国のサークル一覧" %>
<div class="main users-index">
  <div class="container">
     
    <%= render "/layouts/breadcrumb" %>
    <h1 class="users-heading">全国のサークル一覧</h1>




		<!-- 追加 -->
<%= search_form_for @search, enforce_utf8: false do |f| %>
 
	<%= f.label :name_cont, "Name" %>
 	<%= f.search_field :name_or_recruitment_cont %>
	 
	<%= f.submit "Search" %>

<% end %>
		<!-- 追加 -->



	<div class="search_area">
	    <%= render "events_list.html.erb" %>

	    <%= render "prefectures_list.html.erb" %>
	</div>

		<%= render "users_list.html.erb" %>


  </div>
</div>