<% set_meta_tags noindex: true,
				title: "マイページ"
%>

<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>
    
    <%= render "/users/openchat" %>


	<div class="mypage_wrap">

	<div class="p_t">マイページ</div>

  		<%= render "/users/analytics" %>
	
		<div class="icon_wrap">

			<%= link_to user_path(@user), class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_01.png">
					</div>

					<div class="icon_txt">
						サークル確認
					</div>
				</div>
			<% end %>

			<%= link_to edit_user_path(@user), class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_02.png">
					</div>

					<div class="icon_txt">
						サークル編集
					</div>
				</div>
			<% end %>

			<%= link_to user_schedules_path(@user), class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_08.png">
					</div>

					<div class="icon_txt">
						スケジュール管理
					</div>
				</div>
			<% end %>



		</div>


		<div class="icon_wrap">

			<%= link_to new_blog_path, class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_03.png">
					</div>

					<div class="icon_txt">
						ブログ投稿
					</div>
				</div>
			<% end %>

			<%= link_to user_collections_path(@user), class: "icon_cont" do %>
				<div class="mark-cont">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_05.png">
					</div>

					<div class="icon_txt">
						集金管理ツール
					</div>
				</div>
			<% end %>

			<%= link_to user_questions_path(@user), class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
		                <% if @questions_current.count < 3 || @questions_current_nil.count >= 1 %>
		                	<div class="notice_icon">
		                <% else %>
		                	<div class="nil">            
		                <% end %>	
							<img class="icon_size" src="/images/icon/icon_06.png">
						</div>
					</div>

					<div class="icon_txt">
							質問コーナー
					</div>
				</div>
			<% end %>

		</div>


		<div class="icon_wrap">

			<%= link_to "/users", class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_07.png">
					</div>

					<div class="icon_txt">
						サークル検索
					</div>
				</div>
			<% end %>

			<%= link_to "/blogs", class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_09.png">
					</div>

					<div class="icon_txt">
						ブログ検索
					</div>
				</div>
			<% end %>

		</div>



	</div>


<%= render "/layouts/ad_square" %>
<div class="ad_space"></div>


  </div>
</div>

