<% set_meta_tags noindex: true,
				title: "マイページ"
%>

<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>

	<div class="mypage_wrap">
	
		<div class="icon_wrap">

			<%= link_to "/", class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_01.png">
					</div>

					<div class="icon_txt">
						サークル確認
					</div>
				</div>
			<% end %>

			<%= link_to "/", class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_02.png">
					</div>

					<div class="icon_txt">
						サークル編集
					</div>
				</div>
			<% end %>

			<%= link_to "/", class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_08.png">
					</div>

					<div class="icon_txt">
						スケジュール管理
					</div>
				</div>
			<% end %>



		</div>


		<div class="icon_wrap">

			<%= link_to "/", class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_03.png">
					</div>

					<div class="icon_txt">
						ブログ投稿
					</div>
				</div>
			<% end %>

			<%= link_to "/", class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_05.png">
					</div>

					<div class="icon_txt">
						集金管理アプリ
					</div>
				</div>
			<% end %>

			<%= link_to "/", class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_06.png">
					</div>

					<div class="icon_txt">
						質問コーナー
					</div>
				</div>
			<% end %>

		</div>


		<div class="icon_wrap">

			<%= link_to "/", class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_07.png">
					</div>

					<div class="icon_txt">
						サークル検索
					</div>
				</div>
			<% end %>

			<%= link_to "/", class: "icon_cont" do %>
				<div class="">
					<div class="icon_img">
						<img class="icon_size" src="/images/icon/icon_09.png">
					</div>

					<div class="icon_txt">
						ブログ検索
					</div>
				</div>
			<% end %>

		</div>


<br>
アクセス解析<br>
オープンチャット




	</div>

  </div>
</div>

