<% if @group.name == "社会人" %>
	<% set_meta_tags title: "#{@prefecture.name}で活動している#{@group.name}サークル一覧" %>
<% else %>
	<% set_meta_tags title: "【#{@group.name} 歓迎！】#{@prefecture.name}のサークル一覧" %>
<% end %>


<div class="main users-index">
  <div class="container">
 	<%= render "/layouts/breadcrumb" %>
    <h1 class="users-heading">
		<% if @group.name == "社会人" %>
		    <%= @prefecture.name %>で活動している<br>
		    <%= @group.name %>サークル一覧
		<% else %>
			<%= @group.name %> 歓迎！<br>
		    <%= @prefecture.name %>のサークル一覧
		<% end %>
    </h1>

	<% if @users.count != 0 %>
		<div class="search_area">
	    	<%= render "events_list.html.erb" %>
		</div>

		<%= render "users_list.html.erb" %>

	<% else @users.count == 0 %>
		<%= render "/users/no_hit.html.erb" %>
	<% end %>


    
  </div>
</div>