<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】#{@prefecture.name}#{@city.name}のサークルやチーム、団体の一覧｜メンバー募集サイト",
                   keywords: "#{@prefecture.name},#{@city.name},サークル,チーム,団体"
 %>

<div class="main users-index">
  <div class="container">
  <%= render "/layouts/breadcrumb" %>

    <div class="e_header_wrap">
      <img src="/images/top.png" >
      <div class="link_txt">
        <h1 class="e_header_title">
              <%= @prefecture.name %><%= @city.name %>で活動している<br>
              メンバー募集中の<br>
              サークルやチーム、クラブ、団体
        </h1>
      </div>
    </div>

  <% if @users.count != 0 %>
    <div class="search_area">
      <%= render "/users/search.html.erb" %>

        <%= render "events_list.html.erb" %>
    </div>

    <%= render "users_list.html.erb" %>

  <% else @users.count == 0 %>
    <%= render "/users/no_hit.html.erb" %>
  <% end %>


    
  </div>
</div>