<% if @user.pic_profile.present? %>
	<% set_meta_tags title: "#{@user.name}｜#{@user.prefecture.name}の#{@user.event.txt}",
    description: "#{@user.prefecture.name}で活動している#{@user.event.txt}の【#{@user.name}】です！新しいメンバーを募集中！#{@user.recruitment}｜サークルブックは、サークルやチームメンバーを募集するサイトです！",
    keywords: "#{@user.event.name},#{@user.prefecture.name},サークル,チーム,募集",
    og: {
      title: "#{@user.name}｜#{@user.prefecture.name}で活動している#{@user.event.txt}｜サークルブック",
      description: "#{@user.prefecture.name}で活動している#{@user.event.txt}｜#{@user.name}",
      image: @user.pic_profile.url
    }
	%>

<% elsif @user.pic_header.present? %>
	<% set_meta_tags title: "#{@user.name}｜#{@user.prefecture.name}の#{@user.event.txt}",
    description: "#{@user.prefecture.name}で活動している#{@user.event.txt}の【#{@user.name}】です！新しいメンバーを募集中！#{@user.recruitment}｜サークルブックは、サークルやチームメンバーを募集するサイトです！",
    keywords: "#{@user.event.name},#{@user.prefecture.name},サークル,チーム,募集",
    og: {
      title: "#{@user.name}｜#{@user.prefecture.name}で活動している#{@user.event.txt}｜サークルブック",
      description: "#{@user.prefecture.name}で活動している#{@user.event.txt}｜#{@user.name}",
      image: @user.pic_header.url
    }
	%>

<% else %>
	<% set_meta_tags title: "#{@user.name}｜#{@user.prefecture.name}の#{@user.event.txt}",
    description: "#{@user.prefecture.name}で活動している#{@user.event.txt}の【#{@user.name}】です！新しいメンバーを募集中！#{@user.recruitment}｜サークルブックは、クラブやチームメンバーを募集するSNSです！", 
    keywords: "#{@user.event.name},#{@user.prefecture.name},サークル,チーム,募集",
    og: {
      title: "#{@user.name}｜#{@user.prefecture.name}で活動している#{@user.event.txt}｜サークルブック",
      description: "#{@user.prefecture.name}で活動している#{@user.event.txt}｜#{@user.name}",
      image: image_url("/images/events/#{@user.event.ruby}.jpg")
    }
	%>
<% end %>

<%= render "users/parts/local_business_show", user: @user %>


  <div class="user_main user-show">
    <div class="container">


    <div class="user-profile">
      <div class="header-wrapper ribbon-wrapper">
        <div class="ribbon-content">
          <% if @user.switch == "募集中" %>
            <span class="ribbon green"><%= @user.switch %></span>
          <% else %>
            <span class="ribbon red"><%= @user.switch %></span>
          <% end %>
        </div>
        <%= render "/users/profile" %>
        <div class="contact_area">
          <div class="share_btn_tw btn_tw_space">
            <%= render "/users/share_tw.html.erb" %>
          </div>
          <% if admin_user_signed_in? %>
              <% if @user.admin_user_id == current_admin_user.id %>
                  <%= link_to edit_user_path(@user), data: {"turbolinks" => false} do %>
                    <div class="contact-button edit">プロフィール編集</div>
                  <% end %>
              <% else %>
                <% if @user.switch == "募集中" %>
                  <%= render "/users/contact_icon" %>
                <% else %>
                    <div class="contact-button end">募集終了</div>
                <% end %>
              <% end %>
          <% else %>
            <% if @user.switch == "募集中" %>
              <%= render "/users/contact_icon" %>
            <% else %>
                <div class="contact-button end">募集終了</div>
            <% end %>
            <%= render 'bookmarks/bookmark_area', user: @user %>
          <% end %>
        </div>
      </div>


      <div class="profile-content">
        <% if @user.user_time.present? %>
          <div class="post-bottom u_right">更新日：<%= @user.user_time.to_time.strftime("%Y年%-m月%-d日") %></div>

          <% if @user.user_time.to_time <= Time.current.ago(1.years) %>
            <div class="attention_content"><i class="fa fa-warning "></i> このサークルは1年以上更新されていません。</div>
          <% end %>

        <% else %>
          <div class="attention_content"><i class="fa fa-warning "></i> このサークルは1年以上更新されていません。</div>
        <% end %>


        <%= render "users/parts/admin_user_check", admin_user: @user.admin_user %>


        <h1 class="user_name"><%= @user.name %></h1>

        <% if admin_user_signed_in? %>
          <% if current_admin_user.id == 1 %>
            <div class="admin_area">
              <div class="admin_edit"><%= link_to("編集", edit_user_path, data: {"turbolinks" => false}) %></div>
              <div class="admin_delete"><%= link_to( "削除", user_path, method: :delete, data: {confirm: "このサークルを削除しますか？"}) %></div>
            </div>

          <% if @admin_user.users.count > 1 %>
            <div class="admin_user_list">
              <% @admin_user.users.each do |user| %>
                <ul>
                  <% if user.id != @user.id %>
                    <li>● <%= link_to(user.name,"/users/#{user.id}") %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>


          <% end %>
        <% end %>
        <div class="content_01"></div>
        <div class="content_02">
          <div class="user_schedule slide_content">
            <i class="fa fa-tags "></i><%= @user.event.txt %>
          </div>
          <% if @user.schedule.present? %>
            <div class="user_schedule slide_content">
              <i class="fa fa-calendar "></i><%= @user.schedule %>
            </div>
          <% end %>
          <div class="user_area slide_content">
            <% if @user.prefecture_id.present? %>
              <i class="fa fa-map-marker "></i><%= @user.prefecture.name %><% if @user.prefecture_sub_id.present? %>・<%= @sub_prefecture.name %><% end %><%= "：" if @user.area.present? %><%= @user.area %>
            <% end %>
          </div>
          <% if @user_cities.present? %>
            <%= render "/users/breadcrumb_city" %>
          <% end %>

        </div>

        <div class="content_03"><%= @user.recruitment %></div>

        <% if admin_user_signed_in? %>
          <% if @user.id == current_admin_user.id  %>
            <%= link_to(user_schedules_path(@user.id)) do %>
              <div class="schedule_add_btn">活動スケジュールを追加する</div>
            <% end %>
          <% end %>
        <% end %>

        <%= render "/users/gallery" %>
        <div class="border"></div>
        <div class="article_item article_padding">
          <table>
            <tbody>
              <tr class="flex_contents">
                <th class="flex_list">メンバー</th>
                <td class="flex_list"><%= @user.member %></td>
              </tr>
              <tr class="flex_contents">
                <th class="flex_list">年齢層</th>
                <% if @user.age_ids.present? %>
                  <td class="flex_list">
                    <% @user_ages.sort.each do |user_age| %>
                      <%= user_age.name %>
                    <% end %>
                  </td>
                <% else %>
                  <td class="flex_list"><%= @user.average_age %></td>
                <% end %>
              </tr>
              <tr class="flex_contents">
                <th class="flex_list">募集中</th>
                <% if @user.group_ids.present? %>
                  <td class="flex_list">
                    <% @user_groups.sort.each do |user_group| %>
                      <%= user_group.name %>
                    <% end %>
                  </td>
                <% else %>
                  <td class="flex_list"><%= @user.grouping %></td>
                <% end %>
              </tr>
              <tr class="flex_contents">
                <th class="flex_list">費用</th>
                <td class="flex_list"><%= @user.cost %></td>
              </tr>
              <tr class="flex_contents">
                <th class="flex_list">目標</th>
                <td class="flex_list"><%= @user.goal %></td>
              </tr>
              <% if @user.match.present? %>
                <% if @user.match.recruit == "募集中" %>
                  <tr class="flex_contents">
                    <th class="flex_list">練習試合</th>
                    <td class="flex_list txt_s"><%= link_to ">> 練習試合の募集ページ", match_path(@user.match.id) %></td>
                  </tr>
                <% end %>
              <% end %>
              <% if @user.twitter.present? || @user.instagram.present? %>
                <tr class="flex_contents">
                  <th class="flex_list">SNS</th>
                  <td class="flex_list">
                    <% if @user.twitter.present? %>
                      <a href="https://twitter.com/<%= @user.twitter %>" rel=”nofollow”>
                        <span class="sns_link twitter_link"><i class="fa fa-twitter-square "></i> Twitter</span>
                      </a>
                    <% end %>
                    <% if @user.instagram.present? %>
                      <a href="https://www.instagram.com/<%= @user.instagram %>" rel=”nofollow”>
                        <span class="sns_link instagram_link"><i class="fa fa-instagram "></i> Instagram</span>
                      </a>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <tr class="flex_contents">
                <th class="flex_list">口コミ</th>
                <td class="flex_list">
                  <div class="star_review">
                    <%= link_to user_reviews_path(@user) do %>
                      <%= render "layouts/review_score", review_score: @user.review_score.to_f, reviews_count: @user.reviews.count %>
                    <% end %>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <% if @user.link.present? %>
          <% if @user.link.link02_url.present? %>
            <div class="content_08"><i class="fa fa-chain "></i><a href="https://www.circle-book.com/link/<%= @user.link.unique_id %>"> circle-book.com/link/<%= @user.link.unique_id %></a></div>
            <div class="border"></div>
          <% end %>
        <% end %>

        <% if @user.web.present? %>
          <div class="content_08"><i class="fa fa-chain "></i><a href="<%= @user.web %>" rel=”nofollow”> <%= @user.web %></a></div>
          <div class="border"></div>
        <% end %>

      <div class="user_show_tag_list">
        <%= render "/users/parts/tag_list", user: @user %>
      </div>

        <% if @schedules.present? %>
          <h2 class="user_sub_title"><i class="fa fa-calendar "></i> 活動スケジュール</h2>
          <div class="profile_list_p">
          <% @schedules.first(7).each do |schedule| %>
              <% if schedule.present? %>
                <%= link_to(user_schedules_path(@user.id)) do %>
                  <div class="text_slide">
                    ・<%= Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>
                <% if schedule.time_s.present? %>
                    <%= schedule.time_s.strftime('%H:%M') %>-<%= schedule.time_e.strftime('%H:%M') if schedule.time_e.present? %>
                <% end %>
                    <%= schedule.venue %>
                  </div>
                <% end %>
              <% end %>
          <% end %>

            <% if admin_user_signed_in? %>
              <% if @user.id != current_admin_user.id  %>
                <%= link_to(user_schedules_path(@user.id)) do %>
                  <div class="schedule_index_btn"><i class="fa fa-calendar "></i> スケジュールの詳細を見る</div>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to(user_schedules_path(@user.id)) do %>
                <div class="schedule_index_btn"><i class="fa fa-calendar "></i> スケジュールの詳細を見る</div>
              <% end %>
            <% end %>
          </div>
          <div class="border"></div>
        <% end %>

        <% if @user.appeal.present? %>
          <div class="profile_list_t p_t_t"></div>
          <h2 class="user_sub_title"><i class="fa fa-book "></i> サークルの詳細内容</h2>
            <% if @user.appeal.include?("<div>") %>
              <div class="profile_list_p profile_list_a rich_text_sub">
                <%= raw Rinku.auto_link(sanitize @user.appeal, tags: %w(p a br strong ul li div), attributes:  %w(id class href)) %>
              </div>
            <% else %>
              <div class="profile_list_p profile_list_a">
                <%= raw Rinku.auto_link(simple_format @user.appeal) %>
              </div>
            <% end %>
          <div class="border"></div>
        <% end %>

        <% if @user.admin_user.open == 1 && @user.admin_user.nickname.present? %>
          <h2 class="user_sub_title"><i class="fa fa-book "></i> 主催者のプロフィール</h2>

          <div class="review_contents">
            <div class="review_l">
                <% if @user.admin_user.image_profile.present? %>
                  <%= lazysizes_image_tag @user.admin_user.image_profile.url , class:'member_icon' %>
                <% else %>
                  <% if @user.admin_user.gender == "1" %>
                    <img src="/images/icon/icon_member_blue.png" class="member_icon">
                  <% elsif @user.admin_user.gender == "2" %>
                    <img src="/images/icon/icon_member_pink.png" class="member_icon">
                  <% else %>
                    <img src="/images/icon/icon_member.png" class="member_icon">
                  <% end %>
                <% end %>
            </div>

            <div class="review_r">
              <div class="speech_title">
                <%= @user.admin_user.nickname  %>
                <div class="btm_content">
                    <% if @user.admin_user.gender == "1" %>
                      男性
                    <% elsif @user.admin_user.gender == "2" %>
                      女性
                    <% elsif @user.admin_user.gender == "0" %>
                      その他
                    <% else %>
                    <% end %>
                    <%= @user.admin_user.age %>
                </div>
              </div>

              <div class="speech_bubble">
                <%= simple_format @user.admin_user.profile %>
              </div>

            </div>
          </div>

          <div class="reset"></div>

          <div class="border"></div>
        <% end %>


        <% if @user.switch == "募集中" %>
          <%= render "/users/contact_btn" %>
          <div class="border"></div>
        <% end %>

        <% if @user.reviews.any? %>
          <h2 class="user_sub_title"><i class="fa fa-smile-o "></i> 口コミ・評価</h2>
          <%= render "/users/reviews" %>
          <div class="border"></div>
        <% else %>
          <h2 class="user_sub_title"><i class="fa fa-smile-o "></i> 口コミ・評価</h2>
          <div class="review_sub_title">口コミがまだ投稿されていません。</div>
          <div class="new_review_comment">
            このサークルに参加されたことがある方は<br>
            最初の口コミを投稿してみませんか？
          </div>
          <div class="review_link_b"><%= link_to ">>口コミ投稿",user_reviews_path(@user) %></div>
          <div class="border"></div>
        <% end %>
        <%= render "/users/question_card" %>
        <% if @user.switch == "募集中" %>
          <div class="border"></div>
          <%= render "/users/contact_btn" %>
        <% end %>
      </div>
    </div>

  <%= render "/layouts/ad_square" %>
  <div class="ad_space"></div>

    <% if @blogs.any? %>
      <% @blogs.first(5).each do |blog| %>
        <%= link_to(user_blog_path(blog.user_id, blog.id)) do %>
          <div class="form users-form">
              <div class="form-body">
                <div class="header-post cont-width">
                <%= lazysizes_image_tag @user.pic_profile.url , class:'content_icon' %>
                <div class="post-user_wrap">
                  <div class="post-user">
                    <div class="post-top"><%= @user.name.truncate(40) %></div>
                    <div class="post-bottom"><%= blog.created_at.strftime("%Y年%-m月%-d日 %H:%M") %></div>
                  </div>
                </div>
              </div>
              <div class="">
                <% if blog.image_01.present? %>
                  <% if blog.image_02.blank? && blog.image_03.blank? && blog.image_04.blank? %>
                    <%= lazysizes_image_tag blog.image_01.url , class:'content_image_one' %>
                  <% else %>
                    <div class="swiper-container">
                      <div class="swiper-wrapper">
                        <% if blog.image_01.present? %><div class="swiper-slide"><%= lazysizes_image_tag blog.image_01.url , class:'content_image' %></div><% end %>
                        <% if blog.image_02.present? %><div class="swiper-slide"><%= lazysizes_image_tag blog.image_02.url , class:'content_image' %></div><% end %>
                        <% if blog.image_03.present? %><div class="swiper-slide"><%= lazysizes_image_tag blog.image_03.url , class:'content_image' %></div><% end %>
                        <% if blog.image_04.present? %><div class="swiper-slide"><%= lazysizes_image_tag blog.image_04.url , class:'content_image' %></div><% end %>
                      </div>
                      <!-- Add Pagination -->
                      <div class="pagination-wrap">
                        <div class="swiper-pagination"></div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <div class="cont-width">
                  <h3 class="blog_title"><%= blog.title %></h3>
                    <div class="rich_text_main">
                      <% if blog.content.include?("<div>") %>
                        <%= sanitize blog.content.truncate(140), tags: %w(p br h1 strong ul li div), attributes:  %w(id class href) %>
                      <% else %>
                        <%= simple_format blog.content.truncate(140) %>
                      <% end %>
                    </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>


    <% if @users.count >= 1 %>
      <div class="user-list-wrap">
        <h2 class="others-user">条件が似ている<%= @user.event.name if @user.event_id? %>サークル</h2>
          <% @users.first(5).each do |user| %>
          <%= link_to(user_path(user.id)) do %>
            <div class="user_list">
              <div class="user-content">
                <div class="user_list_header">
                  <%= lazysizes_image_tag user.pic_profile.url , class:'image_icon' %>
                  <h3 class="user_name"><%= user.name.truncate(20) %></h3>
                </div>
                  <div class="list_02">
                    <span class="user_schedule">
                      <i class="fa fa-calendar "></i><%= user.schedule %>
                    </span>
                  </div>
                  <div class="list_03">
                    <span class="user_area">
                      <i class="fa fa-map-marker "></i><%= user.area %>
                    </span>
                  </div>
            </div>
            </div>
          <% end %>
        <% end %>
          <% if @users.count > 5 %>
            <div class="more_link">
              <%= link_to "/#{@user.event.ruby}/#{@user.prefecture.kana}" do %>
                >> 他のサークルをもっと見る
              <% end %>
            </div>
          <% end %>
      </div>
    <% end %>

    <% if @blogs.count >= 3 || @users.count >= 3 %>
      <%= render "/layouts/ad_square" %>
      <div class="ad_space"></div>
    <% end %>

    <div class="space_btm"></div>

    </div>
  </div>
