	<% set_meta_tags title: @user.name,
					 description: @user.appeal, 
					og: { image: @user.pic_header.url } 
	%>

<div class="main user-show">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>

    
	<div class="user-profile">
		<div class="header-wrapper ribbon-wrapper">
            <div class="ribbon-content">
              <% if @user.switch == "募集中" %>
                <span class="ribbon green"><%= @user.switch %></span>
              <% else %>
                <span class="ribbon red"><%= @user.switch %></span>
              <% end %>
            </div>	
		<%= image_tag @user.pic_header.url , class:'header_imege' %>
		<%= image_tag @user.pic_profile.url , class:'profile_imege' %>
			<div class="data-box">
				<% if @user.event_id.present? %>
					<span class="data-r"><%= @user.event.name if @user.event_id? %></span>
				<% end %>
				<% if @user.prefecture_id.present? %>
					<span class="data-l"><%= @user.prefecture.name if @user.prefecture_id? %></span>
				<% end %>
			</div>

			<% if admin_user_signed_in? %>

					<% if @user.id == current_admin_user.id %>
						<div class="contact-button edit"><%= link_to("プロフィールの編集", edit_user_path) %></div>
					<% else %>
						<% if @user.line_id != "" %>
							<div class="contact-button line"><a href="<%= @user.line_id %>">LINEで連絡する</a></div>
						<% else %>
							<div class="contact-button mail"><a href="mailto:<%= @data.email %>">メールで連絡する</a></div>
						<% end %>
					<% end %>

					<% if current_admin_user.id == 1 %>
						<div class="admin_edit"><%= link_to("編集", edit_user_path) %></div>
					<% end %>

			<% else %>	
			
					<% if @user.line_id != "" %>
						<div class="contact-button line"><a href="<%= @user.line_id %>">LINEで連絡する</a></div>
					<% else %>
						<div class="contact-button mail"><a href="mailto:<%= @data.email %>">メールで連絡する</a></div>
					<% end %>			 

			<% end %> 

		</div>


		<div class="profile-content">
			<h1 class="user_name"><%= @user.name %></h1>
			<div class="content_01">		
			
			</div>
			<div class="content_02">
                  <div class="user_schedule">
                    <i class="fa fa-calendar "></i><%= @user.schedule %>
                  </div>

                  <div class="user_area">
                    <i class="fa fa-map-marker "></i><%= @user.area %>
                  </div>

			</div>

			<div class="content_03"><%= @user.recruitment %></div>

			<div class="border"></div>

			<div class="article_item article_padding">
				<table>
					<tbody>
					<tr class="flex_contents">
						<th class="flex_list">メンバー</th>
						<td class="flex_list"><%= @user.member %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">年齢層</th>
						<td class="flex_list"><%= @user.average_age %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">募集中</th>
						<td class="flex_list"><%= @user.grouping %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">費用</th>
						<td class="flex_list"><%= @user.cost %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">目標</th>
						<td class="flex_list"><%= @user.goal %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">アピール<br>注意事項</th>
						<td class="flex_list"><%= raw Rinku.auto_link(simple_format @user.appeal) %></td>
					</tr>
					</tbody>
				</table>
			</div>			

			<div class="content_08"><i class="fa fa-chain "></i><a href="<%= @user.web %>"> <%= @user.web %></div>			

		</div>
	</div>


	<% if @user.blogs.any? %>
	<% @user.blogs.reverse_each do |blog| %>
		<%= link_to(blog_path(blog.id)) do %>
			<div class="form users-form">
			    <div class="form-body">

				    <div class="header-post">
						<%= image_tag @user.pic_profile.url , class:'content_icon' %>

						<div class="post-user">
							<div class="post-top"><%= @user.name %></div>
							<div class="post-bottom"><%= blog.created_at.strftime("%Y/%m/%d %H:%M") %></div>
						</div>
					</div>
					<div class="post-body">	

		              <div class="swiper-container">
		                <div class="swiper-wrapper">

		                  <% if blog.image_01.present? %><div class="swiper-slide"><%= image_tag blog.image_01.url , class:'content_image' %></div><% end %>
		                  <% if blog.image_02.present? %><div class="swiper-slide"><%= image_tag blog.image_02.url , class:'content_image' %></div><% end %>
		                  <% if blog.image_03.present? %><div class="swiper-slide"><%= image_tag blog.image_03.url , class:'content_image' %></div><% end %>
		                  <% if blog.image_04.present? %><div class="swiper-slide"><%= image_tag blog.image_04.url , class:'content_image' %></div><% end %>

		                </div>
		                <!-- Add Pagination -->
		                <div class="swiper-pagination"></div>
		                <!-- Add Arrows -->
		                <div class="swiper-button-next"></div>
		                <div class="swiper-button-prev"></div>
		              </div>
	
						<h3 class="blog_title"><%= blog.title %></h3>
							<%= simple_format blog.content.truncate(140) %>
					</div>
				
			    </div>
			</div>
		<% end %>
	<% end %>	
	<% end %>
  


  </div>
</div>








