<% if @user.event_id.present? && @user.prefecture_id.present? && @user.event_id != 0 && @user.prefecture_id != 0 %>

		<% if @user.pic_profile.present? %>

			<% set_meta_tags title: "メンバー募集中！#{@user.prefecture.name}の#{@user.event.name}サークル【#{@user.name}】",
							 description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル【#{@user.name}】です！新しいメンバーを募集中！#{@user.recruitment}｜サークルブックは、クラブやチームメンバーを募集するSNSです！", 
							og: { image: @user.pic_profile.url },
							twitter: { card: 'summary'} 
			%>

		<% else %>

			<% set_meta_tags title: "メンバー募集中！#{@user.prefecture.name}の#{@user.event.name}サークル【#{@user.name}】",
							 description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル【#{@user.name}】です！新しいメンバーを募集中！#{@user.recruitment}｜サークルブックは、クラブやチームメンバーを募集するSNSです！", 
							og: { image: image_url('/images/default.png') },
							twitter: { card: 'summary'}  
			%>	

		<% end %>

<% else %>

			<% set_meta_tags title: "【#{@user.name}】",
							 description: @user.recruitment, 
							og: { image: image_url('/images/default.png') },
							twitter: { card: 'summary'}  
			%>	

<% end %>





<div class="main user-show">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>

    
	<div class="user-profile">
		<div class="header-wrapper ribbon-wrapper">
            <div class="ribbon-content">
              <% if @user.switch == "募集中" %>
                <span class="ribbon green"><%= @user.switch %></span>
              <% else %>
                <span class="ribbon red"><%= @user.switch %></span>
              <% end %>
            </div>	

			<% if @user.pic_header.present? %>
				<a href="<%= @user.pic_header.url %>" class="swipe" rel="profile" title="プロフィール｜<%= @user.name %>">
				    <img src="<%= @user.pic_header.url %>" alt="プロフィール｜<%= @user.name %>" class="header_imege" />
				</a>
			<% else %>
				<%= image_tag @user.pic_header.url , class:'header_imege' %>
			<% end %>

			<% if @user.pic_profile.present? %>
				<a href="<%= @user.pic_profile.url %>" class="swipe" rel="profile" title="プロフィール｜<%= @user.name %>">
				    <img src="<%= @user.pic_profile.url %>" alt="プロフィール｜<%= @user.name %>" class="profile_imege" />
				</a>
			<% else %>
				<%= image_tag @user.pic_profile.url , class:'profile_imege' %>
			<% end %>


			<div class="data-box">
				<% if @user.event_id.present? %>
					<span class="data-r"><%= @user.event.name if @user.event_id? %></span>
				<% end %>
				<% if @user.prefecture_id.present? %>
					<span class="data-l"><%= @user.prefecture.name if @user.prefecture_id? %></span>
				<% end %>
			</div>


			<div class="admin_area">
				<% if admin_user_signed_in? %>
					<% if current_admin_user.id == 1 %>
						<div class="admin_edit"><%= link_to("編集", edit_user_path) %></div>
						<div class="admin_delete"><%= link_to( "削除", user_path, method: :delete, data: {confirm: "このサークルを削除しますか？"}) %></div>
					<% end %>
				<% end %>
			</div>



			<div class="contact_area">

				<div class="share_btn">
					<%= render "users/share" %>
				</div>

				<% if admin_user_signed_in? %>

						<% if @user.id == current_admin_user.id %>
							<div class="contact-button edit"><%= link_to("プロフィールの編集", edit_user_path) %></div>
						<% else %>

							<% if @user.switch == "募集中" %>

									<% if @user.line_id != "" %>
										<div class="contact-button line"><a href="<%= @user.line_id %>">LINEで連絡する</a></div>
									<% else %>
										<div class="contact-button mail"><a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">メールで連絡する</a></div>
									<% end %>	

							<% else %>
									<div class="contact-button end">募集終了</div>
							<% end %>

						<% end %>

				<% else %>	

					<% if @user.switch == "募集中" %>

							<% if @user.line_id != "" %>
								<div class="contact-button line"><a href="<%= @user.line_id %>">LINEで連絡する</a></div>
							<% else %>
									<div class="contact-button mail"><a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">メールで連絡する</a></div>
							<% end %>	

					<% else %>
							<div class="contact-button end">募集終了</div>
					<% end %>
				
				<% end %> 
		
			</div>

		</div>

		<div class="profile-content">


		<%= render "users/schedule_form" %>



			<h1 class="user_name"><%= @user.name %></h1>
			<div class="content_01">		
			
			</div>
			<div class="content_02">
                  <div class="user_schedule">
                    <i class="fa fa-calendar "></i><%= @user.schedule %>
                  </div>

                  <div class="user_area">
                    <i class="fa fa-map-marker "></i><%= @user.area %>
                  </div>

			</div>

			<div class="content_03"><%= @user.recruitment %></div>


 			<%= render "/users/gallery" %>


			<div class="border"></div>

			<div class="article_item article_padding">
				<table>
					<tbody>
					<tr class="flex_contents">
						<th class="flex_list">メンバー</th>
						<td class="flex_list"><%= @user.member %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">年齢層</th>
						<td class="flex_list"><%= @user.average_age %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">募集中</th>
						<td class="flex_list"><%= @user.grouping %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">費用</th>
						<td class="flex_list"><%= @user.cost %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">目標</th>
						<td class="flex_list"><%= @user.goal %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">アピール<br>注意事項</th>
						<td class="flex_list"><%= raw Rinku.auto_link(simple_format @user.appeal) %></td>
					</tr>

					<% if @schedules.present? %>
					<tr class="flex_contents">
						<th class="flex_list">活動予定</th>
						<td class="flex_list">
							
						    <% @schedules.each do |schedule| %> 
						        <% if schedule.present? %>

						          <%= Time.parse(schedule.day).strftime("%-m/%-d(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>
						          <%= schedule.venue %>
						          <br>

						        <% end %>                  
						    <% end %>

						</td>
					</tr>
					<% end %>

					</tbody>
				</table>
			</div>			

			<div class="content_08"><i class="fa fa-chain "></i><a href="<%= @user.web %>"> <%= @user.web %></a></div>

		</div>
	</div>	

<%= render "/layouts/ad_square" %>
<div class="ad_space"></div>

	<% if @blogs.any? %>
		<% @blogs.each do |blog| %>
			<%= link_to(blog_path(blog.id)) do %>
				<div class="form users-form">
				    <div class="form-body">

					    <div class="header-post cont-width">
							<%= image_tag @user.pic_profile.url , class:'content_icon' %>

							<div class="post-user">
								<div class="post-top"><%= @user.name %></div>
								<div class="post-bottom"><%= blog.created_at.strftime("%Y/%m/%d %H:%M") %></div>
							</div>
						</div>
						<div class="post-body">	


                              <% if blog.image_01.present? %>

                                <% if blog.image_02.blank? && blog.image_03.blank? && blog.image_04.blank? %>

                                  <%= image_tag blog.image_01.url , class:'content_image_one' %>

                                <% else %>

                                  <div class="swiper-container">
                                    <div class="swiper-wrapper">

                                      <% if blog.image_01.present? %><div class="swiper-slide"><%= image_tag blog.image_01.url , class:'content_image' %></div><% end %>
                                      <% if blog.image_02.present? %><div class="swiper-slide"><%= image_tag blog.image_02.url , class:'content_image' %></div><% end %>
                                      <% if blog.image_03.present? %><div class="swiper-slide"><%= image_tag blog.image_03.url , class:'content_image' %></div><% end %>
                                      <% if blog.image_04.present? %><div class="swiper-slide"><%= image_tag blog.image_04.url , class:'content_image' %></div><% end %>

                                    </div>
                                  </div>

                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination pagination-bottom"></div>
                                    <div class="pagination-margin"></div>                                 

                                <% end %>

                              <% end %>
							
							<div class="cont-width">
								<h3 class="blog_title"><%= blog.title %></h3>
									<%= simple_format blog.content.truncate(140) %>
							</div>

						</div>
					
				    </div>
				</div>
			<% end %>
		<% end %>

	<% end %>

	<% if @user.switch == "募集中" %>
		<div class="space_btm"></div>
	<% end %>
  


  </div>
</div>








