<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】47都道府県のサークルやチーム、団体一覧｜メンバー募集サイト" %>
<div class="main users-index">
  <div class="container top_page">
    <img class="imege_title" src="/images/top.png">
    <h1 class="users-heading"><img class="img_logo_title" src="/images/logo.png" alt="サークルブック"></h1>
    <div class="users-txt">
          <% if admin_user_signed_in?  %>
            <%= link_to("活動ブログ", new_user_blog_path(@user) ) %>を投稿すると<br>
            あなたの掲載順位が上がります！

          <% else %>
          あなたにピッタリの<br>
          サークルやチーム、団体が見つかる！！
          <% end %>
    </div>

    <div class="search_wrap">
      <div class="search_word">
        <h2 class="search_title">キーワードからサークルを探す</h2>
        <%= form_tag('/users/search', method: :get, enforce_utf8: false) do %>
            <input id="page_name" name='kw' size="30" type="text" placeholder="<%= @search_word %>" value="<%= params[:kw] %>" class="search_area"/>
              <div class="search_icon">
                <%= submit_tag("検索", :name => nil) %>
            </div>
        <% end %>
        <div class="search_word_announce">※複数の単語はスペースで区切ってください</div>
      </div>
    </div>

    <div class="top_contents bg_blue">

      <div class="top_heading">
          <h2 class="sub_title">サークルをジャンルから探す</h2>
          <a class="" href="">
            ジャンル一覧
          </a>
      </div>

      <div class="readmore">
          <input id="check1" class="readmore-check" type="checkbox">
          <div class="readmore-content">
            <ul class="events-menus">
              <% @events.each do |event| %>
                <li>
                  <%= link_to("/#{event.ruby}") do %>
                    <div class="e_icon_wrap">
                      <img data-src="/images/events/<%= event.ruby %>.jpg" alt="<%= event.name %>" class="lazyload">
                      <div class="link_txt"><%= event.name %></div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <label class="readmore-label" for="check1"></label>
      </div>

    </div>

    <div class="top_contents bg_blue">

      <div class="top_heading">
          <h2 class="sub_title">サークルをエリアから探す</h2>
          <a class="" href="">
            エリア一覧
          </a>
      </div>

      <div class="readmore">
          <input id="check2" class="readmore-check" type="checkbox">
          <div class="readmore-content pref-menus">
            <ul class="events-menus">
                <li>
                  <%= link_to("/prefectures/tokyo") do %>
                    <div class="e_icon_wrap">
                      <img data-src="/images/prefectures/tokyo.jpg" alt="東京" class="lazyload">
                      <div class="link_txt">東京</div>
                    </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to("/prefectures/kanagawa") do %>
                    <div class="e_icon_wrap">
                      <img data-src="/images/prefectures/kanagawa.jpg" alt="神奈川" class="lazyload">
                      <div class="link_txt">神奈川</div>
                    </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to("/prefectures/aichi") do %>
                    <div class="e_icon_wrap">
                      <img data-src="/images/prefectures/aichi.jpg" alt="愛知" class="lazyload">
                      <div class="link_txt">愛知</div>
                    </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to("/prefectures/osaka") do %>
                    <div class="e_icon_wrap">
                      <img data-src="/images/prefectures/osaka.jpg" alt="大阪" class="lazyload">
                      <div class="link_txt">大阪</div>
                    </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to("/prefectures/kyoto") do %>
                    <div class="e_icon_wrap">
                      <img data-src="/images/prefectures/kyoto.jpg" alt="京都" class="lazyload">
                      <div class="link_txt">京都</div>
                    </div>
                  <% end %>
                </li>
                <li>
                  <%= link_to("/prefectures/fukuoka") do %>
                    <div class="e_icon_wrap">
                      <img data-src="/images/prefectures/fukuoka.jpg" alt="福岡" class="lazyload">
                      <div class="link_txt">福岡</div>
                    </div>
                  <% end %>
                </li>
            </ul>
          </div>
          <label class="readmore-label" for="check2"></label>
      </div>

    </div>


  </div>
</div>