- set_meta_tags noindex: true
.main.users-index
  .container
    .schedule_add_wrap.schedule_new_wrap
      .schedule_input
        .form-body.cont-body
          = form_for ([@invalid_email]) do |f|
            %p 無効なメールアドレス
            = f.text_field :email, class: 'form-control form-venue'
            = f.submit "更新する", data: { disable_with: '更新中...' }
            .reset
    .table_list
      %table
        %tr
          %th No.
          %th 無効アドレス
          %th 削除
        - @invalid_emails.each.with_index(1) do |invalid_email, i|
          %tr
            %td= i
            %td= invalid_email.email
            %td
              = link_to "削除", invalid_email_path(invalid_email.id), method: :delete, data: {confirm: "アドレスを削除しますか？"}
