<div class="schedule_profile_wrap">

  <%= link_to("/#{@user.event.ruby}", class: "tag_btn") do %>
    <i class="fa fa-tags tag-color"></i><%= @user.event.name %>
  <% end %>
  
  <%= link_to("/#{@user.event.ruby}/#{@user.prefecture.kana}", class: "tag_btn") do %>
    <i class="fa fa-tags tag-color"></i><%= @user.prefecture.name %>
  <% end %>

  <% if @user.prefecture_sub_id.present? %>
    <% @prefectures.each do |sub_prefecture| %>
      <% if @user.prefecture_sub_id == sub_prefecture.id %>  

        <%= link_to("/#{@user.event.ruby}/#{sub_prefecture.kana}", class: "tag_btn") do %>
        <i class="fa fa-tags tag-color"></i><%= sub_prefecture.name %>
        <% end %>

      <% end %>
    <% end %>
  <% end %>   


    



  <%= link_to(user_path(@user.id)) do %>  
    <div class="user-content">
      <%= lazysizes_image_tag @user.pic_profile.url , class:'image_icon' %>

      <div class="list_wrapper contact_name_wrap">
        <div class="list_01">
          <h2 class="user_name"><%= @user.name %></h2>
        </div>

      </div>
    </div>  

  <% end %>

  <div class="reset"></div>

</div>
