  <% if @schedules.present? %>

      <div class="schedule_list_copy">
        <div class="copyTarget01">
          <% @schedules.each do |schedule| %>
            <% if schedule.present? %>
              <% if @schedule_m_c != Time.parse(schedule.day).strftime("%-m") %>
                【<%= Time.parse(schedule.day).strftime("%-m") %>月のスケジュール】<br>
                <% @schedule_m_c = Time.parse(schedule.day).strftime("%-m") %>
              <% end %>
              ・<%= Time.parse(schedule.day).strftime("%-d日(#{@wdays[Time.parse(schedule.day).wday]})") %>
              <% if schedule.time_s.present? %>
                <%= schedule.time_s.strftime('%H:%M') %>-<%= schedule.time_e.strftime('%H:%M') if schedule.time_e.present? %>
              <% end %>
                <br>　<%= schedule.venue %><br>
                <br>
            <% end %>
          <% end %>
            ▼スケジュール詳細
            <br>
            <%= request.url %>
        </div>
      </div>

      <button class="copyBtn01"><div class="requirement_copy"><i class="fa fa-copy "></i> 一般向けの予定をコピーする！</div></button>



      <div class="schedule_list_copy">
        <div class="copyTarget02">
          <% @schedules.each do |schedule| %>
            <% if schedule.present? %>
              <% if @schedule_m_c != Time.parse(schedule.day).strftime("%-m") %>
                【<%= Time.parse(schedule.day).strftime("%-m") %>月のスケジュール】<br>
                <% @schedule_m_c = Time.parse(schedule.day).strftime("%-m") %>
              <% end %>
              ・<%= Time.parse(schedule.day).strftime("%-d日(#{@wdays[Time.parse(schedule.day).wday]})") %>
              <% if schedule.time_s.present? %>
                <%= schedule.time_s.strftime('%H:%M') %>-<%= schedule.time_e.strftime('%H:%M') if schedule.time_e.present? %>
              <% end %>
              <% if schedule.member_venue.present? %>
                <br>　<%= schedule.member_venue %><br>
              <% else %>
                <br>　<%= schedule.venue %><br>
              <% end %>
                <br>
            <% end %>
          <% end %>
            ▼出欠の登録
            <br>
            https://www.circle-book.com/schedules/<%= @user.unique_id %>
        </div>
      </div>

      <button class="copyBtn02"><div class="requirement_copy"><i class="fa fa-copy "></i> メンバー向けの予定をコピーする！</div></button>




  <% end %>