  <% if @schedules.present? %>

      <div class="schedule_list_copy">
        <div class="copyTarget01">
          <% @schedules.each do |schedule01| %>
            <% if schedule01.present? %>
              <% if @schedule_m_01 != Time.parse(schedule01.day).strftime("%-m") %>
                【<%= Time.parse(schedule01.day).strftime("%-m") %>月のスケジュール】<br>
                <% @schedule_m_01 = Time.parse(schedule01.day).strftime("%-m") %>
              <% end %>
              ・<%= Time.parse(schedule01.day).strftime("%-d日(#{@wdays[Time.parse(schedule01.day).wday]})") %>
              <% if schedule01.time_s.present? %>
                <%= schedule01.time_s.strftime('%H:%M') %>-<%= schedule01.time_e.strftime('%H:%M') if schedule01.time_e.present? %>
              <% end %>
                <br>　<%= schedule01.venue %><br>
                <br>
            <% end %>
          <% end %>
            ▼スケジュール詳細
            <br>
            <%= request.url %>
        </div>
      </div>

      <button class="copyBtn01"><div class="requirement_copy"><i class="fa fa-copy "></i> 一般向けの予定をコピーする！</div></button>



      <div class="schedule_list_copy">
        <div class="copyTarget02">
          <% @schedules.each do |schedule02| %>
            <% if schedule02.present? %>
              <% if @schedule_m_02 != Time.parse(schedule02.day).strftime("%-m") %>
                【<%= Time.parse(schedule02.day).strftime("%-m") %>月のスケジュール】<br>
                <% @schedule_m_02 = Time.parse(schedule02.day).strftime("%-m") %>
              <% end %>
              ・<%= Time.parse(schedule02.day).strftime("%-d日(#{@wdays[Time.parse(schedule02.day).wday]})") %>
              <% if schedule02.time_s.present? %>
                <%= schedule02.time_s.strftime('%H:%M') %>-<%= schedule02.time_e.strftime('%H:%M') if schedule02.time_e.present? %>
              <% end %>
              <% if schedule02.member_venue.present? %>
                <br>　<%= schedule02.member_venue %><br>
              <% else %>
                <br>　<%= schedule02.venue %><br>
              <% end %>
                <br>
            <% end %>
          <% end %>
            ▼出欠の登録
            <br>
            https://www.circle-book.com/schedules/<%= @user.unique_id %>
        </div>
      </div>

      <button class="copyBtn02"><div class="requirement_copy"><i class="fa fa-copy "></i> メンバー向けの予定をコピーする！</div></button>




  <% end %>