<% if @schedules.where.not(id: @schedule.id).present? %>

  <div class="schedule_list_wrap">

      <% @schedules.each do |schedule| %>
          <% if schedule.present? && @schedule.id != schedule.id %>

            <% if @schedule_month != Time.parse(schedule.day).strftime("%-m") %>
              <h2 class="schedule_m"><i class="fa fa-calendar "></i> <%= Time.parse(schedule.day).strftime("%-m月") %>のスケジュール</h2>
              <% @schedule_month = Time.parse(schedule.day).strftime("%-m") %>
            <% end %>

            <%= link_to(user_schedule_path(@user.id, schedule.id)) do %>

              <div class="schedule_list">
                  <div class="schedule_day">
                          <%= Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>

                    <% if schedule.time_s.present? %>
                      <%= schedule.time_s.strftime('%H:%M') %>-<%= schedule.time_e.strftime('%H:%M') if schedule.time_e.present? %>
                    <% end %>

                    <% if schedule.recruitment == "募集終了" %>
                      <span class="schedule_mark mark_red">満員御礼</span>
                    <% elsif schedule.recruitment == "中止" %>
                      <span class="schedule_mark mark_yellow">中止</span>
                    <% else %>
                      <span class="schedule_mark mark_green">開催予定</span>
                    <% end %>

                  </div>

                    @<%= schedule.venue %>
                    <br>
                    <%= schedule.title if schedule.title.present? %>
              </div>

            <% end %>

          <% end %>
      <% end %>

  </div>

<% end %>




<% if @past_schedules.where.not(id: @schedule.id).present? %>

  <h2 class="past_schedule">開催が終了したスケジュール</h2>

  <div class="schedule_list_wrap">

      <% @past_schedules.each do |past_schedule| %>
          <% if past_schedule.present? && @schedule.id != past_schedule.id %>
            <% if @past_schedule_month != Time.parse(past_schedule.day).strftime("%-m") %>

              <div class="ad_space"></div>
              <%= render "/layouts/ad_square" %>
              <div class="ad_space"></div>

              <h3 class="schedule_m"><i class="fa fa-calendar "></i> <%= Time.parse(past_schedule.day).strftime("%Y年%-m月") %></h3>
              <% @past_schedule_month = Time.parse(past_schedule.day).strftime("%-m") %>
            <% end %>


              <%= link_to(user_schedule_path(@user.id, past_schedule.id)) do %>

                <div class="schedule_list">
                    <div class="schedule_day">
                        <%= Time.parse(past_schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(past_schedule.day).wday]})") %>

                      <% if past_schedule.time_s.present? %>
                          <%= past_schedule.time_s.strftime('%H:%M') %>-<%= past_schedule.time_e.strftime('%H:%M') if past_schedule.time_e.present? %>
                        <% end %>

                      <span class="schedule_mark mark_gray">開催終了</span>

                    </div>

                      @<%= past_schedule.venue %>
                      <br>
                      <%= past_schedule.title if past_schedule.title.present? %>
                </div>

              <% end %>

          <% end %>
      <% end %>

  </div>

<% end %>