<% @wdays =  ["日", "月", "火", "水", "木", "金", "土" ] %>
<div class="date_list_wrap">

  <% if @path.is('schedules#day') %>

    <ul>
      <% 14.times do |i| %>
        <% if i == 0 %>
          <%= link_to "/dates/#{Time.parse(@date).since(i.days).strftime("%Y/%m/%d")}" do %><li class="c_selected"><%= Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}") %><br><%= Time.parse(@date).since(i.days).strftime("%-d") %></li><% end %>
        <% elsif Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}") == "土" %>
          <%= link_to "/dates/#{Time.parse(@date).since(i.days).strftime("%Y/%m/%d")}" do %><li class="c_sat"><%= Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}") %><br><%= Time.parse(@date).since(i.days).strftime("%-d") %></li><% end %>
        <% elsif Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}") == "日" %>
          <%= link_to "/dates/#{Time.parse(@date).since(i.days).strftime("%Y/%m/%d")}" do %><li class="c_sun"><%= Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}") %><br><%= Time.parse(@date).since(i.days).strftime("%-d") %></li><% end %>
        <% else %>
          <%= link_to "/dates/#{Time.parse(@date).since(i.days).strftime("%Y/%m/%d")}" do %><li><%= Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}") %><br><%= Time.parse(@date).since(i.days).strftime("%-d") %></li><% end %>
        <% end %>
      <% end %>
    </ul>

    <div class="search_select">
        <select name="event_select" onChange="location.href=value;">
            <option value="#">サークル・チーム</option>
            <% @categories.each do |category| %>
              <optgroup label="<%= category.name %>">
                <% category.events.each do |event| %>
                  <option value="/dates/<%= params[:year] %>/<%= params[:month] %>/<%= params[:day] %>?event=<%= event.ruby %>"><%= event.name %></option>
                <% end %>
              </optgroup>
            <% end %>
        </select>

        <select name="prefecture_select" onChange="location.href=value;">
          <option value="#">都道府県</option>
            <% @prefectures.each do |prefecture| %>
              <option value="/dates/<%= params[:year] %>/<%= params[:month] %>/<%= params[:day] %>?pref=<%= prefecture.kana %>"><%= prefecture.name %></option>
            <% end %>
        </select>

        <div class="search_icon"><i class="fa fa-search "></i></div>
    </div>





  <% else %>
    <ul>
      <% 14.times do |i| %>
        <% if DateTime.now.since(i.days).strftime("#{@wdays[DateTime.now.since(i.days).wday]}") == "土" %>
          <%= link_to "/dates/#{DateTime.now.since(i.days).strftime("%Y/%m/%d")}" do %><li class="c_sat"><%= DateTime.now.since(i.days).strftime("#{@wdays[DateTime.now.since(i.days).wday]}") %><br><%= DateTime.now.since(i.days).strftime("%-d") %></li><% end %>
        <% elsif DateTime.now.since(i.days).strftime("#{@wdays[DateTime.now.since(i.days).wday]}") == "日" %>
          <%= link_to "/dates/#{DateTime.now.since(i.days).strftime("%Y/%m/%d")}" do %><li class="c_sun"><%= DateTime.now.since(i.days).strftime("#{@wdays[DateTime.now.since(i.days).wday]}") %><br><%= DateTime.now.since(i.days).strftime("%-d") %></li><% end %>
        <% else %>
          <%= link_to "/dates/#{DateTime.now.since(i.days).strftime("%Y/%m/%d")}" do %><li><%= DateTime.now.since(i.days).strftime("#{@wdays[DateTime.now.since(i.days).wday]}") %><br><%= DateTime.now.since(i.days).strftime("%-d") %></li><% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

</div>