- @wdays =  ["日", "月", "火", "水", "木", "金", "土" ]
.date_list_wrap
  - if @path.is('schedules#day')
    %ul
      - (-7..14).each do |i|
        - if Time.parse(@date).since(i.days) > Time.zone.now.since(-1.days)
          - if i == 0
            = link_to "/dates/#{Time.parse(@date).since(i.days).strftime("%Y/%m/%d")}" do
              %li.c_selected
                = Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}")
                %br/
                = Time.parse(@date).since(i.days).strftime("%-d")
          - elsif Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}") == "土"
            = link_to "/dates/#{Time.parse(@date).since(i.days).strftime("%Y/%m/%d")}" do
              %li.c_sat
                = Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}")
                %br/
                = Time.parse(@date).since(i.days).strftime("%-d")
          - elsif Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}") == "日"
            = link_to "/dates/#{Time.parse(@date).since(i.days).strftime("%Y/%m/%d")}" do
              %li.c_sun
                = Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}")
                %br/
                = Time.parse(@date).since(i.days).strftime("%-d")
          - else
            = link_to "/dates/#{Time.parse(@date).since(i.days).strftime("%Y/%m/%d")}" do
              %li
                = Time.parse(@date).since(i.days).strftime("#{@wdays[Time.parse(@date).since(i.days).wday]}")
                %br/
                = Time.parse(@date).since(i.days).strftime("%-d")
    .search_select
      %select{:name => "event_select", :onchange => "location.href=value;"}
        - if params[:event].present?
          %option{:value => "#"}= @event.name
        - else
          %option{:value => "#"} サークル・チーム
        - @categories.includes([:events]).each do |category|
          %optgroup{:label => "#{category.name}"}
            - category.events.each do |event|
              - if params[:event] != event.ruby
                - if params[:pref].present?
                  %option{:value => "/dates/#{params[:year]}/#{params[:month]}/#{params[:day]}?pref=#{params[:pref]}&event=#{event.ruby}"}= event.name
                - else
                  %option{:value => "/dates/#{params[:year]}/#{params[:month]}/#{params[:day]}?event=#{event.ruby}"}= event.name
      %select{:name => "prefecture_select", :onchange => "location.href=value;"}
        - if params[:pref].present?
          %option{:value => "#"}= @prefecture.name
        - else
          %option{:value => "#"} 都道府県
        - @prefectures.each do |prefecture|
          - if params[:pref] != prefecture.kana
            - if params[:event].present?
              %option{:value => "/dates/#{params[:year]}/#{params[:month]}/#{params[:day]}?event=#{params[:event]}&pref=#{prefecture.kana}"}= prefecture.name
            - else
              %option{:value => "/dates/#{params[:year]}/#{params[:month]}/#{params[:day]}?pref=#{prefecture.kana}"}= prefecture.name
      .search_icon
        %i.fa.fa-search
  - else
    %ul
      - 14.times do |i|
        - if Time.zone.now.since(i.days).strftime("#{@wdays[Time.zone.now.since(i.days).wday]}") == "土"
          = link_to "/dates/#{Time.zone.now.since(i.days).strftime("%Y/%m/%d")}" do
            %li.c_sat
              = Time.zone.now.since(i.days).strftime("#{@wdays[Time.zone.now.since(i.days).wday]}")
              %br/
              = Time.zone.now.since(i.days).strftime("%-d")
        - elsif Time.zone.now.since(i.days).strftime("#{@wdays[Time.zone.now.since(i.days).wday]}") == "日"
          = link_to "/dates/#{Time.zone.now.since(i.days).strftime("%Y/%m/%d")}" do
            %li.c_sun
              = Time.zone.now.since(i.days).strftime("#{@wdays[Time.zone.now.since(i.days).wday]}")
              %br/
              = Time.zone.now.since(i.days).strftime("%-d")
        - else
          = link_to "/dates/#{Time.zone.now.since(i.days).strftime("%Y/%m/%d")}" do
            %li
              = Time.zone.now.since(i.days).strftime("#{@wdays[Time.zone.now.since(i.days).wday]}")
              %br/
              = Time.zone.now.since(i.days).strftime("%-d")
