= render "/layouts/breadcrumb"
.schedule_top_image
  - if @schedule.top_image.present?
    = lazysizes_image_tag @schedule.top_image.url, class: "top_img"
  - elsif @user.pic_header.present?
    = lazysizes_image_tag @user.pic_header.url, class: "top_img"
  - else
    %img.lazyload.top_img{:alt => "#{@user.event.name}", "data-src" => "/images/events/#{@user.event.ruby}.jpg"}/
.users-index-item.schedule_user
  %h1.schedule_title
    - if @schedule.title.present?
      = @schedule.title
    - else
      = @user.event.name
      - if @path.is('schedules#secret') && @schedule.member_venue.present?
        ＠#{@schedule.member_venue}
      - else
        ＠#{@schedule.venue}
  .post_share.schedule_share
    - if @path.is('schedules#show')
      .share_btn_tw
        = link_to("https://twitter.com/share?url=#{request.url}&text=#{@user.name}の活動日です！%20%23サークルブック%0a", target: '_blank') do
          %i.fa.fa-twitter>
          ツイートする
    - if admin_user_signed_in?
      - if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1
        .post_edit
          = link_to(edit_user_schedule_path(@user.id, @schedule.id)) do
            %i.fa.fa-pencil-square-o 編集
        .post_delete
          = link_to(user_schedule_path(@user.id, @schedule.id), method: :delete, data: {confirm: "投稿を削除しますか？"}) do
            %i.fa.fa-trash 削除
  - if admin_user_signed_in?
    - if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1
      .add_schedule_btn_wrap
        = link_to new_user_schedule_path(@user,copy: @schedule.id ) do
          .add_schedule_btn
            %i.fa.fa-calendar-plus-o
            コピーして新規作成する！
  = render "users/parts/admin_user_check", admin_user: @user.admin_user
  .article_item.article_padding.place_list
    %table
      %tbody
        %tr.flex_contents
          %th.flex_list 日程
          %td.flex_list
            = Time.parse(@schedule.day).strftime("%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})")
        - if @schedule.time_s.present?
          %tr.flex_contents
            %th.flex_list 時間
            %td.flex_list
              = @schedule.time_s.strftime('%H:%M')
              〜#{@schedule.time_e.strftime('%H:%M') if @schedule.time_e.present?}
        %tr.flex_contents
          %th.flex_list ステータス
          %td.flex_list
            - if @schedule.recruitment == "募集終了"
              %span.set.mark_red 満員御礼
            - elsif @schedule.recruitment == "中止"
              %span.set.mark_yellow 中止
            - else
              - if @schedule.recruitment_numbers == 0 || @schedule.recruitment_numbers.blank?
                %span.set.mark_green 募集中
              - elsif @schedule.name_schedules.where(answer: 1).count >= @schedule.recruitment_numbers
                %span.set.mark_red 満員御礼
              - else
                %span.set.mark_green 募集中
            - if @schedule.recruitment_numbers.present?
              - if @schedule.recruitment_numbers == 0
                募集人数：制限なし
              - elsif @schedule.name_schedules.where(answer: 1).count == 0
                募集人数：#{@schedule.recruitment_numbers}名
              - elsif @schedule.recruitment_numbers >= 1
                参加人数：#{@schedule.name_schedules.where(answer: 1).count}
                %span.small_font
                  \/#{@schedule.recruitment_numbers}名
              - else
                参加人数：#{@schedule.name_schedules.where(answer: 1).count}名
            - elsif @schedule.name_schedules.where(answer: 1).count == 0
            - else
              参加人数：#{@schedule.name_schedules.where(answer: 1).count}名
        - if @path.is('schedules#secret')
          - if @schedule.member_venue.present?
            %tr.flex_contents
              %th.flex_list 開催場所
              %td.flex_list= @schedule.member_venue
          - else
            %tr.flex_contents
              %th.flex_list 開催エリア
              %td.flex_list= @schedule.venue
          %tr.flex_contents
            %th.flex_list 住所
            %td.flex_list= @schedule.venue_address
        - else
          %tr.flex_contents
            %th.flex_list 開催エリア
            %td.flex_list= @schedule.venue
        - if @schedule.cost.present?
          %tr.flex_contents
            %th.flex_list 参加費
            %td.flex_list= @schedule.cost
    - if @user.link.present?
      - if @user.link.link02_url.present?
        .content_08
          %i.fa.fa-chain
          %a{:href => "https://www.circle-book.com/link/#{@user.link.unique_id}"}
            circle-book.com/link/#{@user.link.unique_id}
        .border
    - if @user.web.present?
      .content_08
        %i.fa.fa-chain
        %a{:href => "#{@user.web}", :rel => "”nofollow”"}
          = @user.web
      .border
    - if @schedule.note.present?
      %h2.schedule_sub_title
        %i.fa.fa-book
        活動内容の詳細
      - if @schedule.note.include?("<div>")
        .profile_list_p.profile_list_a.rich_text_sub
          = raw Rinku.auto_link(sanitize @schedule.note, tags: %w(p a br strong ul li div), attributes:  %w(id class href))
      - else
        .profile_list_p.profile_list_a
          = raw Rinku.auto_link(simple_format @schedule.note)
  - if @path.is('schedules#show')
    .post_cta.schedule_cta
      - if @user.switch == "募集中"
        = render "users/parts/admin_user_check", admin_user: @user.admin_user
        = render "/users/contact_btn"
  - else
    .post_cta.schedule_cta
      .contact_link
        = link_to "/schedules/#{@user.unique_id}" do
          .btn.btn_c.btn_green.btn_cubic
            %i.fa.fa-calendar-check-o>
            出欠回答ページに移動
  - if @path.is('schedules#secret')
    - if @schedule.venue_address.present?
      .g_map
        %iframe{:src => "<haml_loud"} url_for("https://maps.google.co.jp/maps?output=embed&amp;z=14&amp;q=\#{@schedule.venue_address}") &gt;
        .google_map_wrap
          = link_to "https://www.google.com/maps/search/?api=1&query=#{@schedule.venue_address}" do
            .google_map Google MAP
  = render "/users/parts/user_profile_large", user: @user
- if @path.is('schedules#show')
  - if @schedules.where.not(id: @schedule.id).present?
    = render "/layouts/ad_square"
    .users-index-item
      = render "/schedules/schedule_list"
= render "/layouts/ad_square"
.ad_space
