<% set_meta_tags noindex: true,
  title: "【限定公開】活動スケジュール｜#{@user.name}",
  og: {
    title: "【限定公開】活動スケジュール｜#{@user.name}",
    description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}",
    image:image_url("/images/schedule_ogp.jpg")
  }
%>

<div class="user_main users-index">
  <div class="container">
		<div class="users-index-item">

      <h1 class="top_title">出欠連絡（メンバー限定公開）</h1>

      <%= render "/users/parts/user_name", user: @user %>

      <%= render "/schedules/attendances/add_btn" %>

      <%= render "/schedules/attendances/new_form" %>

      <div class="attendance_txt">
        ◎各イベントの詳細確認<br>
        →日程のリンクをクリックしてください
      </div>

      <div class="attendance_txt">
        ◎出欠内容の変更<br>
        →名前のリンクをクリックしてください
      </div>

      <div class="attendances_table_wrap">
        <table>
          <thead>
            <tr>
              <th class="day fixed day_title">日程</th>
              <th class="status_title">ステータス</th>
              <%= render "/schedules/attendances/edit_form" %>
            </tr>
          </thead>
          <%= render "/schedules/attendances/answer_list" %>
        </table>
        <%= render "/schedules/attendances/add_btn" %>
      </div>


    <%= render "/layouts/ad_square" %>
    <div class="ad_space"></div>

  </div>
</div>




<script>
$(function(){
    $('.js-modal-open').each(function(){
        $(this).on('click',function(){
            var target = $(this).data('target');
            var modal = document.getElementById(target);
            $(modal).fadeIn();
            return false;
        });
    });
    $('.js-modal-close').on('click',function(){
        $('.js-modal').fadeOut();
        return false;
    });
});
</script>