<% set_meta_tags noindex: true %>

<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>

		<div class="users-index-item">

      <%= render "/users/parts/user_name", user: @user %>

      <div class="schedule_title">
        <%= Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") %>の編集
      </div>

      <%= render "/schedules/form" %>

		</div>


	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>

	</div>
</div>