<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>

		<div class="users-index-item">

			<%= render "/schedules/profile" %>

			    <div class="schedule_title">
			    	<%= Time.parse(@schedule.day).strftime("%-m/%-d(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") %>の活動内容の修正
				</div>


		        <div class="schedule_add_wrap">
		            <div class="schedule_input">

		              <%= form_for ([@user, @schedule]) do |f| %>

		                <p>時間帯</p>
		                  <%= f.time_field :time_s, class: 'form-control form-time', placeholder: "開始時間" %> 
		                  〜
		                  <%= f.time_field :time_e, class: 'form-control form-time', placeholder: "終了時間" %> 

		                <p>開催場所<span class="must_red">(必須)</span></p>
		                  <%= f.text_field :venue, class: 'form-control form-venue', placeholder: "サークルブック体育館" %> 

		                <p>開催場所の住所<br><span class="profile_list_t_a">※入力するとGoogleマップが自動で表示されます</span></p>
		                    <%= f.text_field :venue_address, class: 'form-control form-venue', placeholder: "東京都千代田区丸の内１丁目" %> 

		                <p>タイトル</p>
		                  <%= f.text_field :title, class: 'form-control form-venue', placeholder: "初心者限定のバスケdayです！" %>  

		                <p>備考欄</p>
		                  <%= f.text_area :note, class: 'form-control form-note', placeholder: "参加費500円" %> 

		                  <br>

		            <input type="submit" name="commit" value="更新する" data-disable-with="更新する">

		            <div class="reset"></div>

		              <% end %>

		            </div>
		        </div>





		</div>


	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>

	</div>
</div>