<% set_meta_tags title: "スケジュール表｜#{@user.name}",
					og: { 
								title: "スケジュール表｜#{@user.name}",
								description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
								image: @user.pic_profile.url
							},
					twitter: { card: 'summary'}  				
 %>

<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>

		<div class="users-index-item">

			<%= render "/schedules/profile" %>



			<% if @user.name.present? && @user.event.name.present? && @user.prefecture.name.present? %>

				<div class="schedule_share_wrap">

					<div class="share_btn_tw">
					    <%= link_to("https://twitter.com/share?url=#{request.url}&text=#{@user.name}の活動スケジュール%0a%0a%23#{@user.event.name}%20%23#{@user.prefecture.name}%20%23サークルブック%0a", target: '_blank') do %>
					      <i class="fa fa-twitter"></i>ツイート
					    <% end %>
					</div>


					<div class="share_btn_line">
						<%= link_to 'LINEで共有する', "http://line.me/R/msg/text/?#{request.url}", title: 'LINE', target: '_blank' %>
					</div>

				</div>

			<% end %>


			<%= render "/schedules/schedule_copy" %>



			<% if @schedules.present? %>

				<div class="schedule_list_wrap">
				    <% @schedules.each do |schedule| %> 
				        <% if schedule.present? %>


							<% if @schedule_month != Time.parse(schedule.day).strftime("%-m") %>
								<h2 class="schedule_m"><%= Time.parse(schedule.day).strftime("%-m") %>月のスケジュール</h2>
								<% @schedule_month = Time.parse(schedule.day).strftime("%-m") %>
							<% end %>							



					        <%= link_to(user_schedule_path(@user.id, schedule.id)) do %>


								<div class="schedule_list">
						          <%= Time.parse(schedule.day).strftime("%-m/%-d(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>

									<% if schedule.time_s.present? %>
							          <%= schedule.time_s.strftime('%H:%M') %>-<%= schedule.time_e.strftime('%H:%M') if schedule.time_e.present? %>
							        <% end %>


						          <br>
						          <%= schedule.venue %>
						        </div>

					        <% end %>  

				        <% end %>                  
				    <% end %>
				</div>

			<% end %>


			<% if admin_user_signed_in? %>
			  <% if @user.id == current_admin_user.id  %>


			    <div class="schedule_title">活動日の追加</div>

				<%= render "/schedules/schedule_form" %>


			  <% end %>
			<% end %>



		</div>

	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>

  </div>
</div>

