
<% set_meta_tags title: "活動スケジュール｜#{@user.name}",
  og: {
    title: "活動スケジュール｜#{@user.name}",
    description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}",
    image:image_url("/images/schedule_ogp.jpg")
  }
%>

<div class="user_main users-index">
  <div class="container">
		<div class="users-index-item">

      <h1 class="top_title">活動スケジュール</h1>
      <%= render "/users/parts/user_switching", user: @user, url_path: "schedules" %>
      <%= render "/users/parts/user_profile", user: @user %>


			<% if @user.name.present? && @user.event.name.present? && @user.prefecture.name.present? %>

				<% if admin_user_signed_in?  %>
					<% if @user.admin_user_id == current_admin_user.id %>


					<div class="schedule_share_wrap">

						<div class="share_btn_tw">
              <%= link_to("https://twitter.com/share?url=#{request.url}&text=#{@user.name}の活動スケジュール%0a%0a%23#{@user.event.name}%20%23#{@user.prefecture.name}%20%23サークルブック%0a", target: '_blank') do %>
                <i class="fa fa-twitter"></i>ツイート
              <% end %>
						</div>


						<div class="share_btn_line">
							<%= link_to 'LINEで共有する', "http://line.me/R/msg/text/?#{request.url}", title: 'LINE', target: '_blank' %>
						</div>

					</div>


					<%= render "/schedules/schedule_copy" %>

          <div class="add_schedule_btn_wrap">
            <%= link_to new_user_schedule_path(@user) do %>
              <div class="add_schedule_btn">
                <i class="fa fa-calendar-plus-o "></i> スケジュールを追加する
              </div>
            <% end %>
          </div>

					<% end %>
				<% end %>

			<% end %>

			<%= render "/schedules/schedule_list" %>

		</div>

	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>

  </div>
</div>

