<% if @user.pic_profile.present? %>

	<% set_meta_tags title: "活動スケジュール｜#{@user.name}",
						og: { 
									title: "活動スケジュール｜#{@user.name}",
									description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
									image: @user.pic_profile.url
								},
						twitter: { card: 'summary'}  				
	 %>

<% else %>

	<% set_meta_tags title: "活動スケジュール｜#{@user.name}",
						og: { 
									title: "活動スケジュール｜#{@user.name}",
									description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}",
						        	image: image_url('/images/default.png'),
								},
						twitter: { card: 'summary'}  				
	 %>

<% end %>


<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>

		<div class="users-index-item">


	    <h1 class="p_t">活動スケジュール</h1>

		<% if admin_user_signed_in?  %>
			<% if @user.admin_user_id == current_admin_user.id %>
				<% if @admin_user.users.count > 1 %>
					<div class="user_select_wrap">
								現在のアカウント：			
				      <select name="user_select" onChange="location.href=value;">
				        <option value="#"><%= @user.name %>（<%= @user.event.name %>）</option>
				          <% @admin_user.users.each do |user| %>
				            <% if @user.id != user.id %>
				            <option value="/users/<%= user.id %>/schedules"><%= user.name %>（<%= user.event.name %>）</option>
				            <% end %>
				        <% end %>
				      </select> 
					</div>
				<% end %>
			<% end %>
	    <% end %>


			<%= render "/schedules/profile" %>



			<% if @user.name.present? && @user.event.name.present? && @user.prefecture.name.present? %>

				<% if admin_user_signed_in?  %>
					<% if @user.admin_user_id == current_admin_user.id %>


					<div class="schedule_share_wrap">

						<div class="share_btn_tw">
						    <%= link_to("https://twitter.com/share?url=#{request.url}&text=#{@user.name}の活動スケジュール%0a%0a%23#{@user.event.name}%20%23#{@user.prefecture.name}%20%23サークルブック%0a", target: '_blank') do %>
						      <i class="fa fa-twitter"></i>ツイート
						    <% end %>
						</div>


						<div class="share_btn_line">
							<%= link_to 'LINEで共有する', "http://line.me/R/msg/text/?#{request.url}", title: 'LINE', target: '_blank' %>
						</div>

					</div>


					<%= render "/schedules/schedule_copy" %>

					<%= render "/schedules/post" %>


					<% end %>
				<% end %>

			<% end %>

			<%= render "/schedules/schedule_list" %>



		</div>

	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>

  </div>
</div>

