- set_meta_tags noindex: true
.main.users-index
  .container
    .users-index-item.schedule_wrap
      %h1.top_title スケジュールの新規追加
      = render "/users/parts/user_name", user: @user
      - if @copy_schedules.present?
        .schedule_copy_wrap
          .schedule_copy_txt
            %i.fa.fa-copy
            過去のスケジュールから複製する
          %select{:name => "schedule_select", :onchange => "location.href=value;"}
            %option{:value => "#"} コピーするスケジュールを選択する
            - @copy_schedules.each do |schedule|
              %option{:value => "/users/#{schedule.user.id}/schedules/new?copy=#{schedule.id}"}
                = Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})")
                - if schedule.time_s.present?
                  = schedule.time_s.strftime('%-H:%M')
                  \-#{schedule.time_e.strftime('%-H:%M') if schedule.time_e.present?}
                - if schedule.member_venue.present?
                  ＠#{schedule.member_venue}
                - else
                  ＠#{schedule.venue}
      = render "/schedules/form"
