<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】47都道府県のサークルやチーム、団体一覧｜メンバー募集サイト" %>

  <div class="main users-index">
    <div class="container">
      <img data-src="/images/top.png" class="lazyload imege_title" >
      <h1 class="users-heading">サークル検索</h1>
        <div class="users-txt">
          あなたにピッタリの<br>
          サークルやチーム、団体が見つかる！！
        </div>



        <ul>
          <% @schedules.each.with_index(1) do |schedule, i| %>

            <li class="schedule_item_wrap">

              <%= link_to(user_schedule_path(schedule.user.id, schedule.id)) do %>
                <div class="header_schedule_list ribbon-wrapper">
                  <div class="header_img_wrap">
                    <% if schedule.user.pic_header.present? %>
                      <%= lazysizes_image_tag schedule.user.pic_header.url , class:'header_imege_user_list', alt: "#{schedule.user.name}" %>
                    <% else %>
                      <%= lazysizes_image_tag schedule.user.pic_header.url , class:'header_imege_user_list' %>
                    <% end %>
                  </div>

                  <div class="ribbon-content">
                    <% if schedule.recruitment == "募集終了" %>
                      <span class="ribbon red">満員御礼</span>
                    <% elsif schedule.recruitment == "中止" %>
                      <span class="ribbon yellow">中止</span>
                    <% else %>
                      <% if schedule.recruitment_numbers == 0 || schedule.recruitment_numbers.blank? %>
                        <span class="ribbon green">募集中</span>
                      <% elsif schedule.name_schedules.where(answer: 1).count >= schedule.recruitment_numbers %>
                        <span class="ribbon red">満員御礼</span>
                      <% else %>
                        <span class="ribbon green">募集中</span>
                      <% end %>
                    <% end %>
                  </div>

                </div>


                <div class="schedule_list_content">
                  <h2 class="schedule_list_title">【<%= schedule.user.event.name %>】<%= schedule.title %></h2>

                  <div class="list_03">
                      <div class="user_area">
                        <i class="fa fa-calendar icon_c"></i><%= Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>
                        <% if schedule.time_s.present? %>
                          <%= schedule.time_s.strftime('%H:%M') %>
                          〜
                          <%= schedule.time_e.strftime('%H:%M') if schedule.time_e.present? %>
                        <% end %>

                      </div>
                      <div class="user_schedule">
                        <i class="fa fa-map-marker icon_c"></i><%= schedule.venue %>
                      </div>
                  </div>



                </div>

              <% end %>

              <%= render "/users/parts/tag_list", user: schedule.user %>

            </li>

            <% if i == 5 || i == 10 || i == 15 %>
              <div class="list_ad">
                <%= render "/layouts/ad_square" %>
              </div>
            <% end %>

          <% end %>
        </ul>


        <%= render "/layouts/ad_square" %>

        <%= paginate @schedules %>

    </div>
  </div>



















