- set_meta_tags noindex: true,title: "【限定公開】#{Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})")}の活動内容｜#{@user.name}",og: {title: "【限定公開】#{Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})")}の活動内容｜#{@user.name}",description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}",image: @schedule.ogp_img}

.user_main.users-index.ad_bottom_space
  .container.secret_schedule
    = render "/schedules/show_detail"
