<% set_meta_tags title: "スケジュール詳細｜#{@user.name}",
					og: { 
								title: "スケジュール詳細｜#{@user.name}",
								description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
								image: @user.pic_profile.url
							},
					twitter: { card: 'summary'}  				
 %>

<div class="main user-show">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>


	  	<div class="users-index-item">

	  		<%= render "/schedules/profile" %>


			<% if admin_user_signed_in?  %>
				<% if @user.id == current_admin_user.id || current_admin_user.id == 1 %>

				<div class="post_share">
			
						<div class="post_edit">
						    <%= link_to(edit_user_schedule_path) do %>
								<i class="fa fa-pencil-square-o "></i> 
							<% end %>
						</div>

						<div class="post_delete">
						    <%= link_to(user_schedule_path, method: :delete, data: {confirm: "投稿を削除しますか？"}) do %>
								<i class="fa fa-trash "></i> 									    
							<% end %>
						</div>

				</div>



				<% end %>
			<% end %>



			<div class="schedule_title">
				<%= Time.parse(@schedule.day).strftime("%-m/%-d(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") %>のスケジュール詳細
			</div>
		    <div class="article_item article_padding place_list ">
		        <table>
		          <tbody>

					<tr class="flex_contents">
						<th class="flex_list">日程</th>
						<td class="flex_list">
							<%= Time.parse(@schedule.day).strftime("%-m/%-d(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") %>
							<% if @schedule.time_s.present? %>
					          <%= @schedule.time_s.strftime('%H:%M') %>
					          〜
					          <%= @schedule.time_e.strftime('%H:%M') if @schedule.time_e.present? %>
					        <% end %>
						</td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">場所</th>
						<td class="flex_list"><%= @schedule.venue %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">住所</th>
						<td class="flex_list"><%= @schedule.venue_address %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">備考欄</th>
						<td class="flex_list"><%= @schedule.note %></td>
					</tr>


		          </tbody>
		        </table> 
		    </div>   

				<% if @schedule.venue_address.present? %>
					<div class="g_map">
						<iframe src=<%= url_for("https://maps.google.co.jp/maps?output=embed&z=14&q=#{@schedule.venue_address}") %>></iframe>
							<div class="google_map_wrap">
							    <%= link_to "https://www.google.com/maps/search/?api=1&query=#{@schedule.venue_address}" do %>  
							    	<div class="google_map">Google MAP</div>
							    <% end %>
						    </div>
					</div>
				<% end %>

	  	</div>

	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>

  </div>
</div>



