<% if @schedule.time_s.present? %>

	<% if @schedule.time_e.present? %>
		<% set_meta_tags title: "#{@schedule.title}｜活動スケジュール｜#{@user.name}",
							og: { 
										title: "活動スケジュール｜#{@user.name}",
										description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
										image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60_bold:#{ @schedule_title },y_-120,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_60:#{ Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") } #{ @schedule.time_s.strftime('%H:%M') }〜#{ @schedule.time_e.strftime('%H:%M') },y_10,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_50:@#{ @schedule.venue },y_110,co_rgb:333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"								
									},
							twitter: { card: 'summary_large_image'}   				
		 %>
	
	<% else %>
		<% set_meta_tags title: "#{@schedule.title}｜活動スケジュール｜#{@user.name}",
							og: { 
										title: "#{@schedule_title}｜活動スケジュール｜#{@user.name}",
										description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
										image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60_bold:#{ @schedule_title },y_-120,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_60:#{ Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") } #{ @schedule.time_s.strftime('%H:%M') }〜,y_10,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_50:@#{ @schedule.venue },y_110,co_rgb:333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"								
									},
							twitter: { card: 'summary_large_image'}   				
		 %>

	<% end %>


<% else %>
	<% set_meta_tags title: "#{@schedule.title}｜活動スケジュール｜#{@user.name}",
						og: { 
									title: "#{@schedule_title}｜活動スケジュール｜#{@user.name}",
									description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
									image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60_bold:#{ @schedule_title },y_-120,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_60:#{ Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") },y_10,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_50:@#{ @schedule.venue },y_110,co_rgb:333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"								
								},
						twitter: { card: 'summary_large_image'}   				
	 %>

<% end %>



<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>


	<div class="schedule_show">
		<h1 class="schedule_title">
			<% if @schedule.title.present? %>
				<%= @schedule.title %>
			<% else %>
				<%= @user.event.name %>
			<% end %>
		</h1>

		<div class="schedule_summary">
			<%= Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") %>
			<% if @schedule.time_s.present? %>
				<%= @schedule.time_s.strftime('%H:%M') %>
				〜
				<%= @schedule.time_e.strftime('%H:%M') if @schedule.time_e.present? %>
			<% end %>	
			
			<br>@<%= @schedule.venue %>

		</div>

		<div class="schedule_gallery">


			<% if @user.gallery_01.present? %>

				<% if @user.gallery_02.blank? && @user.gallery_03.blank? && @user.gallery_04.blank? %>

					<%= lazysizes_image_tag @user.gallery_01.url , class:'content_image_one' %>

				<% else %>

				  <div class="swiper-container">
				    <div class="swiper-wrapper">

				      <% if @user.gallery_01.present? %><div class="swiper-slide"><%= lazysizes_image_tag @user.gallery_01.url , class:'content_image' %></div><% end %>
				      <% if @user.gallery_02.present? %><div class="swiper-slide"><%= lazysizes_image_tag @user.gallery_02.url , class:'content_image' %></div><% end %>
				      <% if @user.gallery_03.present? %><div class="swiper-slide"><%= lazysizes_image_tag @user.gallery_03.url , class:'content_image' %></div><% end %>
				      <% if @user.gallery_04.present? %><div class="swiper-slide"><%= lazysizes_image_tag @user.gallery_04.url , class:'content_image' %></div><% end %>

				    </div>

                        <!-- Add Pagination -->
                        <div class="pagination-wrap">
                          <div class="swiper-pagination"></div>
                        </div>

				  </div>
			  

				<% end %>

			<% elsif @user.pic_header.present? %>
				<%= lazysizes_image_tag @user.pic_header.url , class:'content_image_one' %>
			<% else %>

			<% end %>			

		</div>

		<div class="schedule_user_image">
			<%= image_tag @user.pic_profile.url , class:'image_icon_center' %>
		</div>

	</div>





	  	<div class="users-index-item schedule_user">

			<div class="schedule_profile_wrap">

	  		<h2 class="user_name"><%= @user.name %></h2>

			  <%= link_to("/#{@user.event.ruby}", class: "tag_btn") do %>
			    <i class="fa fa-tags tag-color"></i><%= @user.event.name %>
			  <% end %>
			  
			  <%= link_to("/#{@user.event.ruby}/#{@user.prefecture.kana}", class: "tag_btn") do %>
			    <i class="fa fa-tags tag-color"></i><%= @user.prefecture.name %>
			  <% end %>

			  <% if @user.prefecture_sub_id.present? %>
			    <% @prefectures.each do |sub_prefecture| %>
			      <% if @user.prefecture_sub_id == sub_prefecture.id %>  

			        <%= link_to("/#{@user.event.ruby}/#{sub_prefecture.kana}", class: "tag_btn") do %>
			        <i class="fa fa-tags tag-color"></i><%= sub_prefecture.name %>
			        <% end %>

			      <% end %>
			    <% end %>
			  <% end %>  

			  <div class="reset"></div>

			</div>


			<% if admin_user_signed_in?  %>
				<% if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1 %>


					<div class="schedule_tw_share">
						    <%= link_to("https://twitter.com/share?url=#{request.url}&text=#{@user.name}の活動日です！%20%23サークルブック%0a", target: '_blank') do %>
								<div class="share_btn_tw">
								     <i class="fa fa-twitter"></i>活動日をTwitterで告知する！
								</div>
						    <% end %>
					</div>

					<div class="post_share">
				
							<div class="post_edit">
							    <%= link_to(edit_user_schedule_path(@user.id, @schedule.id)) do %>
									<i class="fa fa-pencil-square-o "></i> 									
								<% end %>
							</div>

							<div class="post_delete">
							    <%= link_to(user_schedule_path, method: :delete, data: {confirm: "投稿を削除しますか？"}) do %>
									<i class="fa fa-trash "></i> 									    
								<% end %>
							</div>

					</div>

				<% end %>
			<% end %>

				<h2 class="schedule_title">
					<%= Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") %>のスケジュール詳細
				</h2>


		    <div class="article_item article_padding place_list ">
		        <table>
		          <tbody>

					<tr class="flex_contents">
						<th class="flex_list">日程</th>
						<td class="flex_list">
							<%= Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") %>
							<% if @schedule.time_s.present? %>
					          <%= @schedule.time_s.strftime('%H:%M') %>
					          〜
					          <%= @schedule.time_e.strftime('%H:%M') if @schedule.time_e.present? %>
					        <% end %>
						</td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">場所</th>
						<td class="flex_list"><%= @schedule.venue %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">住所</th>
						<td class="flex_list"><%= @schedule.venue_address %></td>
					</tr>

		          </tbody>
		        </table> 

					<% if @schedule.note.present? %>
						<div class="profile_list_t schedule_note_t"></div>
						<div class="profile_list_p profile_list_a"><%= raw Rinku.auto_link(simple_format @schedule.note) %></div>
					<% end %>						


		    </div> 


				<div class="post_cta schedule_cta">
					<% if @user.switch == "募集中" %>
						<%= render "/layouts/contact_btn" %>
					<% end %>
				</div>


				<% if @schedule.venue_address.present? %>
					<div class="g_map">
						<iframe src=<%= url_for("https://maps.google.co.jp/maps?output=embed&z=14&q=#{@schedule.venue_address}") %>></iframe>
							<div class="google_map_wrap">
							    <%= link_to "https://www.google.com/maps/search/?api=1&query=#{@schedule.venue_address}" do %>  
							    	<div class="google_map">Google MAP</div>
							    <% end %>
						    </div>
					</div>
				<% end %>

	  	</div>



				<%= render "/layouts/ad_square" %>
				<div class="ad_space"></div>



			<div class="schedule_another">

				<% if @schedules.present? %>

					<div class="schedule_list_wrap">
					    <% @schedules.each do |schedule| %> 
					        <% if schedule.present? %>
						        <% if schedule.id != @schedule.id %>

					       

									<% if @schedule_month != Time.parse(schedule.day).strftime("%-m") %>
										<h2 class="schedule_m"><%= Time.parse(schedule.day).strftime("%-m") %>月のスケジュール</h2>
										<% @schedule_month = Time.parse(schedule.day).strftime("%-m") %>
									<% end %>							



							        <%= link_to(user_schedule_path(@user.id, schedule.id)) do %>


										<div class="schedule_list">
								          <%= Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>

											<% if schedule.time_s.present? %>
									          <%= schedule.time_s.strftime('%H:%M') %>
									          〜
									          <%= schedule.time_e.strftime('%H:%M') if schedule.time_e.present? %>
									        <% end %>


								          <br>
								          <%= schedule.venue %>
								        </div>

							        <% end %>



								<% end %>

					        <% end %>                  
					    <% end %>
					</div>

				<% end %>

				<div class="space_bottom"></div>

			</div>	


			




  </div>
</div>



