<% if @schedule.time_s.present? %>

	<% if @schedule.time_e.present? %>
		<% set_meta_tags title: "活動スケジュール｜#{@user.name}",
							og: { 
										title: "活動スケジュール｜#{@user.name}",
										description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
										image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/
					l_text:Sawarabi%20Gothic_100_bold:#{@user.event.name },y_-100,co_rgb:333,w_900,c_fit/
					l_text:Sawarabi%20Gothic_60:#{ Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") } #{ @schedule.time_s.strftime('%H:%M') }〜#{ @schedule.time_e.strftime('%H:%M') },y_10,co_rgb:333,w_900,c_fit/
					l_text:Sawarabi%20Gothic_50:@#{ @schedule.venue },y_80,co_rgb:333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"								
									},
							twitter: { card: 'summary_large_image'}   				
		 %>
	
	<% else %>
		<% set_meta_tags title: "活動スケジュール｜#{@user.name}",
							og: { 
										title: "活動スケジュール｜#{@user.name}",
										description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
										image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/
					l_text:Sawarabi%20Gothic_100_bold:#{@user.event.name },y_-100,co_rgb:333,w_900,c_fit/
					l_text:Sawarabi%20Gothic_60:#{ Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") } #{ @schedule.time_s.strftime('%H:%M') }〜,y_10,co_rgb:333,w_900,c_fit/
					l_text:Sawarabi%20Gothic_50:@#{ @schedule.venue },y_80,co_rgb:333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"								
									},
							twitter: { card: 'summary_large_image'}   				
		 %>

	<% end %>


<% else %>
	<% set_meta_tags title: "活動スケジュール｜#{@user.name}",
						og: { 
									title: "活動スケジュール｜#{@user.name}",
									description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
									image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/
				l_text:Sawarabi%20Gothic_100_bold:#{@user.event.name },y_-100,co_rgb:333,w_900,c_fit/
				l_text:Sawarabi%20Gothic_60:#{ Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") },y_10,co_rgb:333,w_900,c_fit/
				l_text:Sawarabi%20Gothic_50:@#{ @schedule.venue },y_80,co_rgb:333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"								
								},
						twitter: { card: 'summary_large_image'}   				
	 %>

<% end %>




<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>

	  	<div class="users-index-item">

			<div class="schedule_profile_wrap">

			  <%= link_to("/#{@user.event.ruby}", class: "tag_btn") do %>
			    <i class="fa fa-tags tag-color"></i><%= @user.event.name %>
			  <% end %>
			  　
			  <%= link_to("/#{@user.event.ruby}/#{@user.prefecture.kana}", class: "tag_btn") do %>
			    <i class="fa fa-tags tag-color"></i><%= @user.prefecture.name %>
			  <% end %>

				<div class="schedule_ogp_wrap">
					<img src="https://res.cloudinary.com/hgvtbyy8v/image/upload/
					l_text:Sawarabi%20Gothic_100_bold:<%= @user.event.name %>,y_-100,co_rgb:333,w_900,c_fit/
					l_text:Sawarabi%20Gothic_60:<%= Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") %> <% if @schedule.time_s.present? %><%= @schedule.time_s.strftime('%H:%M') %>〜<%= @schedule.time_e.strftime('%H:%M') if @schedule.time_e.present? %><% end %>,y_10,co_rgb:333,w_900,c_fit/
					l_text:Sawarabi%20Gothic_50:@<%= @schedule.venue %>,y_80,co_rgb:333,w_900,c_fit/v1586676520/qa_vipkmx.jpg">	
				</div>

			  <%= link_to(user_path(@user.id)) do %>  
			    <div class="user-content">
			      <%= image_tag @user.pic_profile.url , class:'image_icon' %>

			      <div class="list_wrapper contact_name_wrap">
			        <div class="list_01">
			          <h2 class="user_name"><%= @user.name %></h2>
			        </div>

			      </div>
			    </div>  

			  <% end %>

			  <div class="reset"></div>

			</div>


			<div class="schedule_tw_share">
				    <%= link_to("https://twitter.com/share?url=#{request.url}&text=#{@user.name}の活動日です！%20%23サークルブック%0a", target: '_blank') do %>
						<div class="share_btn_tw">
						     <i class="fa fa-twitter"></i>活動日をTwitterで告知する！
						</div>
				    <% end %>
			</div>


			<% if admin_user_signed_in?  %>
				<% if @user.id == current_admin_user.id || current_admin_user.id == 1 %>

					<div class="post_share">
				
							<div class="post_edit">
							    <%= link_to(edit_user_schedule_path(@user.id, @schedule.id)) do %>
									<i class="fa fa-pencil-square-o "></i> 
								<% end %>
							</div>

							<div class="post_delete">
							    <%= link_to(user_schedule_path, method: :delete, data: {confirm: "投稿を削除しますか？"}) do %>
									<i class="fa fa-trash "></i> 									    
								<% end %>
							</div>

					</div>

				<% end %>
			<% end %>

				<h2 class="schedule_title">
					<%= Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") %>のスケジュール詳細
				</h2>


		    <div class="article_item article_padding place_list ">
		        <table>
		          <tbody>

					<tr class="flex_contents">
						<th class="flex_list">日程</th>
						<td class="flex_list">
							<%= Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") %>
							<% if @schedule.time_s.present? %>
					          <%= @schedule.time_s.strftime('%H:%M') %>
					          〜
					          <%= @schedule.time_e.strftime('%H:%M') if @schedule.time_e.present? %>
					        <% end %>
						</td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">場所</th>
						<td class="flex_list"><%= @schedule.venue %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">住所</th>
						<td class="flex_list"><%= @schedule.venue_address %></td>
					</tr>
					<tr class="flex_contents">
						<th class="flex_list">備考欄</th>
						<td class="flex_list"><%= raw Rinku.auto_link(simple_format @schedule.note) %></td>
					</tr>


		          </tbody>
		        </table> 
		    </div> 


				<div class="post_cta schedule_cta">
					<% if @user.switch == "募集中" %>
						<% if @user.line_id != "" %>
							<div class="blob_cta_2">
								<div class="contact-button line"><%= link_to "LINEで相談する", {controller: :users, action: :contact, count: "line_s"} %></div>
								<div class="contact-button mail">
									<%= link_to "メールで相談する", {controller: :users, action: :contact, count: "mail_s"} %>
								</div>
							</div>
						<% else %>
							<div class="contact-button mail">
								<%= link_to "メールで相談する", {controller: :users, action: :contact, count: "mail_s"} %>
							</div>
						<% end %>
					<% end %>
				</div>


				<% if @schedule.venue_address.present? %>
					<div class="g_map">
						<iframe src=<%= url_for("https://maps.google.co.jp/maps?output=embed&z=14&q=#{@schedule.venue_address}") %>></iframe>
							<div class="google_map_wrap">
							    <%= link_to "https://www.google.com/maps/search/?api=1&query=#{@schedule.venue_address}" do %>  
							    	<div class="google_map">Google MAP</div>
							    <% end %>
						    </div>
					</div>
				<% end %>

	  	</div>



				<%= render "/layouts/ad_square" %>
				<div class="ad_space"></div>



			<div class="schedule_another">

				<% if @schedules.present? %>

					<div class="schedule_list_wrap">
					    <% @schedules.each do |schedule| %> 
					        <% if schedule.present? %>
						        <% if schedule.id != @schedule.id %>

					       

									<% if @schedule_month != Time.parse(schedule.day).strftime("%-m") %>
										<h2 class="schedule_m"><%= Time.parse(schedule.day).strftime("%-m") %>月のスケジュール</h2>
										<% @schedule_month = Time.parse(schedule.day).strftime("%-m") %>
									<% end %>							



							        <%= link_to(user_schedule_path(@user.id, schedule.id)) do %>


										<div class="schedule_list">
								          <%= Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})") %>

											<% if schedule.time_s.present? %>
									          <%= schedule.time_s.strftime('%H:%M') %>
									          〜
									          <%= schedule.time_e.strftime('%H:%M') if schedule.time_e.present? %>
									        <% end %>


								          <br>
								          <%= schedule.venue %>
								        </div>

							        <% end %>



								<% end %>

					        <% end %>                  
					    <% end %>
					</div>

				<% end %>

				<div class="space_bottom"></div>

			</div>	


			




  </div>
</div>



