<%= form_for @column do |f| %>

            <p>タイトル<span class="must_red">(必須)</span></p>
            <%= f.text_field :title, class: 'form-control' %> 

            <p>リード文</p>
            <%= f.text_area :description, class: 'form-control' %>  

		    <p>画像</p>
            <%= f.file_field :image %>     

            <p>本文</p>
            <%= f.text_area :text, class: 'form-control' %>       

            <%= f.submit %>

 <% end %>