- set_meta_tags noindex: true
.main.users-index
  .container
    .table_list
      %table
        %tr
          %th 実行日
          %th モデル
          %th URL
          %th ipアドレス
          %th 削除
        - @account_blocks.each do |account_block|
          %tr
            %td= account_block.created_at
            %td= account_block.model
            %td= account_block.url
            %td= account_block.ip_address
            %td= link_to "削除", account_block_path(account_block.id), method: :delete, data: {confirm: "削除しますか？"}
