<% if request.format == :amp %>
  <% if @event.ruby == "basketball" %>

    <% case @prefecture.kana %>
    <% when "tokyo" %>
      <div class="center">＼ <%= @prefecture.name %>で開催される<%= @event.name %>大会はコチラ ／</div>
      <div class="ad_center ">
        <a class="ad_300_250" href="https://b-books.jp/game/search.php?ym=&level=&pref=13&utm_source=circle-book&utm_medium=affi&utm_campaign=court_facility">
          <amp-img class=""
            src="/images/ads/b-books_300_250.jpg"
            width="300px"
            height="250px"
            object-fit="cover">
          </amp-img>
        </a>
      </div>
    <% when "kanagawa" %>
      <div class="center">＼ <%= @prefecture.name %>で開催される<%= @event.name %>大会はコチラ ／</div>
      <div class="ad_center ">
        <a class="ad_300_250" href="https://b-books.jp/game/search.php?ym=&level=&pref=14&utm_source=circle-book&utm_medium=affi&utm_campaign=court_facility">
          <amp-img class=""
            src="/images/ads/b-books_300_250.jpg"
            width="300px"
            height="250px"
            object-fit="cover">
          </amp-img>
        </a>
      </div>

    <% when "chiba" %>
      <div class="center">＼ <%= @prefecture.name %>で開催される<%= @event.name %>大会はコチラ ／</div>
      <div class="ad_center ">
        <a class="ad_300_250" href="https://b-books.jp/game/search.php?ym=&level=&pref=12&utm_source=circle-book&utm_medium=affi&utm_campaign=court_facility">
          <amp-img class=""
            src="/images/ads/b-books_300_250.jpg"
            width="300px"
            height="250px"
            object-fit="cover">
          </amp-img>
        </a>
      </div>

    <% else %>

    <% end %>

  <% end %>


<% else %>
  <% if @event.ruby == "basketball" %>

    <% case @prefecture.kana %>
    <% when "tokyo" %>
      <div class="center">＼ <%= @prefecture.name %>で開催される<%= @event.name %>大会はコチラ ／</div>
      <div class="ad_center ">
        <a class="ad_300_250" href="https://b-books.jp/game/search.php?ym=&level=&pref=13&utm_source=circle-book&utm_medium=affi&utm_campaign=court_facility">
          <img class="" src="/images/ads/b-books_300_250.jpg">
        </a>
      </div>
    <% when "kanagawa" %>
      <div class="center">＼ <%= @prefecture.name %>で開催される<%= @event.name %>大会はコチラ ／</div>
      <div class="ad_center ">
        <a class="ad_300_250" href="https://b-books.jp/game/search.php?ym=&level=&pref=14&utm_source=circle-book&utm_medium=affi&utm_campaign=court_facility">
          <img class="" src="/images/ads/b-books_300_250.jpg">
        </a>
      </div>

    <% when "chiba" %>
      <div class="center">＼ <%= @prefecture.name %>で開催される<%= @event.name %>大会はコチラ ／</div>
      <div class="ad_center ">
        <a class="ad_300_250" href="https://b-books.jp/game/search.php?ym=&level=&pref=12&utm_source=circle-book&utm_medium=affi&utm_campaign=court_facility">
          <img class="" src="/images/ads/b-books_300_250.jpg">
        </a>
      </div>

    <% else %>

    <% end %>

  <% end %>

<% end %>