  <div class="users-index-item">

    <div class="p_t"><%= @user_contact.entry %>のお問い合わせ</div>

    <%= render "users/parts/user_name", user: @user%>

    <% if admin_user_signed_in? %>
      <% if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1 %>
        <div class="template_wrap">
          <div class="template_title">【サークル主催者専用】<br>「お問い合わせ内容」の修正</div>
          <span class="cautions">※名前・メールアドレス以外の内容変更ができます</span>
            <%= form_for @user,:url => {controller: "users", action: "update_contact"} do |f| %>

                <%= f.text_area :template, class: 'form-control' %>
                <%= f.submit "更新する" %>

                <div class="reset"></div>

            <% end %>
        </div>
      <% end %>
    <% end %>


  <% if @user.switch == "募集中" %>


    <!-- LINE -->
    <% if @user.contact == "line" && @user.line_id.present? %>
      <%= render "/user_contacts/line" %>

    <!-- LINE + mail -->
    <% elsif @user.contact == "both" && @user.line_id.present? %>

      <div class="tab_wrap">

        <div class="tab-wrap">
            <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">メール</label>
            <div class="tab-content">
              <%= render "/user_contacts/mail" %>
            </div>

            <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">LINE</label>
            <div class="tab-content">
            <%= render "/user_contacts/line" %>
            </div>
        </div>

      </div>

    <% elsif @user.contact == nil && @user.line_id.present? %>


      <div class="tab_wrap">

        <div class="tab-wrap">
          <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">メール</label>
          <div class="tab-content">
            <%= render "/user_contacts/mail" %>
          </div>

            <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">LINE</label>
            <div class="tab-content">
            <%= render "/user_contacts/line" %>
            </div>
        </div>

      </div>


    <!-- mail -->
    <% else %>

      <%= render "/user_contacts/mail" %>

    <% end %>


  <% else %>
    <div class="stop_match">
      <%= @user.name %>は現在<br>
      新規メンバーの募集を終了しております。
      <%= link_to ">> 他のサークルを探す", users_path, class: "other_match" %>
    </div>
  <% end %>




  <div class="contact_bottom"></div>

</div>

<%= render "/layouts/ad_square" %>
<div class="ad_space"></div>

