    <div class="contact_form form">

    <% if @invalid == "有効" %>
        <%= form_for ([@user, @user_contact]) do |f| %>

          <div class="field">
            <p>メールアドレス<span class="must_red">(必須)</span></p>
            <span class="cautions">必ず受信できるアドレスをご記入ください</span>
            <%= f.text_field :mail, class: 'form-control', placeholder: "circlebook47@gmail.com" %>
          </div>

          <div class="field">
            <p>お問い合わせ内容</p>
            <%= f.text_area :message, class: 'form-control form-note', placeholder: "お名前などをご記入ください" %>
          </div>

          <div class="warning_txt">※送信完了に少し時間がかかります</div>

          <%= f.submit "送信する", data: { disable_with: '送信中...' } %>

          <div class="reset"></div>

        <% end %>

    <% else @invalid == "無効" %>
				<div class="stop_match">
          <%= @user.name %>が設定している<br>
          メールアドレスが無効なため<br>
          お問い合わせをすることができません。
					<%= link_to ">> 他のサークルを探す", users_path, class: "other_match" %>
				</div>
    <% end %>




    </div>