    <div class="contact_form form">

    <% if @invalid == "有効" %>
        <%= form_for ([@user, @user_contact]) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

          <div class="field">
            <div class="label_item"><span class="label label_danger">必須</span>お名前 （英字不可）</div>
            <%= f.text_field :name, class: 'form-control', placeholder: "サークルブック" %>
          </div>

          <div class="field">
            <div class="label_item"><span class="label label_danger">必須</span>メールアドレス</div>
            <span class="cautions">※『icloud.com』を利用する場合は、<br>　受信トレイの空き容量を必ずご確認ください</span>
            <%= f.text_field :mail, class: 'form-control', id: 'change_mail_01', placeholder: "circlebook47@gmail.com" %>
          </div>

          <div class="field">
            <div class="label_item"><span class="label label_danger">必須</span>確認用メールアドレス</div>
            <span class="cautions">※同じアドレスをご記入ください</span>
            <%= f.text_field :mail_confirmation, class: 'form-control', id: 'change_mail_02', placeholder: "circlebook47@gmail.com" %>
          </div>

          <div class="field">
            <div class="label_item"><span class="label label_danger">必須</span>お問い合わせ内容</div>
            <%= f.text_area :message, class: 'form-control form-note', placeholder: "#{@place_holder}" %>
          </div>

          <%= f.hidden_field :entry, value: @user_contact.entry %>

          <div class="warning_txt">※送信完了に少し時間がかかります</div>

          <%= f.submit "送信する", data: { disable_with: '送信中...' } %>

          <div class="reset"></div>

        <% end %>

    <% else @invalid == "無効" %>
				<div class="stop_match">
          <%= @user.name %>が設定している<br>
          メールアドレスが無効なため<br>
          お問い合わせをすることができません。
					<%= link_to ">> 他のサークルを探す", users_path, class: "other_match" %>
				</div>
    <% end %>

    </div>

