- set_meta_tags noindex: true,title: "お問い合わせ管理"
.main
  .container
    .form.users-form
      .user_contact_wrap
        .p_t お問い合わせ管理
        - if @admin_user.users.count > 1
          .user_select_wrap
            現在のアカウント：
            %select{:name => "user_select", :onchange => "location.href=value;"}
              %option{:value => "#"}
                = @user.name
                （#{@user.event.name}）
              - @admin_user.users.each do |user|
                - if @user.id != user.id
                  %option{:value => "/users/#{user.id}/contact_list"}
                    = user.name
                    （#{user.event.name}）
        .contact_address_wrap
          お問い合わせのメールは下記に届いています。
          %br/
          = @user.admin_user.email
          %br/
          = link_to "/admin_users/edit" do
            \&gt;&gt;
            %i.fa.fa-envelope-o
            アドレスを変更する
          %br/
          %br/
          .receive_setting
            【circlebook.mailer@gmail.com】から送信します。
            %br/
            メールを受信できるように設定をお願いします。
          お問い合わせ内容は下記から変更できます。
          %br/
          = link_to "/users/#{@user.id}/user_contacts/new" do
            \&gt;&gt;
            %i.fa.fa-file-text-o
            テンプレを変更する
        - if @respond_check_count > 0
          .attention_content
            オレンジ色は主催者からの返信が
            %br>/
            届いていないと報告があったユーザーさんです。
        .contact_list
          - @user_contacts.each do |user_contact|
            - if user_contact.respond_check == "NG"
              .cp_actab.cp_actab_alert
                - else
                  .cp_actab
                    %input{:id => "tab-#{user_contact.id}", :name => "tabs", :type => "checkbox"}/
                    %label{:for => "tab-#{user_contact.id}"}
                      - if user_contact.name.present?
                        = user_contact.name
                        さん
                      - else
                        ゲストユーザー さん
                    .cp_contact-content
                      .time_contact
                        = user_contact.created_at.strftime("%Y年%-m月%-d日 %-H:%M")
                      .mail_contact
                        %i.fa.fa-envelope-square
                        = mail_to "#{user_contact.mail}", nil,   |
                          :bcc => "circlebook.mailer@gmail.com", |
                          :subject => "【サークルブック】#{@user.name}",  |
                          :body => "こちらにご記入ください"                 |
                      - if user_contact.name.present?
                        .name_contact
                          = user_contact.name
                          さん
                      - else
                      .message_contact
                        = simple_format user_contact.message
                      = form_for user_contact,url: "/users/#{@user.id}/contact_list/#{user_contact.id}" do |f|
                        - if user_contact.respond_check == "NG"
                          .respond_check_alert
                            返信が届いていないと報告ががありました。
                            %br/
                            このお問い合わせに返信しましたか？
                            %br/
                            = f.button type: "submit", name: "submit", value: "respond", class: "respond_btn" do
                              \&gt;&gt; 確認しました
                        .comment_contact
                          %i.fa.fa-pencil-square
                          メモする
                          
                          \#{f.text_area :comment, class: 'form-control', placeholder: "7月7日に参加予定"}
                          .update_wrap
                            = f.button type: "submit", name: "submit", value: "update" do
                              更新する
                          .reset
                          .text_btn_wrap
                            = f.button type: "submit", name: "submit", value: "delete", data: {confirm: "一度削除すると、元に戻せません。削除してよろしいでしょうか？"}, class: "text_btn" do
                              %i.fa.fa-trash-o
                              削除する
                            %br/
                            - if user_contact.account_block.present?
                              .text_btn.account_block_done 違反通報済み
                            - else
                              = f.button type: "submit", name: "submit", value: "report", data: {confirm: "このお問い合わせを、違反報告しますか？"}, class: "text_btn" do
                                %i.fa.fa-frown-o
                                違反報告
              = render "/layouts/ad_square"
              .ad_space
              = paginate @user_contacts
