<% set_meta_tags noindex: true,
				title: "お問い合わせ管理"
%>

<div class="users-index">
  <div class="container">

	<div class="mypage_wrap">

    <div class="p_t">お問い合わせ管理</div>

      <% if @admin_user.users.count > 1 %>
      <div class="user_select_wrap">
        現在のアカウント：
        <select name="user_select" onChange="location.href=value;">
          <option value="#"><%= @user.name %>（<%= @user.event.name %>）</option>
          <% @admin_user.users.each do |user| %>
            <% if @user.id != user.id %>
              <option value="/users/<%= user.id %>/contact_list"><%= user.name %>（<%= user.event.name %>）</option>
            <% end %>
          <% end %>
        </select>
      </div>
      <% end %>

      <div class="contact_address_wrap">
        お問い合わせのメールは下記に届いています。<br>
        <%= @user.admin_user.email %><br>
        <%= link_to ">>設定のアドレスを変更する", "/admin_users/edit" %>
      </div>


    <div class="contact_list">
      <% @user_contacts.each do |user_contact| %>
        <div class="cp_actab">
          <input id="tab-<%= user_contact.id %>" type="checkbox" name="tabs">
          <label for="tab-<%= user_contact.id %>">
          <% if user_contact.name.present? %>
            <%= user_contact.name %> さん
          <% else %>
            ゲストユーザー さん
          <% end %>
          </label>

          <div class="cp_contact-content">
            <div class="time_contact">
              <%= user_contact.created_at.strftime("%Y年%-m月%-d日 %-H:%M") %>
            </div>
            <div class="mail_contact">
              <i class="fa fa-envelope-square "></i> <%= user_contact.mail %>
            </div>
            <% if user_contact.name.present? %>
              <div class="name_contact">
                <%= user_contact.name %> さん
              </div>
            <% else %>
            <% end %>
            <div class="message_contact">
              <%= simple_format user_contact.message %>
            </div>

            <div class="comment_contact">
              <i class="fa fa-pencil-square "></i>  メモする
              <%= form_for user_contact,url: "/users/#{@user.id}/contact_list/#{user_contact.id}" do |f| %>

                  <%= f.text_area :comment, class: 'form-control', placeholder: "7月7日に参加予定" %>

                  <div class="update_wrap">
                    <%= f.submit "更新する", name: "update" %>
                  </div>

                  <div class="reset"></div>

                  <div class="text_btn_wrap">
                    <%= f.submit "削除する", class: 'text_btn', name: "delete" %>
                    <br>
                    <%= f.submit "違反報告をする", class: 'text_btn', name: "report" %>
                  </div>

              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

      <%= render "/layouts/ad_square" %>
      <div class="ad_space"></div>


	</div>


  </div>
</div>

