<% set_meta_tags noindex: true %>

<div class="main users-edit">
  <div class="container">
    <div class="form users-form">

    <%= render "/layouts/breadcrumb" %>

   

		<div class="links_content">
	 		<%= form_for(@link) do |f| %>	    

				<p>1.タイトル</p>
				<%= f.text_field :link01_title, class: 'form-control', placeholder: "circlebook" %>
				<p>1.URL</p>
				<%= f.text_field :link01_url, class: 'form-control', placeholder: "https://www.circle-book.com" %>

				<hr>

				<p>2.タイトル</p>
				<%= f.text_field :link02_title, class: 'form-control', placeholder: "circlebook" %>
				<p>2.URL</p>
				<%= f.text_field :link02_url, class: 'form-control', placeholder: "https://www.circle-book.com" %>

				<hr>

				<p>3.タイトル</p>
				<%= f.text_field :link03_title, class: 'form-control', placeholder: "circlebook" %>
				<p>3.URL</p>
				<%= f.text_field :link03_url, class: 'form-control', placeholder: "https://www.circle-book.com" %>

				<hr>

				<p>4.タイトル</p>
				<%= f.text_field :link04_title, class: 'form-control', placeholder: "circlebook" %>
				<p>4.URL</p>
				<%= f.text_field :link04_url, class: 'form-control', placeholder: "https://www.circle-book.com" %>

				<hr>

				<p>5.タイトル</p>
				<%= f.text_field :link05_title, class: 'form-control', placeholder: "circlebook" %>
				<p>5.URL</p>
				<%= f.text_field :link05_url, class: 'form-control', placeholder: "https://www.circle-book.com" %>

				<%= f.submit "登録する" %>

			<% end %>   	
		</div>


      </div>
    </div>
  </div>
</div>