<% set_meta_tags title: "サークルリンク"%>


<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>

		<div class="users-index-item bottom_zero">

      <h1 class="p_t">リンク集の作成</h1>

			<% if admin_user_signed_in?  %>
				<% if @user.admin_user_id == current_admin_user.id %>
					<% if current_admin_user.users.count > 1 %>
						<div class="user_select_wrap">
              現在のアカウント：
              <select name="user_select" onChange="location.href=value;">
                <option value="#"><%= @user.name %>（<%= @user.event.name %>）</option>
                  <% current_admin_user.users.each do |user| %>
                    <% if @user.id != user.id %>
                    <option value="/users/<%= user.id %>/links/new"><%= user.name %>（<%= user.event.name %>）</option>
                    <% end %>
                <% end %>
              </select>
						</div>

            <div class="border"></div>

					<% end %>
				<% end %>
      <% end %>


			<div class="swiper-container">

        <div class="swiper-wrapper">
          <img data-src="/images/circle_link01.jpg" class="lazyload swiper-slide" >
        <img data-src="/images/circle_link02.jpg" class="lazyload swiper-slide" >	
        </div>

        <div class="pagination-wrap">
          <div class="swiper-pagination"></div>
        </div>

			</div>


			<h2 class="links_sub_title">他の人のサークルリンク</h2>

      <ul class="sample_link_slide sample_link_slide_s">
        <% @links.each do |link| %>
					<li class="sample_link_child sample_link_child_s">

						<%= link_to "/link/#{link.unique_id}" do %>

							<div class="link_profile">

                <% if link.user.pic_header.present? %>
                  <div class="link_img_header">
                    <%= lazysizes_image_tag link.user.pic_header.url, class:'header_link_imege', alt: "ヘッダー画像｜#{link.user.name}" %>
                  </div>
                <% else %>
                  <div class="link_img_header">
                    <%= lazysizes_image_tag link.user.pic_header.url , class:'header_link_imege' %>
                  </div>
                <% end %>




                <% if link.user.pic_profile.present? %>
                    <div class="link_img_profile">
                        <%= lazysizes_image_tag link.user.pic_profile.url, class:'profile_link_imege', alt: "プロフィール画像｜#{link.user.name}" %>
                    </div>
                <% else %>
                    <div class="link_img_profile">
                        <%= lazysizes_image_tag link.user.pic_profile.url , class:'profile_link_imege' %>
                    </div>
                <% end %>


                <div class="link_name_wrap">
                        <div class="link_name"><%= link.user.name.truncate(12) %></div>
                        <div class="link_unique_id">@<%= link.unique_id %>
                </div>

							</div>

							<div class="reset"></div>

							<div class="sample_link_title_wrap">

								<% if link.link02_title.present? %>
									<div class="sample_link_title">
										<%= link.link02_title.truncate(14) %>
									</div>
								<% end %>

								<% if link.link03_title.present? %>
									<div class="sample_link_title">
										<%= link.link03_title.truncate(14) %>
									</div>
								<% end %>

							</div>


						<% end %>


					</li>
        <% end %>
      </ul>


			<div class="border"></div>

			<h2 class="links_form_sub_title">リンク集の作成</h2>

      <div class="form users-form new_link_form">

				<%= form_for([@user, @link]) do |f| %>

					<div class="url_link_txt">https://circle-book.com/link/<span class="red_text">[アカウントID]</span></div>


					<p class="text_s">
            アカウントID（半角英数字：4文字〜16文字以内）<br>
            ※記号などは使用できません
          </p>
					<%= f.text_field :unique_id, class: 'form-control', placeholder: "circlebook" %>

					<%= f.submit "登録する", data: { disable_with: '更新中...' } %>

				<% end %>

			</div>


		</div>


  </div>
</div>