<% set_meta_tags noindex: true %>

<div class="main user-show">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>

	<% if @user_cities.present? %>
    	<%= render "/users/breadcrumb_city" %>
    <% end %>

    
		<div class="user-profile">
			<div class="header-wrapper ribbon-wrapper">
	            <div class="ribbon-content">
	              <% if @user.switch == "募集中" %>
	                <span class="ribbon green"><%= @user.switch %></span>
	              <% else %>
	                <span class="ribbon red"><%= @user.switch %></span>
	              <% end %>
	            </div>	

			    <%= render "/users/profile" %>


				<div class="contact_area">

					<div class="share_btn_tw btn_tw_space">
						    <%= render "/users/share_tw.html.erb" %>

					</div>

					<% if admin_user_signed_in? %>

							<% if @user.admin_user_id == current_admin_user.id %>
								
									<%= link_to edit_link_path(@link) do %>
										<div class="contact-button edit">リンクを編集</div>
									<% end %>
								
							<% else %>

								<% if @user.switch == "募集中" %>
									<%= render "/users/contact_icon" %>
								<% else %>
										<div class="contact-button end">募集終了</div>
								<% end %>

							<% end %>

					<% else %>

						<% if @user.switch == "募集中" %>
							<%= render "/users/contact_icon" %>
						<% else %>
								<div class="contact-button end">募集終了</div>
						<% end %>
					
						<%= render 'bookmarks/bookmark_area', user: @user %>


					<% end %> 
			
				</div>

			</div>

		</div>

		<div class="profile-content">
			<p><%= link_to @link.link01_title, "#{@link.link01_url}" if @link.link01_title.present? && @link.link01_url.present? %></p>
			<p><%= link_to @link.link02_title, "#{@link.link02_url}" if @link.link02_title.present? && @link.link02_url.present? %></p>
			<p><%= link_to @link.link03_title, "#{@link.link03_url}" if @link.link03_title.present? && @link.link03_url.present? %></p>
			<p><%= link_to @link.link04_title, "#{@link.link04_url}" if @link.link04_title.present? && @link.link04_url.present? %></p>
			<p><%= link_to @link.link05_title, "#{@link.link05_url}" if @link.link05_title.present? && @link.link05_url.present? %></p>	
		</div>

	</div>
</div>