!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/html; charset=UTF-8"}/
  %body
    = @user.name
    さん
    %br/
    %br/
    はじめまして。
    %br/
    サークルブックを見て、ご連絡しました！
    %br/
    %br/
    \--------------------------------------
    %br/
    【#{@user_contact.entry}の希望】
    %br/
    名前：#{@user_contact.name} さん
    \#{simple_format @user_contact.message}
    メールアドレス：#{@user_contact.mail}
    %br/
    \--------------------------------------
    %br/
    %br/
    ※このお問い合わせに返信すると、
    %br/
    　相手に直接メールを送ることができます。
    %br/
    %br/
