= @user.name
さん

はじめまして。
サークルブックを見て、ご連絡しました！

\--------------------------------------
【#{@user_contact.entry}の希望】
名前：#{@user_contact.name} さん
\#{@user_contact.message}
メールアドレス：#{@user_contact.mail}
\--------------------------------------

※このお問い合わせに返信すると、
　相手に直接メールを送ることができます。
