- set_meta_tags title: "#{@blog.title}｜#{@user.name}｜#{@user.prefecture.name}の#{@user.event.txt}｜サークルブック", description: @blog.content, og: { image: @blog.ogp_img }
- breadcrumb :blog_show, @blog

.user_main.user-show
  .container
    .breadcrumbs_wrapper.text_slide
      .breadcrumbs
        = breadcrumbs separator: "&rsaquo;"

    .form.users-form
      .form-body.blog_show
        .post-body
          - if @blog.image_01.present?
            - if @blog.image_02.blank? && @blog.image_03.blank? && @blog.image_04.blank?
              = lazysizes_image_tag @blog.image_01.url , class:'content_image_one'
            - else
              .swiper-container
                .swiper-wrapper
                  - if @blog.image_01.present?
                    .swiper-slide= image_tag @blog.image_01.url , class:'content_image'
                  - if @blog.image_02.present?
                    .swiper-slide= image_tag @blog.image_02.url , class:'content_image'
                  - if @blog.image_03.present?
                    .swiper-slide= image_tag @blog.image_03.url , class:'content_image'
                  - if @blog.image_04.present?
                    .swiper-slide= image_tag @blog.image_04.url , class:'content_image'
                / Add Pagination
                .pagination-wrap
                  .swiper-pagination
          .cont-width
            %h1.blog_1st_title= @blog.title
            .header-post.blog_profile
              = link_to(circle_path(@user.id)) do
                = lazysizes_image_tag @user.pic_profile.url , class:'content_icon'
                .post-user_wrap
                  .post-user
                    .post-top= @user.name.truncate(40)
                    .post-bottom
                      = "作成日：#{time_tag @blog.created_at.to_date}"
            .post_share.blog_share
              .share_btn_tw
                - if @user.name.present? && @user.event.name.present? && @user.prefecture.name.present?
                  = link_to("https://twitter.com/share?url=#{request.url}&text=#{@blog.title}｜#{@user.name}%0a%23#{@user.event.name}%20%23#{@user.prefecture.name}%20%23サークルブック%0a", target: '_blank') do
                    %i.fa.fa-twitter>
                    ツイートする


              - if admin_user_signed_in?
                - if @user.admin_user_id == current_admin_user.id || current_admin_user.id == 1
                  .post_edit
                    = link_to(edit_circle_blog_path) do
                      %i.fa.fa-pencil-square-o
                  .post_delete
                    = link_to(circle_blog_path, method: :delete, data: {confirm: "投稿を削除しますか？"}) do
                      %i.fa.fa-trash
            = render "users/parts/admin_user_check", admin_user: @user.admin_user
            .rich_text_main
              - if @blog.content.include?("<div>")
                = raw Rinku.auto_link(sanitize @blog.content, tags: %w(p a br h1 strong ul li div), attributes:  %w(id class href))
              - else
                = raw Rinku.auto_link(simple_format @blog.content)
      .post_cta
        - if @user.switch == "募集中"
          .admin_user_check_wrap
            = render "users/parts/admin_user_check", admin_user: @user.admin_user
          = render "/users/contact_btn"

      - if @user.switch.present?
        .border
        .users-index-item.ribbon-wrapper
          .tag_lists_wrap
            %ul.tag_lists
              %li
                = link_to event_path(@user.event.ruby), class: "tag_btn" do
                  %i.fa.fa-tags.tag-color
                  = @user.event.name
              %li
                = link_to event_prefecture_path(@user.event.ruby, @user.prefecture.kana), class: "tag_btn" do
                  %i.fa.fa-tags.tag-color
                  = @user.prefecture.name
          = link_to(user_path(@user.id)) do
            .user-content
              = lazysizes_image_tag @user.pic_profile.url , class:'image_icon'
              .list_wrapper
                .list_01
                  %h2.user_name= @user.name.truncate(40)
              .list_cnts
                .list_02
                  %span.user_schedule
                    %i.fa.fa-calendar.icon_c
                    = @user.schedule
                .list_03
                  %span.user_area
                    %i.fa.fa-map-marker.icon_c
                    = @user.prefecture.name
                    = "：" if @user.area.present?
                    = @user.area
                .list_04
                  %span.user_recruitment= @user.recruitment.truncate(110)





    = render "/layouts/ad_square"
    .ad_space

    - if @blogs.size >= 1
      .blog-list-wrap
        %h2.others-blog
          = @user.name
          のブログ一覧
        - @blogs.first(5).each do |blog|
          .blog_list
            = link_to(circle_blog_path(blog.user_id, blog.id)) do
              .blog_link
                .catch_image= lazysizes_image_tag blog.image_01.url , class:'post_image'
                .post-bottom= blog.created_at.strftime("%Y年%-m月%-d日 %-H:%M")
                %h3.post_title= blog.title.truncate(36)
              .blog_user
                = lazysizes_image_tag @user.pic_profile.url , class:'icon_s'
                .blog_user_name= @user.name.truncate(16)
        - if @blogs.size > 5
          .more_link
            = link_to "/users/#{@user.id}/blogs" do
              \&gt;&gt; ブログをもっと見る
      .ad_space
      - if @blogs.size >= 3
        = render "/layouts/ad_square"
        .ad_space
    .space_btm
