<% set_meta_tags title: "#{@prefecture.name}の#{@tag.text}#{@event.txt}｜メンバー募集サイト",
  keywords: "#{@event.name},#{@prefecture.name},#{@tag.name},サークル,チーム",
  og: {
    image:image_url("/images/events/#{@event.ruby}.jpg")
  }
%>

<%= render "users/parts/local_business_user_list" %>

<div class="main users-index">
  <div class="container">
  <%= render "/layouts/breadcrumb" %>
    <div class="e_header_wrap">
      <img src="/images/events/<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
      <div class="link_txt">
        <h1 class="e_header_title">
          <%= @prefecture.name %>で活動している<br>
          <%= @tag.text %><%= @event.txt %>
        </h1>
      </div>
    </div>

  <%= render "/users/search.html.erb" %>

  <% if @users.count != 0 %>
    <%= render "/users/users_list.html.erb" %>
  <% else @users.count == 0 %>
    <%= render "/tags/no_hit.html.erb" %>
  <% end %>

  </div>
</div>
