<% set_meta_tags title: "#{@tag.text}サークルやチーム一覧｜メンバー募集サイト",
  keywords: "#{@tag.name},サークル,チーム"
%>

<%= render "users/parts/local_business_user_list" %>

<div class="main users-index">
  <div class="container">
  <%= render "/layouts/breadcrumb" %>

    <div class="e_header_wrap">
      <img src="/images/top.png" >
      <div class="link_txt">
        <h1 class="e_header_title">
          <%= @tag.text %>サークルやチーム
        </h1>
      </div>
    </div>

  <%= render "/users/search.html.erb" %>


  <% if @users.count != 0 %>
    <%= render "/users/users_list.html.erb" %>
  <% else @users.count == 0 %>
    <%= render "/tags/no_hit.html.erb" %>
  <% end %>

  </div>
</div>
