<% set_meta_tags title: "#{@tag.text}！#{@prefecture.name}#{@city.name}のサークルやチーム、団体の一覧｜メンバー募集サイト",
                   keywords: "#{@prefecture.name},#{@city.name},#{@tag.name},サークル,チーム"
%>

<div class="main users-index">
  <div class="container">
 	<%= render "/layouts/breadcrumb" %>

		<div class="e_header_wrap">
			<img src="/images/top.png" >
			<div class="link_txt">
				<h1 class="e_header_title">
					<%= @tag.text %>の<br>
			        <%= @prefecture.name %><%= @city.name %>で活動している<br>
		          	サークルやチーム、団体
				</h1>
			</div>
		</div>


	<% if @users.count != 0 %>

		<%= render "/users/users_list.html.erb" %>
		    
	<% else @users.count == 0 %>

		<%= render "/tags/no_hit.html.erb" %>		
	
	<% end %>


  </div>
</div>