<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】#{@tag.text}！#{@prefecture.name}でメンバー募集中のサークルやチーム、クラブ、団体",
                  description: "【登録不要・無料で使える】#{@tag.text}！#{@prefecture.name}で活動しているメンバー募集中のサークルやチーム、クラブ、団体！社会人や学生、初心者、経験者など、誰でも参加可能！完全無料で簡単に、メンバーの募集ができます！",
                   keywords: "#{@prefecture.name},#{@tag.name},サークル,チーム,メンバー募集中"
%>

<div class="main users-index">
  <div class="container">
 	<%= render "/layouts/breadcrumb" %>

		<div class="e_header_wrap">
			<img src="/images/top.png" >
			<div class="link_txt">
				<h1 class="e_header_title">
					<%= @tag.text %>の<br>
			        <%= @prefecture.name %>で活動している<br>
		          	サークルやチーム、クラブ、団体
				</h1>
			</div>
		</div>


	<% if @users.count != 0 %>

		<%= render "/users/users_list.html.erb" %>
		    
	<% else @users.count == 0 %>

		<%= render "/tags/no_hit.html.erb" %>		
	
	<% end %>


  </div>
</div>