- if exhibition.errors.any?
  .form-error
    以下の項目でエラーが発生いたしました。
    %br/
- exhibition.errors.full_messages.each do |message|
  .form-error_message
    ・#{message}

.schedule_add_wrap
  .schedule_input
    = form_for (exhibition) do |f|
      .img_field_profile_wrap
        .label_item トップ画像
        #img_field_header{:onclick => "$('#file_header').click()"}
          %i.fa.fa-image
        = f.file_field :header_img, class: "image", style: "display:none;", id: "file_header"
        .file_size_p ※10MB以下のjpgかpngのみ対応
        .img_field_profile_space

      .label_item
        %span.label.label_danger> 必須
        イベント名
      = f.text_field :name, class: 'form-control form-venue', placeholder: "○○の展示会"

      .label_item
        %span.label.label_danger> 必須
        開催日時
      .form-group.post-user_wrap
        = f.datetime_select :event_date

      .label_item
        %span.label.label_danger> 必須
        終了日時
      .form-group.post-user_wrap
        = f.datetime_select :end_date

      .label_item
        開催形態
      = f.select  :online,  [ ['オンライン', 0], ['オフライン', 1] ], class: 'form-control form-venue'

      .label_item
        %span.label.label_danger> 必須
        開催場所の都道府県
      = f.select :prefecture_id, Prefecture.all.order(:order => :asc).map{|p| [p.name, p.id] }, { prompt: "選択してください" }, { class: "form-control" }

      .label_item
        %span.label.label_danger> オフラインのみ回答
        開催場所の名所
      = f.text_field :venue_name, class: 'form-control form-venue', placeholder: "○○○会場"

      .label_item
        %span.label.label_danger> オフラインのみ回答
        開催場所の住所（郵便番号は不要）
      = f.text_field :venue_address, class: 'form-control form-venue', placeholder: "東京都○○区○○1-1-1"

      .label_item
        出展費用（無料の場合は0を記入）
      = f.number_field :exhibit_person_price, class: 'form-control', placeholder: "1000"

      .label_item
        来場費用（無料の場合は0を記入）
      = f.number_field :visitor_price, class: 'form-control', placeholder: "0"


      .edit01_warp
        %span.edit01_subtitle ギャラリー画像（最大4枚）
        .file_upload_wrap
          %span.file_size ※10MB以下のjpgかpngのみ対応
          .img_field_gallery_wrap
            #img_field_01{:onclick => "$('#file_01').click()"}
              - if exhibition.gallery_img_01.present?
                = image_tag(exhibition.gallery_img_01.url)
              - else
                %i.fa.fa-image
            = f.file_field :gallery_img_01, class: "image", style: "display:none;", id: "file_01"
            #img_field_02{:onclick => "$('#file_02').click()"}
              - if exhibition.gallery_img_02.present?
                = image_tag(exhibition.gallery_img_02.url)
              - else
                %i.fa.fa-image
            = f.file_field :gallery_img_02, class: "image", style: "display:none;", id: "file_02"
            #img_field_03{:onclick => "$('#file_03').click()"}
              - if exhibition.gallery_img_03.present?
                = image_tag(exhibition.gallery_img_03.url)
              - else
                %i.fa.fa-image
            = f.file_field :gallery_img_03, class: "image", style: "display:none;", id: "file_03"
            #img_field_04{:onclick => "$('#file_04').click()"}
              - if exhibition.gallery_img_04.present?
                = image_tag(exhibition.gallery_img_04.url)
              - else
                %i.fa.fa-image
            = f.file_field :gallery_img_04, class: "image", style: "display:none;", id: "file_04"
        - if exhibition.gallery_img_01.present? || exhibition.gallery_img_02.present? || exhibition.gallery_img_03.present? || exhibition.gallery_img_04.present?
          %ul.remove_img
            - if exhibition.gallery_img_01.present?
              %li
                = f.check_box :remove_gallery_img_01
                ①削除
            - if exhibition.gallery_img_02.present?
              %li
                = f.check_box :remove_gallery_img_02
                ②削除
            - if exhibition.gallery_img_03.present?
              %li
                = f.check_box :remove_gallery_img_03
                ③削除
            - if exhibition.gallery_img_04.present?
              %li
                = f.check_box :remove_gallery_img_04
                ④削除

      .label_item 詳細情報
      .rich_text_sub
        .rich_text_notes ▼文字の装飾は最後に行ってください
        = f.hidden_field :detail, id: :article_text
        %trix-editor{:input => "article_text", :placeholder => "○○についての展示会を開催します！"}

      .label_item
        お問い合わせフォームの設置
      = f.select  :show_contact,  [ ['非表示', 0], ['設置する', 1] ], class: 'form-control form-venue'

      = f.submit data: { disable_with: '作成中...' }
      .reset
