- if admin_user_signed_in?
  .post_message
    = link_to(circle_path(current_admin_user.first_user)) do
      = lazysizes_image_tag current_admin_user.first_user.pic_profile.url , class:'post_image_icon'
    = link_to(new_circle_blog_path(current_admin_user.first_user)) do
      .post_link サークル活動をつぶやく！

- cache users do
  %ul
    - users.each.with_index(1) do |user, i|
      %li.user_item_wrap
        = link_to(circle_path(user.id)) do
          .header_user_list.ribbon-wrapper
            .header_img_wrap
              - if user.pic_header.present?
                = lazysizes_image_tag user.pic_header.url , class:'header_imege_user_list', alt: "プロフィール｜#{user.name}"
              - else
                = lazysizes_image_tag user.pic_header.url , class:'header_imege_user_list'
            .ribbon-content
              - if user.switch == "募集中"
                %span.ribbon.green= user.switch
              - else
                %span.ribbon.red= user.switch
            .tag_btn_list.slide_content
            = lazysizes_image_tag user.pic_profile.url , class:'image_icon'
            - if user.user_time.present?
              .post-bottom.user_updated
                更新日：#{time_tag user.user_time.to_date}
          .users-index-item.user_list_wrap
            .user-content
              .user_list_wrapper
                .list_01
                  %h2.user_name= user.name.truncate(24)
              .list_cnts
                .list_04.recruitment_txt
                  %span.user_recruitment= user.recruitment.truncate(110)


                - if user.reviews.present?
                  %ul.review_set
                    %li.star_wrap
                      - case user.review_score.to_f
                      - when 4.5..5.0
                        / 5.0
                        %span.star
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.orange
                      - when 3.5..4.4
                        / 4.0
                        %span.star
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.gray
                      - when 2.5..3.4
                        / 3.0
                        %span.star
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.gray
                          %i.fa.fa-star.gray
                      - when 1.5..2.4
                        / 2.0
                        %span.star
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.gray
                          %i.fa.fa-star.gray
                          %i.fa.fa-star.gray
                      - when 0.1..1.4
                        / 1.0
                        %span.star
                          %i.fa.fa-star.orange
                          %i.fa.fa-star.gray
                          %i.fa.fa-star.gray
                          %i.fa.fa-star.gray
                          %i.fa.fa-star.gray
                      - else
                        / 0
                        %span.star
                          %i.fa.fa-star.gray
                          %i.fa.fa-star.gray
                          %i.fa.fa-star.gray
                          %i.fa.fa-star.gray
                          %i.fa.fa-star.gray
                    %li.review_score= sprintf("%.2f", user.review_score.to_f )
                    %li.review_count.review_index
                      %i.fa.fa-commenting
                      %span.reviews_count
                        = user.reviews.size
                        件



                .list_02
                  %span.user_schedule
                    %i.fa.fa-tags.icon_c
                    = user.event.txt
                .list_03
                  %span.user_area
                    %i.fa.fa-map-marker.icon_c
                    = user.prefecture.name
                    - if user.prefecture_sub_id.present?
                      ・#{Prefecture.find(user.prefecture_sub_id).name}
                    = "：" if user.area.present?
                    = user.area
                .list_02
                  %span.user_schedule
                    %i.fa.fa-calendar.icon_c
                    = user.schedule
                  - if user.switch == "募集中"
                    - user.schedules.where("day > ?", DateTime.yesterday).order(:day => :asc).first(2).each do |schedule|
                      .text_slide.user_item_schedule
                        ・#{Time.parse(schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(schedule.day).wday]})")}
                        - if schedule.time_s.present?
                          = schedule.time_s.strftime('%-H:%M')
                          \-#{schedule.time_e.strftime('%-H:%M') if schedule.time_e.present?}
                        = schedule.venue


        .tag_list_wrap
          %ul.tag_list_content
            %li
              = link_to event_path(user.event.ruby) do
                = user.event.name
            %li
              = link_to prefecture_path(user.prefecture.kana) do
                = user.prefecture.name
            - if user.prefecture_sub_id.present?
              %li
                = link_to prefecture_path(Prefecture.find_by(id: user.prefecture_sub_id).kana) do
                  = Prefecture.find_by(id: user.prefecture_sub_id).name
            - if user.tags.present?
              - user.tags.order(:order => :asc).each do |tag|
                %li
                  = link_to tag_path(tag.id) do
                    = tag.name


      - if i == 5 || i == 10 || i == 15
        .list_ad
          = render "/layouts/ad_square"

= render "/layouts/ad_square"
= paginate users
