.main.users-new
  .container.bg_white
    = render "/layouts/breadcrumb"
    %h1.form-heading 出展者の登録

    .form.users-form
      .form-body.cont-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :メールアドレス
            %br/
            %span.cautions 必ず受信できるアドレスをご登録ください
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .field
            = f.label :パスワード
            - if @minimum_password_length
              %em
                (#{@minimum_password_length}文字以上)
            %br/
            = f.password_field :password, autocomplete: "new-password"
          .field
            = f.label :パスワード再入力
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
          .rules_link
            登録した時点で#{link_to '利用規約', '/rules'}(※必読)に同意したものとします。
          .actions
            = f.submit "登録する"
        = render "members/shared/links"
