
<% if @match.user.contact == "line" && @match.user.line_id != "" %>			
	<a href="<%= @match.user.line_id %>">
		<div class="contact-button line">
			LINEгҒ§йҖЈзөЎгҒҷгӮӢпјҒ
		</div>
	</a>		
	
<% elsif @match.user.contact == "mail" %>
	<a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">
		<div class="contact-button mail">
			гғЎгғјгғ«гҒ§йҖЈзөЎгҒҷгӮӢпјҒ
		</div>
	</a>


<% else %>
	<% if @match.user.line_id != "" %>
		<div class="blob_cta_2">
			<a href="<%= @match.user.line_id %>">
				<div class="contact-button line">
					LINEгҒ§йҖЈзөЎгҒҷгӮӢ
				</div>
			</a>		

			<a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">
				<div class="contact-button mail">
					гғЎгғјгғ«гҒ§йҖЈзөЎгҒҷгӮӢ
				</div>	
			</a>
		</div>
	<% else %>
		<a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">
			<div class="contact-button mail">
				гғЎгғјгғ«гҒ§йҖЈзөЎгҒҷгӮӢпјҒ
			</div>
		</a>
	<% end %>


<% end %>





 <div class="contact_bottom"></div>