
<% if @match.user.contact == "line" && @match.user.line_id != "" %>			
		<a href="<%= @match.user.line_id %>">
			<div class="cta_100 line">
				LINEгҒ§йҖЈзөЎгҒҷгӮӢпјҒ
			</div>	
		</a>	
	
<% elsif @match.user.contact == "mail" %>
		<a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">
			<div class="cta_100 mail">
				гғЎгғјгғ«гҒ§йҖЈзөЎгҒҷгӮӢпјҒ
			</div>	
		</a>


<% else %>
	<% if @match.user.line_id != "" %>
		<a href="<%= @match.user.line_id %>">
			<div class="cta_50 line">
				LINEгҒ§йҖЈзөЎгҒҷгӮӢ
			</div>
		</a>		

		<a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">
			<div class="cta_50 mail">
				гғЎгғјгғ«гҒ§йҖЈзөЎгҒҷгӮӢ
			</div>	
		</a>

	<% else %>
		<a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">
			<div class="cta_100 mail">
				гғЎгғјгғ«гҒ§йҖЈзөЎгҒҷгӮӢпјҒ
			</div>	
		</a>
	<% end %>


<% end %>

 <div class="contact_bottom"></div>