<div class="main users-index">
  <div class="container">

	  	<div class="users-index-item">

	     <div class="p_t">練習試合の申し込み</div>

			<div class="schedule_profile_wrap">

			  <%= link_to(match_path(@match.id)) do %>  
			    <div class="user-content">
			      <%= image_tag @match.user.pic_profile.url , class:'image_icon' %>

			      <div class="list_wrapper contact_name_wrap">
			        <div class="list_01">
			          <h2 class="user_name"><%= @match.user.name %></h2>
			        </div>

			      </div>
			    </div>  

			  <% end %>

			  <div class="reset"></div>

			</div>

			<span class="contact_memo">
				下のテンプレをコピーすると、<br>
				お問い合わせが簡単にできます！
			</span>


			<div class="contact_sample_wrap">
				
				<div class="contact_t_wrap"><span class="contact_s_t">件名：</span>お問い合わせのテンプレ</div>

				<div class="contact_sample">
					<div class="copyTarget">
					<p><%= @match.user.name %> さん</p>
						<br>
					<p>
					はじめまして、サークルブックを見てご連絡しました！<br>
					<%= @match.user.name %>さんと練習試合ができればと嬉しいです！<br>
					</p>
						<br>
					<p>
					私が主催しているサークルの概要をお送りします。<br>
					--------------------------------------<br>
					種　目：例）バスケ<br>
					エリア：例）主に東京の体育館<br>
					年齢層：例）30代中心<br>
					構　成：例）10名程度<br>
					レベル：例）初心者多め<br>
					--------------------------------------<br>
					</p>
						<br>
					<p>
					もしよろしければ、ご一緒に練習試合ができればと思います！<br>
					どうぞよろしくお願いします。
					</p>
					
					</div>
				</div>

			</div>

			<button class="copyBtn copy_txt"><div class="requirement_copy"><i class="fa fa-copy "></i> テンプレをコピーする</div></button>


			<div class="post_cta schedule_cta matching_cta">
				<% if @match.recruit == "募集中" %>
					<%= render "/matches/contact_btn" %>
				<% else %>
					<div class="stop_match">
						<%= @match.user.name %>は現在<br>
						練習試合の募集を終了しております。
						<%= link_to ">> 他のサークルを探す", matches_path, class: "other_match" %>
					</div>				
				<% end %>
			</div>

	
	  	</div>

	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>	  	

  </div>
</div>