<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】#{@event.txt}｜練習試合や対戦相手の募集サイト",
  description: "【完全無料】47都道府県のサークルやチーム、団体の練習試合や対戦相手の募集サイト！10代〜60代、社会人や学生、初心者、経験者など、誰でも参加可能！バスケや草野球、フットサルなど。簡単に対戦相手の募集ができます！",
  keywords: "#{@event.name},対戦相手,練習試合,サークル,チーム,団体",
  og: {
  image:image_url("/images/events/#{@event.ruby}.jpg")
  }
%>


<div class="main users-index">
  <div class="container">
  <%= render "/layouts/breadcrumb" %>

		<div class="e_header_wrap">
			<img src="/images/events/<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
			<div class="link_txt">
				<h1 class="e_header_title">
					練習試合や対戦相手を募集中の<br>
					<%= @event.txt %>の一覧
				</h1>
			</div>
		</div>


	<% if @matches.count != 0 %>

		<%= render "/matches/search.html.erb" %>

		<div class="bg_white">
			<%= render "/matches/matches_list" %>

			<%= render "/layouts/ad_square" %>
		</div>

	<% else @matches.count == 0 %>
		<%= render "/matches/no_hit.html.erb" %>
	<% end %>

	<div class="ad_space"></div>

  </div>
</div>