<% set_meta_tags noindex: true %>

<div class="main users-edit">
  <div class="container">
    <div class="form users-form">

      <div class="form-body cont-body">
	      	<% if @match.errors.any? %>
		          <div class="form-error">
	              以下の項目でエラーが発生いたしました。<br>
	              ※原因不明の場合は空欄でご登録ください
		          </div>
			<% end %>
	 
	        <% @match.errors.full_messages.each do |message| %>
	            <div class="form-error_message">
	              ・<%= message %>
	            </div>
	        <% end %>

		    <div class="p_t">対戦募集の内容編集</div>

			<% if admin_user_signed_in?  %>
				<% if @user.admin_user_id == current_admin_user.id %>
					<% if @admin_user.users.count > 1 %>
						<div class="user_select_wrap">
									現在のアカウント：			
					      <select name="user_select" onChange="location.href=value;">
					        <option value="#"><%= @user.name %>（<%= @user.event.name %>）</option>
					        	<% @admin_user.users.each do |user| %>

						            <% if @user.id != user.id %>
							            <% if user.event.matching != 0 %>
							            	<option value="/users/<%= user.id %>/matches/new"><%= user.name %>（<%= user.event.name %>）</option>
							            <% else %>
							            <% end %>
						            <% end %>

					       		<% end %>
					      </select> 
						</div>
					<% end %>
				<% end %>
		    <% end %>


	      <%= form_for(@match, url: user_matches_path(@user)) do |f| %>

		    <dir class="your_name_txt">
		    	<%= @user.name %>の追加情報をご登録ください！
		    </dir>

		    <p>年齢層</p>
		    <%= f.select :age_group, [ ['20代中心','20代中心'], ['30代中心','30代中心'], ['40代以上中心','40代以上中心'], ['幅広い年齢層','幅広い年齢層'] ], 
		    :prompt => "選択してください" %>

		    <p>男女構成</p>	    
		    <%= f.select :member, [ ['男性メイン','男性メイン'], ['女性メイン','女性メイン'], ['男女混合','男女混合'] ], 
		    :prompt => "選択してください" %>

		    <p>レベル</p>	    
		    <%= f.select :level, [ ['初級','初級'], ['中級','中級'], ['上級','上級'] ], 
		    :prompt => "選択してください" %>		    

		    <p>募集内容</p>
		    <%= f.text_area :comment, class: 'form-control', placeholder: "サークルブックは週１回、都内で活動しています！&#13;&#10;都内で練習相手を募集しています！".html_safe %>

	        <%= f.submit "登録する" %>

	      <% end %>

      </div>
    </div>
  </div>
</div>