- set_meta_tags title: "【#{@time.strftime("%Y")}年版】#{@prefecture.name}の練習試合や対戦相手を募集中のサークルやチーム、団体一覧",description: "【完全無料】47都道府県のサークルやチーム、団体の練習試合や対戦相手の募集サイト！10代〜60代、社会人や学生、初心者、経験者など、誰でも参加可能！バスケや草野球、フットサルなど。簡単に対戦相手の募集ができます！",keywords: "#{@prefecture.name},対戦相手,練習試合,サークル,チーム,団体"
.main.users-index
  .container
    = render "/layouts/breadcrumb"
    .e_header_wrap
      %img{:src => "/images/top.png"}/
      .link_txt
        %h1.e_header_title
          = @prefecture.name
          で活動している
          %br/
          練習試合や対戦相手を募集中の
          %br/
          サークルやチーム、団体
    - if @matches.count != 0
      = render "/matches/search"
      .bg_white
        = render "/matches/matches_list"
    - else @matches.count == 0
      = render "/matches/no_hit"
    .ad_space
