- set_meta_tags title: "【#{@time.strftime("%Y")}年版】#{@prefecture.name}のサークルやチームの活動ブログ"
.main.users-index
  .container
    = render "/layouts/breadcrumb"
    .e_header_wrap
      %img{:src => "/images/top.png"}/
      .link_txt
        %h1.e_header_title
          = @prefecture.name
          で活動している
          %br/
          サークルやチームの
          %br/
          活動ブログ
    .search_area
      = render "/blogs/search"
    = render "/blogs/blogs_list"
