- if admin_user_signed_in?
  .post_message
    = link_to(circle_path(current_admin_user.first_user)) do
      = lazysizes_image_tag current_admin_user.first_user.pic_profile.url , class:'post_image_icon'
    = link_to(new_circle_blog_path(current_admin_user.first_user)) do
      .post_link サークル活動をつぶやく！

- cache blogs do
  - blogs.each.with_index(1) do |blog, i|
    .form.users-form
      .blog-body
        = link_to(circle_blog_path(blog.user_id, blog.id)) do
          .header-post.cont-width
            = lazysizes_image_tag blog.user.pic_profile.url , class:'content_icon'
            .post-user_wrap
              .post-user
                .post-top= blog.user.name.truncate(40)
                .post-bottom
                  = "作成日：#{time_tag blog.created_at.to_date}"
          .post-body
            - if blog.image_01.present?
              - if blog.image_02.blank? && blog.image_03.blank? && blog.image_04.blank?
                = lazysizes_image_tag blog.image_01.url , class:'content_image_one'
              - else
                .swiper-container
                  .swiper-wrapper
                    - if blog.image_01.present?
                      .swiper-slide= image_tag blog.image_01.url , class:'content_image'
                    - if blog.image_02.present?
                      .swiper-slide= image_tag blog.image_02.url , class:'content_image'
                    - if blog.image_03.present?
                      .swiper-slide= image_tag blog.image_03.url , class:'content_image'
                    - if blog.image_04.present?
                      .swiper-slide= image_tag blog.image_04.url , class:'content_image'
                  / Add Pagination
                  .pagination-wrap
                    .swiper-pagination
          .cont-width
            %h2.blog_title= blog.title.truncate(36)
            .rich_text_main
              - if blog.content.include?("<div>")
                = sanitize blog.content.truncate(120), tags: %w(p br h1 strong ul li div), attributes:  %w(id class href)
              - else
                = simple_format blog.content.truncate(120)
        .blog_tag.tag_bottom.cont-width
          = link_to event_path(blog.user.event.ruby), class: "tag_btn" do
            %i.fa.fa-tags.tag-color
            = blog.user.event.name

          = link_to event_prefecture_path(blog.user.event.ruby, blog.user.prefecture.kana), class: "tag_btn" do
            %i.fa.fa-tags.tag-color
            = blog.user.prefecture.name


    - if i == 5
      .list_ad
        = render "/layouts/ad_square"

- if blogs.empty?
  .no_hit_wrap.blog_no_hit
    %img.imege_sorry{:src => "/images/sorry.png"}/
    = link_to(root_path) do
      .no_hit_top トップページに戻る
    = link_to(new_admin_user_registration_path) do
      .no_hit_new 新しくサークルを登録する
= render "/layouts/ad_square"
= paginate blogs
