<% set_meta_tags noindex: true %>

<div class="main users-index">
  <div class="container">

  <div class="table_list">
    <table>
      <tr><th>create</th><th>キーワード</th><th>削除</th></tr>
      <% @db_keywords.each do |db_keyword| %>
        <tr>
          <td><%= db_keyword.created_at.strftime("%-m/%-d %-H:%M") %></td>
          <td>
            <%= form_for(db_keyword) do |f| %>
              <%= f.text_field :keyword %>
            <%= f.submit "更新" %>
            <% end %>
          </td>
          <td>
            <%= link_to(db_keyword_path(db_keyword.id), method: :delete, data: {confirm: "削除しますか？"}) do %>
              削除
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>


  </div>
</div>

<%= paginate @db_keywords %>
