- set_meta_tags noindex: true
.main.users-index
  .container
    .table_list
      %table
        %tr
          %th create
          %th キーワード
          %th 回数
          %th 削除
        - @db_keywords.each do |db_keyword|
          %tr
            %td= db_keyword.created_at.strftime("%-m/%-d %-H:%M")
            %td
              = form_for(db_keyword) do |f|
                = f.text_field :keyword
                = f.submit "更新"
            %td= db_keyword.search_count
            %td
              = link_to(db_keyword_path(db_keyword.id), method: :delete, data: {confirm: "削除しますか？"}) do
                削除
= paginate @db_keywords
