<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】#{@category.txt}｜メンバー募集サイト",
    description: "【完全無料／登録不要】#{@category.txt}の募集サイトです！10代〜60代、社会人や学生、初心者、経験者など、誰でも参加可能！無料で簡単にメンバーの募集ができます！",
    keywords: "#{@category.name},サークル,チーム",
    og: {
      image:image_url("/images/categories/#{@category.kana}.jpg")
    }
%>

<%= render "users/parts/local_business_user_list" %>

  <div class="main users-index">
    <div class="container">
    <%= render "/layouts/breadcrumb" %>

      <div class="e_header_wrap">
        <img src="/images/categories/<%= @category.kana %>.jpg" alt="<%= @category.name %>" >
        <div class="link_txt">
          <h1 class="e_header_title">
            メンバー募集中の<br>
            <%= @category.txt %>の一覧
          </h1>
        </div>
      </div>

      <% if @users.count != 0 %>

        <%= render "/categories/search" %>

        <%= render "/users/users_list" %>

      <% else @users.count == 0 %>
        <%= render "/users/no_hit" %>
      <% end %>

    </div>
  </div>
