<% set_meta_tags  noindex: true,
title: "【#{@time.strftime("%Y")}年版】カテゴリーからサークルやチーム、団体を探す｜メンバー募集サイト" %>
<%= render "users/parts/local_business_user_list" %>

<div class="main users-index">
  <div class="container top_page">
    <img class="imege_title" src="/images/top.png">
    <h1 class="users-heading"><img class="img_logo_title" src="/images/logo.png" alt="サークルブック"></h1>
    <div class="users-txt">
      <% if admin_user_signed_in?  %>
        <%= link_to("活動ブログ", new_user_blog_path(@user) ) %>を投稿すると<br>
        あなたの掲載順位が上がります！

      <% else %>
      あなたにピッタリの<br>
      サークルやチーム、団体が見つかる！！
      <% end %>
    </div>


    <%= render "/categories/search" %>


    <div class="top_contents top_contents_btm bg_blue">

      <div class="top_heading">
          <h2 class="sub_title"><i class="fa fa-users "></i> メンバー募集中のサークル</h2>
      </div>

      <ul class="user_slide_wrap">
        <% @users.first(7).each do |user| %>
          <%= link_to(user_path(user.id)) do %>
            <li class="user_slide_list">
              <div class="user_list_header">
                <%= lazysizes_image_tag user.pic_profile.url , class:'image_icon' %>
                <h3 class="user_name"><%= user.name.truncate(20) %></h3>
              </div>
              <div class="clear"></div>
              <div class="list_02">
                <span class="user_area">
                  <i class="fa fa-users "></i><%= user.event.name %>
                </span>
              </div>
              <div class="list_02">
                <span class="user_schedule">
                  <i class="fa fa-calendar "></i><%= user.schedule %>
                </span>
              </div>
              <div class="list_03">
                <span class="user_area">
                  <i class="fa fa-map-marker "></i><%= user.prefecture.name %><% if user.area.present? %>：<%= user.area %><% end %>
                </span>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>

      <%= link_to ">>もっと見る", "/users", class: "more_link" %>

    </div>

    <%= render "/layouts/ad_square" %>

  </div>
</div>