<% set_meta_tags title: "サークブック内の口コミ・評価一覧" %>

<div class="main users-index">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>
		<div class="users-index-item">
		<h1 class="p_t">サークブック内の口コミ・評価</h1>

      <% @reviews.reverse_each do |review| %>

        <div class="review_contents">
          <div class="review_l">
            <% if review.member.present? %>
              <% if review.member.image_profile.present? %>
                <%= lazysizes_image_tag review.member.image_profile.url , class:'member_icon' %>
              <% else %>
                <img src="/images/icon/icon_member.png" class="member_icon">
              <% end %>
            <% else %>
              <img src="/images/icon/icon_member.png" class="member_icon">
            <% end %>
          </div>

          <div class="review_r">
            <div class="speech_title">
              <% if review.review == 1 %>
                <i class="fa fa-smile-o good"></i>
              <% elsif review.review == 0 %>
                <i class="fa fa-frown-o bad"></i>
              <% else %>
              <% end %>
              <%= review.member.nickname if review.member.present? %>さん<% if review.member.present? %><span class="random_id">（@<%= review.member.random_id %>）</span><% end %>
            </div>

            <div class="speech_bubble">
              <%= simple_format review.comment %>
            </div>
          </div>

        </div>

        <div class="reset"></div>
      <% end %>

    </div>
  </div>
</div>

