- set_meta_tags title: "サークブック内の口コミ・評価一覧",description: "サークルブックをご利用された参加者から、サークル主催者に対する口コミや評判の一覧ページです！【完全無料／登録不要】47都道府県のサークルやチーム、団体のメンバー募集サイト！スポーツや趣味など豊富に掲載！"
.main.users-index
  .container
    = render "/layouts/breadcrumb"
    .users-index-item
      %h1.p_t サークブック内の口コミ・評価
    %ul.reviews_all_wrap
      - @reviews.reverse_each do |review|
        %li.reviews_all_contents
          = link_to(circle_path(review.user.id)) do
            .schedule_profile_wrap
              .user-content
                = lazysizes_image_tag review.user.pic_profile.url , class:'image_icon'
                .list_wrapper.contact_name_wrap
                  .list_01
                    %h2.user_name= review.user.name
              .reset
              - if review.user.review_score.present?
                = render "layouts/review_score", review_score: review.user.review_score.to_f, reviews_count: review.user.reviews.count
            = render "/reviews/review_comment", review: review
