.user_main.users-index
  .container
    .users-index-item
      %h1.p_t 口コミ・評価の編集
      .schedule_input
        = form_for ([@user, @review]) do |f|
          %p 口コミ・評価
          .radio_button_review
            = f.radio_button :review, 1, {:checked => true}
            良かった #{f.radio_button :review, 0}残念だった
          %p
            コメント
            %span.must_red (必須)
          = f.text_area :comment, class: 'form-control form-note', placeholder: "初参加でしたが、とても楽しかったです！"
          = f.submit "修正する", class: "submit_btn", data: { confirm: "この内容でよろしいですか？", disable_with: '更新中...' }
          .reset
