<% if @user.pic_profile.present? %>
  <% set_meta_tags title: "#{@user.name}の口コミ・評価",
    og: {
      title: "#{@user.name}の口コミ・評価",
      description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
      image: @user.pic_profile.url
    },
    twitter: { card: 'summary'}
  %>

<% else %>
  <% set_meta_tags title: "#{@user.name}の口コミ・評価",
    og: {
      title: "#{@user.name}の口コミ・評価",
      description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}",
      image: image_url('/images/default.png'),
      },
    twitter: { card: 'summary'}
  %>

<% end %>

<div class="user_main users-index">
  <div class="container">

		<div class="users-index-item">
      <h1 class="top_title">口コミ・評価</h1>
      <%= render "/users/parts/user_switching", user: @user, url_path: "reviews" %>
      <%= render "/users/parts/user_profile", user: @user %>

      <%= render "layouts/review_score", review_score: @user.review_score.to_f, reviews_count: @user.reviews.count %>

			<div class="reset"></div>

<% if @user.switch == "募集中" %>

<hr>

  <% if admin_user_signed_in? %>
    <p>サークル主催者は<br>ご自身で口コミを書くことができません。</p>
    <br>
    <p>参加者にこのページのURLを送って<br>口コミを書いてもらいましょう！</p>

    <div class="schedule_share_wrap review_share_wrap">
      <div class="share_btn_tw">
        <%= link_to("https://twitter.com/share?url=#{request.url}&text=#{@user.name}の口コミ投稿を募集しています！%0a%0a%23#{@user.event.name}%20%23#{@user.prefecture.name}%20%23サークルブック%0a", target: '_blank') do %>
          <i class="fa fa-twitter"></i>ツイート
        <% end %>
      </div>
      <div class="share_btn_line">
        <%= link_to 'LINEで共有する', "http://line.me/R/msg/text/?#{request.url}", title: 'LINE', target: '_blank' %>
      </div>
    </div>

    <% if @reviews.blank? %>
      <hr>
      <div class="sample_review">
        <img src="/images/sample_review.png" class="">
      </div>
    <% end %>

  <% elsif member_signed_in? %>

    <% if @member_reviews.blank? %>

      <% if @reviews.blank? %>
        <div class="review_sub_title">口コミがまだ投稿されていません。</div>
        <div class="new_review_comment">
          このサークルに参加されたことがある方は<br>
          最初の口コミを投稿してみませんか？
        </div>
        <hr>
      <% end %>

      <h2 class="top_title">口コミ投稿</h2>

      <div class="schedule_input">
        <%= form_for ([@user, @review]) do |f| %>
          <p>口コミ・評価</p>
          <div class="radio_button_review">
            <%= f.radio_button :review, 1, {:checked => true} %>良かった <%= f.radio_button :review, 0 %>残念だった
          </div>
          <p>コメント<span class="must_red">(必須)</span></p>
          <%= f.text_area :comment, class: 'form-control form-note', placeholder: "初参加でしたが、とても楽しかったです！" %>
          <%= f.submit "投稿する", class: "submit_btn", data: { confirm: "この内容でよろしいですか？", disable_with: '更新中...' } %>
          <div class="reset"></div>
        <% end %>
      </div>

      <% if @reviews.blank? %>
        <hr>
        <div class="sample_review">
          <img src="/images/sample_review.png" class="">
        </div>
      <% end %>

    <% end %>


  <% elsif @ip.blank? %>

    <% if @reviews.blank? %>
      <div class="review_sub_title">口コミがまだ投稿されていません。</div>
      <div class="new_review_comment">
        このサークルに参加されたことがある方は<br>
        最初の口コミを投稿してみませんか？
      </div>
      <hr>
    <% end %>

    <h2 class="top_title">口コミ投稿</h2>

    <div class="schedule_input">
      <%= form_for ([@user, @review]) do |f| %>
        <p>口コミ・評価</p>
        <div class="radio_button_review">
          <%= f.radio_button :review, 1, {:checked => true} %>良かった <%= f.radio_button :review, 0 %>残念だった
        </div>
        <p>コメント<span class="must_red">(必須)</span></p>
        <%= f.text_area :comment, class: 'form-control form-note', placeholder: "初参加でしたが、とても楽しかったです！" %>
        <%= f.submit "投稿する", class: "submit_btn", data: { confirm: "この内容でよろしいですか？", disable_with: '更新中...' } %>
        <div class="reset"></div>
      <% end %>
    </div>

    <% if @reviews.blank? %>
      <hr>
      <div class="sample_review">
        <img src="/images/sample_review.png" class="">
      </div>
    <% end %>

  <% else %>

  <% end %>

<% end %>

<%= render "/reviews/reviews_list", reviews: @reviews %>

<hr>

      <%= render "/layouts/ad_square" %>
      <div class="ad_space"></div>
    </div>
  </div>
</div>