<% if @user.pic_profile.present? %>

	<% set_meta_tags title: "#{@user.name}の口コミ・評価",
						og: { 
									title: "#{@user.name}の口コミ・評価",
									description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
									image: @user.pic_profile.url
								},
						twitter: { card: 'summary'}  				
	 %>

<% else %>

	<% set_meta_tags title: "#{@user.name}の口コミ・評価",
						og: { 
									title: "#{@user.name}の口コミ・評価",
									description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}",
						        	image: image_url('/images/default.png'),
								},
						twitter: { card: 'summary'}  				
	 %>

<% end %>


<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>

		<div class="users-index-item">


		    <h1 class="p_t">口コミ・評価</h1>

			<% if admin_user_signed_in?  %>
				<% if @user.admin_user_id == current_admin_user.id %>
					<% if @admin_user.users.count > 1 %>
						<div class="user_select_wrap">
									現在のアカウント：			
					      <select name="user_select" onChange="location.href=value;">
					        <option value="#"><%= @user.name %>（<%= @user.event.name %>）</option>
					          <% @admin_user.users.each do |user| %>
					            <% if @user.id != user.id %>
					            <option value="/users/<%= user.id %>/reviews"><%= user.name %>（<%= user.event.name %>）</option>
					            <% end %>
					        <% end %>
					      </select> 
						</div>
					<% end %>
				<% end %>
		    <% end %>

			<%= render "/schedules/profile" %>

			<%= render "/layouts/star" %><div class="star_review">（<%= sprintf("%.2f", @star_review) %>）</div>
			<div class="reset"></div>


<hr>

	<% if @reviews.blank? %>
		<div class="sample_review_txt">
			まだ口コミはありません。<br>
			感想を書いてみませんか？
		</div>
	<% end %>


<% if @member_reviews.blank? %>

	<div class="schedule_post_wrap">

		  <div class="popupModal1">

		   <input type="radio" name="modalPop" id="pop11" />
		   <label for="pop11"><div class="schedule_post_btn"><i class="fa fa-plus "></i>　口コミを書き込む</div></label>
		   <input type="radio" name="modalPop" id="pop12" />
		   <label for="pop12">CLOSE</label>
		   <input type="radio" name="modalPop" id="pop13" />
		   <label for="pop13">×</label>

		   <div class="modalPopup2">
		    <div class="modalPopup3">

		     <h2 class="modalTitle">口コミ・評価</h2>
		       <div class="modalMain">


		       	<% if admin_user_signed_in? %>

		       		<p>サークル主催者は<br>ご自身で口コミを書くことができません。</p>
		       		<br>
		       		<p>参加者にこのページのURLを送って<br>口コミを書いてもらいましょう！</p>

					<div class="sample_review_img">
						<img src="/images/sample_review.png" class="">
					</div>

					<div class="schedule_share_wrap">

						<div class="share_btn_tw">
						    <%= link_to("https://twitter.com/share?url=#{request.url}&text=#{@user.name}の口コミ投稿を募集しています！%0a%0a%23#{@user.event.name}%20%23#{@user.prefecture.name}%20%23サークルブック%0a", target: '_blank') do %>
						      <i class="fa fa-twitter"></i>ツイート
						    <% end %>
						</div>


						<div class="share_btn_line">
							<%= link_to 'LINEで共有する', "http://line.me/R/msg/text/?#{request.url}", title: 'LINE', target: '_blank' %>
						</div>

					</div>

       			<% elsif member_signed_in? %>
	       			<%= render "/reviews/post" %>	       			
       			<% else %>
       				<%= render "/reviews/login" %>     		
   				<% end %>


		    </div>
		   </div>
		   
		  </div>
		  
		</div>

	</div>

<% end %>



	<% if @reviews.blank? %>
		<div class="sample_review">
			<img src="/images/sample_review.png" class="">
		</div>
	<% end %>


		<% @reviews.reverse_each do |review| %>

			<div class="review_contents">
				<div class="review_l">
					<% if review.member.present? %>
						<% if review.member.image_profile.present? %>
							<%= lazysizes_image_tag review.member.image_profile.url , class:'member_icon' %>
						<% else %>
							<img src="/images/icon/icon_member.png" class="member_icon">
						<% end %>

					<% else %>
						<img src="/images/icon/icon_member.png" class="member_icon">
					<% end %>
						
				</div>

				<div class="review_r">
					<div class="speech_title">
						<% if review.review == 1 %>
							<i class="fa fa-smile-o good"></i> 
						<% elsif review.review == 0 %>
							<i class="fa fa-frown-o bad"></i> 
						<% else %>

						<% end %>

						<%= review.member.nickname if review.member.present? %>さん<% if review.member.present? %><span class="random_id">（@<%= review.member.random_id %>）</span>
							<% if member_signed_in? %>
								<% if current_member.id == review.member_id %>
									<span class="review_edit">
									    <%= link_to(edit_user_review_path(@user, review)) do %>
											<i class="fa fa-pencil-square-o "></i> 編集
										<% end %>
									</span>
									<span class="review_slash">／</span>
									<span class="review_delete">
									    <%= link_to(user_review_path(@user, review), method: :delete, data: {confirm: "投稿を削除しますか？"}) do %>
											<i class="fa fa-trash "></i> 削除 									    
										<% end %>
									</span>
								<% end %>
							<% end %>

							<% if admin_user_signed_in? %>
								<% if current_admin_user.id == 1 %>
									<span class="review_edit">
									    <%= link_to(edit_user_review_path(@user, review)) do %>
											<i class="fa fa-pencil-square-o "></i> 編集
										<% end %>
									</span>
									<span class="review_slash">／</span>
									<span class="review_delete">
									    <%= link_to(user_review_path(@user, review), method: :delete, data: {confirm: "投稿を削除しますか？"}) do %>
											<i class="fa fa-trash "></i> 削除 									    
										<% end %>
									</span>
								<% end %>
							<% end %>
						<% end %>
						
					</div>

					<div class="speech_bubble">
						<%= simple_format review.comment %>
					</div>				

				</div>
			</div>

			<div class="reset"></div>

		<% end %>


<hr>

	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>

  </div>
</div>

