- if admin_user_signed_in?
  - if user.admin_user_id == current_admin_user.id
    - if current_admin_user.users.count > 1
      .user_select_wrap
        アカウントの切り替え：
        %select{:name => "user_select", :onchange => "location.href=value;"}
          %option{:value => "#"}
            = user.name
            （#{user.event.name}）
          - current_admin_user.users.each do |user_list|
            - if user.id != user_list.id
              %option{:value => "/users/#{user_list.id}/#{url_path}"}
                = user_list.name
                （#{user_list.event.name}）
