<% if user.switch.present? %>
  <div class="border"></div>

  <div class="users-index-item ribbon-wrapper">
    <%= link_to("/#{user.event.ruby}", class: "tag_btn") do %>
      <i class="fa fa-tags tag-color"></i><%= user.event.name %>
    <% end %>

    <%= link_to("/#{user.event.ruby}/#{user.prefecture.kana}", class: "tag_btn") do %>
      <i class="fa fa-tags tag-color"></i><%= user.prefecture.name %>
    <% end %>

    <% if user.prefecture_sub_id.present? %>
      <% @prefectures.each do |sub_prefecture| %>
        <% if user.prefecture_sub_id == sub_prefecture.id %>
          <%= link_to("/#{user.event.ruby}/#{sub_prefecture.kana}", class: "tag_btn") do %>
            <i class="fa fa-tags tag-color"></i><%= sub_prefecture.name %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>


    <%= link_to(user_path(user.id)) do %>
      <div class="user-content">
        <%= lazysizes_image_tag user.pic_profile.url , class:'image_icon' %>

        <div class="list_wrapper">
          <div class="list_01">
            <h2 class="user_name"><%= user.name %></h2>
          </div>
        </div>

        <div class="list_cnts">
          <div class="list_02">
            <span class="user_schedule">
              <i class="fa fa-calendar icon_c"></i><%= user.schedule %>
            </span>
          </div>

          <div class="list_03">
              <span class="user_area">
                <i class="fa fa-map-marker icon_c"></i><%= user.prefecture.name %><%= "：" if user.area.present? %><%= user.area %>
              </span>
          </div>

          <div class="list_04">
            <span class="user_recruitment"><%= user.recruitment.truncate(110) %></span>
          </div>
        </div>
      </div>
    <% end %>

  </div>

<% end %>