- set_meta_tags noindex: true,title: "【限定公開】出欠確認｜#{@user.name}",og: {title: "【限定公開】出欠確認｜#{@user.name}",description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", image: image_url("/images/attendance_ogp.png")}
.user_main.users-index
  .container
    .users-index-item.attendances_modal
      .form-body.cont-body.form
        = form_for(@name, url: attendances_path(@user.unique_id), html: {method: 'post'}) do |f|
          .label_item
            %span.label.label_danger> 必須
            名前
          %br/
          = f.text_field :name, class: 'form-control', placeholder: "ヤマダ"
          .label_item 性別
          %br/
          .radio_btn
            = f.radio_button :gender, 1
            = f.label :gender, "男性", {value: 1}
            = f.radio_button :gender, 2
            = f.label :gender, "女性", {value: 2}
            = f.radio_button :gender, 0
            = f.label :gender, "その他", {value: 0}
          %br/

          - @schedules.each do |schedule|
            - if schedule.recruitment_numbers.present?
              - if schedule.name_schedules.where(answer: 1).count >= schedule.recruitment_numbers && schedule.recruitment_numbers != 0
              - else
                = f.fields_for :name_schedules do |name_schedule|
                  = render "/schedules/attendances/label_day", schedule: schedule
                  = name_schedule.select :answer, [ ['◯ 参加', 1], ['× 不参加', 0]], |
                    :prompt => "選択してください"                                       |
                  = name_schedule.text_field :comment, class: 'form-control', placeholder: "コメント"
                  = name_schedule.hidden_field :schedule_id, value: schedule.id

            - else
              = f.fields_for :name_schedules do |name_schedule|
                = render "/schedules/attendances/label_day", schedule: schedule
                = name_schedule.select :answer, [ ['◯ 参加', 1], ['× 不参加', 0]], |
                  :prompt => "選択してください"                                       |
                = name_schedule.text_field :comment, class: 'form-control', placeholder: "コメント"
                = name_schedule.hidden_field :schedule_id, value: schedule.id
          = f.submit "更新する", data: { disable_with: '更新中...' }
