- set_meta_tags title: "#{@tag.text}サークルやチーム一覧｜メンバー募集サイト",keywords: "#{@tag.name},サークル,チーム"
- breadcrumb :tag_show, @tag
= render "circles/markups/circles_list", users: @users

.main.users-index
  .container
    .breadcrumbs_wrapper.text_slide
      .breadcrumbs
        = breadcrumbs separator: "&rsaquo;"

    .e_header_wrap
      %img{:src => "/images/top.png"}/
      .link_txt
        %h1.e_header_title
          = "#{@tag.text}"
          %br
          = "サークルやチーム"

    - if @users.size != 0
      = render "/circles/commons/search_form", categories: @categories, prefectures: @prefectures, path: @path
      = render "/circles/commons/users_list", users: @users

    - else
      = render "/circles/commons/no_hit"
