<%= form_for @place do |f| %>


            <p>施設名<span class="must_red">(必須)</span></p>
            <%= f.text_field :name, class: 'form-control', placeholder: "サークルブック体育館" %> 

            <p>種目<span class="must_red">(必須)</span></p>       
            <%= f.collection_select :event_id, Event.where.not(id: 0).order(:order => :asc), :id, :name, :prompt => "選択してください" %>            

            <p>カテゴリー<span class="must_red">(必須)</span></p>
            <%= f.select :tag,[ ['屋内','屋内'], ['屋外','屋外'] ], :prompt => "選択してください"  %>
  
            <p>住所</p>
            <%= f.text_field :address, class: 'form-control', placeholder: "東京都千代田区丸の内1-1-1"  %>

            <p>アクセス</p>
            <%= f.text_field :access, class: 'form-control', placeholder: "大手町駅／東京駅"  %>


            <p>都道府県<span class="must_red">(必須)</span></p>         
            <% prefecture_options = Prefecture.where.not(id: 0).order(:id).map { |c| [c.name, c.id, data: { children_path: prefecture_cities_path(c) }] } %>
            <%= f.select :prefecture_id, prefecture_options, { include_blank: true }, class: 'select-parent' %>

            <p>市区町村<span class="must_red">(必須)</span></p>  
            <% cities = @place.prefecture.try(:cities) || [] %>
            <% city_options = cities.map { |c| [c.name, c.id] } %>
            <%= f.select :city_id, city_options, { include_blank: true }, class: 'select-children' %>



            <p>駐車場情報</p>
            <%= f.text_field :parking, class: 'form-control', placeholder: "200台"  %>

            <p>利用可能時間</p>
            <%= f.text_field :time, class: 'form-control', placeholder: "平日10:00-20:00／休日9:00-19:00"  %>

            <p>定休日</p>
            <%= f.text_field :regular_holiday, class: 'form-control', placeholder: "毎週火曜日"  %>

            <p>施設規模</p>
            <%= f.text_field :scale, class: 'form-control', placeholder: "コート２面"  %>

            <p>利用料金</p>
            <%= f.text_field :price, class: 'form-control', placeholder: "1時間5,000円"  %>

            <p>電話番号</p>
            <%= f.text_field :tel, class: 'form-control', placeholder: "03-1234-5678"  %>

            <p>参考URL</p>
            <%= f.text_field :url, class: 'form-control', placeholder: "https://www.circle-book.com/"  %>

            <%= f.submit @place_button %>
      <% end %>