%script{:type => "application/ld+json"}
  :cdata
    {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "サークルブック",
    "item": "https://www.circle-book.com"
    }
    <haml_silent>   if @b1_name.present? || @b1_url.present?
    </haml_silent><haml_block>  ,{
    "@type": "ListItem",
    "position": 2,
    "name": "#{@b1_name}",
    "item": "https://www.circle-book.com#{@b1_url}"
    }
    </haml_block><haml_silent>   if @b2_name.present? || @b2_url.present?
    </haml_silent><haml_block>  ,{
    "@type": "ListItem",
    "position": 3,
    "name": "#{@b2_name}",
    "item": "https://www.circle-book.com#{@b2_url}"
    }
    </haml_block><haml_silent>   if @b3_name.present? || @b3_url.present?
    </haml_silent><haml_block>  ,{
    "@type": "ListItem",
    "position": 4,
    "name": "#{@b3_name}",
    "item": "https://www.circle-book.com#{@b3_url}"
    }
    </haml_block><haml_silent>   if @b4_name.present? || @b4_url.present?
    </haml_silent><haml_block>  ,{
    "@type": "ListItem",
    "position": 5,
    "name": "#{@b4_name}",
    "item": "https://www.circle-book.com#{@b4_url}"
    }
    </haml_block>  ]
    }
- if @places.present?
  %script{:type => "application/ld+json"}
    :cdata
      {
      "@context":"http://schema.org",
      "@type":"ItemList",
      "itemListElement":[
      <haml_silent>     @places.each.with_index(1) do |place, i|
      </haml_silent><haml_block>      #{"," if i > 1}{
      "@type":"ListItem",
      "position":#{i},
      "url":"https://www.circle-book.com/places/#{@event.ruby}/#{place.prefecture.kana}/#{place.city.city_kana}/#{place.id}"
      }
      <haml_silent>     break if i == 10
      </haml_silent></haml_block>    ]
      }
