- if @places.present?
  - cache @places do
    %ul
      - @places.each.with_index(1) do |place, i|
        %li.places-index-item.ribbon-wrapper
          .ribbon-content
            - if place.tag.to_i == 1
              %span.ribbon.green 屋内
            - else place.tag.to_i == 2
              %span.ribbon.blue 屋外
          .place_cnt_wrap
            %h2.place_name= place.name.truncate(24)
            %h3.place_d
              = place.prefecture.name
              = place.city.name
              の#{"屋内" if place.tag.to_i == 1}#{"屋外" if place.tag.to_i == 2}にある
              %br/
              = @event.name
              のコートや体育館の情報
          .place_updated
            更新日：#{place.updated_at.to_time.strftime("%Y年%-m月%-d日")}
          .border
          .article_item.article_padding.place_list
            %table
              %tbody
                %tr.flex_contents
                  %th.flex_list 住所
                  %td.flex_list= place.address
                %tr.flex_contents
                  %th.flex_list アクセス
                  %td.flex_list= place.access
                %tr.flex_contents
                  %th.flex_list 利用時間
                  %td.flex_list= raw Rinku.auto_link(simple_format place.time)
                %tr.flex_contents
                  %th.flex_list 定休日
                  %td.flex_list= raw Rinku.auto_link(simple_format place.regular_holiday)
                %tr.flex_contents
                  %th.flex_list 利用料金
                  %td.flex_list= raw Rinku.auto_link(simple_format place.price)
                %tr.flex_contents
                  %th.flex_list 口コミ
                  %td.flex_list= render "layouts/review_score", review_score: place.average_score.to_f, reviews_count: place.place_reviews.count
          = link_to "詳細を確認する", "/places/#{@event.ruby}/#{place.prefecture.kana}/#{place.city.city_kana}/#{place.id}", class: "place_more"
        - if i == 5
          .list_ad
            = render "/layouts/ad_square"
- else
  .no_hit_wrap
    .sorry_message 該当するコート情報がございません
    %img.imege_sorry{:src => "/images/sorry_cat.png"}/
    = link_to "/places" do
      .no_hit_top コート・施設情報ページに戻る
= render "/layouts/ad_square"
= paginate @places
