- set_meta_tags title: "【#{Time.now.strftime("%Y")}年版】#{@prefecture.name}#{@city.name}にある#{@event.name}コートや体育館の情報一覧ページ",description: "現在、#{@places_count}件の#{@prefecture.name}#{@city.name}にある#{@event.name}コートの情報を掲載中です！体育館やアリーナ、屋外にある公園などの情報を分かりやすく掲載しています！住所やアクセス方法、駐車場情報も載っているので便利です。また、#{@city.name}で活動している#{@event.name}サークルやチーム、団体などの情報も掲載しています！",og: {image:image_url("/images/events/#{@event.ruby}.jpg")},twitter: { card: 'summary'}
= render "places/local_business_place_list"
.main.users-index
  .container
    = render "/layouts/breadcrumb"
    .e_header_wrap
      %img{:alt => "#{@event.name}", :src => "/images/events/#{@event.ruby}.jpg"}/
      .link_txt
        %h1.e_header_title
          = @prefecture.name
          = @city.name
          にある
          %br/
          = @event.name
          のコートや体育館の情報一覧
    = render "/places/search"
    = render "/layouts/ads/b-books_places"
    = render "/places/places_list"
