<% set_meta_tags title: "【#{Time.now.strftime("%Y")}年版】#{@event.name}のコート情報一覧ページ",
                 description: "#{@event.name}のコート情報一覧ページです。体育館やアリーナ、屋外にある公園などの情報を分かりやすく掲載しています！住所やアクセス方法、駐車場情報も載っているので便利です。また、#{@event.name}のサークルやチーム、団体などの情報も掲載しています！",
	              og: { 
	              	image:image_url("/images/events/e_icon_#{@event.ruby}.jpg")
	              },
				twitter: { card: 'summary'}  
 %>


<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>
    <div class="e_header_wrap">
		<img src="/images/events/e_icon_<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
     	<div class="link_txt">
	        <h1 class="e_header_title">
			    <%= @event.name %>のコート情報一覧
	        </h1>
     	</div>
    </div>


<div class="search_area">

	<div class="prefectures-container">

	  <div class="cp_actab">
	    <input id="tab-two" type="checkbox" name="tabs">
	    <label for="tab-two">
	      <i class="fa fa-search search-list"></i>47都道府県から探す
	    </label>
	    <div class="cp_actab-content">

	      <ul class="prefectures-menus place_meus">
	        <% @prefectures.each do |prefecture| %>
	          <% if prefecture.id != 50 %>        
	            
	            <% if prefecture.group != @x %>
	              <div class="prefectures-sub-title"><%= prefecture.group %>エリア</div>
	              	<li>
	                  <%= link_to "/places/#{@event.ruby}/#{prefecture.kana}" do %>
	                  	<%= prefecture.name %>（<%= @places_count.where(prefecture_id: prefecture.id).count %>）
	                  <% end %>
	              	</li> 

	              <% @x = prefecture.group %>
	              
	            <% else %>
	              	<li>
	                  <%= link_to "/places/#{@event.ruby}/#{prefecture.kana}" do %>
	                  	<%= prefecture.name %>（<%= @places_count.where(prefecture_id: prefecture.id).count %>）
	                  <% end %>
	              	</li> 
	            <% end %>
	          
	          <% end %>
	        <% end %> 
	      </ul> 

	    </div>
	  </div>

	</div>

</div>

    <%= render "/places/places_list" %>


  </div>
</div>