<% set_meta_tags title: "【#{Time.now.strftime("%Y")}年版】#{@event.name}のコート情報一覧ページ",
                 description: "#{@event.name}のコート情報一覧ページです。体育館やアリーナ、屋外にある公園などの情報を分かりやすく掲載しています！住所やアクセス方法、駐車場情報も載っているので便利です。また、#{@event.name}のサークルやチーム、団体などの情報も掲載しています！",
	              og: { 
	              	image:image_url("/images/events/e_icon_#{@event.ruby}.jpg")
	              },
				twitter: { card: 'summary'}  
 %>


<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>
    <div class="e_header_wrap">
 	  <img src="/images/places/e_p_<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
      <div class="link_txt">
        <h1 class="e_header_title">
		    <%= @event.name %>のコート情報一覧
        </h1>
      </div>
    </div>






    <%= render "/places/places_list" %>


  </div>
</div>