<% set_meta_tags title: "#{@event.name}のコート情報一覧" %>
<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>
    <div class="e_header_wrap">
 	  <img src="/images/places/e_p_<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
      <div class="link_txt">
        <h1 class="e_header_title">
		    <%= @event.name %>のコート情報一覧
        </h1>
      </div>
    </div>



	<div class="search_area">

		<div class="coat-container">

			<% @prefectures.each do |prefecture| %>

				  <div class="cp_actab">
					<% if @count != prefecture.group %>

					    <input id="tab-<%= @id %>" type="checkbox" name="tabs">

					    <label for="tab-<%= @id %>"><%= prefecture.group %>エリア</label>
						<% @count = prefecture.group %>
						<% @id += 1 %>

					<% end %>

				  	<div class="cp_actab-content">
				  		<% @prefectures.each do |prefecture_child| %>
					  		<% if prefecture.group == prefecture_child.group %> 
								<div class="prefecture_child_list">

									<%= link_to("/places/basketball/#{prefecture_child.kana}") do %>
						                <%= prefecture_child.name %>(<%= @places_count.where(prefecture_id: prefecture_child.id).count %>)
					                <% end %>
								</div>
							<% end %>
						<% end %>
				   	</div>

				  </div>

			<% end %>


		</div>

	</div>


    <%= render "/places/places_list" %>


  </div>
</div>