- set_meta_tags title: "【#{Time.now.strftime("%Y")}年版】#{@event.name}のコートや体育館の情報一覧ページ",description: "現在、#{@places_count}件の#{@event.name}のコート情報を掲載中です！体育館やアリーナ、屋外にある公園などの情報を分かりやすく掲載しています！住所やアクセス方法、駐車場情報も載っているので便利です。また、#{@event.name}のサークルやチーム、団体などの情報も掲載しています！",og: {image:image_url("/images/events/#{@event.ruby}.jpg")},twitter: { card: 'summary'}
= render "places/local_business_place_list"
.main.users-index
  .container
    = render "/layouts/breadcrumb"
    .e_header_wrap
      %img{:alt => "#{@event.name}", :src => "/images/events/#{@event.ruby}.jpg"}/
      .link_txt
        %h1.e_header_title
          = @event.name
          の
          %br>/
          コートや体育館の情報一覧
    = render "/places/search"
    .search_area
      .prefectures-container
        .cp_actab
          %input#tab-two{:name => "tabs", :type => "checkbox"}/
          %label{:for => "tab-two"}
            %i.fa.fa-search.search-list>
            47都道府県から探す
          .cp_actab-content
            %ul.prefectures-menus.place_meus
              - @prefectures.each do |prefecture|
                - if prefecture.group != @x
                  .prefectures-sub-title
                    = prefecture.group
                    エリア
                  - if prefecture.places_count == 0
                    %li.no_link
                      = prefecture.name
                  - else
                    %li
                      = link_to "/places/#{@event.ruby}/#{prefecture.kana}" do
                        = prefecture.name
                        - if @event.id == 2
                          (#{prefecture.places_count})
                  - @x = prefecture.group
                - else
                  - if prefecture.places_count == 0
                    %li.no_link
                      = prefecture.name
                  - else
                    %li
                      = link_to "/places/#{@event.ruby}/#{prefecture.kana}" do
                        = prefecture.name
                        - if @event.id == 2
                          (#{prefecture.places_count})
    = render "/places/places_list"
