<% set_meta_tags title: "全国のコートや体育館の情報一覧" %>
<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>

    <h1 class="users-heading">全国のコートや体育館の情報</h1>


    <div class="place_event_list">

        <ul class="events-menus">
          <% @events.each do |event| %>
            <li>
              <%= link_to("/places/#{event.ruby}") do %>
                <div class="e_icon_wrap">
                  <img data-src="/images/events/<%= event.ruby %>.jpg" alt="<%= event.name %>" class="lazyload">
                  <div class="link_txt"><%= event.name %>の<br>コートや体育館の情報</div>
                </div>
              <% end %>
            </li>

          <% end %>
        </ul>

      </div>

  <%= render "/layouts/ad_square" %>


  </div>
</div>