<% set_meta_tags title: "#{@prefecture.name}にある#{@event.name}のコート情報一覧" %>
<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>
    <h1 class="users-heading"><%= @prefecture.name %>にある<br><%= @event.name %>のコート情報一覧</h1>

	<div class="search_area">
		<div class="coat-container">

		  <div class="cp_actab">

			    <input id="tab-one" type="checkbox" name="tabs">

			    <label for="tab-one"></i><%= @prefecture.name %>の市区郡から探す</label>


		  	<div class="cp_actab-content">
				<% @cities.each do |city| %>
					<div class="prefecture_city_list">

						<%= link_to("/places/#{@event.ruby}/#{@prefecture.kana}/#{city.city_kana}") do %>
			                <%= city.name %>(<%= @places_count.where(city_id: city.id).count %>)
		                <% end %>

					</div>
				<% end %>
		   	</div>

		  </div>


		</div>
	</div>


    <%= render "/places/places_list" %>


  </div>
</div>