<% set_meta_tags title: "【#{Time.now.strftime("%Y")}年版】#{@prefecture.name}にある#{@event.name}コートや体育館の情報一覧ページ",
  description: "現在、#{@places_count}件の#{@prefecture.name}にある#{@event.name}コートの情報を掲載中です！体育館やアリーナ、屋外にある公園などの情報を分かりやすく掲載しています！住所やアクセス方法、駐車場情報も載っているので便利です。また、#{@prefecture.name}で活動している#{@event.name}サークルやチーム、団体などの情報も掲載しています！",
  og: {
    image:image_url("/images/events/#{@event.ruby}.jpg")
  },
  twitter: { card: 'summary'}
%>

<% if request.format == :amp %>
  <div class="main users-index">
    <div class="container">
      <%= render "/layouts/breadcrumb" %>
      <div class="e_header_wrap">
        <amp-img alt="<%= @event.name %>"
          src="/images/events/<%= @event.ruby %>.jpg"
          width="450px"
          height="130px"
          layout="responsive"
          object-fit="cover">
        </amp-img>
        <div class="link_txt">
          <h1 class="e_header_title">
              <%= @prefecture.name %>にある<br><%= @event.name %>のコートや体育館の情報
          </h1>
        </div>
      </div>

      <%= render "/places/amp_search.html.erb" %>

      <%= render "/layouts/ads/b-books_places" %>

      <%= render "/places/places_list" %>
    </div>
  </div>

<% else %>
  <div class="main users-index">
    <div class="container">

      <%= render "/layouts/breadcrumb" %>
      <div class="e_header_wrap">
      <img src="/images/events/<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
        <div class="link_txt">
          <h1 class="e_header_title">
              <%= @prefecture.name %>にある<br><%= @event.name %>のコートや体育館の情報
          </h1>
        </div>
      </div>

      <%= render "/places/search" %>


      <div class="search_area">
        <div class="coat-container">
          <div class="cp_actab">
            <input id="tab-one" type="checkbox" name="tabs">
            <label for="tab-one"><i class="fa fa-search search-list"></i><%= @prefecture.name %>の市区郡から探す</label>
            <div class="cp_actab-content">
            <% @cities.each do |city| %>
              <div class="prefecture_city_list">

                <% if city.places_count == 0 %>
                  <div class="no_link">
                    <%= city.name %>
                  </div>
                <% else %>
                  <%= link_to("/places/#{@event.ruby}/#{@prefecture.kana}/#{city.city_kana}") do %>
                    <%= city.name %>
                    <% if @event.id == 2 %>(<%= city.places_count %>)<% end %>
                  <% end %>
                <% end %>

              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>


      <%= render "/layouts/ads/b-books_places" %>

      <%= render "/places/places_list" %>

    </div>
  </div>
<% end %>