<% set_meta_tags title: "#{@event.name}の「#{params[:kw].truncate(30)}」コートや体育館の情報一覧ページ",
  og: {
    image:image_url("/images/events/#{@event.ruby}.jpg")
  },
  twitter: { card: 'summary'}
%>

  <div class="main users-index">
    <div class="container">

      <%= render "/layouts/breadcrumb" %>

      <div class="e_header_wrap">
        <img src="/images/events/<%= @event.ruby %>.jpg" alt="<%= @event.name %>" >
        <div class="link_txt">
          <h1 class="e_header_title">
          「<%= params[:kw].truncate(30) %>」の
          <br>コートや体育館の検索結果
          </h1>
        </div>
      </div>

      <%= render "/places/search" %>

      <div class="search_area">
        <div class="prefectures-container">
          <div class="cp_actab">
            <input id="tab-two" type="checkbox" name="tabs">
            <label for="tab-two">
              <i class="fa fa-search search-list"></i>47都道府県から探す
            </label>
            <div class="cp_actab-content">
              <ul class="prefectures-menus place_meus">
                <% @prefectures.each do |prefecture| %>
                    <% if prefecture.group != @x %>
                      <div class="prefectures-sub-title"><%= prefecture.group %>エリア</div>
                        <li>
                          <%= link_to "/places/#{@event.ruby}/#{prefecture.kana}" do %>
                            <%= prefecture.name %>
                          <% end %>
                        </li>
                      <% @x = prefecture.group %>
                    <% else %>
                        <li>
                          <%= link_to "/places/#{@event.ruby}/#{prefecture.kana}" do %>
                            <%= prefecture.name %>
                          <% end %>
                        </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <%= render "/places/places_list" %>

    </div>
  </div>


