- set_meta_tags title: "#{@place.name}の#{@event.name}コート情報｜#{@prefecture.name}#{@city.name}",description: "#{@place.prefecture.name}#{@place.city.name}にある#{@place.name}のコート情報。体育館やアリーナ、屋外にある公園などの情報を分かりやすく掲載しています！住所やアクセス方法、駐車場情報も載っているので便利です。また、#{@place.city.name}で活動している#{@event.name}サークルやチーム、団体などの情報も掲載しています！",og: {image:image_url("/images/events/#{@event.ruby}.jpg")},twitter: { card: 'summary'}
= render "places/local_business_show", place: @place
.main.user-show
  .container
    = render "/layouts/breadcrumb"
    .users-index-item.ribbon-wrapper
      .ribbon-content
        - if @place.tag.to_i == 1
          %span.ribbon.green 屋内
        - else @place.tag.to_i == 2
          %span.ribbon.blue 屋外
      .place_cnt_wrap
        %h1.place_name= @place.name
        %h2.place_d
          = @place.prefecture.name
          = @place.city.name
          の#{"屋内" if @place.tag.to_i == 1}#{"屋外" if @place.tag.to_i == 2}にある
          %br/
          = @event.name
          のコートや体育館の情報
      .place_updated
        更新日：#{@place.updated_at.to_time.strftime("%Y年%-m月%-d日")}
      - if admin_user_signed_in?
        - if @place.user_id.to_i == @current_user.id.to_i || @current_user.id.to_i == 1
          .place_edit
            .post-edit_btn
              = link_to( "編集", edit_place_path )
              ／
              \#{link_to( "削除", place_path, method: :delete, data: {confirm: "投稿を削除しますか？"})}
      .img_source_wrap
        %img.img_source{:alt => "#{@event.name}", :src => "/images/events/#{@event.ruby}.jpg"}/
        .img_url_source ※画像はイメージです
      .border
      .article_item.article_padding.place_list
        %table
          %tbody
            %tr.flex_contents
              %th.flex_list 住所
              %td.flex_list= @place.address
            %tr.flex_contents
              %th.flex_list アクセス
              %td.flex_list= @place.access
            %tr.flex_contents
              %th.flex_list 駐車場情報
              %td.flex_list= raw Rinku.auto_link(simple_format @place.parking)
            %tr.flex_contents
              %th.flex_list 利用可能時間
              %td.flex_list= raw Rinku.auto_link(simple_format @place.time)
            %tr.flex_contents
              %th.flex_list 定休日
              %td.flex_list= raw Rinku.auto_link(simple_format @place.regular_holiday)
            - if @place_events.present?
              %tr.flex_contents
                %th.flex_list 対応種目
                %td.flex_list
                  - @place_events.sort.each do |event|
                    %span.flex_list_line
                      - if event.name == "バスケ"
                        バスケットボール
                      - else
                        = event.name
            %tr.flex_contents
              %th.flex_list 施設規模
              %td.flex_list= raw Rinku.auto_link(simple_format @place.scale)
            %tr.flex_contents
              %th.flex_list 利用料金
              %td.flex_list= raw Rinku.auto_link(simple_format @place.price)
            %tr.flex_contents
              %th.flex_list 電話番号
              %td.flex_list
                %a{:href => "tel:#{@place.tel}"}= @place.tel
            %tr.flex_contents
              %th.flex_list サイトURL
              %td.flex_list
                %a{:href => "#{@place.url}"}= @place.url
            - if @place.place_reviews.present?
              %tr.flex_contents
                %th.flex_list コスパの良さ
                %td.flex_list= render "place_reviews/review_score", review_score: @place.average_price.to_f
              %tr.flex_contents
                %th.flex_list 設備の充実
                %td.flex_list= render "place_reviews/review_score", review_score: @place.average_facility.to_f
              %tr.flex_contents
                %th.flex_list アクセス
                %td.flex_list= render "place_reviews/review_score", review_score: @place.average_access.to_f
              %tr.flex_contents
                %th.flex_list 予約の難易度
                %td.flex_list= render "place_reviews/review_score", review_score: @place.average_reservation.to_f
      = render "/places/link_to_user"
      .g_map
        %iframe{:src => "<haml_loud"} url_for("https://maps.google.co.jp/maps?output=embed&amp;z=14&amp;q=\#{@place.address}") &gt;
        .google_map_wrap
          = link_to "https://www.google.com/maps/search/?api=1&query=#{@place.address}" do
            .google_map Google MAP
      = render "/layouts/ad_square"
      .place_note
        本サイトでは正確な情報を掲載するよう心がけておりますが、
        %br>/
        間違いや古い情報が掲載されていることがございます。
        %br/
        ※誤りがあった場合、メニューのお問い合わせよりご連絡ください。
      - if @place_reviews.present?
        %hr/
        %h2.place_sub_title 口コミ・評価
        - @place_reviews.reverse_each do |review|
          .place_review_lists
            = render "place_reviews/review_score", review_score: review.average_score.to_f
            .place_review_updated
              = review.updated_at.to_time.strftime("%Y年%-m月%-d日")
              にレビュー済み
            = simple_format review.comment
        %hr/
      - else
      - if @ip.blank?
        .place_review_form
          %h2.place_sub_title 感想を投稿する
          = form_for ([@place, @place_review]) do |f|
            = f.hidden_field :event_id, value: @event.id
            %table
              %tbody
                %tr.select_review
                  %th.item_left コスパの良さ
                  %td.item_right= f.select :price, [ ['☆☆☆☆☆（0）', 0], ['★☆☆☆☆（1.0）', 1], ['★★☆☆☆（2.0）', 2], ['★★★☆☆（3.0）', 3], ['★★★★☆（4.0）', 4], ['★★★★★（5.0）', 5] ], selected: 5, required: true
                %tr.select_review
                  %th.item_left 設備の充実
                  %td.item_right= f.select :facility, [ ['☆☆☆☆☆（0）', 0], ['★☆☆☆☆（1.0）', 1], ['★★☆☆☆（2.0）', 2], ['★★★☆☆（3.0）', 3], ['★★★★☆（4.0）', 4], ['★★★★★（5.0）', 5] ], selected: 5, required: true
                %tr.select_review
                  %th.item_left アクセスの良さ
                  %td.item_right= f.select :access, [ ['☆☆☆☆☆（0）', 0], ['★☆☆☆☆（1.0）', 1], ['★★☆☆☆（2.0）', 2], ['★★★☆☆（3.0）', 3], ['★★★★☆（4.0）', 4], ['★★★★★（5.0）', 5] ], selected: 5, required: true
                %tr.select_review
                  %th.item_left 予約の難易度
                  %td.item_right= f.select :reservation, [ ['☆☆☆☆☆（0）', 0], ['★☆☆☆☆（1.0）', 1], ['★★☆☆☆（2.0）', 2], ['★★★☆☆（3.0）', 3], ['★★★★☆（4.0）', 4], ['★★★★★（5.0）', 5] ], selected: 5, required: true
            %p
              コメント
              %span.must_red (必須)
            = f.text_area :comment, class: 'form-control form-note', placeholder: "コートも広く、使いやすかったです！"
            = f.submit "投稿する", class: "submit_btn", data: { confirm: "この内容でよろしいですか？", disable_with: '更新中...' }
            .reset
    - if @users.count >= 1
      .user-list-wrap
        %h2.others-user
          = @prefecture.name
          で活動している
          %br/
          = @event.txt
        - @users.first(3).each do |user|
          = link_to(user_path(user.id)) do
            .user_list
              .user-content
                .user_list_header
                  = lazysizes_image_tag user.pic_profile.url , class:'image_icon'
                  %h3.user_name= user.name.truncate(20)
                .list_02
                  %span.user_schedule
                    %i.fa.fa-calendar
                    = user.schedule
                .list_03
                  %span.user_area
                    %i.fa.fa-map-marker
                    = user.area
        = link_to ">>もっと見る", "/#{@event.ruby}/#{@prefecture.kana}", class: "more_text_link"
    = render "/layouts/ad_square"
    - if @places.count >= 2
      .user-list-wrap.others_place
        %h2.others-user
          条件が似ている#{@prefecture.name}#{@city.name}にある
          %br/
          = @event.name
          コート情報
        - @places.each do |place|
          - if place.id != @place.id
            .users-index-item.ribbon-wrapper.others_place_list
              .ribbon-content
                - if place.tag.to_i == 1
                  %span.ribbon.green 屋内
                - else place.tag.to_i == 2
                  %span.ribbon.blue 屋外
              .place_list_title
                %h2.place_name= place.name.truncate(24)
              .border
              .article_item.article_padding.place_list
                %table
                  %tbody
                    %tr.flex_contents
                      %th.flex_list 住所
                      %td.flex_list= place.address
                    %tr.flex_contents
                      %th.flex_list アクセス
                      %td.flex_list= place.access
              = link_to "詳細を確認する", "/places/#{@event.ruby}/#{place.prefecture.kana}/#{place.city.city_kana}/#{place.id}", class: "place_more"
    - if @places.count >= 2
      = render "/layouts/ad_square"
