<% set_meta_tags title: "#{@place.name}гБЃ#{@event.name}гВ≥гГЉгГИжГЕе†±пљЬ#{@prefecture.name}#{@city.name}",
  description: "#{@place.prefecture.name}#{@place.city.name}гБЂгБВгВЛ#{@place.name}гБЃгВ≥гГЉгГИжГЕе†±гАВдљУиВ≤й§®гВДгВҐгГ™гГЉгГКгАБе±Ле§ЦгБЂгБВгВЛеЕђеЬТгБ™гБ©гБЃжГЕе†±гВТеИЖгБЛгВКгВДгБЩгБПжО≤иЉЙгБЧгБ¶гБДгБЊгБЩпЉБдљПжЙАгВДгВҐгВѓгВїгВєжЦєж≥ХгАБйІРиїКе†іжГЕе†±гВВиЉЙгБ£гБ¶гБДгВЛгБЃгБІдЊњеИ©гБІгБЩгАВгБЊгБЯгАБ#{@place.city.name}гБІжіїеЛХгБЧгБ¶гБДгВЛ#{@event.name}гВµгГЉгВѓгГЂгВДгГБгГЉгГ†гАБеЫ£дљУгБ™гБ©гБЃжГЕе†±гВВжО≤иЉЙгБЧгБ¶гБДгБЊгБЩпЉБ",
  og: {
    image:image_url("/images/events/#{@event.ruby}.jpg")
  },
  twitter: { card: 'summary'}
%>

<%= render "places/local_business_show", place: @place %>


<div class="main user-show">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>
    <div class="users-index-item ribbon-wrapper">
      <div class="ribbon-content">
        <% if @place.tag.to_i == 1 %>
          <span class="ribbon green">е±ЛеЖЕ</span>
        <% else @place.tag.to_i == 2 %>
          <span class="ribbon blue">е±Ле§Ц</span>
        <% end %>
      </div>
      <div class="place_cnt_wrap">
        <h1 class="place_name"><%= @place.name %></h1>
        <h2 class="place_d">
            <%= @place.prefecture.name %><%= @place.city.name %>гБЃ<%= "е±ЛеЖЕ" if @place.tag.to_i == 1 %><%= "е±Ле§Ц" if @place.tag.to_i == 2 %>гБЂгБВгВЛ<br>
            <%= @event.name %>гБЃгВ≥гГЉгГИгВДдљУиВ≤й§®гБЃжГЕе†±
        </h2>
      </div>

      <div class="place_updated">
        жЫіжЦ∞жЧ•пЉЪ<%= @place.updated_at.to_time.strftime("%Yеєі%-mжЬИ%-dжЧ•") %>
      </div>

			<% if admin_user_signed_in?  %>
				<% if @place.user_id.to_i == @current_user.id.to_i || @current_user.id.to_i == 1 %>
          <div class="place_edit">
            <div class="post-edit_btn">
              <%= link_to( "зЈ®йЫЖ", edit_place_path ) %>пЉП
              <%= link_to( "еЙКйЩ§", place_path, method: :delete, data: {confirm: "жКХз®њгВТеЙКйЩ§гБЧгБЊгБЩгБЛпЉЯ"}) %>
            </div>
          </div>
				<% end %>
			<% end %>

      <div class="img_source_wrap">
          <img src="/images/events/<%= @event.ruby %>.jpg" alt="<%= @event.name %>" class="img_source" >
        <div class="img_url_source">вАїзФїеГПгБѓгВ§гГ°гГЉгВЄгБІгБЩ</div>
      </div>

      <div class="border"></div>

      <div class="article_item article_padding place_list ">
        <table>
          <tbody>
            <tr class="flex_contents">
              <th class="flex_list">дљПжЙА</th>
              <td class="flex_list"><%= @place.address %></td>
            </tr>
            <tr class="flex_contents">
              <th class="flex_list">гВҐгВѓгВїгВє</th>
              <td class="flex_list"><%= @place.access %></td>
            </tr>
            <tr class="flex_contents">
              <th class="flex_list">йІРиїКе†іжГЕе†±</th>
              <td class="flex_list"><%= raw Rinku.auto_link(simple_format @place.parking) %></td>
            </tr>
            <tr class="flex_contents">
              <th class="flex_list">еИ©зФ®еПѓиГљжЩВйЦУ</th>
              <td class="flex_list"><%= raw Rinku.auto_link(simple_format @place.time) %></td>
            </tr>
            <tr class="flex_contents">
              <th class="flex_list">еЃЪдЉСжЧ•</th>
              <td class="flex_list"><%= raw Rinku.auto_link(simple_format @place.regular_holiday) %></td>
            </tr>

            <% if @place_events.present? %>
              <tr class="flex_contents">
                <th class="flex_list">еѓЊењЬз®ЃзЫЃ</th>
                <td class="flex_list">
                  <% @place_events.sort.each do |event| %>
                        <span class="flex_list_line">
                          <% if event.name == "гГРгВєгВ±" %>
                            гГРгВєгВ±гГГгГИгГЬгГЉгГЂ
                          <% else%>
                            <%= event.name %>
                          <% end %>
                        </span>
                  <% end %>
                </td>
              </tr>
            <% end %>

            <tr class="flex_contents">
              <th class="flex_list">жЦљи®≠и¶Пж®°</th>
              <td class="flex_list"><%= raw Rinku.auto_link(simple_format @place.scale) %></td>
            </tr>
            <tr class="flex_contents">
              <th class="flex_list">еИ©зФ®жЦЩйЗС</th>
              <td class="flex_list"><%= raw Rinku.auto_link(simple_format @place.price) %></td>
            </tr>
            <tr class="flex_contents">
              <th class="flex_list">йЫїи©±зХ™еПЈ</th>
              <td class="flex_list"><a href="tel:<%= @place.tel %>"><%= @place.tel %></a>
            </tr>
            <tr class="flex_contents">
              <th class="flex_list">гВµгВ§гГИURL</th>
              <td class="flex_list"><a href="<%= @place.url %>" ><%= @place.url %></a></td>
            </tr>

            <% if @place.place_reviews.present? %>
              <tr class="flex_contents">
                <th class="flex_list">гВ≥гВєгГСгБЃиЙѓгБХ</th>
                <td class="flex_list"><%= render "place_reviews/review_score", review_score: @place.average_price.to_f %></td>
              </tr>
              <tr class="flex_contents">
                <th class="flex_list">и®≠еВЩгБЃеЕЕеЃЯ</th>
                <td class="flex_list"><%= render "place_reviews/review_score", review_score: @place.average_facility.to_f %></td>
              </tr>
              <tr class="flex_contents">
                <th class="flex_list">гВҐгВѓгВїгВє</th>
                <td class="flex_list"><%= render "place_reviews/review_score", review_score: @place.average_access.to_f %></td>
              </tr>
              <tr class="flex_contents">
                <th class="flex_list">дЇИзіДгБЃйЫ£жШУеЇ¶</th>
                <td class="flex_list"><%= render "place_reviews/review_score", review_score: @place.average_reservation.to_f %></td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>

      <%= render "/places/link_to_user" %>

      <div class="g_map">
          <iframe src=<%= url_for("https://maps.google.co.jp/maps?output=embed&z=14&q=#{@place.address}") %>></iframe>

          <div class="google_map_wrap">
              <%= link_to "https://www.google.com/maps/search/?api=1&query=#{@place.address}" do %>  
                <div class="google_map">Google MAP</div>
              <% end %>
            </div>
      </div>
      <%= render "/layouts/ad_square" %>
			<div class="place_note">
				жЬђгВµгВ§гГИгБІгБѓж≠£зҐЇгБ™жГЕе†±гВТжО≤иЉЙгБЩгВЛгВИгБЖењГгБМгБСгБ¶гБКгВКгБЊгБЩгБМгАБ<br>йЦУйБХгБДгВДеП§гБДжГЕе†±гБМжО≤иЉЙгБХгВМгБ¶гБДгВЛгБУгБ®гБМгБФгБЦгБДгБЊгБЩгАВ<br>
				вАїи™§гВКгБМгБВгБ£гБЯе†іеРИгАБгГ°гГЛгГ•гГЉгБЃгБКеХПгБДеРИгВПгБЫгВИгВКгБФйА£зµ°гБПгБ†гБХгБДгАВ	
			</div>

      <% if @place_reviews.present? %>
      <hr>
      <h2 class="place_sub_title">еП£гВ≥гГЯгГїи©ХдЊ°</h2>
        <% @place_reviews.reverse_each do |review| %>
          <div class="place_review_lists">
            <%= render "place_reviews/review_score", review_score: review.average_score.to_f %>
            <div class="place_review_updated">
              <%= review.updated_at.to_time.strftime("%Yеєі%-mжЬИ%-dжЧ•") %>гБЂгГђгГУгГ•гГЉжЄИгБњ
            </div>
            <%= simple_format review.comment %>
          </div>
        <% end %>
      <hr>
      <% else %>

      <% end %>


      <% if @ip.blank? %>
        <div class="place_review_form">
        <h2 class="place_sub_title">жДЯжГ≥гВТжКХз®њгБЩгВЛ</h2>
          <%= form_for ([@place, @place_review]) do |f| %>
            <%= f.hidden_field :event_id, value: @event.id %>

            <table>
              <tbody>
                <tr class="select_review">
                  <th class="item_left">гВ≥гВєгГСгБЃиЙѓгБХ</th>
                  <td class="item_right"><%= f.select :price, [ ['вШЖвШЖвШЖвШЖвШЖпЉИ0пЉЙ', 0], ['вШЕвШЖвШЖвШЖвШЖпЉИ1.0пЉЙ', 1], ['вШЕвШЕвШЖвШЖвШЖпЉИ2.0пЉЙ', 2], ['вШЕвШЕвШЕвШЖвШЖпЉИ3.0пЉЙ', 3], ['вШЕвШЕвШЕвШЕвШЖпЉИ4.0пЉЙ', 4], ['вШЕвШЕвШЕвШЕвШЕпЉИ5.0пЉЙ', 5] ], selected: 5, required: true %></td>
                </tr>
                <tr class="select_review">
                  <th class="item_left">и®≠еВЩгБЃеЕЕеЃЯ</th>
                  <td class="item_right"><%= f.select :facility, [ ['вШЖвШЖвШЖвШЖвШЖпЉИ0пЉЙ', 0], ['вШЕвШЖвШЖвШЖвШЖпЉИ1.0пЉЙ', 1], ['вШЕвШЕвШЖвШЖвШЖпЉИ2.0пЉЙ', 2], ['вШЕвШЕвШЕвШЖвШЖпЉИ3.0пЉЙ', 3], ['вШЕвШЕвШЕвШЕвШЖпЉИ4.0пЉЙ', 4], ['вШЕвШЕвШЕвШЕвШЕпЉИ5.0пЉЙ', 5] ], selected: 5, required: true %></td>
                </tr>
                <tr class="select_review">
                  <th class="item_left">гВҐгВѓгВїгВєгБЃиЙѓгБХ</th>
                  <td class="item_right"><%= f.select :access, [ ['вШЖвШЖвШЖвШЖвШЖпЉИ0пЉЙ', 0], ['вШЕвШЖвШЖвШЖвШЖпЉИ1.0пЉЙ', 1], ['вШЕвШЕвШЖвШЖвШЖпЉИ2.0пЉЙ', 2], ['вШЕвШЕвШЕвШЖвШЖпЉИ3.0пЉЙ', 3], ['вШЕвШЕвШЕвШЕвШЖпЉИ4.0пЉЙ', 4], ['вШЕвШЕвШЕвШЕвШЕпЉИ5.0пЉЙ', 5] ], selected: 5, required: true %></td>
                </tr>
                <tr class="select_review">
                  <th class="item_left">дЇИзіДгБЃйЫ£жШУеЇ¶</th>
                  <td class="item_right"><%= f.select :reservation, [ ['вШЖвШЖвШЖвШЖвШЖпЉИ0пЉЙ', 0], ['вШЕвШЖвШЖвШЖвШЖпЉИ1.0пЉЙ', 1], ['вШЕвШЕвШЖвШЖвШЖпЉИ2.0пЉЙ', 2], ['вШЕвШЕвШЕвШЖвШЖпЉИ3.0пЉЙ', 3], ['вШЕвШЕвШЕвШЕвШЖпЉИ4.0пЉЙ', 4], ['вШЕвШЕвШЕвШЕвШЕпЉИ5.0пЉЙ', 5] ], selected: 5, required: true %></td>
                </tr>
              </tbody>
            </table>

            <p>гВ≥гГ°гГ≥гГИ<span class="must_red">(ењЕй†И)</span></p>
            <%= f.text_area :comment, class: 'form-control form-note', placeholder: "гВ≥гГЉгГИгВВеЇГгБПгАБдљњгБДгВДгБЩгБЛгБ£гБЯгБІгБЩпЉБ" %>
            <%= f.submit "жКХз®њгБЩгВЛ", class: "submit_btn", data: { confirm: "гБУгБЃеЖЕеЃєгБІгВИгВНгБЧгБДгБІгБЩгБЛпЉЯ", disable_with: 'жЫіжЦ∞дЄ≠...' } %>
            <div class="reset"></div>
          <% end %>
        </div>
      <% end %>



    </div>

    <% if @users.count >= 1 %>
      <div class="user-list-wrap">
        <h2 class="others-user">
          <%= @prefecture.name %>гБІжіїеЛХгБЧгБ¶гБДгВЛ<br><%= @event.txt %>
        </h2>
        <% @users.first(3).each do |user| %>
          <%= link_to(user_path(user.id)) do %>
            <div class="user_list">
              <div class="user-content">
                <div class="user_list_header">
                    <%= lazysizes_image_tag user.pic_profile.url , class:'image_icon' %>
                  <h3 class="user_name"><%= user.name.truncate(20) %></h3>
                </div>
                <div class="list_02">
                  <span class="user_schedule">
                    <i class="fa fa-calendar "></i><%= user.schedule %>
                  </span>
                </div>
                <div class="list_03">
                  <span class="user_area">
                    <i class="fa fa-map-marker "></i><%= user.area %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= link_to ">>гВВгБ£гБ®и¶ЛгВЛ", "/#{@event.ruby}/#{@prefecture.kana}", class: "more_text_link" %>
      </div>
    <% end %>

		<%= render "/layouts/ad_square" %>

		<% if @places.count >= 2 %>

				<div class="user-list-wrap others_place">
					<h2 class="others-user">
						жЭ°дїґгБМдЉЉгБ¶гБДгВЛ<%= @prefecture.name %><%= @city.name %>гБЂгБВгВЛ<br>
						<%= @event.name %>гВ≥гГЉгГИжГЕе†±
					</h2>
            <% @places.each do |place| %>
              <% if place.id != @place.id %>
                <div class="users-index-item ribbon-wrapper others_place_list">
                  <div class="ribbon-content">
                    <% if place.tag.to_i == 1 %>
                      <span class="ribbon green">е±ЛеЖЕ</span>
                    <% else place.tag.to_i == 2 %>
                      <span class="ribbon blue">е±Ле§Ц</span>
                    <% end %>
                  </div>
                  <div class="place_list_title">
                    <h2 class="place_name"><%= place.name.truncate(24) %></h2>
                  </div>
                  <div class="border"></div>
                  <div class="article_item article_padding place_list ">
                    <table>
                      <tbody>
                        <tr class="flex_contents">
                          <th class="flex_list">дљПжЙА</th>
                          <td class="flex_list"><%= place.address %></td>
                        </tr>
                        <tr class="flex_contents">
                          <th class="flex_list">гВҐгВѓгВїгВє</th>
                          <td class="flex_list"><%= place.access %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <%= link_to "и©≥зі∞гВТзҐЇи™НгБЩгВЛ", "/places/#{@event.ruby}/#{place.prefecture.kana}/#{place.city.city_kana}/#{place.id}", class: "place_more" %>
                </div>
              <% end %>
            <% end %>
        </div>
		<% end %>

		<% if @places.count >= 2 %>
			<%= render "/layouts/ad_square" %>
		<% end %>

  </div>
</div>