- set_meta_tags noindex: true, nofollow: true
.main.user-show
  .container
    = render "/layouts/breadcrumb"
    .users-index-item.ribbon-wrapper
      .ribbon-content
        - if @place.tag.to_i == 1
          %span.ribbon.green 屋内
        - else @place.tag.to_i == 2
          %span.ribbon.blue 屋外
      .place_cnt_wrap
        %h1.place_name= @place.name
        %h2.place_d
          = @place.prefecture.name
          = @place.city.name
          の#{"屋内" if @place.tag.to_i == 1}#{"屋外" if @place.tag.to_i == 2}にあるコート情報
      - if admin_user_signed_in?
        - if @place.user_id.to_i == @current_user.id.to_i || @current_user.id.to_i == 1
          .place_edit
            .post-edit_btn
              = link_to( "編集", edit_place_path )
              ／
              \#{link_to( "削除", place_path, method: :delete, data: {confirm: "コート情報を削除しますか？"})}
      .border
      .article_item.article_padding.place_list
        %table
          %tbody
            %tr.flex_contents
              %th.flex_list 住所
              %td.flex_list= @place.address
            %tr.flex_contents
              %th.flex_list アクセス
              %td.flex_list= @place.access
            %tr.flex_contents
              %th.flex_list 駐車場情報
              %td.flex_list= raw Rinku.auto_link(simple_format @place.parking)
            %tr.flex_contents
              %th.flex_list 利用可能時間
              %td.flex_list= raw Rinku.auto_link(simple_format @place.time)
            %tr.flex_contents
              %th.flex_list 定休日
              %td.flex_list= raw Rinku.auto_link(simple_format @place.regular_holiday)
            - if @place_events.present?
              %tr.flex_contents
                %th.flex_list 用途
                %td.flex_list
                  - @place_events.sort.each do |event|
                    %span.flex_list_line
                      - if event.name == "バスケ"
                        バスケットボール
                      - else
                        = event.name
            %tr.flex_contents
              %th.flex_list 施設規模
              %td.flex_list= raw Rinku.auto_link(simple_format @place.scale)
            %tr.flex_contents
              %th.flex_list 利用料金
              %td.flex_list= raw Rinku.auto_link(simple_format @place.price)
            %tr.flex_contents
              %th.flex_list 電話番号
              %td.flex_list
                %a{:href => "tel:#{@place.tel}"}= @place.tel
            %tr.flex_contents
              %th.flex_list サイトURL
              %td.flex_list
                %a{:href => "#{@place.url}"}= @place.url
      .g_map
        %iframe{:src => "<haml_loud"} url_for("https://maps.google.co.jp/maps?output=embed&amp;z=14&amp;q=\#{@place.address}") &gt;
        .google_map_wrap
          = link_to "https://www.google.com/maps/search/?api=1&query=#{@place.address}" do
            .google_map Google MAP
      = render "/layouts/ad_square"
      .place_note
        本サイトでは正確な情報を掲載するよう心がけておりますが、
        %br>/
        間違いや古い情報が掲載されていることがございます。
        %br/
        ※誤りがあった場合、メニューのお問い合わせよりご連絡ください。
