.breadcrumbs_wrapper
  .breadcrumbs
    %nav
      %ul
        %li
          = link_to(root_path) do
            %i.fa.fa-home.home_icon
        - if @b1_name.present?
          %li= link_to @b1_name, @b1_url
        - if @b2_name.present?
          %li= link_to @b2_name, @b2_url
        - if @b3_name.present?
          %li= link_to @b3_name, @b3_url
        - if @b4_name.present?
          %li= link_to @b4_name, @b4_url
        - if @b5_name.present?
          %li= link_to @b5_name, @b5_url
