<% if @user.contact == "line" && @user.line_id != "" %>
	<div class="contact-button line"><%= link_to "LINEで相談する", {controller: :users, action: :contact, count: "line#{@contact_judge}" } %></div>


<% elsif @user.contact == "mail" %>
	<div class="contact-button mail">
		<%= link_to "メールで相談する", {controller: :users, action: :contact, count: "mail#{@contact_judge}"} %>
	</div>


<% else %>
	<% if @user.line_id != "" %>
		<div class="blob_cta_2">
			<div class="contact-button line"><%= link_to "LINEで相談する", {controller: :users, action: :contact, count: "line#{@contact_judge}" } %></div>
			<div class="contact-button mail">
				<%= link_to "メールで相談する", {controller: :users, action: :contact, count: "mail#{@contact_judge}" } %>
			</div>
		</div>
	<% else %>
		<div class="contact-button mail">
			<%= link_to "メールで相談する", {controller: :users, action: :contact, count: "mail#{@contact_judge}" } %>
		</div>
	<% end %>


<% end %>