<% flash.each do |message_type, message| %>
 
  <% if flash[:share] %>
      <div class="flash_social">

        <p><%= flash[:share] %></p>
        <p>SNSでシェアする！</p>
        <p>※５秒後に自動で消えます</p>



          <% if @path.is('users#show') %>

            <div id='sosyal'>
               <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}&text=#{@user.name}%0a%23#{@user.event.name}%20%23#{@user.prefecture.name}%20%23サークルブック%0a", class: 'sosyal_twitter', title: 'Twitter', target: '_blank' %>

               <%= link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@user.name}%0a%23サークルブック", class: 'sosyal_facebook', title: 'Facebook', target: '_blank' %>

               <%= link_to 'LINE', "http://line.me/R/msg/text/?#{request.url}&text=%0a#{@user.name}%0a%23サークルブック", class: 'sosyal_line', title: 'LINE', target: '_blank' %>
            </div>

          <% end %>


          <% if @path.is('blogs#show') %>

            <div id='sosyal'>
               <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}&text=#{@blog.title}｜#{@user.name}%0a%23#{@user.event.name}%20%23#{@user.prefecture.name}%20%23サークルブック%0a", class: 'sosyal_twitter', title: 'Twitter', target: '_blank' %>

               <%= link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@blog.title}｜#{@user.name}%0a%23サークルブック", class: 'sosyal_facebook', title: 'Facebook', target: '_blank' %>

               <%= link_to 'LINE', "http://line.me/R/msg/text/?#{request.url}&text=%0a#{@blog.title}｜#{@user.name}%0a%23サークルブック", class: 'sosyal_line', title: 'LINE', target: '_blank' %>
            </div>

          <% end %>



    </div>

  <% end %>

<% end %>


<script>
  $(function(){
  setTimeout("$('.flash_social').fadeOut('slow')", 5000) 
  })
</script>