<li>
    <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <div class="logo_txt">
            <%= link_to root_path do %>
              <img class="img_logo_memu" src="/images/logo.png" alt="サークルブック">
            <% end %>
          </div>


          <% if member_signed_in?  %>

            <div class="menu_btn"><%= link_to 'マイページ', member_path(current_member)%></div>

          <% elsif admin_user_signed_in?  %>

            <% if current_admin_user.users.any? %>
              <div class="menu_btn"><%= link_to 'マイページ', "/users/#{current_admin_user.users.first.id}/mypage" %></div>
            <% end %>

          <% else %>

            <div class="menu_btn"><%= link_to 'サークル登録', new_admin_user_registration_path %></div>
            <div class="menu_btn"><%= link_to 'ログイン', login_path %></div>

          <% end %>


          <ul>
            <li><%= link_to 'サークル検索', users_path %></li>
            <li><%= link_to '対戦相手・練習試合の募集', matches_path %></li>
            <li><%= link_to 'コート・施設情報', '/places' %></li>
          </ul>


          <% if member_signed_in?  %>
            <ul>
                <li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete %></li>

                <li><%= link_to edit_member_registration_path do %>メールアドレス<br>パスワードの変更<% end %></li>
            </ul>
          <% elsif admin_user_signed_in?  %>
            <ul>
                <li><%= link_to 'ログアウト', destroy_admin_user_session_path, method: :delete %></li>

                <li><%= link_to edit_admin_user_registration_path do %>メールアドレス<br>パスワードの変更<% end %></li>
            </ul>
          <% end %>


        </div>
    </div>
    <div class="link_txt">メニュー</div>
</li>