<li>
    <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <div class="logo_txt"><%= link_to 'サークルブック', root_path %></div>


          <!-- ログイン時のみ -->
          <% if admin_user_signed_in?  %>

            <div class="menu_btn"><%= link_to 'ログアウト', destroy_admin_user_session_path, method: :delete %>
            </div>
            <div class="menu_btn"><%= link_to 'メールアドレス変更', edit_admin_user_registration_path %>
            </div>
          <!-- ログイン時のみ -->

          <% else %>
            <div class="menu_btn"><%= link_to 'サークル登録', new_admin_user_registration_path %></div>
            <div class="menu_btn"><%= link_to 'ログイン', new_admin_user_session_path %></div>
          <% end %>



          <ul>
            <li><%= link_to 'よくある質問', '/faq' %></li>
            <li><%= link_to '利用規約', '/rules' %></li>
            <li><%= link_to 'プライバシーポリシー', '/privacypolicy' %></li>
            <li><a href="http://nav.cx/3JiS9Im">お問い合わせ（LINE@）</a></li>
          </ul>

        </div>
    </div>
    <div class="link_txt">メニュー</div>
</li>