<!DOCTYPE html>
<html>
  <head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZ5RS5L');</script>
    <!-- End Google Tag Manager -->


    <%= csrf_meta_tag %>


    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'swiper.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'swiper.min', 'data-turbolinks-track': 'reload' %>
  


  </head>

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZ5RS5L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>

      <ul class="header-menus_sp">
        <!-- ログイン時の処理 -->
        <% if admin_user_signed_in?  %>
          <li>
            <%= link_to(user_path(current_admin_user)) do %>
              <i class="fa fa-user "></i>
              <div class="link_txt">プロフィール</div>
            <% end %>
          </li>  
          <li>
            <%= link_to(new_blog_path) do %>
              <i class="fa fa-pencil "></i> 
              <div class="link_txt">投稿する</div>
            <% end %>
          </li>       
          <li>
            <%= link_to(blogs_path) do %>
               <i class="fa fa-book "></i> 
               <div class="link_txt">活動ブログ</div>
            <% end %>
          </li>
          <li>
            <%= link_to(users_path) do %>
              <i class="fa fa-search "></i> 
              <div class="link_txt">サークル検索</div>
            <% end %>
          </li>

          <%= render "/layouts/menu" %>


        
        <!-- ログインなし -->
        <% else %>
          <li>
            <%= link_to(users_path) do %>
              <i class="fa fa-search "></i> 
              <div class="link_txt">サークル検索</div>
            <% end %>
          </li>
          <li>
            <%= link_to(blogs_path) do %>
               <i class="fa fa-book "></i> 
               <div class="link_txt">活動ブログ</div>
            <% end %>
          </li>
          <li>
            <%= link_to(new_admin_user_registration_path) do %>
               <i class="fa fa-user-plus "></i>
               <div class="link_txt">サークル登録</div>
            <% end %>
          </li>
          <li>
            <%= link_to(new_admin_user_session_path) do %>
               <i class="fa fa-sign-in "></i> 
               <div class="link_txt">ログイン</div>
            <% end %>
          </li>


          <%= render "/layouts/menu" %>



        <% end %>
      </ul>


    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    
    <%= yield %>



<!-- button -->
  <% if admin_user_signed_in? && controller.action_name != 'edit'  %>

    <% if controller.action_name != 'new' %>
      <div class="footer_btn">
        <%= link_to(new_blog_path) do %>
          <span class="fixed_btn btn_color"><i class="fa fa-pencil "></i></span>
        <% end %>
      </div>
    <% end %>

    <% else %>
      <% if @path.is('#show') && @user.switch == "募集中" %>
          <% if @user.line_id != "" %>
          <div class="footer_btn bg_btn">
            <a href="<%= @user.line_id %>"><span class="fixed_btn_b line">このサークルにLINEで連絡する！</span></a>
          </div>
        <% else %>
          <div class="footer_btn bg_btn">
            <a href="mailto:<%= @data.email %>?subject=【サークルブック】新規のお問い合わせ"><span class="fixed_btn_b mail">このサークルにメールで連絡する！</span></a>
          </div>
        <% end %>
      <% end %>


  <% end %>
<!-- button -->


  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>

    
  </body>

</html>






