<!DOCTYPE html>
<html>
  <head>


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZ5RS5L');</script>
    <!-- End Google Tag Manager -->

    <%= csrf_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'swiper.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'photoswipe', media: 'all', 'data-turbolinks-track': 'reload' %> 

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'swiper.min', 'data-turbolinks-track': 'reload' %>


    <!-- フォトスライド -->
    <%= javascript_include_tag 'jquery-1.10.2.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.photoswipe', 'data-turbolinks-track': 'reload' %>
    <script>
    ;(function($){
      $(function(){
        $('a.swipe').photoSwipe();
      });
    })(jQuery);
    </script>  
    <!-- フォトスライド -->

  </head>

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZ5RS5L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>

      <ul class="header-menus_sp">
        <!-- ログイン時の処理 -->
        <% if admin_user_signed_in?  %>
          <li>
            <%= link_to(user_path(current_admin_user)) do %>
              <i class="fa fa-user "></i>
              <div class="link_txt">マイページ</div>
            <% end %>
          </li>  
          <li>
            <%= link_to(new_blog_path) do %>
              <i class="fa fa-pencil "></i> 
              <div class="link_txt">投稿する</div>
            <% end %>
          </li>       
          <li>
            <%= link_to(blogs_path) do %>
               <i class="fa fa-book "></i> 
               <div class="link_txt">活動ブログ</div>
            <% end %>
          </li>
          <li>
            <%= link_to(users_path) do %>
              <i class="fa fa-search "></i> 
              <div class="link_txt">サークル検索</div>
            <% end %>
          </li>

          <%= render "/layouts/menu" %>


        
        <!-- ログインなし -->
        <% else %>
          <li>
            <%= link_to(users_path) do %>
              <i class="fa fa-search "></i> 
              <div class="link_txt">サークル検索</div>
            <% end %>
          </li>
          <li>
            <%= link_to(blogs_path) do %>
               <i class="fa fa-book "></i> 
               <div class="link_txt">活動ブログ</div>
            <% end %>
          </li>
          <li>
            <%= link_to(new_admin_user_registration_path) do %>
               <i class="fa fa-user-plus "></i>
               <div class="link_txt">サークル登録</div>
            <% end %>
          </li>
          <li>
            <%= link_to(new_admin_user_session_path) do %>
               <i class="fa fa-sign-in "></i> 
               <div class="link_txt">ログイン</div>
            <% end %>
          </li>


          <%= render "/layouts/menu" %>

        <% end %>
      </ul>


    </header>

    <% if flash[:notice] %>
      <div class="flash time-limit">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert time-limit">
        <%= flash[:alert] %>
      </div>
    <% end %>

     <!-- render 'layouts/flash_messages'  -->
    
    
    <%= yield %>

<!-- button -->
<% if @path.is('places') %>

  <% if @path.is('places#index, places#show') %>
    <div class="footer_btn bg_btn">
      <a href="/">
        <span class="fixed_btn_b mail">メンバーを募集する！</span>
      </a>
    </div>
  <% end %>

<% else %>

  <% if @path.is('#show') && @user.switch == "募集中" %>
      <% if @user.line_id != "" %>
      <div class="footer_btn bg_btn footer_btn_2">
        <a href="<%= @user.line_id %>"><span class="fixed_btn_b line">LINEで相談する</span></a>
        <a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">
          <span class="fixed_btn_b mail">メールで相談する</span>
        </a>
      </div>
    <% else %>
      <div class="footer_btn bg_btn">
        <a href="mailto:<%= @data.email %>?subject=<%= @mail_title %>&amp;body=<%= @mail_message %>">
          <span class="fixed_btn_b mail">このサークルにメールで相談する！</span>
        </a>
      </div>
    <% end %>
  <% end %>


  <% if admin_user_signed_in? && controller.action_name != 'show'  %>

    <% if controller.action_name != 'new' %>
      <% if controller.action_name != 'edit' %>
          <div class="footer_btn">
            <%= link_to(new_blog_path) do %>
              <span class="fixed_btn btn_color"><i class="fa fa-pencil "></i></span>
            <% end %>
          </div>
      <% end %>
    <% end %>

  <% end %>

<% end %>
<!-- button -->

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>

  <!-- text copy -->
  <script>
    function copyText () {
      var $target = document.querySelector('.copyTarget');
      if (!$target) {
        return false;
      }
      var range = document.createRange();
      range.selectNode($target);
      window.getSelection().removeAllRanges();
      window.getSelection().addRange(range);
      document.execCommand('copy');
      alert('コピーしました！');
      return false;
    }
      document.querySelector('.copyBtn').addEventListener('click', copyText, false);
  </script>

  <!-- 全角、半角変換 -->
  <script>
    $(function(){
        $("#change_tel , #change_address, #change_time, #change_price, #change_regular_holiday, #change_parking, #change_scale").change(function(){
            var str = $(this).val();
            str = str.replace( /[Ａ-Ｚａ-ｚ０-９－！”＃＄％＆’（）＝＜＞，．？＿［］｛｝＠＾￥：]/g, function(s) {
                return String.fromCharCode(s.charCodeAt(0) - 65248);
            });
            $(this).val(str);
        }).change();
    });
  </script>

  <!-- 文字変換 -->
  <script>
    // 変換前
    var beforeStr = new Array('<','>','＜','＞');
    // 変換後
    var afterStr = new Array('【','】','【','】');
     
    function convertStr(str) {
        var fullStr = str;
        for(var i = 0; i < beforeStr.length; i++) {
            fullStr = fullStr.replace(new RegExp(beforeStr[i], 'g'), afterStr[i]);
        }
        return fullStr;
    }
    $(function() {
        $('.change_font').on('blur', function() {
            var str = $(this).val();
            $(this).val(convertStr(str));
        });
     
    });    
  </script>

  <!-- flashメッセージ -->
  <script>
  $(function(){
    setTimeout("$('.time-limit').fadeOut('slow')", 1000) 
  })  
  </script>


  <!-- 画像プレビュー -->
  <script>
  $(function(){
    $fileField = $('#file_01')

    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#img_field_01");

      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            width: "100%",
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });

    $(function(){
    $fileField = $('#file_02')

    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#img_field_02");

      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            width: "100%",
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });

  $(function(){
    $fileField = $('#file_03')

    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#img_field_03");

      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            width: "100%",
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });  

  $(function(){
    $fileField = $('#file_04')

    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#img_field_04");

      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            width: "100%",
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });  

  </script>

  </body>

</html>






