<!DOCTYPE html>
<html>
  <head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZ5RS5L');</script>
    <!-- End Google Tag Manager -->


    <%= csrf_meta_tag %>


    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'swiper.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'swiper.min', 'data-turbolinks-track': 'reload' %>
  


  </head>

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZ5RS5L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
      <div class="header-logo">
          <%= link_to("サークルブック", "/" ) %>
      </div>

      <ul class="header-menus">
        <!-- ログイン時の処理 -->
        <% if admin_user_signed_in?  %>
          <li>
              <%= link_to(current_admin_user.email, user_path(current_admin_user)) %>             
          </li>  
          <li>
              <%= link_to("投稿する", new_blog_path ) %>
          </li>       
          <li>
              <%= link_to("サークル一覧", users_path ) %>
          </li>
          <li>
              <%= link_to("活動ブログ", blogs_path ) %>
          </li>
          <li>
              <%= link_to("ログアウト", destroy_admin_user_session_path, method: :delete ) %>
          </li>
        
        <!-- ログインなし -->
        <% else %>
          <li>
              <%= link_to("サークル一覧", users_path ) %>
          </li>
          <li>
              <%= link_to("活動ブログ", blogs_path ) %>
          </li>
          <li>
              <%= link_to("サークル登録", new_admin_user_registration_path ) %>
          </li>
          <li>
              <%= link_to("ログイン", new_admin_user_session_path ) %>
          </li>

        <% end %>
      </ul>


      <!-- SP -->
      <ul class="header-menus_sp">
        <!-- ログイン時の処理 -->
        <% if admin_user_signed_in?  %>
          <li>
            <%= link_to(user_path(current_admin_user)) do %>
              <i class="fa fa-user "></i>
              <div class="link_txt">プロフィール</div>
            <% end %>
          </li>  
          <li>
            <%= link_to(new_blog_path) do %>
              <i class="fa fa-pencil "></i> 
              <div class="link_txt">投稿する</div>
            <% end %>
          </li>       
          <li>
            <%= link_to(blogs_path) do %>
               <i class="fa fa-book "></i> 
               <div class="link_txt">活動ブログ</div>
            <% end %>
          </li>
          <li>
            <%= link_to(users_path) do %>
              <i class="fa fa-search "></i> 
              <div class="link_txt">サークル検索</div>
            <% end %>
          </li>

          <li>
            <div id="nav-drawer">
                <input id="nav-input" type="checkbox" class="nav-unshown">
                <label id="nav-open" for="nav-input"><span></span></label>
                <label class="nav-unshown" id="nav-close" for="nav-input"></label>
                <div id="nav-content">
                  <div class="logo_txt"><%= link_to 'サークルブック', root_path %></div>
                  <ul>
                    <li><%= link_to 'ホーム', root_path %></li>
                    <li><%= link_to 'ログアウト', destroy_admin_user_session_path, method: :delete %></li>
                    <li><a href="http://nav.cx/3JiS9Im">LINE@でお問い合わせ</a></li>
<!--                     <li>
                      link_to("アカウントの削除", user_path, method: :delete, data: {confirm: "アカウントを削除しますか？　※一度削除すると元には戻せません。"})
                    </li> -->
                  </ul>
                </div>
            </div>
            <div class="link_txt">メニュー</div>
          </li>

        
        <!-- ログインなし -->
        <% else %>
          <li>
            <%= link_to(users_path) do %>
              <i class="fa fa-search "></i> 
              <div class="link_txt">サークル検索</div>
            <% end %>
          </li>
          <li>
            <%= link_to(blogs_path) do %>
               <i class="fa fa-book "></i> 
               <div class="link_txt">活動ブログ</div>
            <% end %>
          </li>
          <li>
            <%= link_to(new_admin_user_registration_path) do %>
               <i class="fa fa-user-plus "></i>
               <div class="link_txt">サークル登録</div>
            <% end %>
          </li>
          <li>
            <%= link_to(new_admin_user_session_path) do %>
               <i class="fa fa-sign-in "></i> 
               <div class="link_txt">ログイン</div>
            <% end %>
          </li>


          <li>
            <div id="nav-drawer">
                <input id="nav-input" type="checkbox" class="nav-unshown">
                <label id="nav-open" for="nav-input"><span></span></label>
                <label class="nav-unshown" id="nav-close" for="nav-input"></label>
                <div id="nav-content">
                  <div class="logo_txt"><%= link_to 'サークルブック', root_path %></div>
                  <div class="menu_btn"><%= link_to 'サークル登録', new_admin_user_registration_path %></div>
                  <div class="menu_btn"><%= link_to 'ログイン', new_admin_user_session_path %></div>
                  <ul>
                    <li><%= link_to 'ホーム', root_path %></li>
                    <li><a href="http://nav.cx/3JiS9Im">LINE@でお問い合わせ</a></li>
                  </ul>
                </div>
            </div>
            <div class="link_txt">メニュー</div>
          </li>


        <% end %>
      </ul>


    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    
    <%= yield %>



<!-- button -->
  <% if admin_user_signed_in? && controller.action_name != 'edit'  %>

    <% if controller.action_name != 'new' %>
      <div class="footer_btn">
        <%= link_to(new_blog_path) do %>
          <span class="fixed_btn btn_color"><i class="fa fa-pencil "></i></span>
        <% end %>
      </div>
    <% end %>

    <% else %>
      <% if @path.is('users#show') %>
          <% if @user.line_id != "" %>
          <div class="footer_btn">
            <a href="<%= @user.line_id %>"><span class="fixed_btn line"><i class="fa fa-comment-o "></i></span></a>
          </div>
        <% else %>
          <div class="footer_btn">
            <a href="mailto:<%= @data.email %>"><span class="fixed_btn mail"><i class="fa fa-envelope-o "></i></span></a>
          </div>
        <% end %>
      <% end %>


  <% end %>
<!-- button -->


  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>

    
  </body>

</html>






