.main.users-edit
  .container
    .form.users-form
      .form-body.cont-body
        - if @member.errors.any?
          .form-error
            以下の項目でエラーが発生いたしました。
            %br/
            ※原因不明の場合は空欄でご登録ください
        - @member.errors.full_messages.each do |message|
          .form-error_message
            ・#{message}
        .p_t アカウントの編集
        .member_profile_edit
          = form_for @member do |f|
            %p
              アイコン画像
              %br/
              ※10MB以下のjpgかpngのみ対応
            #img_field_profile{:onclick => "$('#file_profile').click()"}
              - if @member.image_profile.present?
                = image_tag(@member.image_profile.url)
              - else
                %i.fa.fa-image
            = f.file_field :image_profile, class: "image", style: "display:none;", id: "file_profile"
            %p
              ニックネーム
              %span.must_red (必須)
            = f.text_field :nickname, class: 'form-control', placeholder: "サークルブック"
            - if @member.gender.blank?
              %p 性別（※登録後、変更はできません）
              .radio_button
                = f.radio_button :gender, 1, {:checked => true}
                男性 #{f.radio_button :gender, 2}女性 #{f.radio_button :gender, 0}その他
            %p 年代
            = f.select :age,                                                                                          |
                [["10代", "10代"], ["20代", "20代"], ["30代", "30代"], ["40代", "40代"], ["50代", "50代"], ["60代以上", "60代以上"]], |
              :prompt => "選択してください"                                                                                   |
            %p
              メインの活動エリア
              %span.must_red (必須)
            = f.collection_select :prefecture_id, Prefecture.where.not(id: 50).order(:order => :asc), :id, :name, :prompt => "選択してください"
            .box_warp
              %span.box_subtitle
                興味のある種目（複数選択OK）
                %span.must_red (必須)
              .check_boxes
                = f.collection_check_boxes(:event_ids, @events, :id, :name)
            %p 自己紹介
            = f.text_area :profile, class: 'form-control text_area_s', placeholder: "運動をするのが好きです！".html_safe
            = f.submit "更新する", data: { disable_with: '更新中...' }
