<div class="main users-edit">
  <div class="container">
    <div class="form users-form">

      <div class="form-body cont-body">
      	<% if @member.errors.any? %>
	          <div class="form-error">
              以下の項目でエラーが発生いたしました。<br>
              ※原因不明の場合は空欄でご登録ください
	          </div>
		<% end %>
 
        <% @member.errors.full_messages.each do |message| %>
            <div class="form-error_message">
              ・<%= message %>
            </div>
        <% end %>

      <%= form_for @member do |f| %>

	     <div class="p_t">アカウントの編集</div>

	     <div class="member_profile_edit">

		    <p>ニックネーム<span class="must_red">(必須)</span></p>
		    <%= f.text_field :nickname, class: 'form-control', placeholder: "サークルブック" %>

			<p>アイコン画像<br>
			※10MB以下のjpgかpngのみ対応</p>

			<div id="img_field_profile" onClick="$('#file_profile').click()" >
			    <% if @member.image_profile.present? %>
			      <%= image_tag(@member.image_profile.url) %>
			    <% else %>
			      <i class="fa fa-image"></i>
			    <% end %>
			</div>
			<%= f.file_field :image_profile, class: "image", style: "display:none;", id: "file_profile"%>


			<% if @member.gender.blank? %>
			    <p>性別（※今後変更はできません）</p>
			    <div class="radio_button">
	           		<%= f.radio_button :gender, 1, {:checked => true} %>男性 <%= f.radio_button :gender, 2 %>女性 <%= f.radio_button :gender, 0 %>その他
	           	</div>
			<% end %>



		    <p>自己紹介</p>
		    <%= f.text_area :profile, class: 'form-control', placeholder: "運動をするのが好きです！".html_safe %>






	        <%= f.submit "更新する" %>

        </div>

      <% end %>


      </div>
    </div>
  </div>
</div>