- set_meta_tags noindex: true, nofollow: true
.main.users-index
  .container.bg_white
    = render "/layouts/breadcrumb"
    .qa_wrap
      .qa_profile_wrap.event_qa_profile
        .p_t マイページ
        .user-content
          - if @member.image_profile.present?
            = image_tag @member.image_profile.url , class:'image_icon'
          - else
            %img.image_icon{:src => "/images/default.png"}/
          .list_wrapper.contact_name_wrap
            - if @member.nickname.present?
              %h2.user_name= @member.nickname
            - else
              %h2.user_name ニックネームなし
          - if @member.profile.present?
            .member_profile
              = @member.profile
      .member_edit_wrap
        - if member_signed_in?
          - if @member.id == current_member.id
            .member_edit= link_to("プロフィール編集", edit_member_path)
      .reset
    .user_qa_btn
      %a{:href => "/users"}
        .contact-button.qa_btn.qa
          %i.fa.fa-search
          サークルを探す！
    - if @b_users.present?
      .user-list-wrap
        %h2.others-user ブックマークしたサークル
        %ul.user_slide_wrap
          - @b_users.each do |user|
            = link_to(circle_path(user.id)) do
              %li.user_slide_list
                .user_list_header
                  = lazysizes_image_tag user.pic_profile.url , class:'image_icon'
                  %h3.user_name= user.name.truncate(20)
                .clear
                .list_02
                  %span.user_area
                    %i.fa.fa-users
                    = user.event.name
                .list_02
                  %span.user_schedule
                    %i.fa.fa-calendar
                    = user.schedule
                .list_03
                  %span.user_area
                    %i.fa.fa-map-marker
                    = user.area
      .border
    - if @r_users.present?
      .user-list-wrap
        %h2.others-user あなたにオススメのサークル
        = render "users/users_list_slide", users: @r_users
      .border
    - if @event_answers.present?
      .qa_card_warp
        .qa_card_txt
          - if @member.nickname.present?
            = @member.nickname
          - else
            ニックネームなし
          さんが回答した質問です！
        .qa_card_warp
          %ul
            - @event_questions.each do |event_question|
              - @event_answers.each do |event_answer|
                - if event_question.id == event_answer.event_question_id
                  - @events.each do |event|
                    - if event_question.event_id == event.id
                      %li.ribbon-wrapper
                        = link_to "/#{event.ruby}/qa/#{event_question.id}" do
                          .qa_large
                            .user_slide_qa
                              .user_slide_qa_wrap
                                .user_slide_qa_content_wrap
                                  %h2= event_question.question
    = render "/layouts/ad_square"
    .ad_space
