<div class="main users-index">
  <div class="container bg_white">
  	    <%= render "/layouts/breadcrumb" %>

	<div class="qa_wrap">

			<div class="qa_profile_wrap event_qa_profile">

			    <div class="user-content">
					<% if @member.image_profile.present? %>
			        	<%= image_tag @member.image_profile.url , class:'image_icon' %>
					<% else %>
						<img class="image_icon" src="/images/default.png">
			        <% end %>

			      <div class="list_wrapper contact_name_wrap">
					<% if @member.nickname.present? %>
			        	<h2 class="user_name"><%= @member.nickname %></h2>
					<% else %>
						<h2 class="user_name">ニックネームなし</h2>
			        <% end %>
			      </div>

			    </div>  
			
			</div>


		<div class="member_edit_wrap">
			<% if member_signed_in? %>
				<% if @member.id == current_member.id %>
					<div class="member_edit"><%= link_to("アカウント編集", edit_member_path) %></div>
				<% end %>
			<% end %>
		</div>


		<div class="reset"></div>



	</div>


	<div class="qa_card_warp">

		<div class="qa_card_txt">
			▼ 	<% if @member.nickname.present? %>
		        	<%= @member.nickname %>
				<% else %>
					ニックネームなし
		        <% end %>
		    さんが回答した質問です！
		</div>


			<div class="qa_card_warp">
				<ul>
					<% @event_questions.each do |event_question| %>
					
						<% @event_answers.each do |event_answer| %>

							<% if event_question.id == event_answer.event_question_id %>

								<% @events.each do |event| %>
									<% if event_question.event_id == event.id %>

										<li class="ribbon-wrapper">
											<%= link_to "/#{event.ruby}/qa/#{event_question.id}" do %>

												<img src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= event_question.question %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg" alt="<%= event_question.question %>">
												<div class="qa_judge"></div>

											<% end %>
										</li>

									<% end %>
								<% end %>


							<% end %>

						<% end %>

					<% end %>
				</ul>
			</div>



	</div>		








  </div>
</div>